<?xml version="1.0" encoding="utf-8"?>
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appender name="KafkaMessageHandler" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
		<maxSizeRollBackups value="10" xdt:Transform="SetAttributes(value)" />
		<threshold value="INFO" xdt:Transform="SetAttributes(value)" />
	</appender>

	<appender name="TransactionLogAppender" xdt:Locator="Match(name)">
		<maxSizeRollBackups value="250" xdt:Transform="Replace" />
		<maximumFileSize value="100MB" xdt:Transform="Replace" />
	</appender>

	<appender name="KafkaAppender" xdt:Locator="Match(name)">
		<KafkaOptions>
			<topic value="topic-au2-prod-ehubgw-logs-prod" xdt:Transform="Replace" />
			<SaslUsername value="topic-au2-prod-ehubgw-logs-prod" xdt:Transform="Replace" />
		</KafkaOptions>
	</appender>

</log4net>
