[*.cs]

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = warning

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = warning

# CW1082: Do Not Use Too Many Arguments.
dotnet_diagnostic.CW1082.severity = none

# CW1082W: Do Not Use Too Many Arguments.
dotnet_diagnostic.CW1082W.severity = none