<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="GBCustomsBaseURI" value="https://api.service.hmrc.gov.uk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GBCustomsGetAccessTokenMaxRetryCount" value="60" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GBCustomsRefreshAccessTokenMaxRetryCount" value="60" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WiseTechSecret" value="$WiseTechSecret$" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WiseTechClientID" value="W9yWr4y8fdlBWuyU7S4r2URzX2Ea" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GBCustomsBaseURITest" value="https://test-api.service.hmrc.gov.uk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WiseTechSecretTest" value="$WiseTechSecretTest$" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WiseTechClientIDTest" value="2tJF3hipfZTgrH78vFfb_5VTJYka" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IssueManagerUri" value="https://errors.cargowise.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IssueManagerKey" value="eHub CDS Credential Web Service" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <clear/>
    <add name="CargoWise.eHub.DataAccess.ediProdCache"
         connectionString="Data Source=ehubtransactions.db.wisegrid.net;Initial Catalog=ediProdCache;App=GBCustoms CredentialWebService;User Id=GBCusCredWS;Password=$DatabasePassword$;ApplicationIntent=ReadOnly"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)"/>
    <add name="CargoWise.eHub.DataAccess.eHubTransactionsSecondary"
         connectionString="Data Source=ehubtransactions.db.wisegrid.net;Initial Catalog=eHubTransactions;App=GBCustoms CredentialWebService;User Id=GBCusCredWS;Password=$DatabasePassword$;ApplicationIntent=ReadOnly"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)"/>
    <add name="CargoWise.eHub.DataAccess.Sql.eHubTransactions"
         connectionString="Data Source=ehubtransactions.db.wisegrid.net;Initial Catalog=eHubTransactions;App=GBCustoms CredentialWebService;User Id=GBCusCredWS;Password=$DatabasePassword$;"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)"/>
    <add name="eHubTransactionsContext"
         connectionString="Data Source=ehubtransactions.db.wisegrid.net;Initial Catalog=eHubTransactions;App=GBCustoms CredentialWebService;User Id=GBCusCredWS;Password=$DatabasePassword$"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.net xdt:Transform="Remove" />
</configuration>