[*.cs]

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = warning

# CA1082: Do Not Use Too Many Arguments.
dotnet_diagnostic.CW1082.severity = none

# CA1082W: Do Not Use Too Many Arguments.
dotnet_diagnostic.CW1082W.severity = none

# CW1134: sealed non-abstract testCases rule
dotnet_diagnostic.CW1134.severity = error

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = warning

# silence build warning for folders with many files to chunk pull request
[ZArchitecture.Business/Business/**]
dotnet_diagnostic.CA1819.severity = silent
[ZArchitecture.Business.Test/Business/**]
dotnet_diagnostic.CA1819.severity = silent
