<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging, Version=3.4.1.0, Culture=neutral, PublicKeyToken=af08829b84f0328e, processorArchitecture=MSIL"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=2.0.8.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a, processorArchitecture=MSIL" />
    <sectionGroup name="eHub">
      <section name="orchestrationLogging" type="CargoWise.eHub.Core.Logging.LoggerConfigSection, CargoWise.eHub.Core.Logging, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4f570df270576350, processorArchitecture=MSIL" />
      <section name="pipelineLogging" type="CargoWise.eHub.Core.Logging.LoggerConfigSection, CargoWise.eHub.Core.Logging, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4f570df270576350, processorArchitecture=MSIL" />
      <section name="hostLogging" type="CargoWise.eHub.Core.Logging.LoggerConfigSection, CargoWise.eHub.Core.Logging, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4f570df270576350, processorArchitecture=MSIL" />
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>

  <log4net>
    <root>
      <appender-ref ref="MemoryLog" />
      <appender-ref ref="ConsoleLog" />
    </root>
    <appender name="MemoryLog" type="log4net.Appender.MemoryAppender">
      <layout type="log4net.Layout.PatternLayout"/>
      <threshold value="ERROR" />
    </appender>
    <appender name="ConsoleLog" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout"/>
      <threshold value="ERROR" />
    </appender>
  </log4net>

  <eHub>
    <hostLogging logDir="\LogDirs\HostDefault" defaultLevel="DEBUG" defaultMaxSizeRollBackups="5" defaultMaximumFileSize="500KB">
      <loggers>
        <add name="OVERRIDE" level="TRACE"  maxSizeRollBackups="2" maximumFileSize="2GB" />
      </loggers>
    </hostLogging>
    <pipelineLogging logDir="\LogDirs\PipelineDefault" defaultLevel="DEBUG" defaultMaxSizeRollBackups="6" defaultMaximumFileSize="600KB">
      <loggers>
        <add name="OVERRIDE+Send" level="TRACE"  maxSizeRollBackups="3" maximumFileSize="3GB" />
      </loggers>
    </pipelineLogging>
    <orchestrationLogging logDir="\LogDirs\OrchestrationDefault" defaultLevel="DEBUG" defaultMaxSizeRollBackups="7" defaultMaximumFileSize="700KB">
      <loggers>
        <add name="OVERRIDE" level="TRACE"  maxSizeRollBackups="4" maximumFileSize="4GB" />
      </loggers>
    </orchestrationLogging>
  </eHub>

</configuration>