:root {
	// Setting the SystemColors
	--color-active-border: #B4B4B4FF;
	--color-active-caption: #99B4D1FF;
	--color-active-caption-text: #000000FF;
	--color-app-workspace: #ABABABFF;
	--color-button-face: #F0F0F0FF;
	--color-button-highlight: #FFFFFFFF;
	--color-button-shadow: #A0A0A0FF;
	--color-control: #F0F0F0FF;
	--color-control-dark: #A0A0A0FF;
	--color-control-dark-dark: #696969FF;
	--color-control-light: #E3E3E3FF;
	--color-control-light-light: #FFFFFFFF;
	--color-control-text: #000000FF;
	--color-desktop: #000000FF;
	--color-gradient-active-caption: #B9D1EAFF;
	--color-gradient-inactive-caption: #D7E4F2FF;
	--color-gray-text: #6D6D6DFF;
	--color-highlight: #0078D7FF;
	--color-highlight-text: #FFFFFFFF;
	--color-hot-track: #0066CCFF;
	--color-inactive-border: #F4F7FCFF;
	--color-inactive-caption: #BFCDDBFF;
	--color-inactive-caption-text: #000000FF;
	--color-info: #FFFFE1FF;
	--color-info-text: #000000FF;
	--color-menu: #F0F0F0FF;
	--color-menu-bar: #F0F0F0FF;
	--color-menu-highlight: #3399FFFF;
	--color-menu-text: #000000FF;
	--color-scroll-bar: #C8C8C8FF;
	--color-window: #FFFFFFFF;
	--color-window-frame: #646464FF;
	--color-window-text: #000000FF;
}

@import "controls/collapsiblePanel";
@import "controls/dropEdit";
@import "controls/fadePanel";
@import "controls/spellChecker";
@import "controls/webBrowser";
