[*.cs]

# CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = none

# CW1148: SuppressCodeSmellAnalyzer
dotnet_diagnostic.CW1148.severity = warning

# CW1161: ResGetStringAnalyzer
dotnet_diagnostic.CW1161.severity = warning

[/Integration/**]
# CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = warning
