@import "variables";

.button {
	padding: 0px;
	border-radius: 0;
	border: none;
	background-color: unset;

	&:disabled {
		.button__image {
			opacity: 0.3;
			filter: grayscale(1);
		}
	}

	& > div {
		width: 100%;
		height: 100%;

		.button__text {
			white-space: pre-wrap;
			text-align: center;
			overflow: hidden;
		}

		.button__image,
		.button__text {
			min-height: 0;
			min-width: 0;
		}
	}

	&--popup {
		padding: 1px;
		background-color: $button-popup-background-color;
		border: 1px solid $button-popup-border-color;
	}

	&--popup:not([disabled]):hover {
		border-top: #ffffff;
		border-left: #ffffff;
	}

	&--standard {
		padding: 2px;
		background-color: $button-standard-background-color;
		border: 1px solid $button-standard-border-color;
	}

	&--center {
		text-align: center;
	}

	&--standard--disabled {
		padding: 2px;
		background-color: $button-standard-disabled-background-color !important;
		border: 1px solid $button-standard-disabled-border-color;
	}

	&--default {
		border: 1px solid $button-default-border-color;
	}

	&--standard:not([disabled]):hover {
		background-color: $button-standard-hover-background-color;
	}

	&--standard:not([disabled]):hover,
	&--standard:not([disabled]):focus {
		border: 1px solid $button-default-border-color;
	}

	&--flat {
		border-style: solid;
	}

	&--flat:not([disabled]):hover,
	&--flat > .button--imageabovetext:not([disabled]):hover {
		background-color: var(--flat-button-hover-color) !important;
	}

	&--flat:active {
		background-color: var(--flat-button-active-color) !important;
	}
}
