@import "variables";

@mixin chart-flex {
	display: flex;
	align-items: center;
}

.chart {
	@include chart-flex();
	flex-direction: row;
	background-color: $pie-chart-background-color;

	&__legend {
		@include chart-flex();
		justify-content: center;
		flex-direction: column;
		padding: 0px;
		background-color: $pie-chart-background-color;
	}

	&__legend-item {
		@include chart-flex();
		background-color: $pie-chart-background-color;
	}

	&__legend-color {
		height: 10px;
		width: 24px;
	}

	&__legend-label {
		margin-left: 5px;
	}

	&__cylinder {
		position: relative;
		width: 100px;
		height: 120px;
		overflow: hidden;
		transform: rotateX(50deg);
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

		&-top,
		&-side {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 1;
			box-shadow: inherit;
		}

		&-top {
			border-radius: 50%;
			transform: rotateZ(270deg);
		}

		&-side {
			background:
				linear-gradient(to right, #000 1%, transparent 50%),
				linear-gradient(to left, #000 1%, transparent 50%);
			z-index: 0;
			height: 100%;
		}
	}
}
