@import "variables";

.checkbox__input {
	appearance: none;
	background-color: #fff;
	border: thin solid $checkbox-border-color;
	border-radius: 0;
	display: block;
	height: 14px;
	line-height: 100%;
	margin: 0 auto;
	width: 14px;

	&:checked {
		background-repeat: no-repeat;
		background-image: url($checkbox-checked-icon);
		background-position: center center;
	}

	&--align-middle {
		vertical-align: middle;
	}
}

.checkbox {
	&:focus-within:not(.checkbox--disabled) {
		background-color: $input-background-color--focus;

		.checkbox__label {
			outline: thin dotted #000;
			outline-offset: 1px;
		}
	}

	&:focus-within:not(.checkbox--disabled):not(.checkbox--readonly),
	&:hover:not(.checkbox--disabled):not(.checkbox--readonly) {
		.checkbox__input {
			border-color: #3276d0;

			&:checked {
				background-image: url($checkbox-hover-checked-icon);
			}
		}
	}

	&:active:focus-within:hover:not(.checkbox--disabled):not(.checkbox--readonly)
		.checkbox__input {
		background-color: #d0e3f5;
		border-color: #215394;

		&:checked {
			background-image: url($checkbox-active-hover-checked-icon);
		}
	}

	&.checkbox--disabled {
		background-color: transparent !important;

		.checkbox__label {
			color: var(--color-button-shadow);
		}

		.checkbox__input {
			border-color: #ccc;

			&:checked {
				background-image: url($checkbox-disabled-checked-icon);
			}
		}
	}
}

.checkbox__image-gray-out {
	filter: grayscale(1);
}

.datagrid__control--edit .checkbox {
	.checkbox__input {
		height: 14px !important;
		margin-top: -0.5px;
		margin-left: -0.5px;
		width: 14px !important;
	}

	&.checkbox--disabled .checkbox__input {
		border-color: $checkbox-border-color;

		&:checked {
			background-image: url($checkbox-checked-icon);
		}
	}
}
