@import "variables";

.combobox {
	display: flex;
	flex-direction: row;
	border-color: $combobox-border-color;

	&:hover {
		border-color: $combobox-border-hover-color;
	}

	&:focus-within {
		border-color: transparent;
	}

	&__input {
		width: 100%;
		border: 1px solid;
		border-color: $combobox-input-border-color;
		border-right: 0;
		background-color: $combobox-input-background-color;

		&:focus {
			outline: none;
			border-color: $combobox-border-focus-color;
		}

		&:focus + button {
			outline: none;
			border-color: $combobox-border-focus-color;
		}

		&::selection {
			background: $combobox-input-selection-background-color;
			color: white;
		}

		&:disabled {
			pointer-events: none;
			background-color: rgb(240, 240, 240);
			background-clip: content-box;
			opacity: 0.8;
			border-color: $combobox-border-color;
		}
	}

	&__button {
		font-family: "Material Symbols Outlined";
		padding: 0 2px;
		flex-shrink: 0;
		border: 1px solid;
		border-color: $combobox-button-border-color;
		border-left: 0;
		background-color: $combobox-button-background-color;

		&:hover {
			background-color: $combobox-button-hover-background-color;
			border-left: 1px solid;
			border-color: $combobox-border-focus-color;
		}

		&:focus {
			background-color: $combobox-button-focus-background-color;
			outline: none;
		}

		&:disabled {
			pointer-events: none;
			opacity: 0.8;
			background-color: white;
			border-color: $combobox-border-color;
		}
	}

	&__dropdown {
		height: 100%;
		max-height: inherit;
		width: var(--dropdown-width);
		position: relative;
		display: flex;
		flex-direction: column;
		background-color: $combobox-dropdown-background-color;
		line-height: 1;
		overflow-y: auto;
		overflow-x: hidden;
		border: 1px solid $combobox-border-focus-color;
		z-index: 99;
	}

	&__dropdown-item {
		border: none;
		cursor: default !important;
		background-color: $combobox-dropdown-background-color;
		padding: 1px 4px;
		text-align: left;
		white-space: nowrap;

		&:hover {
			background-color: $combobox-dropdown-hover-background-color;
			color: $combobox-dropdown-hover-text-color;
		}

		&:focus {
			outline: none;
		}

		&--selected {
			background-color: $combobox-dropdown-highlighted-background-color;
			color: white;
		}
	}

	&__dropdown-blank-item {
		border: none;
		background-color: $combobox-dropdown-background-color;
	}

	&__suggestion {
		height: var(--dropdown-height);
		width: calc(var(--dropdown-width) - 23px);
		position: absolute;
		top: -3px;
		left: 3px;
		display: flex;
		flex-direction: column;
		background-color: $combobox-dropdown-background-color;
		font-size: 11px;
		line-height: 1;
		overflow: auto;
		border: 1px solid $combobox-border-color;
		z-index: 100;
		resize: both;
		box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.5);
	}

	&__suggestion-item {
		border: none;
		cursor: default !important;
		background-color: $combobox-dropdown-background-color;
		padding: 4px 4px;
		text-align: left;
		white-space: nowrap;

		&:hover {
			background-color: $combobox-dropdown-hover-background-color;
			color: $combobox-dropdown-hover-text-color;
		}

		&:focus {
			outline: none;
		}
	}
}

.combobox--style-dropdownlist {
	background-color: $combobox-dropdownlist-background-color !important;
	border-style: solid;
	border-width: 1px;
	border-color: $combobox-dropdownlist-border-color;
	transition:
		background-color 0.5s,
		border-color 0.5s;

	.combobox__button {
		background-color: inherit;
		border: none;
	}

	.combobox__input {
		background-color: inherit;
		border: none;
		padding: 1px;
		overflow: auto;
	}

	&:hover {
		background-color: $combobox-dropdownlist-hover-background-color !important;
		border-color: $combobox-dropdownlist-hover-border-color;
	}

	.combobox__input-text {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		padding: 1px;
		white-space: nowrap;
		overflow-x: hidden;
	}
}
