.backgroundimage {
	&--tile {
		background-repeat: no-repeat;
		background-repeat: repeat;
	}

	&--center {
		background-repeat: no-repeat;
		background-position: center;
	}

	&--stretch {
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 100%;
	}

	&--zoom {
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}

.mnemonickey {
	text-decoration: var(--mnemonic-text-decoration);
}

[disabled] {
	pointer-events: none;
}
