@import "variables";

.datetimepicker {
	width: 100%;
	height: 100%;
	border: 1px solid $datetimepicker-input-border-color;

	&__input {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border: 1px solid $datetimepicker-input-border-color;
		cursor: pointer;

		&:focus {
			border: 1px solid $datetimepicker-input-focus-color;
		}

		&:hover {
			border: 1px solid $datetimepicker-input-hover-color;
		}
	}

	&__input::-webkit-calendar-picker-indicator {
		display: none;
	}

	&__dropdownbutton {
		position: absolute;
		right: 1px;
		width: 31px;
		height: 18px;

		&withcalendar {
			background-image: url($datetimepicker-dropdownbuttonwithcalendar);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			float: right;
			margin-right: 5px;
			border: 0;
			height: 20px;
			width: 20px;
		}

		&:hover {
			background-color: $datetimepicker-dropdownbuttonwithcalendar-hover-color;
			border-left: 1px solid
				$datetimepicker-dropdownbuttonwithcalendar-hover-border-color;
		}
	}
}
