@import "variables";

.groupbox {
	height: 100%;
	margin-top: 0px;
	border: 0.5px solid $subtle-border-color;
	padding: 2px;

	&--without-text {
		border: 0.5px solid $subtle-border-color;
		padding: 0;
	}

	> .label > .label__text {
		padding-left: 1.5px;
	}

	> .panel {
		//max-height style attribute is added as a workaround for the issue described in WI00824991
		max-height: calc(100% - 15px);
	}
}

legend.groupbox__text {
	text-shadow: 0 0 black;
}

legend.groupbox__text--bold {
	font-weight: bold;
}
