@import "variables";

.label {
	user-select: none;
	display: flex;
	overflow: hidden;

	&__image {
		img {
			object-fit: none;
		}
	}
}

.label-disabled {
	color: $label-disabled-color;
	border: 1px solid $label-disabled-color;
	pointer-events: none !important;
}

.label--border-none {
	border: none;
}

.label--border-fixedsingle {
	border: $label-border;
}

.label--border-fixed3d {
	border: 1px solid;
	border-color: $label-border-fixed3d-color-dark
		$label-border-fixed3d-color-light $label-border-fixed3d-color-light
		$label-border-fixed3d-color-dark;
}

.label__text {
	white-space: break-spaces;

	&--ellipsis {
		width: inherit;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding-right: 1em; // In order to always show '...'
	}
}
