.linklabel a {
	color: var(--linkcolor);
	cursor: pointer;

	&:visited {
		color: var(--visited-linkcolor);
	}

	&:active {
		color: var(--active-linkcolor);
	}

	&.disabled {
		color: var(--disabled-linkcolor);
		cursor: default;
		text-decoration: none !important;
	}
}

.linklabel {
	display: flex;
	align-items: start;
	justify-content: left;
	gap: 3px;
	overflow: hidden;

	&:focus {
		border: 1px dotted;
	}

	a {
		display: contents;
	}

	&.linklabel--hoverunderline a {
		&:active,
		&:hover {
			text-decoration: underline;
		}
	}

	&.linklabel--alwaysunderline a {
		text-decoration: underline;
	}

	&.linklabel--neverunderline a {
		text-decoration: none;
	}

	&.linklabel--dock-fill {
		padding: 3px;
		position: static !important;
		height: auto !important;
		width: auto !important;
	}
}

.linklabel__image--disabled img {
	filter: grayscale(100%);
}
