@import "variables";
$list-cell-border: 1px solid $listview-cell-border-color;

.listview {
	width: calc(100% + 2px);
	height: 100%;
	overflow: auto;
	isolation: isolate;

	> table {
		table-layout: fixed;
		width: min-content;
		border-collapse: separate;
		border-spacing: 0;
	}

	th,
	td {
		padding-left: 4px;
		color: #000;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	th {
		font-size: 10px;
		font-weight: normal;
		border-right: 1px solid #e5e5e5;
		position: sticky;

		&:hover {
			background-color: $listview-header-hover-color;
		}

		&.active {
			background-color: $listview-header-active-color;
		}
	}

	td {
		height: 16px;
	}
}

.gridline td {
	border-right: $list-cell-border;
	border-bottom: $list-cell-border;
}

.listview__column_resizer {
	position: absolute;
	top: 0;
	right: 0;
	cursor: ew-resize;
	width: 6px;
	user-select: none;
	z-index: 10;
	height: 100%;
	border: 0;
}

.listview--border-fixedsingle {
	border: 1px solid $usercontrol-border-color;
}

.listview--border-fixed3d {
	border: 1px solid #828790;
}

.listviewitem {
	display: flex;
	align-items: center;
	column-gap: 5px;
}
