@import "variables";

.listbox {
	overflow-x: auto;
	border: 1px solid $listbox-border-color;
}

.listbox__wrapper {
	background-color: #fff;
	padding: 1px;
	display: inline-block;
	white-space: nowrap;
	min-width: 100%;
}

.listbox__item {
	padding: 2px;
	white-space: nowrap;

	&:last-child {
		height: 10px;
	}

	&--selected {
		background-color: $listbox-item-selected;
		color: #fff;
	}

	&[allowdrop].listbox__item--over {
		border-top: 2px solid $listbox-dragged-over;
		padding-top: 0;
	}
}
