.form > .panel {
	&[data-name="TopBorderPanel"],
	&[data-name="LeftBorderPanel"],
	&[data-name="RightBorderPanel"],
	&[data-name="BottomBorderPanel"],
	&[data-name="TopLeftCornerPanel"],
	&[data-name="TopRightCornerPanel"],
	&[data-name="BottomLeftCornerPanel"],
	&[data-name="BottomRightCornerPanel"] {
		cursor: default;
	}

	&[data-name="Main"] {
		.panel[data-name="TitleBar"] {
			app-region: drag;

			[data-name="SearchBox"] {
				app-region: no-drag;
			}

			.button--flat[title="Minimize"],
			.button--flat[title="Maximize"],
			.button--flat[title="Close"] {
				app-region: no-drag;
			}
		}
	}
}
