@import "variables";

.picturebox {
	display: flex;
}

.picturebox-border--static {
	border: solid 1px $picturebox-border-color--static;
}

.picturebox-border--outer {
	overflow: auto;
	box-sizing: content-box;
	border-left: solid 1px $picturebox-border-color--outer-left;
	border-top: solid 1px $picturebox-border-color--outer-left;
	border-right: solid 1px $picturebox-border-color--outer-right;
	border-bottom: solid 1px $picturebox-border-color--outer-right;
}

.picturebox-border--inner {
	border-left: solid 1px $picturebox-border-color--inner-left;
	border-top: solid 1px $picturebox-border-color--inner-left;
	border-right: solid 1px $picturebox-border-color--inner-right;
	border-bottom: solid 1px $picturebox-border-color--inner-right;
}
.picturebox__selection {
	border: 1px dashed $picturebox-selection-color;
	position: absolute;
	z-index: 2;
}
