@import "variables";

.radiobutton {
	&--normal {
		> input[type="radio"] {
			appearance: none;
			border-radius: 50%;
			background: #fff;
			border: 0.15rem solid #fff;
			box-shadow: 0 0 0 1px #333;

			&:focus-visible {
				outline-offset: 0;
			}

			&:checked {
				box-shadow: 0 0 0 1px #333;
				background-color: #333;
				border-width: 0.15rem;
			}
		}

		.radiobutton__text {
			padding-left: 1px;
		}

		&:hover:not([disabled]) > input[type="radio"] {
			box-shadow: 0 0 0 1px #3174ac;

			&:checked {
				background-color: #3174ac;
			}
		}

		.radiobutton__text:focus,
		&:focus:not([disabled]) .radiobutton__text,
		&:active:not([disabled]) .radiobutton__text,
		input[type="radio"]:focus:not([disabled]) + .radiobutton__text {
			outline: 1px dotted;
		}

		&--disabled {
			color: #555;

			& > input[type="radio"] {
				box-shadow: 0 0 0 1px #ccc;

				&:checked {
					box-shadow: 0 0 0 1px #ccc;
					background-color: #ccc;
				}
			}
		}
	}

	&--button {
		padding: 0px;
		border: none;
	}

	&--standard,
	&--system {
		padding: 2px;
		background-color: #e1e1e1 !important;
		border: 1px solid #b4b4b4;
		margin: 1px;

		&--disabled:not([checked]) {
			background-color: #ccc !important;
			border: 1px solid #bfbfbf;
		}

		&--checked {
			background-color: #cce4f7 !important;
			border: 1px solid #3174ac;
		}

		&:not([checked]):not([disabled]):hover {
			background-color: #e5f1fb !important;
			border: 1px solid #3191dd;
		}
	}

	&--popup {
		padding: 1px;
		background-color: #f0f0f0 !important;
		border: 1px solid #a0a0a0;

		&--checked:not([disabled]) {
			border-bottom: #fff;
			border-right: #fff;
		}

		&:not([checked]):not([disabled]):hover {
			border-top: #fff;
			border-left: #fff;
		}
	}

	&--flat {
		border-style: solid;

		&--checked:not([disabled]) {
			background-color: #fff !important;
		}

		&:not([checked]):not([disabled]):hover {
			background-color: #d8d8d8 !important;
		}
	}
}
