@import "variables";

.separator {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.separator__text {
	margin: 0 5px;
}

.separator__line {
	flex-grow: 1;
	height: 2px;
	background-color: black;
}
