.sizing-grip {
	position: absolute;
	bottom: 1px;
	right: 1px;
	height: 10px;
	width: 10px;
	background-image: url($form-grip-background-img);
	background-repeat: no-repeat;
	image-rendering: pixelated;
	pointer-events: none;
}
