@import "variables";

.splitter {
	cursor: row-resize;
	background-repeat: no-repeat;
	background-position: center;
	width: 99%;
	height: 100%;
	margin: auto;
	/* Prevent the browser's built-in drag from interfering */
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.splitter__guide {
	background-repeat: repeat;
	background-image: url($splitter-guide-background-img);
}

.allowsplitterdragover {
	// IFrames need to have this class applied while the splitter is being dragged
	pointer-events: none;
}
