@import "variables";

.splitcontainer {
	overflow: hidden !important;

	& > .splitter {
		background-size: contain;

		&--draggable--vertical:focus {
			background-image: url($splitcontainer-splitter-draggable-vertical-background-img--focus);
			background-repeat: repeat-y;
		}

		&--draggable--horizontal:focus {
			background-image: url($splitcontainer-splitter-draggable-horizontal-background-img--focus);
			background-repeat: repeat-x;
		}

		&--effect:hover {
			background-color: $splitcontainer-hover !important;

			.splitcontainer {
				background-color: $splitcontainer-hover !important;
			}
		}
	}
}
