@import "variables";

.statusbar {
	padding: 1px;
	overflow: hidden;

	&__border {
		border: solid 1px #a0a0a0;
		padding-left: 3.5px;
		position: relative;
	}

	&__panel {
		position: absolute;
		top: 50%;
		overflow: inherit;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		white-space: pre;
	}
}
