@import "variables";
$button-border: 1px solid $subtle-border-color;
$button-border-sides: 0.5px solid $subtle-border-color;
$custom-left-offset: 0px;
$custom-padding-left-active: auto;
$custom-padding-right-active: auto;
$custom-box-sizing: border-box;
$custom-outline: none;
$custom-outline-offset: 0px;

.tabcontrol {
	display: flex;
	flex-direction: column;
}

.tabcontrol__navigation {
	padding-left: 2px;
	padding-top: 2px;
	display: flex;
	line-height: 1;
}

.tabcontrol__tabs {
	overflow: hidden;
	display: flex;

	&--vertical {
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}
}

.tabcontrol__tabtext {
	white-space: pre;
}

.tabcontrol__button {
	--default-color: #{$inactive-background-color};
	--active-color: #{$active-background-color};
	--inactive-hover-color: #{$hover-background-color};
	vertical-align: bottom;
	border-radius: 0;
	background-color: var(--default-color);
	border-top: $button-border;
	border-right: 0;
	border-bottom: 1px solid $subtle-border-color;
	border-left: 1px solid $subtle-border-color;
	position: relative;
	top: 1px;
	margin-top: -1px;
	display: flex;
	align-items: center;
	justify-content: center;
	left: var(--custom-left-offset);

	&.active {
		background-color: var(--active-color);
		padding-bottom: 2px;
		z-index: 1;
		margin-top: -3px;
		margin-left: -2px;
		border-right: 1px solid $subtle-border-color;
		border-bottom: 0;
		padding-left: var(--custom-padding-left-active);
		padding-right: var(--custom-padding-right-active);
		box-sizing: var(--custom-box-sizing);
		outline: var(--custom-outline);
		outline-offset: var(--custom-outline-offset);
		color: black;

		+ .tabcontrol__button {
			border-left: 0;
		}
	}

	&:not(.active):hover {
		background-color: var(--inactive-hover-color);
	}

	&:focus-visible {
		outline: 1px dotted;
		outline-offset: -4px;
	}
}

tab-control__button__auto-hotkey-form {
}

.tabcontrol__button:last-of-type {
	border-right: 1px solid $subtle-border-color;
}

.tabcontrol__tabimage {
	margin-right: 6px;
}
.tabcontrol__tabicon {
	margin-right: 6px;
}

.tabcontrol__content {
	width: 100%;
	height: 100%;
	background-color: $active-background-color;
	border: 1px solid $subtle-border-color;
}

$tabcontrol-slider-width: 16px;
.tabcontrol__slider {
	margin-left: auto;
	margin-right: 0;
	width: $tabcontrol-slider-width * 2;
}

.tabcontrol__slider__arrow {
	width: $tabcontrol-slider-width;
	height: 16px;
	background-size: 11px;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid $tabcontrol-slider-button-border-color;

	&:not(.active):hover {
		background-color: $hover-background-color;
	}
}

.tabcontrol__slider__arrow--left {
	background-image: url($left-arrow-rest);
	float: left;
	margin-left: 0px;
}

.tabcontrol__slider__arrow--right {
	background-image: url($right-arrow-rest);
	margin-left: $tabcontrol-slider-width;
}
