@import "variables";
:root {
	--textbox-align: left;
}

.textbox {
	text-align: var(--textbox-align);
	resize: none;

	&--scrollbar--small::-webkit-scrollbar-button {
		height: 49%;
	}
}

.textbox--border-none {
	border: none;
	padding: 0px;
}

.textbox--border-fixedsingle {
	border: $textbox-border;
}

.textbox--border-fixed3d {
	border: $textbox-border;
	box-shadow: $textbox-border-shadow;
}

.textbox:hover {
	border-color: $input-border-color--hover;
	cursor: text;
}

.textbox:disabled {
	color: $textbox-color--disabled !important;
	border-color: $textbox-border-color--disabled;
}

.textbox:focus {
	border-color: $input-border-color--focus;
	background-color: $input-background-color--focus;
}

.textbox--lower {
	text-transform: lowercase;
}

.textbox--upper {
	text-transform: uppercase;
}

.textbox--dynamic-expand-arrow {
	position: absolute;
	border-bottom: 2px black solid;
	border-right: 2px black solid;
	border-top: 2px transparent solid;
	border-left: 2px transparent solid;
	--current-cursor: pointer;
	z-index: 4;
}

.dynamic-multiline-textbox textarea {
	resize: both;
	z-index: 100;
}

.textbox--scrollbar::-webkit-scrollbar {
	width: 0;
}

.dynamic-multiline-textbox textarea::-webkit-scrollbar-corner {
	background: $control-color;
}

.textbox[type="password"]::-ms-reveal {
	display: none;
}

.textbox[type="password"]:focus::placeholder {
	color: transparent;
}
