@import "variables";

.treeview {
	overflow: auto;
	line-height: 1 !important;
	user-select: none;

	&__nodes {
		list-style-type: none;
		padding: 0;
		margin: 0;
		position: relative;

		&:first-child > .treeview__node:first-child:before {
			top: $treeview-item-height/2 !important;
			height: calc(100% - $treeview-item-height / 2) !important;
		}
	}

	&__node {
		position: relative;
		padding-left: 10px;
		margin-left: 10px;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			height: calc(100% - 0.8px);
			border-right: dotted black 1px;
		}

		&:only-child:not(li li):before {
			border-right: none;
		}

		&:last-child:before {
			height: ($treeview-item-height / 2) - 0.4px;
			top: 1px;
		}

		&button {
			position: absolute;
			left: -4px;
			top: 3px;
			width: 8px;
			height: 8px;
			z-index: 10;
			border: 1px #919191 solid;
			font-size: 8px;
			font-weight: bold;
			align-items: center;
			display: flex;
			justify-content: center;
			padding: 0;
			box-sizing: content-box;
			color: #2f4ea9;
			background-image: linear-gradient(
				var(--color-control-light-light),
				var(--color-control-light)
			);

			&focus {
				outline: none;
			}
		}

		&content {
			display: flex;
			align-items: center;

			&:before {
				content: "";
				position: absolute;
				width: 9px;
				left: 1px;
				border-bottom: dotted black 1px;
			}
		}

		&checkbox {
			width: 14px;
			height: 14px;
		}

		&text {
			display: inline-block;
			line-height: $treeview-item-height;
			padding: 0px 2px;
			white-space: nowrap;
		}

		&stateimage {
			width: 16px;
			height: 16px;
			margin-left: 1.5px;
		}

		&image {
			width: 16px;
			height: 16px;
			margin-right: 1px;
			position: relative;

			img {
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
			}

			&:after {
				content: "";
				position: absolute;
				width: 15.1px;
				left: 0.9px;
				top: 7.6px;
				border-bottom: dotted black 1px;
			}
		}
	}

	&__nodes-has-img > &__node:first-child:before {
		top: -7px;
		height: calc(1.5 * $treeview-item-height - 1px);
	}

	&__nodes-has-img > &__node:only-child:before {
		height: calc($treeview-item-height - 1px);
	}
}

.treeview--border-none {
	border: none;
}

.treeview--border-fixedsingle {
	border: $treeview-border;
}

.treeview--border-fixed3d {
	border: $treeview-border;
}
