@import "variables";

.usercontrol--border-fixedsingle {
	border: 1px solid $usercontrol-border-color;
}

.usercontrol--border-fixed3d {
	border-top: 2px ridge $usercontrol-border-fixed3d-color-dark;
	border-left: 2px ridge $usercontrol-border-fixed3d-color-dark;
	border-bottom: 2px groove $usercontrol-border-fixed3d-color-light;
	border-right: 2px groove $usercontrol-border-fixed3d-color-light;
}
