<?xml version="1.0" encoding="utf-8"?>
<configuration  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Server" value="MAIL.TEST.NACCS"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Port" value="110"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UserName" value="S0800101@MAIL.TEST.NACCS"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Password" value="$password$"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="log4net.Internal.Debug" value="false"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IssueManagerUri" value="https://jpctestgateway2.cargowise.com/MockWebServiceEndpoints/IssueManager/"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IssueManagerKey" value="JPCustomsPullServiceTest" 
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.net xdt:Transform="InsertAfter(/configuration/appSettings)">
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Temp\MockWebServiceEndpoints\JPCustomsGateway" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingTransportWithMessageCredentialCertificate" 
           xdt:Transform="Replace" xdt:Locator="Match(name)">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificate"
           xdt:Transform="Replace" xdt:Locator="Match(name)">
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>