[*.cs]

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = warning

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = warning

# CW1178: Must use generated resource string methods.
dotnet_diagnostic.CW1178.severity = error

# NUnit2044: Non-delegate actual parameter
dotnet_diagnostic.NUnit2044.severity = error

[*Test*.cs]
# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = error

# WTG1017: This variable could be confused with a discard
dotnet_diagnostic.WTG1017.severity = none

