source https://proget.wtg.zone/nuget/Gallery/v3/index.json
source https://proget.wtg.zone/nuget/WTG-Internal/v3/index.json

# This filters out extra supporting libraries from .NET Core that
# we don't care about (yet).
framework: net45

# This is our list of packages.
# If you know what you're doing, manually add an entry.
# If you don't, use "paket.exe add nuget <package> --no-install".
# Use "dotnet tool run paket update --no-install" to update paket.lock.
# Use "dotnet tool run paket restore" to update the package cache above
#
# DO NOT UPDATE paket.lock BY HAND!
#

nuget DotNetSeleniumExtras.WaitHelpers 3.11.0
nuget MSTest.TestAdapter 2.1.2
nuget MSTest.TestFramework 2.1.2
nuget Selenium.Support 3.141.0
nuget Selenium.WebDriver 3.141.0
nuget HtmlAgilityPack 1.11.24
nuget TimeZoneConverter

nuget NUnit 3.13.3
nuget CargoWise.eHub.Common 5.2.4
nuget CargoWise.eHub.Adapter 5.2.4
nuget Common.Logging 3.4.1
nuget Common.Logging.Core 3.4.1
nuget Common.Logging.Log4Net208 3.4.1
nuget SharpZipLib 1.3.3
nuget log4net 2.0.8
nuget RhinoMocks 3.6.1
nuget XmlDiffPatch 1.0.8.28
nuget CompareNETObjects 3.05.0.0
nuget EntityFramework 6.1.3
nuget FubarDev.NDbUnit.Core 1.6.9.11
nuget FubarDev.NDbUnit.SqlClient 1.6.9.11
nuget Microsoft.Web.Administration 7.0.0.0
nuget Microsoft.Web.Infrastructure 1.0.0.0
nuget Microsoft.AspNet.WebPages 3.2.2
nuget Microsoft.AspNet.Razor 3.2.2
nuget Microsoft.AspNet.Mvc 5.2.2
nuget WebGrease 1.5.2
nuget Antlr 3.4.1.9004
nuget CsvHelper 2.7.0
nuget WCFAppender-log4net 1.0
nuget MimeKitLite 1.10.0
nuget MimeKit 2.3.1
nuget OpenPop.NET 2.0.6.1076
nuget iTextSharp 5.5.13
nuget Microsoft.Data.Schema_wtg 10.0.30319.1
nuget System.Data.SqlServerCe_wtg 4.0.8876.1
nuget Microsoft.AspNet.Web.Optimization 1.1.3
nuget Winterdom.BizTalk.PipelineTesting 1.2.2.0
nuget WebSphereMqClient 8.0.0.7
nuget mscorlib.Moles_wtg 4.7.2117
nuget mscorlib.Behaviors_wtg 0.94.51023
nuget BizUnit.Core 5.0.5
nuget BizUnit.TestSteps 5.0.5
nuget CargoWise.eServices.Server.Decryption 1.0.0.15
nuget bootstrap 3.0.0
nuget jQuery 1.10.2
nuget jQuery.UI.Combined 1.11.4
nuget jQuery.Validation 1.11.1
nuget Microsoft.jQuery.Unobtrusive.Validation 3.2.2
nuget Modernizr 2.6.2
nuget Respond 1.2.0
nuget NDbUnit.Core 1.6.8
nuget NDbUnit.SqlClient 1.6.8
nuget MvcContrib 2.0.95.0
nuget MvcContrib.TestHelper 2.0.95.0
nuget Wtg.BizTalk 3.0.1-pre1
nuget Microsoft.Web.Xdt 2.1.2
nuget XmlUnit.NUnit3.Constraints 2.6.0
nuget Microsoft.Net.Compilers 1.3.2
nuget WTG.DevTools.Common 18.10.15.0
nuget YamlDotNet 5.2.1
nuget System.Diagnostics.DiagnosticSource 4.5.1
nuget Microsoft.AspNet.TelemetryCorrelation 1.0.4
nuget Microsoft.ApplicationInsights 2.8.1
nuget Microsoft.ApplicationInsights.Agent.Intercept 2.4.0
nuget Microsoft.ApplicationInsights.DependencyCollector 2.8.1
nuget Microsoft.ApplicationInsights.PerfCounterCollector 2.8.1
nuget Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel 2.8.1
nuget Microsoft.ApplicationInsights.WindowsServer 2.8.1
nuget Microsoft.ApplicationInsights.Web 2.8.1
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.0.3
nuget Microsoft.AspNet.WebApi.Client 5.2.7
nuget Microsoft.AspNet.WebApi.Core 5.2.7
nuget Microsoft.AspNet.WebApi.WebHost 5.2.7
nuget SlowCheetah 2.5.5
nuget MvcSiteMapProvider.MVC5 4.6.26
nuget System.Threading.Tasks.Dataflow 4.5.24
nuget System.Runtime 4.3.0
nuget System.ValueTuple 4.5.0
nuget Microsoft.Bcl.Build 1.0.14
nuget Microsoft.Bcl.Async 1.0.168
nuget System.IO.Compression >= 4.3.0
nuget System.Runtime.InteropServices >= 4.3.0
nuget System.Runtime.InteropServices.RuntimeInformation >= 4.3.0
nuget System.Collections >= 4.0.11
nuget Microsoft.VisualStudio.Setup.Configuration.Interop >= 1.16.30
nuget NUnit3TestAdapter 4.5.0
nuget CargoWise.eServices.Encryption.Server.Decryptor 1.0.1
nuget CargoWise.eServices.Encryption.Client.Encryptor 1.0.1
nuget CargoWise.eServices.Encryption.Server.Encryptor 1.0.1
nuget CargoWise.eServices.Encryption.Client.Decryptor 1.0.1
nuget AutoFixture 4.8.0
nuget AutoFixture.NUnit3 4.8.0
nuget System.Net.Requests 4.3.0
nuget fluentassertions 5.6.0

nuget Microsoft.AspNet.WebApi.Owin 5.2.6
nuget Microsoft.AspNet.WebApi.OwinSelfHost 5.2.6
nuget Microsoft.Owin 2.0.2
nuget Microsoft.Owin.Host.HttpListener 2.0.2
nuget Microsoft.Owin.Hosting 2.0.2
nuget Microsoft.Rest.ClientRuntime 2.3.20
nuget Owin 1.0
nuget BouncyCastle 1.8.5

nuget StrongNamer 0.2.5
nuget Markdig
nuget Newtonsoft.Json 13.0.3
nuget SSH.NET
nuget eServices.BuildTools
nuget WinSCP
nuget librdkafka.redist 2.3.0
nuget Moq 4.17.2
nuget Castle.Core 4.4.1
nuget Microsoft.Extensions.Logging 8.0.0
nuget Microsoft.Extensions.Logging.Log4Net.AspNetCore 3.1.0
nuget Microsoft.Extensions.Options 8.0.0
nuget Microsoft.Extensions.Logging.Abstractions 8.0.0
nuget System.Memory 4.5.5
nuget WTG.ErrorReporting
nuget protobuf-net 3.2.30
nuget protobuf-net.Core 3.2.30
nuget eServices.RoutingRuleEngine 3.0.0

group Tools
  source https://proget.wtg.zone/nuget/Gallery/v3/index.json
  framework: net45
  lowest_matching: true

  nuget Microsoft.TeamFoundationServer.ExtendedClient >= 15.0
  
group NET48
  source https://proget.wtg.zone/nuget/Gallery/v3/index.json
  source https://proget.wtg.zone/nuget/WTG-Internal/v3/index.json
  framework: net48
  strategy: min

  nuget eServices.eHubDataModel 3.0.2
  nuget eServices.Configuration 3.0.0
