[*.cs]

# CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = none

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = warning

# CW1161: ResGetStringAnalyzer - not required for CLIENTEXTENSIONS
dotnet_diagnostic.CW1161.severity = none

# CW1178: Must use generated resource string methods.
dotnet_diagnostic.CW1178.severity = none

[/HEN/ZClientHEN/**]
# CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = warning

[/NIP/ZClientNIP/**]
# CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = warning

[/SEK/ZClientSEK/**]
# CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = warning

[/TEL/ZClientTEL/**]
# CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = warning
