<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="UsageELKKafkaTopic" value="topic-au1-test-ehubgatewaynonbilledusage-test"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
    <add key="IssueManagerUri" value="https://mockendpoints-api-test.wtg.zone/IssueManager/"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)" />
  </appSettings>

  <billingKafkaClientSettings>
    <add key="bootstrap.servers" value="106-cluster-kafka-q0-au2-brokers.kafka.wtg.ws:8044,107-cluster-kafka-q0-au2-brokers.kafka.wtg.ws:8044,108-cluster-kafka-q0-au2-brokers.kafka.wtg.ws:8044,109-cluster-kafka-q0-au2-brokers.kafka.wtg.ws:8044,110-cluster-kafka-q0-au2-brokers.kafka.wtg.ws:8044"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
    <add key="sasl.username" value="topic-au1-test-billing-test"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
    <add key="sasl.password" value="$BillingKafkaPassword$"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
  </billingKafkaClientSettings>

  <billingKafkaProducerSettings>
    <add key="linger.ms" value="50"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
  </billingKafkaProducerSettings>

  <system.serviceModel>
    <client>
      <endpoint address="https://billing-test.wtg.zone/BillingService.svc"
                name="billing_service"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
</configuration>