<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="CargoWiseIFrame.master.cs" Inherits="Enterprise.ZClientWebCargoWiseEDI.CargoWiseIFrame" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>My Account</title>
    <asp:ContentPlaceHolder id="Header" runat="server"></asp:ContentPlaceHolder>
    <script type="text/javascript">
    function ResizeInternalIFrame()
    {
        if (window.parent.document.getElementById('contentFrame')) {
            var height = document.body.offsetHeight;
            if (height < 420) {
                height = 420;
            }
            window.parent.document.getElementById('contentFrame').height = height;
        }
    }
    </script>
</head>

<body onload="ResizeInternalIFrame();">

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PWS25L"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function (w, d, s, l, i) {
w[l] = w[l] || []; w[l].push({
'gtm.start':
new Date().getTime(), event: 'gtm.js'
}); var f = d.getElementsByTagName(s)[0],
j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
'//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-PWS25L');</script>
<!-- End Google Tag Manager -->

<form id="form1" runat="server">
    <div class="left_nav" id="LeftNavBar" runat="server">
        <ul>
            <li><a runat="server" id="AccreditationAnchor" target="_parent" name="AccreditationAnchor">Learning Archive</a></li>
            <li><a id="A11" runat="server" target="_top" href="http://www.cargowise.com/CountryGuides.aspx">Country Guides</a></li>
            <li><a id="A2" runat="server" href="~/ReleaseNotes/ReleaseNotes.aspx">Update Notes</a></li>
            <li><a id="A4" runat="server" href="~/my-account/downloads.aspx">Server Downloads</a></li>
            <li><a id="A7" runat="server" href="~/Reports/Reports.aspx">Reports</a></li>
            <li><a id="A9" runat="server" href="~/Reports/UsageReports.aspx">Usage Reports</a></li>
            <li><a id="A10" runat="server" href="~/Reports/Invoices.aspx">Invoices</a></li>
            <li><a id="A6" runat="server" href="~/Admin/WebSecurity.aspx">Web Security</a></li>
            <li><a id="A14" runat="server" href="~/WiseTechAcademy/WiseTechAcademyAutoLogin.aspx" target="_blank">WiseTech Academy</a></li>
            <li><a id="A13" runat="server" href="~/Admin/NotificationRoles.aspx">Notification Roles</a></li>
            <li><a id="A12" runat="server" href="~/Admin/Profile.aspx">Profile</a></li>
            <li><a id="A8" runat="server" href="~/Admin/ChangePassword.aspx">Change Password</a></li>
            <li><asp:LinkButton id="LogoutButton" runat="server" CssClass="leftnav" OnClick="LogoutButton_Click">Logout</asp:LinkButton>
        </ul>
    </div>
    <asp:ContentPlaceHolder ID="Content" runat="server"></asp:ContentPlaceHolder>
</form>
</body>
</html>
