<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="system.web"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <!-- Settings for database and site functionality
    -->

    <add key="DatabaseName" value="Odyssey"/>
    <add key="ServerName" value="dbserver"/>
    <add key="Branch" value="SYD"/>

    <add key="DBAdminEmail" value="TrackErr@cargowise.com"/>
    <add key="Client" value="EDI"/>

    <add key="WebServiceAccessList" value="localhost;10.61.178.129;10.61.178.128;10.61.178.127;10.2.64.12;10.2.64.13;10.2.64.11"/>

    <!-- Settings for the look and feel
    -->
    <add key="CompanyName" value="WiseTech Global"/>
    <add key="HomePageURL" value="http://www.wisetechglobal.com/"/>

    <add key="owin:AutomaticAppStartup" value="false"/>

    <add key="SingleActiveUserSession" value="true"/>

    <!-- Settings for AppContextSwitchOverrides
     https://github.com/dotnet/docs/blob/main/docs/framework/configure-apps/file-schema/runtime/appcontextswitchoverrides-element.md
     https://learn.microsoft.com/en-us/dotnet/api/system.io.pathtoolongexception?view=netframework-4.8.1
    -->
    <add key="AppContext.SetSwitch:Switch.System.IO.UseLegacyPathHandling" value="false" />
  </appSettings>

  <location inheritInChildApplications="false">
    <system.web>
      <pages validateRequest="false">
        <controls>
          <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </controls>
      </pages>
      <httpRuntime requestValidationMode="2.0" maxRequestLength="102400" enableVersionHeader="false"/>
      <!--  DYNAMIC DEBUG COMPILATION
      Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
      false will improve runtime performance of this application.
      Set compilation debug="true" to insert debugging symbols (.pdb information)
      into the compiled page. Because this creates a larger file that executes
      more slowly, you should set this value to true only when debugging and to
      false at all other times. For more information, refer to the documentation about
      debugging ASP.NET files.
      -->
      <compilation defaultLanguage="c#" debug="false" targetFramework="4.8">
        <assemblies>
          <remove assembly="*" />
          <add assembly="ZClientWebEDI" />
          <add assembly="CargoWise.ComponentModel" />
          <add assembly="Enterprise.ZArchitecture.Core" />
          <add assembly="Enterprise.ZArchitecture.GUI" />
          <add assembly="Enterprise.ZArchitecture.Business" />
          <add assembly="ZClientEDI.Business" />
          <add assembly="CargoWise.Integration" />
          <add assembly="Enterprise.ZArchitecture.Modules" />
          <add assembly="Enterprise.ZArchitecture.Web.GUI" />
          <add assembly="Enterprise.ZArchitecture.Web.GUI.Ajax" />
          <add assembly="Enterprise.Tracking.Web" />
          <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </assemblies>
      </compilation>

      <!--
      Disable (set to true or comment out )during development or you won't be able
      to build, since IIS will have a lock on Dev\Bin\*.dll.
      -->
      <hostingEnvironment shadowCopyBinAssemblies="false"/>

      <!--  CUSTOM ERROR MESSAGES
      Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable.
      Add <error> tags for each of the errors you want to handle.

      "On" Always display custom (friendly) messages.
      "Off" Always display detailed ASP.NET error information.
      "RemoteOnly" Display custom (friendly) messages only to users not running
      on the local Web server. This setting is recommended for security purposes, so
      that you do not display application detail information to remote clients.
      -->
      <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx"/>
      <!--  AUTHENTICATION
      This section sets the authentication policies of the application. Possible modes are "Windows",
      "Forms", "Passport" and "None"

      "None" No authentication is performed.
      "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to
      its settings for the application. Anonymous access must be disabled in IIS.
      "Forms" You provide a custom form (Web page) for users to enter their credentials, and then
      you authenticate them in your application. A user credential token is stored in a cookie.
      "Passport" Authentication is performed via a centralized authentication service provided
      by Microsoft that offers a single logon and core profile services for member sites.
      -->
      <authentication mode="Forms">
        <forms name=".MYACCOUNT" loginUrl="~/Login/LoginV2.aspx" protection="All" timeout="20" enableCrossAppRedirects="true" domain=".cargowise.com" cookieSameSite="None" requireSSL="true"/>
      </authentication>

      <!-- This key is to enable cross application forms authentication -->
      <machineKey decryption="3DES" decryptionKey="67B1FF3260A7B23D5422F3D3B8583B30D3030AF450F43BD7" validation="SHA1" validationKey="8AF4C803DBD2568D9123E153BD92A9285421E382"/>

      <!--  AUTHORIZATION
      This section sets the authorization policies of the application. You can allow or deny access
      to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous
      (unauthenticated) users.
      -->
      <authorization>
        <deny users="?"/>
        <!-- Allow authenticated users -->
      </authorization>

      <!--  APPLICATION-LEVEL TRACE LOGGING
      Application-level tracing enables trace log output for every page within an application.
      Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
      trace information will be displayed at the bottom of each page.  Otherwise, you can view the
      application trace log by browsing the "trace.axd" page from your web application
      root.
      -->
      <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
      <!--  SESSION STATE SETTINGS
      By default ASP.NET uses cookies to identify which requests belong to a particular session.
      If cookies are not available, a session can be tracked by adding a session identifier to the URL.
      To disable cookies, set sessionState cookieless="true".
      -->
      <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sessionIDManagerType="Enterprise.ZClientWebCargoWiseEDI.SessionFixationIdManager,ZClientWebEDI" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
      <httpCookies httpOnlyCookies="true" requireSSL="true"/>
      <!--  GLOBALIZATION
      This section sets the globalization settings of the application.
      -->
      <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
      <xhtmlConformance mode="Strict"/>

      <httpModules>
        <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </httpModules>
      <httpHandlers>
        <add path="*" verb="OPTIONS" type="System.Web.DefaultHttpHandler" validate="false"/>
        <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add verb="GET" path="ReportRequestHandler.axd" type="Enterprise.Tracking.Web.ReportRequestHandler,Enterprise.Tracking.Web"/>
        <add verb="GET" path="OdplUsageReportRequestHandler.axd" type="Enterprise.ZClientWebCargoWiseEDI.OdplUsageReportRequestHandler,ZClientWebEDI"/>
        <add verb="GET" path="OdplUsageReportStreamRequestHandler.axd" type="Enterprise.ZClientWebCargoWiseEDI.OdplUsageCsvReportRequestHandler,ZClientWebEDI"/>
        <add verb="GET" path="StlUsageReportRequestHandler.axd" type="Enterprise.ZClientWebCargoWiseEDI.StlUsageReportRequestHandler,ZClientWebEDI"/>
        <add verb="GET" path="StlUsageReportStreamRequestHandler.axd" type="Enterprise.ZClientWebCargoWiseEDI.StlUsageCsvReportRequestHandler,ZClientWebEDI"/>
        <add verb="GET" path="InvoiceRequestHandler.axd" type="Enterprise.ZClientWebCargoWiseEDI.InvoiceRequestHandler,ZClientWebEDI"/>
        <add verb="GET" path="UserAgreementEDocRequestHandler.axd" type="Enterprise.ZClientWebCargoWiseEDI.UserAgreementEDocRequestHandler,ZClientWebEDI"/>
        <add verb="GET,HEAD" path="wtg/status" type="Enterprise.ZClientWebCargoWiseEDI.HealthCheckHandler,ZClientWebEDI"/>
        <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory" validate="false"/>
      </httpHandlers>
    </system.web>
  </location>
  <location path="Error.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Incidents">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/RegisterPersonalEmail.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/ResetPassword.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/SetPassword.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/ResetMasterPassword.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/SetMasterPassword.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Login">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Download.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Services">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="WebService">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="InfoRequest">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/WorkItem">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/StaffDetails">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/ProductKey">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="oauth">
    <!-- OAuth authentication is handled by the controllers and WebAPI filter. -->
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/oidc">
    <!-- OIDC authentication is handled by the controllers and WebAPI filter. -->
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="api/PortalAuth">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/PortalAuth/AutoLoginToken">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <location path="ProcessTaskService/api/WorkItem">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/BorderWiseLicence">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/BorderWiseRegistration">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/BorderWiseContacts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/BorderWiseOrganisations">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/BorderWiseWorkItems">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/LicenceInformation">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/ContentTranslation">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/LearningCenter">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/JobApplication">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="gateway">
    <!-- gateway authentication is handled by the controller -->
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/UserAgreement">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/ProductRegistration">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/TrustedMessaging">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/SystemTrust">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/TokenAuthOnBoarding">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/Handshake">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="BaseStyle.css">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="DefaultStyle.css">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="menu.css">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="StyleSheets">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/WiseTechAcademy">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/LoginService">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/ERequest">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/FeatureControl">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="wtg/status">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/sso/v2/erequest">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/sso/v3/erequest">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/sso/v2/my-account">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/sso/v3/my-account">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="admin/UserAgreement.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="admin/UserAgreementEDocRequestHandler.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="my-account/Notification.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/sso/v2/user-agreement">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/sso/v3/user-agreement">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/sso/v2/trusted-messaging">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/sso/v2/registration">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/sso/v3/registration">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/incident/resolve">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/incident/confirm-resolve">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Incidents/InvalidLink.html">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Incidents/ConfirmResolved.html">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <behaviors>
      <endpointBehaviors>
        <behavior name="REST">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Enterprise.ZClientWebCargoWiseEDI.Services.UpgradePackageServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Enterprise.ZClientWebCargoWiseEDI.Services.IncidentServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Enterprise.ZClientWebCargoWiseEDI.Services.LoginServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Enterprise.ZClientWebCargoWiseEDI.Services.LearningCenterServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Enterprise.ZClientWebCargoWiseEDI.Services.SubscriptionPreferenceServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="Binding1" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" receiveTimeout="00:05:00" sendTimeout="00:05:00" openTimeout="00:05:00" closeTimeout="00:05:00">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="Binding2" maxBufferPoolSize="524288" maxReceivedMessageSize="104857600">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="Binding1SSL" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" receiveTimeout="00:05:00" sendTimeout="00:05:00" openTimeout="00:05:00" closeTimeout="00:05:00">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="Binding2SSL" maxBufferPoolSize="524288" maxReceivedMessageSize="104857600">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Enterprise.ZClientWebCargoWiseEDI.Services.UpgradePackageServiceBehavior" name="Enterprise.ZClientWebCargoWiseEDI.Services.UpgradePackageService">
        <endpoint binding="wsHttpBinding" contract="Enterprise.ZClientWebCargoWiseEDI.Services.IUpgradePackageService" bindingConfiguration="Binding1">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint binding="wsHttpBinding" contract="Enterprise.ZClientWebCargoWiseEDI.Services.IUpgradePackageService" bindingConfiguration="Binding1SSL">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="Enterprise.ZClientWebCargoWiseEDI.Services.IncidentServiceBehavior" name="Enterprise.ZClientWebCargoWiseEDI.Services.IncidentService">
        <endpoint binding="wsHttpBinding" contract="Enterprise.CustomerService.Business.WebService.IIncidentService" bindingConfiguration="Binding2" bindingNamespace="http://schemas.cargowise.com/">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint binding="wsHttpBinding" contract="Enterprise.CustomerService.Business.WebService.IIncidentService" bindingConfiguration="Binding2SSL" bindingNamespace="http://schemas.cargowise.com/">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="Enterprise.ZClientWebCargoWiseEDI.Services.LoginServiceBehavior" name="Enterprise.ZClientWebCargoWiseEDI.Services.LoginService">
        <endpoint binding="wsHttpBinding" contract="Enterprise.ZClientWebCargoWiseEDI.Services.ILoginService" bindingConfiguration="Binding2" bindingNamespace="http://schemas.cargowise.com/"/>
        <endpoint binding="wsHttpBinding" contract="Enterprise.ZClientWebCargoWiseEDI.Services.ILoginService" bindingConfiguration="Binding2SSL" bindingNamespace="http://schemas.cargowise.com/"/>
      </service>
      <service behaviorConfiguration="Enterprise.ZClientWebCargoWiseEDI.Services.LearningCenterServiceBehavior" name="Enterprise.ZClientWebCargoWiseEDI.Services.LearningCenterService">
        <endpoint binding="wsHttpBinding" contract="Enterprise.ZClientWebCargoWiseEDI.Services.ILearningCenterService" bindingConfiguration="Binding2" bindingNamespace="http://schemas.cargowise.com/"/>
        <endpoint binding="wsHttpBinding" contract="Enterprise.ZClientWebCargoWiseEDI.Services.ILearningCenterService" bindingConfiguration="Binding2SSL" bindingNamespace="http://schemas.cargowise.com/"/>
      </service>
      <service behaviorConfiguration="Enterprise.ZClientWebCargoWiseEDI.Services.SubscriptionPreferenceServiceBehavior" name="Enterprise.ZClientWebCargoWiseEDI.Services.SubscriptionPreferenceService">
        <endpoint binding="wsHttpBinding" contract="Enterprise.ZClientWebCargoWiseEDI.Services.ISubscriptionPreferenceService" bindingConfiguration="Binding2" bindingNamespace="http://schemas.cargowise.com/"/>
        <endpoint binding="wsHttpBinding" contract="Enterprise.ZClientWebCargoWiseEDI.Services.ISubscriptionPreferenceService" bindingConfiguration="Binding2SSL" bindingNamespace="http://schemas.cargowise.com/"/>
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="94BC3704CDDFC263" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0E99375E54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="ADB9793829DDAE60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.2" newVersion="9.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.TimeProvider" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.2" newVersion="9.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.6.0.0" newVersion="8.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.6.0.0" newVersion="8.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IdentityModel" publicKeyToken="E7877F4675DF049F" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.6.0.0" newVersion="8.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.6.0.0" newVersion="8.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.6.0.0" newVersion="8.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.6.0.0" newVersion="8.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.6.0.0" newVersion="8.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0A613F4DD989E8AE" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.69.1.0" newVersion="4.69.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Client" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.3.0" newVersion="2.4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.4.3.0" newVersion="4.4.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Enterprise.RemoteDesktopServices.Shared" publicKeyToken="4F570DF270576350" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.13.7.0" newVersion="4.13.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Resources.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.3.1.0" newVersion="2.3.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.17.1.0" newVersion="0.17.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" culture="neutral" publicKeyToken="92742159e12e44c8" />
        <bindingRedirect oldVersion="0.0.0.0-1.38.0.0" newVersion="1.38.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69F491C39445E920" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.20.70.0" newVersion="4.20.70.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1B03E6ACF1164F73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.4.2.13" newVersion="1.4.2.13"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CargoWise.eHub.Common" publicKeyToken="4f570df270576350" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MimeKit" publicKeyToken="bede1c8a46c66814" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.0.0" newVersion="4.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Pkcs" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WTG.DevTools.Database" publicKeyToken="4F570DF270576350" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.10.27.4" newVersion="24.10.27.4"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileSystemGlobbing" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="ScriptResource-Integrated" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ReportRequestHandler-Integrated" verb="GET" path="ReportRequestHandler.axd" type="Enterprise.Tracking.Web.ReportRequestHandler,Enterprise.Tracking.Web"/>
      <add name="OdplUsageReportRequestHandler-Integrated" verb="GET" path="OdplUsageReportRequestHandler.axd" type="Enterprise.ZClientWebCargoWiseEDI.OdplUsageReportRequestHandler,ZClientWebEDI"/>
      <add name="OdplUsageReportStreamRequestHandler-Integrated" verb="GET" path="OdplUsageReportStreamRequestHandler.axd" type="Enterprise.ZClientWebCargoWiseEDI.OdplUsageCsvReportRequestHandler,ZClientWebEDI"/>
      <add name="StlUsageReportRequestHandler-Integrated" verb="GET" path="StlUsageReportRequestHandler.axd" type="Enterprise.ZClientWebCargoWiseEDI.StlUsageReportRequestHandler,ZClientWebEDI"/>
      <add name="StlUsageReportStreamRequestHandler-Integrated" verb="GET" path="StlUsageReportStreamRequestHandler.axd" type="Enterprise.ZClientWebCargoWiseEDI.StlUsageCsvReportRequestHandler,ZClientWebEDI"/>
      <add name="HealthCheckHandler-Integrated" verb="GET,HEAD" path="wtg/status" type="Enterprise.ZClientWebCargoWiseEDI.HealthCheckHandler,ZClientWebEDI"/>
      <add name="InvoiceRequestHandler-Integrated" verb="GET" path="InvoiceRequestHandler.axd" type="Enterprise.ZClientWebCargoWiseEDI.InvoiceRequestHandler,ZClientWebEDI"/>
      <add name="UserAgreementEDocRequestHandler-Integrated" verb="GET" path="UserAgreementEDocRequestHandler.axd" type="Enterprise.ZClientWebCargoWiseEDI.UserAgreementEDocRequestHandler,ZClientWebEDI"/>
    </handlers>
    <security>
      <requestFiltering removeServerHeader="true"/>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="frame-ancestors 'self' https://*.cargowise.com/;"/>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload"/>
        <add name="Access-Control-Allow-Origin" value="https://myaccount.cargowise.com" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, X-Requested-With" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <nlog>
    <targets></targets>
    <rules></rules>
  </nlog>
</configuration>