<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ include file="..\..\WrapperTestGenerator.ttinclude" once="true" #>
<#@ import namespace="CargoWise.Customs.IT.MessageContracts.NCTS.Departure" #>
<# GenerateWrapperTestClasses("D1", typeof(ID1Consignment), typeof(ID1Message), typeof(ID1HouseConsignment), typeof(ID1ConsignmentItem)); #>
