[*.cs]

# CA1018: Mark attributes with AttributeUsageAttribute
dotnet_diagnostic.CA1018.severity = warning

# CA1082: Do Not Use Too Many Arguments.
dotnet_diagnostic.CW1082.severity = none

# CA1082W: Do Not Use Too Many Arguments.
dotnet_diagnostic.CW1082W.severity = none

# CA1813: Avoid unsealed attributes
dotnet_diagnostic.CA1813.severity = warning

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = warning

# IDE0002: Simplify member access.
dotnet_diagnostic.IDE0002.severity = warning

# silence build warning for folders with many files to chunk pull request

[/Rating.Testing/**]
dotnet_diagnostic.IDE0002.severity = silent

[/Rating.DataTransfer/**]
dotnet_diagnostic.IDE0002.severity = silent

[/Rating.DataTransfer.Test/**]
dotnet_diagnostic.IDE0002.severity = silent

[/Rating.Integration/**]
dotnet_diagnostic.IDE0002.severity = silent

[/Rating.Module/**]
dotnet_diagnostic.IDE0002.severity = silent

[/Rating.Module.Test/**]
dotnet_diagnostic.IDE0002.severity = silent

[/Rateable/**]
dotnet_diagnostic.IDE0002.severity = silent

[/Rateable.Test/**]
dotnet_diagnostic.IDE0002.severity = silent

[/Web/**]
dotnet_diagnostic.IDE0002.severity = silent

[/Business/**]
dotnet_diagnostic.IDE0002.severity = silent

[/Business.Test/**]
dotnet_diagnostic.IDE0002.severity = silent

[/GUI/**]
dotnet_diagnostic.IDE0002.severity = silent

[/GUI.Test/**]
dotnet_diagnostic.IDE0002.severity = silent
