<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="KafkaAppender" type="CargoWise.eHub.Gateway.KafkaAppender">
    <KafkaOptions>
      <brokers value="106-cluster-kafka-q0-au2-brokers.kafka.wtg.ws:8044,107-cluster-kafka-q0-au2-brokers.kafka.wtg.ws:8044" />
      <topic value="topic-au2-test-ehubgateway-logs-test" />
      <SaslUsername value="saslusername" />
      <SecurityProtocol value="3" />
      <SaslMechanism value="1" />
      <acks value="0" />
    </KafkaOptions>
    <threshold value="INFO" />
  </appender>

  <root>
    <level value="INFO" />
    <appender-ref ref="KafkaAppender" />
  </root>
</log4net>

