<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<system.net>
		<defaultProxy xdt:Transform="Remove"/>
	</system.net>

	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="NZGatewayBinding">
					<httpsTransport xdt:Transform="Remove" />
					<tcpTransport manualAddressing="false" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576000" connectionBufferSize="1048576"
				 hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:00:05"
				 maxBufferSize="1048576000" maxPendingConnections="200" maxOutputDelay="00:00:00.2000000"
				 maxPendingAccepts="200" transferMode="Buffered" listenBacklog="200"
				 portSharingEnabled="false" teredoEnabled="false" xdt:Transform="Insert">
						<connectionPoolSettings groupName="default" leaseTimeout="00:05:00" idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="200" />
					</tcpTransport>
				</binding>
			</customBinding>
		</bindings>

		<behaviors>
			<endpointBehaviors>
				<behavior name="jbms_credentials_behavior">
					<clientCredentialsExtension>
						<!-- b2b.tsw.message.sig.cargowise -->
						<clientCertificate findValue="29b208cf06b7c37dfea11184bc3eb002a87ff65d" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" xdt:Transform="Replace" xdt:Locator="XPath(//*[local-name()='clientCertificate'])"/>
						<!-- b2b.tsw.mutual.ssl.cargowise.net -->
						<transportCertificate findValue="bf07985066a9facd4250f3cb517c00d519ba4f27" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" xdt:Transform="Replace" xdt:Locator="XPath(//*[local-name()='transportCertificate'])"/>
						<!--Subject: b2b.tsw.message.sig.cargowise-->
						<serviceCertificate>
							<defaultCertificate findValue="7894509bf23730bd9183c9a89c75f13a2311b0ba" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint" xdt:Transform="Replace" xdt:Locator="XPath(//*[local-name()='defaultCertificate'])"/>
						</serviceCertificate>
					</clientCredentialsExtension>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<client>
			<endpoint address="https://b2b.tsw.govt.nz/soap?service=TSW_WS_SUBMIT_LODGEMENT&amp;TP=CARGOWISE"
			  binding="customBinding"
			  bindingConfiguration="jbms_swa_binding"
			  behaviorConfiguration="jbms_credentials_behavior"
			  contract="SubmitLodgement_v2"
			  name="SubmitLodgement"  xdt:Transform="Replace" xdt:Locator="Match(name)">
				<identity>
					<dns value="b2b.tsw.message.sig.customs.govt.nz"/>
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>