[*.cs]

# CA1018: Mark attributes with AttributeUsageAttribute
dotnet_diagnostic.CA1018.severity = warning

# CA1082: Do Not Use Too Many Arguments.
dotnet_diagnostic.CW1082.severity = none

# CA1082W: Do Not Use Too Many Arguments.
dotnet_diagnostic.CW1082W.severity = none

# CA1813: Avoid unsealed attributes
dotnet_diagnostic.CA1813.severity = warning

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = warning

# WTG3004: Prefer Array.Empty over new array construction
dotnet_diagnostic.WTG3004.severity = warning

# WTG3006: Prefer nameof over calling ToString on an enum
dotnet_diagnostic.WTG3006.severity = warning
