# top-most editorconfig file
root = true

# General Whitespace Settings
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

indent_style = tab

# C# Code files
[*.cs]

# CA1018: Mark attributes with AttributeUsageAttribute
dotnet_diagnostic.CA1018.severity = warning

# Mark attributes with AttributeUsageAttribute
dotnet_diagnostic.CA1020.severity = warning

# Static holder types should be Static or NotInheritable
dotnet_diagnostic.CA1052.severity = warning

# Do not declare event fields as virtual
dotnet_diagnostic.CA1300.severity = warning
dotnet_diagnostic.CA1302.severity = warning

# Specify IFormatProvider
dotnet_diagnostic.CA1306.severity = warning

# Avoid excessive complexity
dotnet_diagnostic.CA1504.severity = warning

# Use nameof in place of string.
dotnet_diagnostic.CA1507.severity = warning

# Do not name enum values 'Reserved'
dotnet_diagnostic.CA1701.severity = warning

# Only FlagsAttribute enums should have plural names
dotnet_diagnostic.CA1719.severity = warning

# Property names should not match get methods
dotnet_diagnostic.CA1722.severity = warning

# Parameter names should match base declaration
dotnet_diagnostic.CA1726.severity = warning
dotnet_diagnostic.CA1800.severity = warning

# Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = warning

# Initialize reference type static fields inline
dotnet_diagnostic.CA1810.severity = warning

# CA1813: Avoid unsealed attributes
dotnet_diagnostic.CA1813.severity = warning

# Test for empty strings using string length
dotnet_diagnostic.CA1820.severity = warning

# Do not use Count/LongCount when Any can be used
dotnet_diagnostic.CA1827.severity = warning

# Use Length/Count property instead of Enumerable.Count method
dotnet_diagnostic.CA1829.severity = warning

# Specify marshaling for P/Invoke string arguments
dotnet_diagnostic.CA2103.severity = warning
dotnet_diagnostic.CA2107.severity = warning

# Review visible event handlers
dotnet_diagnostic.CA2118.severity = warning

# Seal methods that satisfy private interfaces
dotnet_diagnostic.CA2151.severity = warning

# Rethrow to preserve stack details.
dotnet_diagnostic.CA2200.severity = warning

# 'ThreadStatic' only affects static fields
dotnet_diagnostic.CA2259.severity = error

# P/Invoke declarations should not be safe critical
dotnet_diagnostic.CA5122.severity = warning

# IDE0001: Simplify name.
dotnet_diagnostic.IDE0001.severity = warning

# IDE0004: Remove unnecessary cast.
dotnet_diagnostic.IDE0004.severity = warning

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = warning

# IDE0029: Null check can be simplified (ternary conditional check).
dotnet_diagnostic.IDE0029.severity = warning

# IDE0030: Null check can be simplified (nullable ternary conditional check).
dotnet_diagnostic.IDE0030.severity = warning

# IDE0035: Remove unreachable code.
dotnet_diagnostic.IDE0035.severity = warning

# IDE0044: Add readonly modifier.
dotnet_diagnostic.IDE0044.severity = warning

# IDE0051: Remove unused private member.
dotnet_diagnostic.IDE0051.severity = warning

# IDE0052: Remove unread private member.
dotnet_diagnostic.IDE0052.severity = warning

# IDE0082: Convert typeof to nameof.
dotnet_diagnostic.IDE0082.severity = warning

# IDE0100: Remove unnecessary equality operator.
dotnet_diagnostic.IDE0100.severity = warning

# IDE0120: Simplify LINQ expression.
dotnet_diagnostic.IDE0120.severity = warning

# IDE0170: Simplify property pattern.
dotnet_diagnostic.IDE0170.severity = warning

# IDE0270: Null check can be simplified (if null check).
dotnet_diagnostic.IDE0270.severity = warning

# IDE0280: Use 'nameof'.
dotnet_diagnostic.IDE0280.severity = warning

### NUnit Analyzers
dotnet_diagnostic.NUnit1001.severity = error
dotnet_diagnostic.NUnit1002.severity = error
dotnet_diagnostic.NUnit1003.severity = error
dotnet_diagnostic.NUnit1004.severity = error
dotnet_diagnostic.NUnit1005.severity = error
dotnet_diagnostic.NUnit1006.severity = error
dotnet_diagnostic.NUnit1007.severity = error
dotnet_diagnostic.NUnit1008.severity = error
dotnet_diagnostic.NUnit1009.severity = error
dotnet_diagnostic.NUnit1010.severity = error
dotnet_diagnostic.NUnit1011.severity = error
dotnet_diagnostic.NUnit1012.severity = error
dotnet_diagnostic.NUnit1013.severity = error
dotnet_diagnostic.NUnit1014.severity = error
dotnet_diagnostic.NUnit1015.severity = error
dotnet_diagnostic.NUnit1016.severity = error
dotnet_diagnostic.NUnit1017.severity = error
dotnet_diagnostic.NUnit1018.severity = error
dotnet_diagnostic.NUnit1019.severity = error
dotnet_diagnostic.NUnit1020.severity = error
dotnet_diagnostic.NUnit1021.severity = error
dotnet_diagnostic.NUnit1022.severity = error
dotnet_diagnostic.NUnit1023.severity = error
dotnet_diagnostic.NUnit1024.severity = error
dotnet_diagnostic.NUnit1025.severity = error
dotnet_diagnostic.NUnit1026.severity = error
dotnet_diagnostic.NUnit1027.severity = error
dotnet_diagnostic.NUnit1028.severity = error
dotnet_diagnostic.NUnit2001.severity = error
dotnet_diagnostic.NUnit2002.severity = error
dotnet_diagnostic.NUnit2003.severity = error
dotnet_diagnostic.NUnit2004.severity = error
dotnet_diagnostic.NUnit2005.severity = error
dotnet_diagnostic.NUnit2006.severity = error
dotnet_diagnostic.NUnit2007.severity = error
dotnet_diagnostic.NUnit2008.severity = error
dotnet_diagnostic.NUnit2009.severity = error
dotnet_diagnostic.NUnit2010.severity = error
dotnet_diagnostic.NUnit2011.severity = error
dotnet_diagnostic.NUnit2012.severity = error
dotnet_diagnostic.NUnit2013.severity = error
dotnet_diagnostic.NUnit2014.severity = error
dotnet_diagnostic.NUnit2015.severity = error
dotnet_diagnostic.NUnit2016.severity = error
dotnet_diagnostic.NUnit2017.severity = error
dotnet_diagnostic.NUnit2018.severity = error
dotnet_diagnostic.NUnit2019.severity = error
dotnet_diagnostic.NUnit2020.severity = error
dotnet_diagnostic.NUnit2021.severity = error
dotnet_diagnostic.NUnit2022.severity = error
dotnet_diagnostic.NUnit2023.severity = error
dotnet_diagnostic.NUnit2024.severity = error
dotnet_diagnostic.NUnit2025.severity = error
dotnet_diagnostic.NUnit2026.severity = error
dotnet_diagnostic.NUnit2027.severity = error
dotnet_diagnostic.NUnit2028.severity = error
dotnet_diagnostic.NUnit2029.severity = error
dotnet_diagnostic.NUnit2030.severity = error
dotnet_diagnostic.NUnit2031.severity = error
dotnet_diagnostic.NUnit2032.severity = error
dotnet_diagnostic.NUnit2033.severity = error
dotnet_diagnostic.NUnit2034.severity = error
dotnet_diagnostic.NUnit2035.severity = error
dotnet_diagnostic.NUnit2036.severity = error
dotnet_diagnostic.NUnit2037.severity = error
dotnet_diagnostic.NUnit2038.severity = error
dotnet_diagnostic.NUnit2039.severity = error
dotnet_diagnostic.NUnit2040.severity = error
dotnet_diagnostic.NUnit2041.severity = error

### WTG Analyzers

# DoNotUseThePrivateKeyword
dotnet_diagnostic.WTG1001.severity = error

# IndentWithTabsRatherThanSpaces
dotnet_diagnostic.WTG1004.severity = error

# DoNotCompareBoolToAConstantValue
dotnet_diagnostic.WTG1007.severity = error

# DoNotCompareBoolToAConstantValueInAnExpression
dotnet_diagnostic.WTG1008.severity = error

# DoNotConfigureAwaitFromAsyncVoid
dotnet_diagnostic.WTG2001.severity = error

# UseCorrectEmitOverload
dotnet_diagnostic.WTG2005.severity = warning

# ForbidCompiledInStaticRegexMethods
dotnet_diagnostic.WTG2006.severity = error

# ForbidCustomHttpReasonPhraseValues
dotnet_diagnostic.WTG2007.severity = error

# PreferArrayEmptyOverNewArrayConstruction
dotnet_diagnostic.WTG3004.severity = warning

# DontCallToStringOnAString
dotnet_diagnostic.WTG3005.severity = error

# PreferNameofOverCallingToStringOnAnEnum
dotnet_diagnostic.WTG3006.severity = warning

# AvoidBoolLiteralsInLargerBoolExpressions
dotnet_diagnostic.WTG3012.severity = error

# UsingEnumerableExtensionMethodsOnAQueryable
dotnet_diagnostic.WTG4001.severity = error

### New Lines
csharp_new_line_before_else = true:warning
csharp_new_line_before_catch = true:warning
csharp_new_line_before_finally = true:warning

### Indentation
csharp_indent_case_contents = true:warning
csharp_indent_switch_labels = true:warning

### Prefer modern language features when available
dotnet_style_explicit_tuple_names = true:warning
