# Description: All Rules with default severity. Rules with IsEnabledByDefault = false are disabled.

# Code files
#[*.{cs,vb}]

[*.cs]

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = warning