<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="FailedToDeliverMessageFolder" value="C:\eServices\NZCustomsPullWindowsServiceTest2\FailedToDeliverMessages\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="CargowisePartnerID" value="CARGOWISE2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="jbms_credentials_behavior">
					<clientCredentialsExtension>
						<!-- extb2b.tsw.message.sig.cargowise -->
						<clientCertificate findValue="3ca842c237a469c710a4a47b55774f30716cc8de" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" xdt:Transform="Replace"/>
						<!-- extb2b.tsw.mutual.ssl.cargowise.net -->
						<transportCertificate findValue="644e219bb837a135b522a8b2f2b554a27bcb5796" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" xdt:Transform="Replace"/>
						<serviceCertificate>
							<!-- extb2b.tsw.message.sig.customs.govt.nz -->
							<defaultCertificate findValue="97ec86ad31c45a15356a17e924520a4f3097a834" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint" xdt:Transform="Replace"/>
							<authentication certificateValidationMode="None" trustedStoreLocation="LocalMachine" revocationMode="NoCheck" xdt:Transform="Replace"/>
						</serviceCertificate>
					</clientCredentialsExtension>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<client>
			<endpoint address="net.tcp://biztalk.wisecloud.zone:11810/NZCustomsReplyServiceTest/NZCustomsReply.svc" binding="customBinding" bindingConfiguration="NZCustomsReply" contract="CargoWise.eHub.Products.NZCustoms.Common.INZCustomsReply" name="NZCustomsReplyService" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)"/>
			<endpoint address="https://extb2b.customs.govt.nz/soap?service=TSW_WS_REQUEST_LODGE_RESPONSE&amp;TP=CARGOWISE2" binding="customBinding" bindingConfiguration="jbms_swa_binding" behaviorConfiguration="jbms_credentials_behavior" contract="RequestLodgeResponse_v1" name="RequestLodgeResponse" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)">
				<identity>
					<dns value="extb2b.tsw.message.sig.customs.govt.nz" xdt:Transform="Replace"/>
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>
