<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DisableSSLCertificateValidation" value="true"/>
    <add key="CACustomsEndPoint_Get" value="http://productionurl.prod/CigWasPr/CigWas.CigWasGet0" />
    <add key="CACustomsEndPoint_Put" value="http://productionurl.prod/CigWasPr/CigWas.CigWasPut0" />
  </appSettings>
    <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEncryptDecryptService" maxReceivedMessageSize="104857600" maxBufferSize="104857600" openTimeout="1" closeTimeout="1" sendTimeout="5" receiveTimeout="5">
	        <readerQuotas maxDepth="32" maxStringContentLength="104857600" maxArrayLength="1638400" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="SendToBiztalk" closeTimeout="00:02:00" openTimeout="00:02:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <binaryMessageEncoding maxReadPoolSize="1024" maxWritePoolSize="1024"
            maxSessionSize="2048">
            <readerQuotas maxDepth="1048576" maxStringContentLength="1048576"
              maxArrayLength="104857600" maxBytesPerRead="1048576" maxNameTableCharCount="1048576" />
          </binaryMessageEncoding>
          <tcpTransport manualAddressing="false" maxBufferPoolSize="1048576"
            maxReceivedMessageSize="1048576000" connectionBufferSize="1048576"
            hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:00:05"
            maxBufferSize="104857600" maxPendingConnections="50" maxOutputDelay="00:00:00.2000000"
            maxPendingAccepts="50" transferMode="Streamed" listenBacklog="50"
            portSharingEnabled="false" teredoEnabled="false">
            <connectionPoolSettings groupName="default" leaseTimeout="00:05:00"
              idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="50" />
          </tcpTransport>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificate">
          <clientCredentials>
            <clientCertificate findValue="canadiancustoms.client.cargowise.com" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
	    <endpoint address="https://ehub-ausyd-test.cargowise.net/CanadianEncryptionService/EncryptDecryptService.svc" behaviorConfiguration="ClientCertificate" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEncryptDecryptService" contract="CanadianEncryptionService.IEncryptDecryptService" name="BasicHttpBinding_IEncryptDecryptService_Main" />
	    <endpoint address="https://ehub-ausyd-test.cargowise.net/CanadianEncryptionService/EncryptDecryptService.svc" behaviorConfiguration="ClientCertificate" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEncryptDecryptService" contract="CanadianEncryptionService.IEncryptDecryptService" name="BasicHttpBinding_IEncryptDecryptService_FallBack" />
			<endpoint address="net.tcp://syd-thub-1:11836/SendToBiztalk/Send.svc" binding="customBinding" bindingConfiguration="SendToBiztalk" contract="CargoWise.eHub.Products.CACustoms.Common.ISendCanadianCustomsMdn" name="SendMdnToBiztalkService" />
			<endpoint address="net.tcp://syd-thub-1:11835/SendToBiztalk/Send.svc" binding="customBinding" bindingConfiguration="SendToBiztalk" contract="CargoWise.eHub.Products.CACustoms.Common.ISendCanadianCustomsReply" name="SendToBiztalkService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.13.3.0" newVersion="3.13.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

