[*.cs]

### CargoWise Analyzers

# DoNotUseCachedValue rule
dotnet_diagnostic.CW1123.severity = error

# DoNotUseCachedProperty rule
dotnet_diagnostic.CW1124.severity = error

# sealed non-abstract testCases rule
dotnet_diagnostic.CW1134.severity = error

### StyleCop Analyzers
dotnet_diagnostic.SA1306.severity = error
