<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">
<head>
  <link href="../../../../eHubAdmin/Content/bootstrap-theme.css" rel="stylesheet">
  <link href="../../../../eHubAdmin/Content/bootstrap-toggle.min.css" rel="stylesheet">
  <link href="../../../../eHubAdmin/Content/awesome-bootstrap-checkbox.css" rel="stylesheet">
  <link href="../../../../eHubAdmin/Content/site.css" rel="stylesheet">
  <link href="../../../../eHubAdmin/Content/themes/base/core.css" rel="stylesheet">
  <link href="../../../../eHubAdmin/Content/themes/base/resizable.css" rel="stylesheet">
  <link href="../../../../eHubAdmin/Content/themes/base/selectable.css" rel="stylesheet">
  <link href="../../../../eHubAdmin/Content/themes/base/accordion.css" rel="stylesheet">
  <link href="../../../../eHubAdmin/Content/themes/base/autocomplete.css" rel="stylesheet">
  <link href="../../../../eHubAdmin/Content/themes/base/button.css" rel="stylesheet">
  <link href="../../../../eHubAdmin/Content/themes/base/dialog.css" rel="stylesheet">
  <link href="../../../../eHubAdmin/Content/themes/base/slider.css" rel="stylesheet">
  <link href="../../../../eHubAdmin/Content/themes/base/tabs.css" rel="stylesheet">
  <link href="../../../../eHubAdmin/Content/themes/base/datepicker.css" rel="stylesheet">
  <link href="../../../../eHubAdmin/Content/themes/base/progressbar.css" rel="stylesheet">
  <link href="../../../../eHubAdmin/Content/themes/base/theme.css" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="">
  <div class="panel panel-default" id="inbox-message">
    <div class="panel-heading">Inbox Message</div>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <th>Inbox Insert</th>
            <th>Sender</th>
            <th>Recipient</th>
            <th>FileName/Subject</th>
            <th>Status (Desc)</th>
            <th>Raw</th>
            <th>XML</th>
            <th>IDs</th>
          </tr>
          <tr>
            <td class="received-local-time">[PLACEHOLDER]</td>
            <td>
              T_____E2E                <span class="more-info glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Category: WiseTech&#10;System: eHub&#10;" title="" data-original-title="T_____E2E"></span>
            </td>
            <td>
              T_____E2E                <span class="more-info glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Category: WiseTech&#10;System: eHub&#10;" title="" data-original-title="T_____E2E"></span>
            </td>

            <td>
            </td>
            <td>3 - (Archived)</td>
            <td style="white-space: nowrap">
              <span>334 B</span>
              <span tabindex="0" class="glyphicon glyphicon-search blue-glyph action-glyph preview-click" data-placement="left" preview-id="InboxRaw" archive-pk="9134b76a-233a-4e8d-9482-54afe0f7a5d9" data-toggle="popover" data-trigger="focus" data-content="Retrieving, please wait..." title="" data-original-title="Preview"></span>
              <a href="#" class="view-click" onclick="viewClick('InboxRaw', '', '9134b76a-233a-4e8d-9482-54afe0f7a5d9', event)" target="_blank"> <span class="glyphicon glyphicon-eye-open blue-glyph"></span></a>
              <a href="#" class="download-click" onclick="downloadClick('InboxRaw', '', '9134b76a-233a-4e8d-9482-54afe0f7a5d9', event)"><span class="glyphicon glyphicon-save blue-glyph"></span></a>
            </td>
            <td style="white-space: nowrap">
              <span>99 B</span>
              <span tabindex="0" class="glyphicon glyphicon-search blue-glyph action-glyph preview-click" data-placement="left" preview-id="InboxXml" archive-pk="9134b76a-233a-4e8d-9482-54afe0f7a5d9" data-toggle="popover" data-trigger="focus" data-content="Retrieving, please wait..." title="" data-original-title="Preview"></span>
              <a href="../Messages/Download/InboxXml?EI_PK=&amp;AM_PK=9134b76a-233a-4e8d-9482-54afe0f7a5d9" target="_blank"><span class="glyphicon glyphicon-eye-open blue-glyph"></span></a>
              <a download="" href="../Messages/Download/InboxXml?EI_PK=&amp;AM_PK=9134b76a-233a-4e8d-9482-54afe0f7a5d9"><span class="glyphicon glyphicon-save blue-glyph"></span></a>
            </td>
            <td>
              <span tabindex="0" class="more-info glyphicon glyphicon-asterisk blue-glyph action-glyph" data-placement="left" style="font-size:15px" aria-hidden="true" data-toggle="popover" data-trigger="focus" data-content="&lt;div&gt;&lt;span&gt;AM_PK: 9134b76a-233a-4e8d-9482-54afe0f7a5d9&lt;span class=&quot;glyphicon glyphicon-copy js-copy copy-click blue-glyph action-glyph&quot; style=&quot;font-size:15px&quot; data-copy=&quot;9134b76a-233a-4e8d-9482-54afe0f7a5d9&quot; /&gt;&lt;/span&gt;&lt;/div&gt;&lt;div&gt;&lt;span&gt;MsgID: 26ce6e6e-d58e-488c-9606-c531400486d6&lt;span class=&quot;glyphicon glyphicon-copy js-copy copy-click blue-glyph action-glyph&quot; style=&quot;font-size:15px&quot; data-copy=&quot;26ce6e6e-d58e-488c-9606-c531400486d6&quot; /&gt;&lt;/span&gt;&lt;/div&gt;" title="" data-html="true" data-original-title="IDs"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
