<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms no-csstransforms3d csstransitions fontface no-generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">
<head>
  <link href="../../../../eHubAdmin/Content/bootstrap-theme.css" rel="stylesheet" />
  <link href="../../../../eHubAdmin/Content/bootstrap-toggle.min.css" rel="stylesheet" />
  <link href="../../../../eHubAdmin/Content/awesome-bootstrap-checkbox.css" rel="stylesheet" />
  <link href="../../../../eHubAdmin/Content/site.css" rel="stylesheet" />
  <link href="../../../../eHubAdmin/Content/themes/base/core.css" rel="stylesheet" />
  <link href="../../../../eHubAdmin/Content/themes/base/resizable.css" rel="stylesheet" />
  <link href="../../../../eHubAdmin/Content/themes/base/selectable.css" rel="stylesheet" />
  <link href="../../../../eHubAdmin/Content/themes/base/accordion.css" rel="stylesheet" />
  <link href="../../../../eHubAdmin/Content/themes/base/autocomplete.css" rel="stylesheet" />
  <link href="../../../../eHubAdmin/Content/themes/base/button.css" rel="stylesheet" />
  <link href="../../../../eHubAdmin/Content/themes/base/dialog.css" rel="stylesheet" />
  <link href="../../../../eHubAdmin/Content/themes/base/slider.css" rel="stylesheet" />
  <link href="../../../../eHubAdmin/Content/themes/base/tabs.css" rel="stylesheet" />
  <link href="../../../../eHubAdmin/Content/themes/base/datepicker.css" rel="stylesheet" />
  <link href="../../../../eHubAdmin/Content/themes/base/progressbar.css" rel="stylesheet">
  <link href="../../../../eHubAdmin/Content/themes/base/theme.css" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="">
  <div id="list" class="table-responsive">
    <table id="list-table" class="table">
      <tbody>
        <tr>
          <th></th>
          <th></th>
          <th class="left-border center-align" colspan="2"><font size="+1">Received in eHub Inbox</font><span class="more-info glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Message is received into the eHub’s Inbox from an external system (i.e. CW1, Third Party etc.)" title="" data-original-title="Received in eHub Inbox"></span></th>
          <th class="left-border center-align" colspan="2"><font size="+1">Sent to eHub Outbox</font><span class="more-info glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Message is processed and delivered to eHub’s Outbox, ready for an external system to receive it." title="" data-original-title="Sent to eHub Outbox"></span></th>
          <th class="left-border" colspan="5"></th>
        </tr>
        <tr>
          <th style="border-top:none">Received (UTC)</th>
          <th style="border-top:none" id="received-local-time-th">[TIMEZONE_ID]</th>
          <th class="left-border" style="border-top:none">Sender</th>
          <th style="border-top:none">Recipient</th>
          <th class="left-border" style="border-top:none">Sender</th>
          <th style="border-top:none">Recipient</th>
          <th class="left-border" style="border-top:none">Delivered</th>
          <th style="border-top:none">Code</th>
          <th style="border-top:none">Status</th>
          <th style="border-top:none"></th>
        </tr>
        <tr class="list-detail success" onclick="ExtendAccordionViewPopulate({ PK: 'dc1f0e01-6907-489b-9df8-6811b8ee370e', AM_PK: '', Ref: '637450560000000000'}, event, this)">
          <td>2021-01-01 00:00:00</td>
          <td class="received-local-time">[TRANSACTIONS_RECEIVED_LOCAL]</td>
          <td class="left-border-td">
            T_____E2E                    <span class="more-info glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Category: WiseTech&#10;System: eHub&#10;" title="" data-original-title="T_____E2E"></span>
          </td>
          <td>
            T_____E2E                        <span class="more-info glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Category: WiseTech&#10;System: eHub&#10;" title="" data-original-title="T_____E2E"></span>
          </td>

          <td class="left-border-td">
            T_____E2E
            <span class="more-info glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Category: WiseTech&#10;System: eHub&#10;" title="" data-original-title="T_____E2E"></span>
          </td>
          <td>
            T_____E2E
            <span class="more-info glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Category: WiseTech&#10;System: eHub&#10;" title="" data-original-title="T_____E2E"></span>
          </td>
          <td class="left-border-td">
            <span class="delivered-local-time">[TRANSACTIONS_DELIVERED_LOCAL]</span>
          </td>
          <td>
            XMS
            <span class="more-info glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Code Description: XML Message Service&#10;Message Type: http://cargowise.com/ehub#Monitoring" title="" data-original-title="Application Code"></span>
          </td>
          <td>
            Delivered                    <span class="more-info glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Inbox: 3 - (Delivered)&#10;Outbox: 3 - (Delivered)" title="" data-original-title="Status"></span>
          </td>
          <td id="accordionButton" style="cursor: pointer;">
            <span class="glyphicon glyphicon-chevron-down" />
          </td>
          <td id="messageDetailsTab">
            <a class="glyphicon glyphicon-align-justify" href="/Messages/Details?EI_PK=dc1f0e01-6907-489b-9df8-6811b8ee370e&amp;Ref=637450560000000000" target="_blank"> </a>
          </td>
        </tr>
        <tr class="list-detail accordion" style="display: none;">
          <td class="accordionView success" colspan="100" style="padding: 0px; max-width: 1840px;">
            <div id="list-loader-accordion" class="loader" style="background-color: rgba(255,255,255,0.7); ">
              <img class="glyphicon" height="22" width="22" src="/Content/Images/ajax-loader.gif" alt="Loading..." />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="list-footer">
    <button class="btn btn-default" type="button" onclick="LoadList(false, '2021-01-01T00:00:00.0000000')" id="load-more-btn">Load More Results</button>
    <span>  Searched up to [SEARCH_LIMIT_DATETIME]</span>
  </div>
</body>
</html>
