.button--link {
	background-color: transparent;
	color: #007bff;
	border: 0;
	text-decoration: underline;
}

.button--module-star-active {
	background-size: 12px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(/_content/CargoWise.GUI.TileBar/images/star-active.png);
	height: 16px;
	width: 16px;
	border: 0;
}

.button--star-active {
	background-image: url(/_content/CargoWise.GUI.TileBar/images/star-active.png);
	background-size: 12px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	height: 16px;
	width: 16px;
	border: 0;

	&:hover {
		background-image: url(/_content/CargoWise.GUI.TileBar/images/star-inactive.png);
	}
}

.button--star-inactive {
	background-size: 12px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(/_content/CargoWise.GUI.TileBar/images/star-inactive.png);
	opacity: 0.25;
	height: 16px;
	width: 16px;
	border: 0;

	&:hover {
		background-image: url(/_content/CargoWise.GUI.TileBar/images/star-active.png);
		opacity: 1;
	}
}
