.recentitemscontrol {
	border: 1px solid #00A8E1;
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	height: calc(100% - 2px);
	position: relative;
	top: 2px;

	.recentitemscontrol__listitem {
		display: flex;
		line-height: 1;

		.button--link:hover {
			opacity: 0.8;
		}
	}

	.recentitemscontrol__button {
		display: inline-block;
		color: black;
		cursor: pointer;
		flex-shrink: 0;

		span {
			font-size: 12px;
			white-space: nowrap;
		}
	}
}

.cwn-recent-items {
	&__title {
		color: var(--s-neutral-txt-inv-default);
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-300);
		font-style: normal;
		font-weight: var(--s-fontWeight-600);
		line-height: var(--s-lineHeight-300);
		position: relative;
	}

	&__table {
		width: 100%;
		table-layout: fixed;
		text-align: left;
	}

	&__head {
		border-bottom: 1px solid var(--s-neutral-border-weak-default);
		display: table-header-group;

		@media (max-width: 1900px) {
			display: none;
		}
	}

	&__header {
		color: var(--s-neutral-txt-weak-default);
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-200);
		font-style: normal;
		font-weight: var(--s-fontWeight-400);
		line-height: var(--s-lineHeight-200);
		padding: var(--s-padding-s);
	}

	&__icon {
		width: 30px;
		max-width: 30px;

		&--row {
			padding: var(--s-padding-s);
		}
	}

	&__id {
		width: 120px;
		max-width: 120px;

		&--row {
			padding: var(--s-padding-m) var(--s-padding-s);
			font-variant-numeric: lining-nums tabular-nums;
		}
	}

	&__name {
		width: auto;

		&--row {
			padding: var(--s-padding-m) var(--s-padding-s);
		}
	}

	&__module {
		width: 150px;
		max-width: 150px;

		&--row {
			padding: var(--s-padding-m) var(--s-padding-s);
		}
	}

	&__item {
		border-bottom: 1px solid var(--s-neutral-border-weak-default);
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-300);
		font-style: normal;
		font-weight: var(--s-fontWeight-400);
		line-height: var(--s-lineHeight-300);

		&:hover {
			background-color: var(--s-neutral-bg-weak-hover);
			border-radius: var(--s-radius-s);
		}
	}

	&__cell {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&--detailed {
			display: table-cell;

			@media (max-width: 1900px) {
				display: none;
			}
		}
	}

	&__cell--compact {
		padding-top: 5px;
		position: relative;
		display: none;

		@media (max-width: 1900px) {
			display: block;
		}
	}

	&__cell-inner {
		position: relative;
	}

	&__cell-lines {
		display: flex;
		padding-right: 26px;
		flex-direction: column;
		flex-grow: 1;
		overflow: hidden;
	}

	&__cell-line {
		display: flex;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		flex-wrap: nowrap;
	}

	&__compact-icon {
		width: 22px;
		max-width: 22px;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
	}

	&__compact-module {
		color: var(--s-neutral-txt-weak-default);
		font-variant-numeric: lining-nums tabular-nums;
		text-overflow: ellipsis;
		overflow: hidden;
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-100);
		font-style: normal;
		font-weight: var(--s-fontWeight-600);
		line-height: var(--s-lineHeight-100);
		white-space: nowrap;
	}

	&__compact-id {
		overflow: hidden;
		color: var(--s-neutral-txt-weak-default);
		font-variant-numeric: lining-nums tabular-nums;
		text-overflow: ellipsis;
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-100);
		font-style: normal;
		font-weight: var(--s-fontWeight-400);
		line-height: var(--s-lineHeight-100);
		white-space: nowrap;
		margin-left: 5px;
	}

	&__compact-name {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	&__empty {
		overflow: hidden;
		color: var(--s-neutral-txt-weak-default, #8D8C88);
		text-overflow: ellipsis;
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-300, 13px);
		font-style: normal;
		font-weight: var(--s-fontWeight-400, 400);
		line-height: var(--s-lineHeight-300, 20px);
	}
}
