.tilebarcontrol {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-family: "Segoe UI";
	font-size: 12px;
	line-height: initial;

	&__tabnavigation {
		display: flex;
		gap: 5px;
		padding: 0 5px;
		background-color: white;

		&item {
			all: unset;
			border-bottom: 2px solid #8b9093;
			padding: 0px 5px;
			color: #333;
			font-size: 14px;

			&:hover:not(.tilebarcontrol__tabnavigationitem--selected) {
				border-bottom: 2px solid var(--tile-selected-color);
				color: black;
			}

			&--selected {
				border-bottom: 4px solid var(--tile-selected-color);
				color: black;
			}
		}
	}

	&__tabcontent {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-flow: dense;
		overflow: hidden;
		gap: 5px;
		padding: 5px;
		padding-top: 0px;
		position: relative;
		overflow-x: hidden;
		overflow-y: auto;
	}

	&__section {
		grid-column-end: span 3;
		display: flex;
		flex-direction: column;
		background-color: var(--recent-panel-background-color);
		border-bottom: #8b9093 2px solid;
		min-width: 0;
		margin-right: 3px;

		&header {
			all: unset;
			background-color: white;

			& > span {
				font-size: 18px;
				color: #575A5D;
			}
		}

		&items {
			all: unset;
		}

		&item {
			display: flex;
			align-items: center;
			gap: 6px;
			padding: 1px;

			&link {
				all: unset;
				height: 20px;
				color: black;
				white-space: nowrap;
				overflow: hidden;
				flex: 1;

				&:hover {
					text-decoration: underline;
				}
			}

			&index {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 10px;
				width: 16px;
				height: 14px;
				color: var(--tile-text-color);
				background-color: var(--tile-background-color);
				border: none;
				margin-right: 11px;
				flex-shrink: 0
			}

			&favourite {
				flex-shrink: 0;
			}

			button {
				--current-cursor: pointer;
			}
		}

		&reorderingdivider {
			height: 0;

			& > img {
				max-width: 100%;
				position: relative;
				bottom: 8px;
			}

			&--hidden {
				visibility: hidden;
			}
		}
	}

	&__subcategory {
		all: unset;
		aspect-ratio: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		color: var(--tile-text-color);
		background-color: var(--tile-background-color);

		&:hover {
			background-color: var(--tile-selected-color);
		}

		&--selected {
			background-color: var(--tile-selected-color);
		}

		&letter {
			font-size: 40px;
			line-height: 1;
			font-weight: bold;
		}

		&text {
			text-align: center;
		}
	}

	&__subcategoryitems {
		grid-column-end: span 3;
		overflow-y: auto;
		overflow-x: hidden;
	}

	&__subcategorysection {
		&header {
			height: 20px;
			display: flex;
			align-items: center;
			border-bottom: 1px solid #c4c7c8;
			font-size: 14px;
			background-color: var(--group-header-background-color);
		}

		&items {
			all: unset;
			display: flex;
			flex-direction: column;
			border-top: 1px solid var(--group-header-background-color);
			border-bottom: 1px solid var(--group-header-background-color);
			padding: 3px;
		}

		&item {
			all: unset;

			&link {
				all: unset;
				color: black;

				&:hover {
					text-decoration: underline;
				}
			}

			button {
				cursor: pointer;
			}
		}
	}

	&__search {
		position: absolute;
		top: 0px;
		right: 0px;
		padding-right: 18px;

		&--active {
			position: relative;
			display: flex;
			flex-direction: column;
			grid-column-end: span 3;
			top: 0px;
			padding-right: 13px;
		}

		&bar {
			display: flex;
		}

		&input {
			width: 100%;
			height: 20px;
			border: 1px solid #C4C7C8;
			margin: 1px;

			&:hover {
				border-color: #7EB4EA;
				cursor: text;
			}

			&:focus {
				border-color: #569DE5;
			}
		}

		&button {
			all: unset;
			opacity: 0.7;
			margin: 1px;
			height: 20px;

			&image {
				height: 20px;
				opacity: 0.5;
			}

			&:hover {
				background-color: #CEEBFB;
			}
		}

		&hint {
			opacity: 0.5;
			font-size: 11px;
			margin: 1px;
		}

		&results {
			grid-column-end: span 3;
			display: flex;
			flex-direction: column;
			overflow-x: hidden;
			overflow-y: auto;
			margin: 2px;
		}

		&resultsection {
			margin: 1px;
			background-color: var(--group-background-color);

			&header {
				border-bottom: 1px solid #C4C7C8;
				padding-top: 2px;
				background-color: var(--group-header-background-color);

				&text {
					font-size: 14px;
					font-weight: normal;
					color: #000000;
					opacity: 0.6;
				}
			}

			&items {
				all: unset;
				display: flex;
				flex-direction: column;
			}

			button {
				cursor: pointer;
			}
		}

		&resultitem {
			all: unset;
			color: black;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	& > .switch-button {
		display: contents;
	}
}
