<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="InboxAccessorUnprocessedMessageLimit" value="UnprocessedMessageCountLimitPerClient"/>
    <add key="CargoWise.eHub.Gateway.HealthCheck.Https.Endpoint" value="https://localhost/eHubGateway/wtg/status"/>
    <add key="CargoWise.eHub.Gateway.HealthCheck.Http.Endpoint" value="http://localhost:8080/eHubGateway/wtg/status"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="biztalk" connectionString="Data Source=localhost;Initial Catalog=BizTalkMsgBoxDb;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="master" connectionString="Data Source=localhost;Initial Catalog=master;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="masterSecondary" connectionString="Data Source=localhost;Initial Catalog=masterSecondary;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="eHubTransactions" connectionString="Data Source=localhost;Initial Catalog=eHubTransactions;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="eHubTransactionsProxy" connectionString="Data Source=localhost;Initial Catalog=eHubTransactionsProxy;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="CargoWise_eServices_Billing" connectionString="Data Source=localhost;Initial Catalog=eHubGateway.Billing.IntegrationTesting;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="AuthenticationWebService" connectionString="Data Source=localhost;Initial Catalog=AuthenticationWebService;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ediProdCache" connectionString="Data Source=localhost;Initial Catalog=ediProdCache;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ediProd" connectionString="Data Source=localhost;Initial Catalog=ediProd;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="BillingContext" connectionString="data source=(localdb)\mssqllocaldb;initial catalog=eHubGateway.Billing.IntegrationTesting;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>