<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ include file="..\..\WrapperTestGenerator.ttinclude" once="true" #>
<#@ import namespace="CargoWise.Customs.IT.MessageContracts.Declaration.Import" #>
<# GenerateWrapperTestClasses("H2", typeof(IH2Item), typeof(IH2Header), typeof(IH2Message), isImport: true); #>
