# NOTE: Requires **VS2019 16.3** or later
# http://editorconfig.org/#file-format-details
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
# https://github.com/dotnet/roslyn/pull/15020
# top-most editorconfig file
root = true

### General Whitespace Settings
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab

### Code files
[*.{cs,vb}]
## TODO:
# Use Uri instead of string in WI00841092
dotnet_diagnostic.CA1054.severity = suggestion
dotnet_diagnostic.CA1056.severity = suggestion
dotnet_diagnostic.CA2234.severity = suggestion

## Error
# Remove unnecessary using directives
dotnet_diagnostic.IDE0005.severity = error
# Indent with tabs rather than spaces
dotnet_diagnostic.WTG1004.severity = error

## Suggestion
# Normalize strings to uppercase
dotnet_diagnostic.CA1308.severity = suggestion
# Member does not access instance data and can be marked as static
dotnet_diagnostic.CA1822.severity = suggestion

## None
# Mark assemblies with ComVisibleAttribute
dotnet_diagnostic.CA1017.severity = none
# Parameters should begin on the line after the declaration, whenever the parameter span across multiple lines
dotnet_diagnostic.SA1116.severity = none
# Parameters must be on same line or seperate line
dotnet_diagnostic.SA1117.severity = none
# Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none
# Statement must not be on single line
dotnet_diagnostic.SA1501.severity = none
# Element should not be on a single line
dotnet_diagnostic.SA1502.severity = none

### XML-based project files
[*.{csproj,vcxproj,vcxproj.filters,fsproj,nativeproj,locproj,shproj,ruleset,props,targets,proj,common,tasks}]
indent_style = space
indent_size = 2
charset = utf-8-bom
insert_final_newline = false

[*.{xml,config,json}]
indent_style = space
indent_size = 2
insert_final_newline = false

[*.{yaml,py,ruleset}]
indent_style = space
indent_size = 2

[*.{fs,fsx}]
indent_style = space
indent_size = 4

### Paket Configuration files
[*.{dependencies,references]
indent_style = space
indent_size = 4

[*.cshtml]
indent_style = space
indent_size = 4
