<div class="flex-shrink-0 p-3 bg-white">
    <div class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <span class="fs-5 fw-semibold">Protocols</span>
    </div>
    <div class="input-group input-group-sm mb-2">
      <input type="text" class="form-control full-width" placeholder="Search" aria-label="Search" aria-describedby="search-addon" [(ngModel)]="searchText"/>
      <button class="btn btn-primary" type="button" (click)="toggleProtocol('false')">
        Expand
      </button>
      <button class="btn btn-primary" type="button" (click)="toggleProtocol('true')">
        Collapse
      </button>
    </div>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#rest-collapse" aria-expanded="true">
          REST
        </button>
        <div class="collapse show" id="rest-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li *ngFor="let restEndpoint of restEndpoints | nameFilter: searchText">
              <a class="btn btn-outline-info btn-sm float-right fa fa-envelope" title="Message Box" [routerLink]="['/messages', restEndpoint.messageBoxPath]"></a>
              <a [routerLink]="['/info', restEndpoint.indexPath]">{{restEndpoint.name}}</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#soap-collapse" aria-expanded="true">
          SOAP
        </button>
        <div class="collapse show" id="soap-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li *ngFor="let soapEndpoint of soapEndpoints | nameFilter: searchText">
              <a class="btn btn-outline-info btn-sm float-right fa fa-envelope" title="Message Box" [routerLink]="['/messages', soapEndpoint.messageBoxPath]"></a>
              <a [routerLink]="['/info', soapEndpoint.indexPath]">{{soapEndpoint.name}}</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#wcf-collapse" aria-expanded="true">
          WCF
        </button>
        <div class="collapse show" id="wcf-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li *ngFor="let wcfEndpoint of wcfEndpoints | nameFilter: searchText">
              <a class="btn btn-outline-info btn-sm float-right fa fa-envelope" title="Message Box" [routerLink]="['/messages', wcfEndpoint.messageBoxPath]"></a>
              <a [routerLink]="['/info', wcfEndpoint.indexPath]">{{wcfEndpoint.name}}</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ftp-collapse" aria-expanded="true">
          FTP
        </button>
        <div class="collapse show" id="ftp-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li *ngFor="let ftpEndpoint of ftpEndpoints | nameFilter: searchText">
              <a class="btn btn-outline-info btn-sm float-right fa fa-envelope" title="Message Box" [routerLink]="['/messages', ftpEndpoint.messageBoxPath]"></a>
              <a [routerLink]="['/info', ftpEndpoint.indexPath]">{{ftpEndpoint.name}}</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sftp-collapse" aria-expanded="true">
          SFTP
        </button>
        <div class="collapse show" id="sftp-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li *ngFor="let sftpEndpoint of sftpEndpoints | nameFilter: searchText">
              <a class="btn btn-outline-info btn-sm float-right fa fa-envelope" title="Message Box" [routerLink]="['/messages', sftpEndpoint.messageBoxPath]"></a>
              <a [routerLink]="['/info', sftpEndpoint.indexPath]">{{sftpEndpoint.name}}</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pop3-collapse" aria-expanded="true">
          POP3
        </button>
        <div class="collapse show" id="pop3-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li *ngFor="let pop3Endpoint of pop3Endpoints | nameFilter: searchText">
              <a class="btn btn-outline-info btn-sm float-right fa fa-envelope" title="Message Box" [routerLink]="['/messages', pop3Endpoint.messageBoxPath]"></a>
              <a [routerLink]="['/info', pop3Endpoint.indexPath]">{{pop3Endpoint.name}}</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#smtp-collapse" aria-expanded="true">
          SMTP
        </button>
        <div class="collapse show" id="smtp-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li *ngFor="let smtpEndpoint of smtpEndpoints | nameFilter: searchText">
              <a class="btn btn-outline-info btn-sm float-right fa fa-envelope" title="Message Box" [routerLink]="['/messages', smtpEndpoint.messageBoxPath]"></a>
              <a [routerLink]="['/info', smtpEndpoint.indexPath]">{{smtpEndpoint.name}}</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#system-collapse" aria-expanded="true">
          SYSTEM
        </button>
        <div class="collapse show" id="system-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li *ngFor="let systemEndpoint of systemEndpoints | nameFilter: searchText">
              <a class="btn btn-outline-info btn-sm float-right fa fa-envelope" title="Message Box" [routerLink]="['/messages', systemEndpoint.messageBoxPath]"></a>
              <a [routerLink]="['/info', systemEndpoint.indexPath]">{{systemEndpoint.name}}</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>