:root {
  --color-active-border: #B4B4B4FF;
  --color-active-caption: #99B4D1FF;
  --color-active-caption-text: #000000FF;
  --color-app-workspace: #ABABABFF;
  --color-button-face: #F0F0F0FF;
  --color-button-highlight: #FFFFFFFF;
  --color-button-shadow: #A0A0A0FF;
  --color-control: #F0F0F0FF;
  --color-control-dark: #A0A0A0FF;
  --color-control-dark-dark: #696969FF;
  --color-control-light: #E3E3E3FF;
  --color-control-light-light: #FFFFFFFF;
  --color-control-text: #000000FF;
  --color-desktop: #000000FF;
  --color-gradient-active-caption: #B9D1EAFF;
  --color-gradient-inactive-caption: #D7E4F2FF;
  --color-gray-text: #6D6D6DFF;
  --color-highlight: #0078D7FF;
  --color-highlight-text: #FFFFFFFF;
  --color-hot-track: #0066CCFF;
  --color-inactive-border: #F4F7FCFF;
  --color-inactive-caption: #BFCDDBFF;
  --color-inactive-caption-text: #000000FF;
  --color-info: #FFFFE1FF;
  --color-info-text: #000000FF;
  --color-menu: #F0F0F0FF;
  --color-menu-bar: #F0F0F0FF;
  --color-menu-highlight: #3399FFFF;
  --color-menu-text: #000000FF;
  --color-scroll-bar: #C8C8C8FF;
  --color-window: #FFFFFFFF;
  --color-window-frame: #646464FF;
  --color-window-text: #000000FF;
}

.collapsible-panel__button {
  padding: 0;
  border: none;
  background: none;
  float: left;
}
.collapsible-panel__label {
  float: left;
  padding-left: 1px;
}
.collapsible-panel__label--vertical {
  padding-left: 2px;
  writing-mode: vertical-lr;
  text-orientation: sideways;
}
.collapsible-panel__inner {
  position: absolute;
}
.collapsible-panel__inner--vertical {
  top: 16px;
}
.collapsible-panel__inner--horizontal {
  top: 0px;
}

.zdropcodebox {
  box-shadow: 0 0 0 1px var(--current-background-color);
  padding-left: 0px;
  padding-bottom: 0px;
  font-size: 11px;
  color: inherit;
}
.zdropcodebox:disabled, .zdropcodebox:read-only {
  box-shadow: unset;
}

.zdropbutton {
  border: solid 1px #abadb1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.zdropbutton button {
  font-family: "Material Symbols Outlined" !important;
  padding: 0px;
  font-size: 16px !important;
  line-height: 18px !important;
  right: 0px;
  position: absolute;
  cursor: default !important;
  color: #6e6e6e;
  background-color: #fdfdfd !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-left: 1px solid #d2d2d2;
}
.zdropbutton button:not([disabled]):not(:disabled):not(.zdropbutton__button--no-hover):hover, .zdropbutton button:not([disabled]):not(:disabled):not(.zdropbutton__button--no-hover):focus {
  background-color: #e5f1fb !important;
  border-color: #3592db;
}
.zdropbutton button:not([disabled]):not(:disabled):not(.zdropbutton__button--no-hover):active {
  background-color: #cce4f7 !important;
}
.zdropbutton button:focus {
  outline: none;
}
.zdropbutton button[disabled] {
  color: #ababab;
  background-color: #cccccc !important;
  border: 1px solid #bfbfbf;
}
.zdropbutton__image {
  padding: 2.5px 2px 2.5px 2px;
  border: 0.5px solid white;
  background-color: #e1e1e1;
}
.zdropbutton__image--disabled {
  background-color: #ccc;
}

.zdropbutton--disabled {
  border-color: #abadb3;
}

.zdropbuttononly {
  font-family: "Material Symbols Outlined" !important;
  padding: 0px;
  font-size: 16px !important;
  line-height: 18px !important;
  right: 0px;
  position: absolute;
  cursor: default !important;
  color: #6e6e6e;
  background-color: #fdfdfd !important;
  z-index: 1;
  border: solid 1px #abadb1;
}
.zdropbuttononly:not([disabled]):not(:disabled):not(.zdropbutton__button--no-hover):hover, .zdropbuttononly:not([disabled]):not(:disabled):not(.zdropbutton__button--no-hover):focus {
  background-color: #e5f1fb !important;
  border-color: #3592db;
}
.zdropbuttononly:not([disabled]):not(:disabled):not(.zdropbutton__button--no-hover):active {
  background-color: #cce4f7 !important;
}
.zdropbuttononly:focus {
  outline: none;
}

button[disabled].zdropbuttononly {
  color: #7e7e7e !important;
  border: 0.5px solid #bdbdbe !important;
}

td .zdropbutton {
  border: 0px;
}
td .zdropbutton button {
  border: solid 1px #abadb1;
}

.zdropform {
  position: relative;
  z-index: 100;
  cursor: default;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #abadb1;
  background-color: #fff;
  max-width: inherit;
  max-height: inherit;
}
.zdropform table {
  padding: 0;
  width: 100%;
  color: #000;
  table-layout: fixed;
}
.zdropform table td {
  white-space: nowrap;
  border-bottom: 0;
}
.zdropform table td > div {
  text-overflow: ellipsis;
  overflow: hidden;
}
.zdropform table td:first-child {
  font-size: inherit;
  font-family: inherit;
  background: none;
  padding: 0 2px;
  border: none;
}
.zdropform table td:nth-child(2) {
  background: #e3e3e3;
  padding: 0 2px;
  border-right: 0;
}
.zdropform__item:not(.zdropform__item--unselectable):hover td:first-child {
  color: #fff;
  background-color: #78b8ea;
}
.zdropform__item:not(.zdropform__item--unselectable):hover td:nth-child(2) {
  color: #fff;
  background-color: #3290da;
}
.zdropform__item--category {
  font-size: 12px;
}
.zdropform__item--category td {
  font-weight: bold;
  position: relative;
}
.zdropform__item--category td div {
  margin-top: 9.5px;
  margin-bottom: 8.5px;
  height: 2px;
  border-top: 0.5px dotted #a0a0a0;
  border-bottom: 0.5px dotted #a0a0a0;
}
.zdropform__item--category span {
  position: absolute;
  top: 0;
  background: #fff;
  padding: 0 3px;
  left: 5px;
  line-height: 20px;
}
.zdropform__item:not(.zdropform__item--category) td div span {
  padding: 0 6px 0 0;
}
.zdropform__item:not(.zdropform__item--category) td:last-child div .description--with-code {
  padding: 0 0 0 6px;
}
.zdropform__item:not(.zdropform__item--category) td:nth-child(2) {
  border-left: 1px dotted var(--color-control-dark-dark);
}
.zdropform__item--separator {
  height: 5.7px;
}
.zdropform__item--separator td,
.zdropform__item--separator div,
.zdropform__item--separator span {
  line-height: 0 !important;
}
.zdropform__item--common {
  color: var(--color-control-dark-dark);
  padding-left: 10px;
}
.zdropform__item--active {
  color: var(--color-gray-text);
}
.zdropform__item--exclusive {
  color: blue;
  font-weight: bold;
}
.zdropform__item .selected {
  background-color: var(--color-highlight) !important;
  color: white;
}
.zdropform__item .selected__description {
  background-color: #005AB9 !important;
  color: white;
}

td .zdropform {
  top: 18px;
}

.addresstypefilter {
  position: relative;
  background-color: #f0f0f0 !important;
}
.addresstypefilter label {
  position: relative !important;
  background-color: #f0f0f0 !important;
  display: block;
  width: auto !important;
  height: 18px !important;
}
.addresstypefilter span {
  position: relative !important;
  top: 2px !important;
}
.addresstypefilter input {
  top: 2px !important;
}

div[data-type="Enterprise.ZArchitecture.GUI.ZDropEdit"]:has(> .textbox--border-fixed3d) .zdropbutton,
div[data-type="Enterprise.ZArchitecture.GUI.ZDropEditWithFixedWidth"]:has(> .textbox--border-fixed3d) .zdropbutton {
  border-right: none;
}

.fadepanel {
  background-attachment: fixed;
}
.fadepanel [style*="background-color:inherit;"] {
  background-image: inherit;
  background-size: inherit;
  background-position: inherit !important;
  background-attachment: fixed;
}

span[data-squiggle=true] {
  position: relative;
}
span[data-squiggle=true]::after {
  content: "                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  white-space: pre;
  text-decoration-line: spelling-error;
  overflow-x: clip;
  pointer-events: none;
}

.zwebbrowser {
  overflow: auto;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  padding: 6px;
  user-select: auto;
}
.zwebbrowser * {
  user-select: text;
}
.zwebbrowser a[href] {
  color: var(--color-hot-track);
}
.zwebbrowser a > h1 {
  padding-bottom: 4px;
}
.zwebbrowser p {
  margin-top: 0em;
  margin-bottom: 0em;
}
.zwebbrowser table {
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  line-height: 15.3px;
}
.zwebbrowser h1 {
  font-size: 14pt;
  margin-bottom: 0em;
  margin-top: revert;
}
.zwebbrowser h2 {
  font-size: 12pt;
}
.zwebbrowser td {
  font-size: 10pt;
  padding-left: 5px;
  padding-right: 2px;
  border-style: solid;
  border-width: 1px;
  vertical-align: top;
}
.zwebbrowser pre {
  font-family: monospace, sans-serif;
  white-space-collapse: preserve;
}