@import '../abstracts/variables';

.cwn-appbar {
	width: 100%;
	display: flex;
	z-index: var(--s-zindex-appbar);
	position: relative;
	box-sizing: border-box;
	flex-shrink: 0;
	flex-direction: column;
	transition: margin 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,width 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
	color: var(--s-txt-inv-default);
	background-color: var(--s-bg-default);

	&.cwn-appbar--fixed-top,
	&.cwn-appbar--fixed-bottom {
		position: fixed;
		right: 0;
		left: 0;

		.cwn-popover-cascading-value {
			position: fixed;
		}
	}

	&.cwn-appbar--fixed-top {
		top: 0;
	}

	&.cwn-appbar--fixed-bottom {
		bottom: 0;
	}

	.cwn-appbar__toolbar {
		height: calc(var(--s-appbar-height) - var(--s-appbar-height) / 8);
	}

	&.cwn-appbar--dense .cwn-appbar__toolbar {
		height: calc(var(--s-appbar-height) - var(--s-appbar-height) / 4);
	}
}
