.cwn-autocomplete {
	&__list {
		margin-top: 2px;
		position: absolute;
		overflow-y: auto;
		z-index: 2000;
		border: 1px solid #ccc;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
		border-radius: var(--s-radius-s, 4px);
		scroll-behavior: smooth;
	}

	&__no-results {
		padding: var(--s-padding-m, 8px);
	}
}

li.cwn-autocomplete__item:hover {
	background-color: var(--s-primary-bg-weak-hover, #ecf1ff);
}
