.cwn-avatar {
	display: inline-flex;
	overflow: hidden;
	position: relative;
	align-items: center;
	flex-shrink: 0;
	line-height: 1;
	user-select: none;
	border-radius: 50%;
	justify-content: center;
	color: var(--s-neutral-txt-inv-default);
	background-color: var(--s-neutral-bg-weak-default);

	&--small {
		width: var(--s-sizing-icon-sm);
		height: var(--s-sizing-icon-sm);
		font-size: var(--s-fontSize-200);
	}

	&--medium {
		width: var(--s-sizing-icon-md);
		height: var(--s-sizing-icon-md);
		font-size: var(--s-fontSize-400);
	}

	&--large {
		width: var(--s-sizing-icon-lg);
		height: var(--s-sizing-icon-lg);
		font-size: var(--s-fontSize-500);
	}
}

.cwn-avatar > .cwn-image {
	color: transparent;
	width: 100%;
	height: 100%;
	object-fit: cover;
	text-align: center;
}
