@import '../abstracts/variables';
@import '../abstracts/mixins';

.cwn-button {
	cursor: pointer;
	display: inline-flex;
	position: relative;
	align-items: center;
	user-select: none;
	vertical-align: middle;
	justify-content: center;

	&:disabled {
		color: var(--s-txt-disabled);
		cursor: default;
		pointer-events: none;
	}

	&__content {
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}

	&__caption {
		align-content: center;
		font-size: var(--s-fontSize-300);
		font-weight: var(--s-fontWeight-600);
		line-height: var(--s-lineHeight-300);
	}
}

.cwn-button--text {
	display: flex;
	padding: $padding-null $padding-xl;
	align-self: stretch;
	background: var(--s-bg-default);
	color: var(--s-txt-inv-default);
	border-style: none;
	font-style: normal;
	font-family: var(--s-typography-button-family);
	font-size: var(--s-typography-button-size);
	font-weight: var(--s-typography-button-weight);
	line-height: var(--s-typography-button-lineheight);
	letter-spacing: var(--s-typography-button-letterspacing);
	padding: 6px 8px;

	& .cwn-icon, & .cwn-icon:hover {
		background-color: currentColor;
	}

	&:hover,
	&:focus {
		text-decoration: underline dotted;
		text-underline-offset: 2px;
	}
}

.cwn-button--outlined {
	border: 1px solid var(--s-palette-text-primary);
	padding: 5px 15px;

	&:hover {
		background-color: var(--s-bg-default-25a);
	}

	&:focus-visible, &:active {
		background-color: var(--s-bg-weak-default);
		color: var(--s-bg-default);
	}

	&:disabled {
		border: 1px solid var(--s-palette-action-disabled-background);
	}
}

.cwn-button--filled {
	background: var(--s-bg-default);
	color: var(--s-txt-inv-default);
	border-radius: var(--s-radius-s);
	border: 1px solid var(--s-neutral-border-weak-default);

	&:disabled {
		box-shadow: none;
		background-color: var(--s-bg-disabled);
	}

	&:focus {
		text-decoration: underline dotted;
		text-underline-offset: 2px;
	}
}

.cwn-button--disable-elevation {
	box-shadow: none;

	@media(hover: hover) and (pointer: fine) {
		&:hover {
			box-shadow: none;
		}
	}

	&:active {
		box-shadow: none;
	}

	&:disabled {
		box-shadow: none;
	}
}

.cwn-button--full-width {
	@include cwn-full-width;
}
