.cwn-callout-old {
	border: none;
	box-shadow: none;
	background: var(--callout-backcolor);
	color: var(--s-neutral-txt-inv-default);
	border-radius: 6px;
	border-left: 4px solid var(--callout-bordercolor);

	&--error {
		--callout-backcolor: #fef6f9;
		--callout-bordercolor: #d50047;
	}

	&__content {
		display: flex;
		gap: 8px;
		align-items: center;
	}

	&__icon {
		background-color: var(--callout-bordercolor);
	}

	&__message {
		font-size: 11px;
	}
}

.cwn-callout {
	display: flex;
	flex-direction: row;
	gap: var(--s-spacing-m);
	padding: var(--s-padding-m);
	align-items: center;
	align-self: stretch;
	border-radius: var(--s-radius-s);
	font-size: var(--s-fontSize-200);
	line-height: var(--s-lineHeight-200);

	&--info {
		border-left: 4px solid var(--s-info-border-default);
		background-color: var(--s-info-bg-weak-default);
	}

	&--error {
		border-left: 4px solid var(--s-error-border-default);
		background: var(--s-error-bg-weak-default);
	}

	&--warning {
		border-left: 4px solid var(--s-warning-border-default);
		background: var(--s-warning-bg-weak-default);
	}

	&__title--info {
		color: var(--s-info-txt-default);
	}

	&__title--error {
		color: var(--s-error-txt-default);
	}

	&__title--warning {
		color: var(--s-warning-txt-default);
	}

	&__icon--info {
		--s-icon-default: var(--s-info-border-default);
	}

	&__icon--error {
		--s-icon-default: var(--s-error-border-default);
	}

	&__icon--warning {
		--s-icon-default: var(--s-warning-border-default);
	}
}
