@import '../abstracts/variables';

.cwn-chip {
	display: inline-flex;
	position: relative;
	align-items: center;
	user-select: none;
	vertical-align: middle;
	justify-content: center;
	font-family: var(--s-fontFamily-primary);
	font-size: var(--s-fontSize-200);
	font-style: normal;
	font-weight: var(--s-fontWeight-600);
	line-height: var(--s-lineHeight-200);
}

.cwn-chip--outlined {
	padding: var(--s-padding-xs);
	border: 1px solid var(--s-border-default);
	border-radius: var(--s-radius-s);
	color: var(--s-txt-default);
	background: var(--s-bg-weak-default);

	&__content {
		padding: 0 var(--s-padding-xs);
	}
}
