.cwn-divider {
	margin: 0;
	flex-shrink: 0;
	border-color: #d4d4d4;
	border-width: 1px;
	border-style: solid none none none;

	&--vertical {
		border-style: none solid none none;
		height: 100%;
	}

	&--inset {
		margin-left: 72px;
		margin-inline-start: 72px;
		margin-inline-end: unset;
	}

	&--middle {
		margin-left: 16px;
		margin-right: 16px;
	}

	&--full-width {
		flex-grow: 1;
		width: 100%;
	}
}
