.cwn-dropdownlist {
	&-content {
		display: flex;
		align-items: center;

		&-key {
			width: 45px;
			border: none;
		}

		&-value {
			width: 290px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	&__button {
		border: 1px solid #000;
		border-radius: 4px;
		padding: 4px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 316px;
		height: 28px;
		font-family: var(--s-fontFamily-primary) !important;
		font-size: var(--s-fontSize-300) !important;
		font-style: normal !important;
		font-weight: var(--s-fontWeight-400) !important;
		box-shadow: 0px -1px 1px 0px var(--neutral-elevation-100-inner, rgba(27, 27, 26, 0.12)) inset, 0px 1px 1px 0px var(--neutral-elevation-100-drop, rgba(27, 27, 26, 0.06));
		appearance: none;
		background: url(_content/CargoWiseNext.Blazor.Components/images/caret-switch.svg) no-repeat right;
	}

	&__menu {
		display: block;
		position: fixed;
		border: 1px solid #ccc;
		background-color: white;
		width: 316px;
		padding: 2px;
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
		z-index: 100;
		max-height: 25%;
		overflow-y: auto;
		overflow-x: hidden;

		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-track {
			background: var(--s-theme-bg-default, var(--s-neutral-bg-default));
		}

		&::-webkit-scrollbar-button {
			display: none;
		}

		&::-webkit-scrollbar-corner {
			display: none;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--s-natural-scrollbar-default, #e5e5e5);
			border-radius: 28px;
		}

		&::-webkit-scrollbar-thumb:hover {
			background-color: var(--s-natural-scrollbar-hover, #b2b2b2);
		}

		&--hidden {
			visibility: hidden;
		}
	}

	&__option {
		background: none;
		border: none;
		padding: 2px;
		width: 100%;
		display: block;
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-300);
		font-style: normal;
		font-weight: var(--s-fontWeight-400);
		border: 1px var(--s-neutral-txt-inv-active) solid;

		&:hover {
			background-color: #b9d1eaff;
		}

		&--selected {
			background-color: #f0f0f0;
		}
	}

	&__selected-key {
		display: flex;
		align-items: center;
		width: 45px;
		border: none;
	}

	&__selected-value {
		display: flex;
		width: 290px;
		align-items: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
