@import
	"../abstracts/variables";

$icon-button-sizes: (
	"small": $sizing-icon-sm,
	"medium": $sizing-icon-md,
	"large": $sizing-icon-lg,
	"xlarge": $sizing-icon-xl,
	"2xlarge": $sizing-icon-2xl,
	"3xlarge": $sizing-icon-3xl,
);

.cwn-icon-button {
	padding: 0;
	color: var(--s-txt-weak-default);
	background-color: var(--s-bg-weak-default);
	border-color: var(--s-border-weak-default);

	&:hover {
		cursor: pointer;
		background-color: var(--s-bg-weak-hover);
		border-color: var(--s-border-weak-hover);
	}

	@each $key, $value in $icon-button-sizes {
		&--#{$key} {
			height: $value;
			width: $value;
		}
	}

	&--text,
	&--text:hover {
		border: none;
		background-color: transparent;
	}

	&--outlined {
		border-radius: var(--s-radius-s);
		border-width: 1px;
		border-style: solid;
	}

	&.cwn-icon {
		background-color: currentColor;
	}
}
.cwn-toggle-button {
	color: black;
	font-weight: bold;
	font-size: medium
}
