@import
	"../abstracts/variables";

$icons-path: "_content/CargoWiseNext.Blazor.Components/images/";

$icons:
	"arrow-down",
	"arrow-right",
	"arrow-up",
	"assigned",
	"cancelled",
	"delete",
	"density-relaxed",
	"density-tight",
	"drag",
	"enter",
	"esc",
	"help",
	"history",
	"menu-meatballs",
	"module",
	"pause",
	"plus",
	"ready-to-start",
	"refresh",
	"return",
	"search",
	"settings",
	"star-empty",
	"star-filled",
	"status-critical",
	"status-info",
	"status-warning",
	"suspended",
	"switch",
	"vector",
	"working";

$icon-sizes: (
	"small": $sizing-icon-sm,
	"medium": $sizing-icon-md,
	"large": $sizing-icon-lg,
	"xlarge": $sizing-icon-xl,
	"2xlarge": $sizing-icon-2xl,
	"3xlarge": $sizing-icon-3xl,
	"fill-parent": 100%,
);

.cwn-icon {
	display: inline-block;
	transition: background-image 0.3s ease;
	background-color: var(--s-icon-default);

	@each $icon in $icons {
		&--#{$icon},
		&--#{$icon}__hover:hover {
			mask-image: url($icons-path + $icon + ".svg");
			mask-repeat: no-repeat;
			mask-position: center;
		}
	}

	@each $key, $value in $icon-sizes {
		&--#{$key} {
			height: $value;
			width: $value;
			min-width: $value;
			min-height: $value;
		}
	}

	&[disabled] {
		background-color: var(--s-icon-inv-disabled);
		color: var(--s-icon-disabled);
	}
}
