.cwn-image {
	&--none {
		object-fit: none;
	}

	&--cover {
		object-fit: cover;
	}

	&--contain {
		object-fit: contain;
	}

	&--fill {
		object-fit: fill;
	}

	&--scale-down {
		object-fit: scale-down;
	}

	&--center {
		object-position: center;
	}

	&--top {
		object-position: top;
	}

	&--bottom {
		object-position: bottom;
	}

	&--left {
		object-position: left;
	}

	&--left-top {
		object-position: left top;
	}

	&--left-bottom {
		object-position: left bottom;
	}

	&--right {
		object-position: right;
	}

	&--right-top {
		object-position: right top;
	}

	&--right-bottom {
		object-position: right bottom;
	}
}
