.cwn-input {
	display: flex;
	flex-direction: row;
	padding: var(--s-padding-s);
	border-radius: var(--s-radius-s);
	border: 1px solid var(--s-neutral-border-weak-default);
	box-shadow: 0px -1px 1px 0px var(--neutral-elevation-100-inner, rgba(27, 27, 26, 0.12)) inset, 0px 1px 1px 0px var(--neutral-elevation-100-drop, rgba(27, 27, 26, 0.06));

	&__input {
		width: 100%;
		border: none;
		color: var(--s-neutral-txt-weak-default);
		font-size: var(--s-fontSize-300);
		line-height: var(--s-lineHeight-300);

		&:disabled {
			background-color: unset;
		}
	}

	&--disabled {
		background-color: var(--s-neutral-bg-disabled, #f8f8f7);
		color: var(--s-neutral-txt-disabled);
	}
}
