.cwn-layout {
	background-color: var(--s-theme-bg-default, var(--s-neutral-bg-weak-default));
	color: var(--s-neutral-txt-inv-default);
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;

	&__navbar {
		color: var(--s-neutral-txt-inv-default);
	}

	&__footer {
		background-color: var(--s-theme-bg-default, var(--s-neutral-bg-weak-default));
		color: var(--s-neutral-txt-inv-default);
	}

	&__main-content {
		flex: 1 1 auto;
	}

	&--nobg {
		background-color: transparent;
	}
}
