.cwn-list {
	width: 100%;
	list-style-type: none;
	padding: var(--s-padding-s, 4px);
}

.cwn-list-item {
	display: flex;
	padding: var(--s-padding-s);
	align-items: center;
	gap: var(--s-padding-m);
	align-self: stretch;
	border-radius: var(--s-radius-s);

	&__text {
		cursor: pointer;
		flex: 1 0 0;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		align-self: stretch;
		overflow: hidden;
		color: var(--s-neutral-txt-inv-default);
		text-overflow: ellipsis;
		font-size: var(--s-fontSize-300);
		font-style: normal;
		font-weight: var(--s-fontWeight-400);
		line-height: var(--s-lineHeight-300);
	}

	&--selected {
		background-color: var(--s-neutral-bg-weak-hover);
	}
}
