@import "../abstracts/variables";

// Sprite image path
$flags-sprite-path: "_content/CargoWiseNext.Blazor.Components/images/flags.png";

$flags: "ad", "ae", "af", "ag", "ai", "al", "am", "an", "ao", "aq", "ar", "as", "at", "au", "aw", "ax", "az", "ba", "bb", "bd", "be", "bf", "bg", "bh", "bi", "bj", "bl", "bm", "bn", "bo", "bq", "br", "bs", "bt", "bv", "bw", "by", "bz", "ca", "cc", "cd", "cf", "cg", "ch", "ci", "ck", "cl", "cm", "cn", "co", "cr", "cu", "cv", "cw", "cx", "cy", "cz", "de", "dj", "dk", "dm", "do", "dz", "ec", "ee", "eg", "eh", "er", "es-ct", "es", "et", "eu", "fi", "fj", "fk", "fm", "fo", "fr", "ga", "gb-eng", "gb-nir", "gb-sct", "gb-wls", "gb", "gd", "ge", "gf", "gg", "gh", "gi", "gl", "gm", "gn", "gp", "gq", "gr", "gs", "gt", "gu", "gw", "gy", "hk", "hm", "hn", "hr", "ht", "hu", "id", "ie", "il", "im", "in", "io", "iq", "ir", "is", "it", "je", "jm", "jo", "jp", "ke", "kg", "kh", "ki", "km", "kn", "kp", "kr", "kw", "ky", "kz", "la", "lb", "lc", "li", "lk", "lr", "ls", "lt", "lu", "lv", "ly", "ma", "mc", "md", "me", "mf", "mg", "mh", "mk", "ml", "mm", "mn", "mo", "mp", "mq", "mr", "ms", "mt", "mu", "mv", "mw", "mx", "my", "mz", "na", "nc", "ne", "nf", "ng", "ni", "nl", "no", "np", "nr", "nu", "nz", "om", "pa", "pe", "pf", "pg", "ph", "pk", "pl", "pm", "pn", "pr", "ps", "pt", "pw", "py", "qa", "re", "ro", "rs", "ru", "rw", "sa", "sb", "sc", "sd", "se", "sg", "sh", "si", "sj", "sk", "sl", "sm", "sn", "so", "sr", "ss", "st", "sv", "sx", "sy", "sz", "tc", "td", "tf", "tg", "th", "tj", "tk", "tl", "tm", "tn", "to", "tr", "tt", "tv", "tw", "tz", "ua", "ug", "um", "un", "us", "uy", "uz", "va", "vc", "ve", "vg", "vi", "vn", "vu", "wf", "ws", "xk", "ye", "yt", "za", "zm", "zw";

// Flag sprite dimensions
$flag-width: 52px;
$flag-height: 41px;

$flag-size-factors: ( small: 0.7, medium: 1, large: 1.5, xlarge: 2, 2xlarge: 2.5, 3xlarge: 3, );

.cwn-region-flag {
	display: inline-block;
	transition: background-image 0.3s ease;
	background-image: url($flags-sprite-path);
	background-repeat: no-repeat;
	border-radius: var(--s-radius-s, 4px);
	outline: 1px solid var(--s-neutral-border-weak-default, #BFBEB9);

	@each $size, $factor in $flag-size-factors {
		$width: calc($flag-width * $factor);
		$height: calc($flag-height * $factor);

		&--#{$size} {
			--s-flag-width: #{$width};
			--s-flag-height: #{$height};
		}
	}

	$i: 0;

	@each $flag in $flags {
		$i: $i + 1;

		&--#{$flag} {
			width: var(--s-flag-width, $flag-width);
			height: calc(var(--s-flag-height, $flag-height) - 1px); // 1px to adjust medium size
			background-size: var(--s-flag-width, $flag-width) auto;
			background-position: 0px calc(-1 * $i * var(--s-flag-height, $flag-height));
		}
	}
}
