.cwn-search {
	display: flex;
	flex-direction: row;
	gap: var(--s-padding-m);
	padding: var(--s-padding-s) var(--s-padding-m);
	border-radius: 8px;
	border: 1px solid var(--s-neutral-border-weak-default);
	background: var(--s-neutral-bg-default);
	align-items: center;
	width: 100%;
	max-width: 950px;

	&--input {
		width: 100%;
	}

	&--shortcut {
		display: flex;
		gap: var(--s-spacing-s);
	}
}

.cwn-search-shortcut {
	display: flex;
	height: 16px;
	width: 16px;
	padding: 2px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 2px;
	border: 1px solid rgba(191, 190, 185, 0.50);
	background: var(--s-neutral-bg-weak-default);

	span {
		color: var(--s-neutral-icon-weak-default);
		font-variant-numeric: lining-nums tabular-nums;
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-100);
		font-style: normal;
		font-weight: var(--s-fontWeight-400);
		line-height: var(--s-lineHeight-100);
	}
}
