.cwn-text-field {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	flex: 1 0 0;
	overflow: hidden;
	color: var(--s-neutral-txt-weak-default);
	text-overflow: ellipsis;
	font-family: var(--s-fontFamily-primary);
	font-size: var(--s-fontSize-300);
	font-style: normal;
	font-weight: var(--s-fontWeight-400);
	line-height: var(--s-lineHeight-300);
	border: none;

	&:focus {
		outline: none;
	}
}
