@import '../abstracts/variables';

.cwn-toolbar {
	display: flex;
	position: relative;
	align-items: center;
	--s-internal-toolbar-height: 48px;
	height: var(--s-internal-toolbar-height);
}

.cwn-toolbar--gutters {
	padding-left: 16px;
	padding-right: 16px;
}

.cwn-toolbar--dense {
	--s-internal-toolbar-height: 48px;
}

.cwn-toolbar--wrap-content {
	height: auto;
	min-height: var(--s-internal-toolbar-height);
	flex-wrap: wrap;

	&.cwn-appbar__toolbar {
		//This might need to be uppercased to be ignored by sass.
		min-height: Min(var(--s-appbar-height), var(--s-internal-toolbar-height));
	}
}
