[*.cs]

# CA1082: Do Not Use Too Many Arguments.
dotnet_diagnostic.CW1082.severity = none

# CA1082W: Do Not Use Too Many Arguments.
dotnet_diagnostic.CW1082W.severity = none

dotnet_diagnostic.WTG3002.severity = warning
dotnet_diagnostic.WTG3003.severity = error
