<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <section name="billingKafkaClientSettings" type="System.Configuration.DictionarySectionHandler"/>
    <section name="billingKafkaProducerSettings" type="System.Configuration.DictionarySectionHandler"/>
    <section name="billingKafkaConsumerSettings" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>

  <connectionStrings>
    <add name="BillingContext" connectionString="data source=localhost;initial catalog=CargoWise.eServices.Billing;integrated security=True;MultipleActiveResultSets=True;Application Name=TestBillingWebService" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="BillingKafkaTopic" value="billing-topic"/>
    <add key="BilledELKKafkaTopic" value="billed-elk-topic"/>
    <add key="UsageELKKafkaTopic" value="usage-elk-topic"/>
    <add key="NonBilledItemCodes" value="USG,USS"/>
    <add key="SendToELKBillingCategories" value="TST"/>
    <add key="NotSendToELKBillingCodes" value=""/>
    <add key="MaxRetries" value="3"/>
    <add key="RetryTimeoutInMilliseconds" value="2000"/>
    <add key="PartitionLagThreshold" value="500"/>
    <add key="ELKResubmissionBatchSize" value="1000"/>
    <add key="ELKFailedTransactionThreshold" value="100000"/>
    <add key="BillingKafkaConsumerBatchSize" value="1000"/>
    <add key="HostedServerNames" value="localhost"/>
    <add key="IssueManagerUri" value=""/>
    <add key="ThrottlingThresholdOfStaging" value="100000"/>
    <add key="CacheTimeInMinutesOfStagingCounter" value="5"/>
    <add key="MaxBillingProcessingTimeInMinutes" value="60"/>
    <add key="SkipHangfireJobReset" value ="false"/>
  </appSettings>
  <billingKafkaClientSettings>
    <add key="bootstrap.servers" value="localhost:9093"/>
    <add key="security.protocol" value="SASL_SSL"/>
    <add key="sasl.mechanism" value="PLAIN"/>
    <add key="sasl.username" value="topic-billing"/>
    <add key="sasl.password" value="MyPassword"/>
  </billingKafkaClientSettings>
  <billingKafkaProducerSettings>
    <add key="linger.ms" value="50"/>
    <add key="message.timeout.ms" value="10000"/>
  </billingKafkaProducerSettings>
  <billingKafkaConsumerSettings>
    <add key="group.id" value="eServices-billing-transactions-consumer"/>
    <add key="auto.offset.reset" value="Earliest"/>
    <add key="enable.auto.commit" value="true"/>
    <add key="auto.commit.interval.ms" value="5000"/>
    <add key="enable.auto.offset.store" value="false"/>
    <add key="enable.partition.eof" value="true"/>
  </billingKafkaConsumerSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
  </system.web>

  <system.serviceModel>

    <bindings>
      <basicHttpsBinding>
        <binding name="secure" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpsBinding>
    </bindings>

    <services>
      <service name="CargoWise.eServices.Billing.WcfService.BillingService">
        <endpoint address="" binding="basicHttpsBinding" bindingConfiguration="secure" contract="CargoWise.Billing.Service.IBillingService"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>

  </system.serviceModel>

  <system.webServer>
    <handlers>
      <add path="wtg/status" verb="*" type="CargoWise.eServices.Billing.WcfService.BillingServiceHealthCheckHttpTaskAsyncHandler" name="BillingServiceHealthCheckHttpTaskAsyncHandler"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
    <security>
      <ipSecurity allowUnlisted="false">
        <add allowed="true" ipAddress="127.0.0.1" subnetMask="255.255.255.255"/>
      </ipSecurity>
    </security>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.5.1.0" newVersion="4.0.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="Hangfire.Core" publicKeyToken="E33B67D3BB5581E4" culture="neutral"/>
		<bindingRedirect oldVersion="0.0.0.0-1.8.14.0" newVersion="1.8.14.0"/>
	  </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>

  <log4net>

  <root>
    <level value="TRACE"/>
    <appender-ref ref="ErrorsAppender"/>
    <appender-ref ref="WarningsAppender"/>
    <appender-ref ref="InfoAppender"/>
    <appender-ref ref="DebugAppender"/>
    <appender-ref ref="TraceAppender"/>
    <appender-ref ref="HangfireAppender"/>
  </root>

  <appender name="ErrorsAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/errors.txt"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Hangfire"/>
      <acceptOnMatch value="false"/>
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="CargoWise.eServices.Billing.WcfService.Hangfire.BillingDatabase"/>
      <acceptOnMatch value="false"/>
    </filter>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR"/>
      <levelMax value="ERROR"/>
    </filter>
  </appender>

  <appender name="WarningsAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/warnings.txt"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Hangfire"/>
      <acceptOnMatch value="false"/>
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="CargoWise.eServices.Billing.WcfService.Hangfire.BillingDatabase"/>
      <acceptOnMatch value="false"/>
    </filter>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN"/>
      <levelMax value="WARN"/>
    </filter>
  </appender>

  <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/info.txt"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Hangfire"/>
      <acceptOnMatch value="false"/>
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="CargoWise.eServices.Billing.WcfService.Hangfire.BillingDatabase"/>
      <acceptOnMatch value="false"/>
    </filter>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO"/>
      <levelMax value="INFO"/>
    </filter>
  </appender>

  <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/debug.txt"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Hangfire"/>
      <acceptOnMatch value="false"/>
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="CargoWise.eServices.Billing.WcfService.Hangfire.BillingDatabase"/>
      <acceptOnMatch value="false"/>
    </filter>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG"/>
      <levelMax value="DEBUG"/>
    </filter>
  </appender>

  <appender name="TraceAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/trace.txt"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Hangfire"/>
      <acceptOnMatch value="false"/>
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="CargoWise.eServices.Billing.WcfService.Hangfire.BillingDatabase"/>
      <acceptOnMatch value="false"/>
    </filter>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="TRACE"/>
      <levelMax value="TRACE"/>
    </filter>
  </appender>

  <appender name="HangfireAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/Hangfire.txt"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Hangfire"/>
      <acceptOnMatch value="true"/>
    </filter>
    <filter type="log4net.Filter.DenyAllFilter"/>
    <threshold value="DEBUG"/>
  </appender>

  <appender name="ProcessBillingDatabaseAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/ProcessBillingDatabase.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="ProcessBillingDatabaseMonthlyAggregationAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/ProcessBillingDatabaseMonthlyAggregation.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="ProcessBillingDatabaseUpdateBillingCubePartialAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/ProcessBillingDatabaseUpdateBillingCubePartial.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="BillingDatabaseSPExecutionAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/BillingDatabaseSPExecution.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
    </layout>
  </appender>

  <logger name="CargoWise.eServices.Billing.WcfService.Hangfire.BillingDatabase.BillingDatabaseProcessor.ProcessBillingDatabase">
    <level value="INFO"/>
    <appender-ref ref="ProcessBillingDatabaseAppender"/>
  </logger>

  <logger name="CargoWise.eServices.Billing.WcfService.Hangfire.BillingDatabase.BillingDatabaseProcessor.ProcessBillingDatabaseMonthlyAggregation">
    <level value="INFO"/>
    <appender-ref ref="ProcessBillingDatabaseMonthlyAggregationAppender"/>
  </logger>

  <logger name="CargoWise.eServices.Billing.WcfService.Hangfire.BillingDatabase.BillingDatabaseProcessor.ProcessBillingDatabaseUpdateBillingCubePartial">
    <level value="INFO"/>
    <appender-ref ref="ProcessBillingDatabaseUpdateBillingCubePartialAppender"/>
  </logger>

  <logger name="CargoWise.eServices.Billing.WcfService.Hangfire.BillingDatabase.BillingDatabaseSPExecution">
    <level value="INFO"/>
    <appender-ref ref="BillingDatabaseSPExecutionAppender"/>
  </logger>

  </log4net>
</configuration>
