.ncn__progressbar {
	overflow: hidden;
	bottom: 0px;
	left: 0px;
	border-radius: 4px;
	margin-right: -12px;
	width: 100%;
	position: absolute;
}

.progressbar__progress {
	height: 100%;
	width: 100%;
	background: #000000;
}
