<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Server" value="au2sp-shub-401.sand.wtg.zone"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Port" value="13000"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UserName" value="JPCustoms"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Password" value="$password$"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="log4net.Internal.Debug" value="false"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IssueManagerUri" value="http://jp2-cgw-2.cargowise.com/MockWebServiceEndpoints/IssueManager/api/reports/1"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IssueManagerKey" value="JPCustoms pull service" 
      xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.net xdt:Transform="InsertAfter(/configuration/appSettings)">
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Temp\MockWebServiceEndpoints\JPCustomsGateway" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingTransportWithMessageCredentialCertificate" 
           xdt:Transform="Replace" xdt:Locator="Match(name)">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificate"
           xdt:Transform="Replace" xdt:Locator="Match(name)">
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://mockendpoints-test.wtg.zone/messages/JPCustoms" xdt:Transform="Replace" xdt:Locator="Match(address)"/>
    </client>
  </system.serviceModel>
</configuration>