<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="AuthenticationDB" connectionString="Server=AuthenticationWebService.db.wisegrid.net;Database=AuthenticationWebService;User ID=AuthenticationService;Password=$AuthenticationDBPassword$;"
			 xdt:Transform="SetAttributes"
             xdt:Locator="Match(name)"/>
		<add name="ediProdDB" connectionString="Server=ediprod.db.wtg.zone;Database=ediprod;User Id=ediprod_CargoWiseReaderLogin;Password=$ediProdDBPassword$;"
			 xdt:Transform="SetAttributes"
             xdt:Locator="Match(name)"/>
	</connectionStrings>
</configuration>