<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ include file="DataProviderTestGenerator.ttinclude" once="true" #>
<#@ import namespace="CargoWise.Customs.AE.MessageContracts.Mirsal2" #>
<#@ import namespace="Enterprise.Customs.AE.Business" #>
<# GenerateDataProviderTestClasses("Mirsal2",
typeof(CusEntryHeader),
typeof(PartiesDetailsTypeDataProviderAbstractClass),
typeof(PersonalDetailsTypeDataProviderAbstractClass),
typeof(DeclarationDetailsTypeDataProviderAbstractClass),
typeof(TransportDocumentDetailsTypeDataProviderAbstractClass),
typeof(PackageDetailsTypeDataProviderAbstractClass),
typeof(ContainerDetailsTypeDataProviderAbstractClass),
typeof(OutboundCarrierDetailsTypeDataProviderAbstractClass),
typeof(InboundCarrierDetailsTypeDataProviderAbstractClass),
typeof(ShippingDetailsTypeDataProviderAbstractClass),
typeof(InvoiceTypeDataProviderAbstractClass),
typeof(InvoiceItemsDetailsTypeDataProviderAbstractClass),
typeof(VehicleDetailsTypeDataProviderAbstractClass));#>
