# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
# severity levels are found here: https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/configuration-options#severity-level

# C# files
[*.cs]

# configure 'SA1505:Opening braces should not be followed by blank line' to be none, by category
# this tests that the category configuration in this folder overrides the default of 'warning'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.LayoutRules.severity = none
