<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="eHubTransactions" connectionString="Server=ehubtransactions.db.wisegrid.net; Database=eHubTransactions; User ID=NudgeService; Password=$eHubTransactionsPassword$; App=Nudge Service; ApplicationIntent=ReadOnly"
             xdt:Transform="SetAttributes"
             xdt:Locator="Match(name)"/>
  </connectionStrings>
  <nudge>
    <add key="reloadSystemInterval" value="300" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </nudge>
</configuration>