.diagramareausercontrol {
	width: 100%;
	height: 100%;
	overflow: scroll;
	font-family: Tahoma;
}

.diagramnode__diagramarea {
	flex: 1;
	display: flex;
	flex-direction: column;
	isolation: isolate;
	min-width: var(--diagram-content-min-width);
	min-height: var(--diagram-content-min-height);
	z-index: 2;
}

.diagramnode__diagramarea ::deep .diagram-canvas {
	flex: 1;
	overflow: visible;
}

.diagramareausercontrol__diagramnode {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	width: fit-content;
	height: fit-content;
	overflow: clip;
	overflow-clip-margin: 10px;
}

.diagramareausercontrol__diagramnode--visualstyles {
	border-radius: 2em;
	border: black solid 2px;
	background-color: var(--diagram-background-color);
}

.diagramnode__divider {
	border: black solid 1px;
}

::deep .diagramnode__diagramname {
	color: var(--diagram-foreground-color);
	font-weight: 900;
	font-size: 20px;
	padding: 2px;
}
.diagramnode__nonscheduleddiagramname {
	color: var(--diagram-foreground-color);
	font-weight: 500;
	height: 23px;
	font-size: 20px;
	padding: 2px;
	border: none;
	resize: none;
	overflow-y: clip;
	width: 100%;
	background-color: transparent;
	line-height: 90%
}

::deep .diagramnode__diagramname::placeholder {
	font-weight: 900;
	color: black;
}

.diagramnode__diagramdetails {
	display: flex;
	margin-top: 5px;
	min-height: 15px;
}

.diagramnode__jobname {
	color: var(--diagram-foreground-color);
	font-size: 12px;
	padding-top: 1.6px;
	margin-right: 10px;
}

::deep .diagramnode__diagramnumber {
	color: var(--diagram-foreground-color);
	font-size: 12px;
	width: auto;
	max-width: 100%;
	min-width: 60px;
}

::deep .diagramnode__completioncriteria {
	color: var(--diagram-foreground-color);
	margin-top: 5px;
	font-size: 12px;
	font-style: italic;
	padding: 2px;
}

.diagramnode__header {
	padding: 15px 15px 15px 20px;
}

.diagramareausercontrol_schedulegrid {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.schedulegrid__scales {
	display: grid;
	height: 100%;
}

.schedulegrid_box {
	height: 100%;
	width: 100%;
	border-right: 1px dotted black;
	position: relative;
}

.schedulegrid_labels {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.schedulegrid_labels--frozen .schedulegrid_labels {
	position: sticky;
}

.diagramnode__content {
	display: flex;
	flex-grow: 1;
	position: relative;
}

.diagramnode__backgrounds {
	position: absolute;
	height: 100%;
	z-index: 0;
}

.background__strip {
	height: 100%;
	border-radius: 20px;
	position: absolute;
}

.diagramnode__channeldividers {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

.diagramnode__channeldividers--frozen {
	z-index: 3;
}

.diagramnode__channelheaders {
	box-sizing: border-box;
	background-color: var(--diagram-background-color);
	height: auto;
	display: flex;
	flex-direction: column;
	min-width: var(--header-column-min-width);
}

.diagramnode__channelheaders--frozen {
	position: sticky;
	z-index: 3;
	left: 0;
}

.channelheader {
	display: flex;
	justify-content: center;
	align-items: center;
}

.channelheader:last-child{
	flex-grow: 1;
}

.channelheader__label {
	writing-mode: vertical-rl;
	transform: rotate(180deg);
}

.channel__divider {
	position: absolute;
	width: 100%;
}

::deep .diagram-svg-layer, ::deep .diagram-html-layer {
	transform: scale(var(--diagram-scale)) !important;
}

.schedulegrid_timescale_label {
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	overflow: clip;
}

.timescale_label_text {
	margin-left: auto;
	white-space: pre;
}
