body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* make jQuery UI autocomplete scrollable and show loading spinner */
.ui-autocomplete {
    max-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-autocomplete-loading {
    background: url("Images/ajax-loader.gif") right center content-box no-repeat;
    background-size: contain;
}

.highlight {
    background-color: #f7f7f9;
}

.wrap {
    -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

.pre-wrap {
    white-space: pre-wrap;
    word-wrap: normal;
}

.pre-nowrap {
    word-wrap: normal;
}
.markdown {
    background-color: #f8f9fa;
    padding: 16px;
}

.markdown th,
.markdown td {
    border: 1px solid;
    padding: 0px 4px 0px 4px;
}
