/*
This file inherits all the styles from DefaultStyle.css
Please make sure that the following import link is present if you want to inherit default styles.
Any changes in fonts, colours, layout, etc. can be done via overriding CSS style elements after the import statement.

Good CSS guide is located at

http://www.htmlhelp.com/reference/css/

*/
@import url(../../DefaultStyle.css);

/* put your changes below this comment */

#topbar1 {
    background: url(images/topbg1.gif) repeat-x;
}

#topbar2 {
    background: url(images/topbg3.jpg) no-repeat top right;
}

a:hover {
    color: #00a4e4;
}

#OuterContentPane {
    padding: 10px 10px 10px 10px;
}

#menu li {
    color: #00a4e4;
}

#menu a, #menu a:visited {
    color: #000000;
}

    #menu a:hover {
        color: #FFFFFF;
        background: #005596;
    }
