# http://editorconfig.org/#file-format-details
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
# https://github.com/dotnet/roslyn/pull/15020

# Top Level editorconfig
root = true

# General Whitespace Settings
[*]

# C# Files
[*.cs]
#indent_style = tab
indent_style = space
indent_size = 2

# XML-based project files
[*.{csproj,vcxproj,vcxproj.filters,fsproj,nativeproj,locproj,shproj,ruleset,props,targets}]
indent_style = space
indent_size = 2
charset = utf-8-bom
insert_final_newline = false

[*.{xml,xsd,config,xsl}]
indent_style = space
indent_size = 2
