<form name="newMessagesForm" role="form" enctype="multipart/form-data" ng-disabled="messageBoxStatus.busy">
    <div class="form-group" [hidden]="hasFiles">
        <label for="newMessages">select and upload new messages</label>
        <input type="file" id="newMessages" class="uploadFile" accept=".txt,.xml,.edi,.edifact,.json,.action" has-files="hasFiles" (change)="handleFileInput($event)" multiple style="display: none;" />
		<button type="button" onclick="javascript:newMessages.click()">Choose Files</button>
    </div>
    <div class="form-group" [hidden]="!hasFiles">
        <input class="btn btn-primary" type="button" (click)="upload($event)" value="upload">
        <input class="btn btn-warning" type="reset" (click)="cancel()" value="cancel"/>
        <ul class="list-inline">
            <li><strong>files:</strong></li>
            <li *ngFor="let file of files"> {{file.name}}</li>
        </ul>
    </div>
</form>