# Most packages come from the public NuGet Gallery, or our mirror thereof.
source https://proget.wtg.zone/nuget/Gallery/v3/index.json

# Some packages are built internally, and are not
# available from the Gallery.
source https://proget.wtg.zone/nuget/WTG-Internal/v3/index.json

# old third party code still used in CW
source https://proget.wtg.zone/nuget/DoNotUse-Old-CargoWise-ThirdParty/v3/index.json

# This filters out extra supporting libraries from .NET Core / .NET Standard that
# we don't care about (yet).
framework: net48

# This is our list of packages.
# If you know what you're doing, manually add an entry.
# If you don't, use "dotnet paket add <package> --no-install".
# Use "dotnet paket update --no-install" to update paket.lock or "dotnet paket update <packageid> --no-install" for updating a specific package.
# Use "dotnet paket restore" to download and restore the new/updated packages.
#
# DO NOT UPDATE paket.lock BY HAND!
#
# Any pinned versions in this file MUST be annotated with a comment indicating why.
# Also include supporting info like a WI# or a url.
#

nuget Antlr4
nuget Antlr4.CodeGenerator
nuget Antlr4.Runtime
nuget AWSSDK.Core
nuget AWSSDK.S3
nuget AWSSDK.ACMPCA
nuget Azure.Core 1.38.0
nuget Azure.Identity 1.11.0
nuget CargoWise.eHub.Adapter
nuget CargoWise.eHub.Common
nuget CargoWise.eServices.Client.Encryption
nuget CargoWise.eServices.Encryption.Client.Encryptor
nuget CargoWise.eServices.Encryption.Client.Decryptor
nuget Castle.Core
nuget Dat.Integration
nuget Edifact.WTG
nuget EdifactMessageSets.WTG
nuget FluentAssertions 6.12.2 # this package is pinned. Do not change it. v8+ has an incompatible license. FluentAssertions are being removed from the code base. See: WI00855980 - Create FluentAssertions project safeguard and pin version
nuget Google.Protobuf 3.15.8
nuget HtmlAgilityPack 1.12.1
nuget InteropAssemblies.WTG
nuget Inedo.AssetDirectories
nuget Itenso.Rtf.Interpreter
nuget IPNetwork2 3.0.712 # this version works for both .Net Framework and .Net 8
nuget JsonSchema.Net
nuget LibGit2Sharp  0.27.0-preview-0182
nuget Microsoft.AspNet.SignalR.Client
nuget Microsoft.AspNet.WebApi.Cors
nuget Microsoft.AspNet.WebAPI.Client
nuget Microsoft.AspNet.WebApi.SelfHost
nuget Microsoft.AspNet.WebAPI.WebHost
nuget Microsoft.Build
nuget Microsoft.Build.Locator
nuget Microsoft.Build.Framework
nuget Microsoft.Build.Tasks.Core
nuget Microsoft.Build.Utilities.Core
nuget Microsoft.Extensions.Caching.Memory
nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.SqlServer.Management.SqlParser
nuget Microsoft.Toolkit.Forms.UI.Controls.WebView
nuget Mono.Cecil 0.11.6 # needs coordinated update in upstream repos like CargoWiseOne.ResourceStringsAnalyzer
nuget Moq 4.20.70 # released a version that exfiltrated email addresses. Pick any new version very carefully. See: https://github.com/devlooped/moq/issues/1372
nuget Newtonsoft.Json
nuget Newtonsoft.Json.Schema
nuget NRules
nuget QuickGraph
nuget SharpZipLib
nuget SpiceLogicHtmlEditor-wtg
nuget SixLabors.ImageSharp
nuget System.Collections.Immutable
nuget System.IO.Compression
nuget System.IdentityModel.Tokens.Jwt
nuget System.Memory
nuget System.Numerics.Vectors
nuget System.Reflection.MetaData
nuget System.Reflection.MetadataLoadContext
nuget System.Resources.Extensions 8.0.0.0 # as of 6-feb-2025, v9.0.1 causes a version conflict in System.Reflection.MetaData
nuget System.Runtime.CompilerServices.Unsafe
nuget System.Threading.Tasks.Extensions
nuget System.ValueTuple
nuget VsnetUrl
nuget WTG.DevTools.Common
nuget WTG.DevTools.Database.TestFramework.TestDatabase
nuget WTG.DevTools.Definitions
nuget WTG.DevTools.SourceControl
nuget WTG.DevTools.ServiceClient.Assess
nuget YamlDotNet 6.1.2
nuget ZXing.Net
nuget SharpKml.Core
nuget Jint
nuget NUnit
nuget WTG.NUnit
nuget Polly
nuget Polly.Extensions.Http
nuget MailKit 4.8.0
nuget MimeKit 4.8.0
nuget System.Security.Cryptography.Xml
nuget Grpc
nuget Grpc.Core
nuget Grpc.Core.Api
nuget Xware.Xt.Grpc.Application 1.0.5
nuget Xware.Xt.Grpc.Config 1.0.7
nuget Owin
nuget Microsoft.Owin
nuget Microsoft.AspNet.SignalR
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform
nuget Microsoft.AspNet.SignalR.SelfHost
nuget NEST 7.13.2
nuget NLog
nuget NLog.Targets.ElasticSearch
nuget NLog.Targets.Syslog
nuget System.ComponentModel.Annotations
nuget IdentityModel
nuget IdentityModel.OidcClient
nuget IdentityModel.OidcClient.IdentityTokenValidator
nuget HttpMultipartParser
nuget SSH.NET
nuget ILMerge
nuget Microsoft.IdentityModel.Abstractions
nuget Microsoft.IdentityModel.Logging
nuget Microsoft.IdentityModel.Protocols
nuget Microsoft.IdentityModel.Protocols.OpenIdConnect
nuget Microsoft.IdentityModel.Tokens
nuget CargoWise.FileStructureChecker
nuget ConvertApi
nuget BetterListViewExpress.WTG
nuget NeatUpload
nuget Microsoft.Identity.Client
nuget System.Text.Encoding.CodePages
nuget Microsoft.Owin.Testing
nuget Microsoft.Owin.Security.OAuth
nuget Microsoft.AspNet.WebApi.Owin
nuget Swashbuckle
nuget Swashbuckle.Examples
nuget FluentValidation
nuget Antlr4.Runtime.Standard 4.9.2 # Version 4.10.0 has strong name signature issues. See www.github.com/antlr/antlr4/issues/3653
nuget OxyPlot.WindowsForms
nuget System.Threading.Channels 4.7.0
nuget Websocket.Client
nuget WTG.Sysinternals.Procmon
nuget Microsoft.Graph 4.18.0.0
nuget Microsoft.Graph.Core 2.0.7.0
nuget Selenium.WebDriver 4.4.0
nuget LovettSoftware.XmlDiff
nuget bblanchon.PDFium.Win32 105.0.5159
nuget WiX
nuget JetBrains.Profiler.SelfApi 2.4.0-preview1 preview # latest pre-release version needs pinning, as at 23-aug-2024
nuget Microsoft.Web.Administration
nuget System.Windows.Interactivity.WPF
nuget PdfSharp
nuget System.Security.Cryptography.ProtectedData
nuget Ude.WTG
nuget Microsoft.ReportViewer.WinForms
nuget Microsoft.ReportViewer.Common
nuget Microsoft.SqlServer.Types 160.1000.6
nuget Microsoft.AnalysisServices.AdomdClient.retail.amd64
nuget Microsoft.AnalysisServices.retail.amd64
nuget VS.QualityTools.UnitTestFramework
nuget IronPython
nuget SciTech.NmpCore.Task
nuget Brutal.Dev.StrongNameSigner 3.5.1
nuget Rnwood.SmtpServer
nuget LibPhoneNumber
nuget PAExec
nuget Microsoft.Extensions.FileSystemGlobbing
nuget System.Management.Automation_PowerShell_3.0
nuget SimpleIdServer.Scim.Parser.WTG
nuget SimpleIdServer.Scim.WTG
nuget SimpleIdServer.Scim.Domains.WTG
nuget NZCusSign
nuget HtmlSanitizer
nuget System.Security.Permissions
nuget Microsoft.Owin.Security.Jwt
nuget CargoWise.Tools.Telephony
nuget Microsoft.CodeAnalysis.CSharp 4.8.0
nuget CargoWise.ResourceStrings.All
nuget System.Diagnostics.EventLog
nuget SimpleWeakEventListener
nuget MsgReader
nuget System.Drawing.Common 8.0.0
nuget System.Data.SqlClient
nuget System.ServiceModel.Primitives 6.0.0
nuget System.Data.OleDb 7.0.0
nuget System.IO.Hashing
nuget Microsoft.Extensions.DependencyInjection.Abstractions
nuget System.Text.Encodings.Web
nuget System.Text.Json
nuget System.Security.Cryptography.Pkcs 8.0.0.0
nuget TMS.FlexCel
nuget TMS.FlexCel.Winforms
nuget TMS.FlexCel.WebForms
nuget SkiaSharp
nuget WTG.DevTools.Common.SourceControl
nuget System.ServiceProcess.ServiceController 8.0.0
nuget Octokit
nuget NUnitCore.WTG
nuget Microsoft.Management.Infrastructure
nuget Otp.NET
nuget XMLTools
nuget Microsoft.CodeAnalysis.CSharp.Scripting 4.8.0
nuget System.CommandLine 2.0.0-beta4.22272.1 beta4 # latest pre-release version needs pinning, as at 23-aug-2024
nuget WTG.AssetDirectories
nuget WTG.AssetDirectories.TestFramework
nuget WTG.Data.SqlClient.System
nuget WTG.Foundation.Cryptography
nuget WTG.Foundation.Cryptography.UserSecrets
nuget WTG.RtfConverter
nuget WTG.AWSCertificateIntegration
nuget WTG.AzureApplicationIntegration
nuget WTG.ErrorReporting
nuget WTG.IdentitySecurity
nuget WTG.OpenIDConnect.Login
nuget WTG.OpenIDConnect.Token
nuget WTG.OAuth2.Token.TestFramework
nuget System.Windows.Forms 0.0.14-dev.final # latest pre-release version needs pinning, as at 12-mar-2025
nuget System.CodeDom
nuget Microsoft.NET.StringTools
nuget WinForms.DataVisualization
nuget System.Runtime.Caching 8.0.0
nuget Microsoft.Xaml.Behaviors.Wpf
nuget AWSSDK.IdentityManagement
nuget AWSSDK.SecurityToken
nuget Microsoft.Extensions.Http 6.0.0 # pinned to match S2ST Library - just upgrade version there if it needs to be changed here
nuget Microsoft.Extensions.Logging.Abstractions
nuget System.Net.Http.Json 6.0.0 6.0.0 # # pinned to match S2ST Library - just upgrade version there if it needs to be changed here
nuget Google.Apis 1.68.0
nuget Google.Apis.Auth 1.68.0
nuget Google.Apis.Core 1.68.0
nuget Microsoft.Extensions.Primitives
nuget Microsoft.Extensions.Configuration.Json
nuget NLog.Extensions.Logging
nuget Microsoft.Bcl.TimeProvider 9.0.2 # pinned for binding redirects
nuget OpenTelemetry 1.6.0 # Pinned due to dependencies on Microsoft.Extensions.*
nuget OpenTelemetry.Api 1.6.0 # Pinned due to incompatiblility issues between 1.6 and 1.9
nuget Microsoft.Bcl.Memory 9.0.0 # Microsoft.IdentityModels.Tokens v8.6.0 wants v9.0.0 instead of current latest of v9.0.2. Adding assembly binding redirects to test projects is not working, so pin the version. Will be fixed in WI00894482
nuget FirebirdSql.Data.FirebirdClient

group Net40
	source https://proget.wtg.zone/nuget/Gallery/v3/index.json
	framework: net40

	nuget Microsoft.Bcl
	nuget Microsoft.Bcl.Async
	nuget Microsoft.AspNet.SignalR.Client 1.2.2

group Build
	source https://proget.wtg.zone/nuget/Gallery/v3/index.json
	source https://proget.wtg.zone/nuget/WTG-Internal/v3/index.json
	framework: net45

	nuget Microsoft.CodeAnalysis.FxCopAnalyzers
	nuget Microsoft.VisualStudio.Threading.Analyzers
	nuget Microsoft.CodeAnalysis.BannedApiAnalyzers 3.3.5-beta1.23320.2
	nuget NUnit3TestAdapter >= 4.5.0
	nuget NUnit.Analyzers
	nuget StyleCop.Analyzers
	nuget WTG.Analyzers
	nuget WTG.BuildConfiguration.Analysis
	nuget CargoWise.Analyzers 25.6.1-preview-20250605T160100
	nuget Customs.DataProvider.CSharp.CodeGenerator

group AnalyzersRunner
	source https://proget.wtg.zone/nuget/Gallery/v3/index.json
	strategy: min

	nuget Microsoft.CodeAnalysis
	nuget Microsoft.CodeAnalysis.Workspaces.MSBuild
	nuget Microsoft.NET.StringTools

group VisualStudioSDK
	source https://proget.wtg.zone/nuget/Gallery/v3/index.json
	framework: net472
	lowest_matching: true
	nuget Microsoft.VisualStudio.OLE.Interop
	nuget Microsoft.VisualStudio.Shell.14.0
	nuget Microsoft.VisualStudio.Shell.Design 15.0.26201
	nuget Microsoft.VisualStudio.Shell.Immutable.10.0
	nuget Microsoft.VisualStudio.Shell.Interop
	nuget Microsoft.VisualStudio.Shell.Interop.8.0
	nuget Microsoft.VisualStudio.Shell.Interop.9.0
	nuget Microsoft.VisualStudio.Shell.Interop.10.0
	nuget Microsoft.VSSDK.BuildTools
	nuget Microsoft.VisualStudio.Shell.15.0
	nuget VSLangProj80

group VisualStudioSDKLegacySupport
	source https://proget.wtg.zone/nuget/Gallery/v3/index.json
	nuget EnvDTE 8.0.2
	nuget EnvDTE80 8.0.2

# ------------------------------------------------------------------
#
# These next groups are for Check-In Policies only.
# They must reference the version of Visual Studio that they are installed in.
# We use the lowest matching version so that they can be installed in any
# matching version, not just Update 1 or higher / Update 2 or higher / etc.

group VisualStudio2019
	source https://proget.wtg.zone/nuget/Gallery/v3/index.json
	framework: net472
	lowest_matching: true

	nuget Microsoft.TeamFoundationServer.ExtendedClient >= 16.0
	nuget Microsoft.TestPlatform.ObjectModel >= 15.9.0

# This concludes the Paket groups for check-in policies.
# You can add more unrelated groups below.
#
# ------------------------------------------------------------------


# ------------------------------------------------------------------
#
# As of May fifth, 2023, the Dev/Bin folder contains .NET Framework compatible
# binaries in it's root. There are exceptions, but it's a good rule of thumb.
#
# Many of these libraries are netstandard.  Usually that is not a problem, but
# take System.MetaData.Reflection, for example.  Package version 7.0.1
# contains a net462 version and an ns2 version.  Either binary can be
# referenced by .NET Framework 4.8 but the net462 version is a better match.
# That is why if you set a package reference in a Visual Studio net48 project,
# it will take the net462 version, not the ns2.
#
# So the net462 version makes more sense in the root of Dev/Bin.  But an ns2
# version already occupies that spot. Swapping that out would upset all of the
# related transient dependencies.
#
# To prevent this situation, Visual Studio appends the TFM to the output path.
# Developers have already moved in that direction by creating Dev/Bin/Net5.0
# and Dev/Bin/Net6.0.
#
# The following groups and their corresponding Bin subfolders (defined in
# build.xml) continue along that line of thinking.  Developers suffering
# from dll version conflicts can consider moving their binaries here.
#
# Workitem WI00601657 exists for migrating existing projects to use this
# approach.
#
# ------------------------------------------------------------------

group net48
	source https://proget.wtg.zone/nuget/Gallery/v3/index.json
	framework: net462
	nuget System.Reflection.Metadata ~> 7.0.1


group netstandard2.0
	source https://proget.wtg.zone/nuget/Gallery/v3/index.json
	framework: netstandard2.0
	nuget Microsoft.CodeAnalysis.CSharp ~> 4.2.0

group NetCore
	source https://proget.wtg.zone/nuget/Gallery/v3/index.json
	source https://proget.wtg.zone/nuget/WTG-Internal/v3/index.json
	nuget System.Security.Cryptography.Xml 8.0.0
	nuget MessagePackAnalyzer 2.5.140
	nuget Microsoft.AspNet.WebApi.Client 6.0.0
	nuget Microsoft.AspNetCore.Http 2.3.0
	nuget Microsoft.CodeAnalysis.NetAnalyzers 8.0.0
	nuget Microsoft.Data.SqlClient 6.0.1
	nuget Microsoft.Extensions.Caching.Abstractions 8.0.0
	nuget Microsoft.Extensions.Configuration.CommandLine 8.0.0
	nuget Microsoft.Extensions.Configuration.EnvironmentVariables 8.0.0
	nuget Microsoft.Extensions.Configuration.Json 8.0.0
	nuget Microsoft.Extensions.Hosting 8.0.0
	nuget Microsoft.Extensions.Logging 8.0.0
	nuget Microsoft.Extensions.Logging.Console 8.0.0
	nuget Microsoft.VisualStudio.Threading.Analyzers 17.8.14
	nuget NUnit.Analyzers 3.10.0
	nuget OxyPlot.Core 2.1.2
	nuget Serilog.Sinks.Confluent.Kafka 1.10.0
	nuget System.Collections.Immutable 7.0.0
	nuget System.Data.DataSetExtensions 4.5.0
	nuget System.Formats.Asn1 8.0.1
	nuget System.Memory 4.5.5
	nuget System.Security.Cryptography.Pkcs 8.0.1
	nuget System.ServiceModel.Web 1.0.0
	nuget System.Text.Json 8.0.5
	nuget Brutal.Dev.StrongNameSigner 3.5.0
	nuget bunit 1.29.5
	nuget Microsoft.NET.Test.Sdk 17.7.2
	nuget Microsoft.TestPlatform 17.7.2
	nuget Microsoft.TestPlatform.ObjectModel 17.7.2
	nuget NUnit 4.1.0
	nuget NUnit3TestAdapter 4.5.0
	nuget System.Diagnostics.EventLog 8.0.1
	nuget System.IO.FileSystem.AccessControl 5.0.0
	nuget WTG.Data.SqlClient.Both 0.3.0
	nuget Lib.Harmony 2.3.5
	nuget Microsoft.Data.SqlClient.SNI 6.0.2

# This concludes the Paket groups for check-in policies.
# You can add more unrelated groups below.
#
# ------------------------------------------------------------------