{
  "Enabled": "True",
  "DatabaseName": "Odyssey",
  "BreakOnPerformanceIssues": "False",
  "IncludeAmnestyTests": "True",
  "IncludeDeveloperOnlyTests": "True",
  "EnableTaskTestListener": "False"
}
