<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ include file="..\..\WrapperTestGenerator.ttinclude" once="true" #>
<#@ import namespace="CargoWise.Customs.IT.MessageContracts.Declaration.Export" #>
<# GenerateWrapperTestClasses("B2", typeof(IB2Item), typeof(IB2Header), typeof(IB2Message), isImport: false); #>
