.annotationnode {
	width: 100%;
	height: 100%;
}

::deep .annotationnode__diagramname {
	text-align: center;
}

.annotationnode__cardwrapper {
	position: relative;
	height: 100%;
}

.annotationnode__card {
	overflow: clip;
	padding-left: 12px;
	padding-right: 12px;
	position: absolute;
}

::deep .networknode__diagramname {
	font-size: 14px;
	padding: 2px;
}

::deep .networknode__notes {
	font-size: 12px;
}
