.jobnode {
	width: 100%;
	height: 100%;
}

.jobnode__card {
	position: relative;
}

.jobnode__card__grid {
	box-sizing: border-box;
	height: 100%;
	display: grid;
	grid-template-rows: min-content auto min-content min-content;
	grid-template-columns: 12px auto auto auto 18px;
	grid-gap: 1px;
	overflow: hidden;
	padding: 1px;
}

.jobnode__card__grid > :not(.jobnode__statusicon):not(.jobnode__entitystateicon):not(.jobnode__progressbar) {
	outline: 1px solid;
}

.jobnode__statusicon {
	grid-column: 1;
	grid-row: 1 / 4;
	width: 12px;
	height: 12px;
}

.jobnode__jobnumbertext {
	grid-row: 1;
	grid-column: 2;
	text-align: center;
	padding: 2px;
}

.jobnode__affinity {
	grid-row: 1;
	padding: 2px;
	white-space: pre;
	overflow: hidden;
}

.jobnode__duration {
	grid-row: 1;
	grid-column: 4;
	text-align: center;
	padding: 2px;
	overflow: hidden;
}

.jobnode__entitystateicon {
	grid-column: 5;
	grid-row: 1 / 4;
	width: 16px;
	height: 16px;
	margin-left: 1px;
	cursor: default;
}

.jobnode__entitycontentwrapper {
	overflow: clip;
	grid-row: 2;
	grid-column: 2 / 5;
	position: relative;
}

.jobnode__entitycontent {
	position: absolute;
	width: 100%;
}

.jobnode__startdate {
	grid-row: 3;
	grid-column: 2;
	padding: 2px;
	white-space: pre;
}

.jobnode__remainingduration {
	grid-row: 3;
	grid-column: 3;
	padding: 2px;
	white-space: pre;
}

.jobnode__finishdate {
	grid-row: 3;
	grid-column: 4;
	padding: 2px;
	white-space: pre;
}

.jobnode__jobdetails {
	display: flex;
	margin-top: 5px;
	margin-right: 3px;
	font-size: 12px;
}

.jobnode__jobnumber {
	font-weight: 700;
	margin-right: 10px;
}

.jobnode__jobname {
	width: 100%;
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: text;
}

.jobnode__description {
	font-size: 13px;
	text-align: center;
}

::deep .jobnode__notes {
	padding: 0px 10px 10px 10px;
}

::deep .jobnode__completioncriteria {
	font-size: 12px;
	font-style: italic;
	padding-left: 2px;
}

.jobnode__postreqcircle {
	position: absolute;
	top: 22px;
	right: -5px;
	height: 9px;
	width: 9px;
	background-color: black;
	border-radius: 50%;
	z-index: 100;
	pointer-events: none;
}

.jobnode__notification {
	border-left: 6px solid;
	grid-column: 1;
	margin-left: -1px;
	outline: none !important;
	grid-row: 2/4;
	margin-top: -4px;
	cursor: default;
}

::deep .networknode__diagramname {
	font-size: 14px;
	padding: 2px;
}

::deep .networknode__notes {
	font-size: 12px;
}

.jobnode__progressbar{
	grid-row:4;
	height:5px;
	margin-top: -2px;
}
