.networkport__circle {
	position: relative;
	border-radius: inherit;
	border: 1px solid;
	display: inline-block;
	height: 15px;
	width: 15px;
	background-color: white;
	cursor: pointer;
}

img {
	position: absolute;
	left: calc(100% + 1px);
	top: -8px;
	height: 32px;
	width: 32px;
}
