.shapeinspector {
	position: absolute;
	width: 320px;
	height: 220px;
	bottom: 30px;
	right: 30px;
	background: white;
	display: flex;
	flex-direction: column;
	z-index: 3;
}
.shapeinspector__heading {
	margin: 5px;
	text-align: center;
	flex: 0 0 0;
	font-family: Tahoma, sans-serif;
	font-size: 12px;
}
.shapeinspector__content {
	margin: 0px 20px 20px;
	flex: 1 0 0;
}
.shapeinspector__instructions {
	height: 100%;
	text-align: center;
	font-family: Tahoma, sans-serif;
	font-size: 15px;
	line-height: normal;
	border: solid 1px black;
	color: black;
	opacity: 0.4;
}
