<br />
<strong>Entry Rejection : {0}<br />
    <br />
</strong>
<p>
A rejection message has been received from Customs.<br />
Please review the job, and fix the errors shown then resubmit the entry.</p>
<br />
    <br />
<table border="1" cellpadding="1" cellspacing="0" class="table">
    <thead>
        <tr class="tableheadings">
            <th>
                Error</th>
        </tr>
    </thead>
    <tbody>
        <!--Section Statistics-->
    </tbody>
</table>
<br />
<hr />
<br />
<!--EndSection Details-->
Regards,<br />
<br />
CargoWise One Administrative Messages Sender<br />
