<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~\CargoWise.eHub.Share.eHubServices.eHubSender.log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <connectionStrings>
    <clear />
    <!-- Needs to be adjusted in ProdEnvironment-->
    <add name="CargoWise.eHub.DataAccess.Sql.eHubTransactions" connectionString="Data Source=syd-thub-1;App=eHub Gateway;Initial Catalog=eHubTransactions;Integrated Security=SSPI;" />
  </connectionStrings>
  <appSettings>
    <add key="TLS12" value="3072" />
    <add key="TLS11" value="768" />
    <add key="TLSVersionForUSDISProduction" value="TLS12" />
    <add key="TLSVersionForUSDISCertification" value="TLS12" />
    <add key="TRXELPELP_CIS" value="https://wsgx.cisco.com/cvcm/msf/lss/service" />
    <add key="TRXELPTST_CIS" value="https://wsgx-test.cisco.com/cvcm/msf/lss/service" />
    <add key="CiscoUserName" value="otmmsf.gen" />
    <add key="CiscoPassword" value="otmmsf" />
    <add key="APOMELTSH_LMS" value="https://exttrnapps.npe.auspost.com.au/elmsWs/MailingStatementService" />
    <add key="eLMSUserName" value="ediEnterprisePLI" />
    <add key="eLMSPassword" value="eLMSPassword" />
    <add key="USDIS" value="https://fnwg-dp-internet05.cbp.dhs.gov:2933" />
    <add key="USDISTest" value="https://fnwg-dp-internet05.cbp.dhs.gov:2933" />
    <add key="USDIS_CargoWiseTransmitterID" value="SV9" />
    <add key="USDIS_CargoWiseTransmitterSiteCode" value="3910" />
    <add key="USDIS_UserName" value="ITDSTP1" />
    <add key="USDIS_Password" value="$8AuGust" />
    <add key="CargoWise.eHub.DataAccess.RegistryAccessor" value="CargoWise.eHub.DataAccess.Cache.RegistryAccessor, CargoWise.eHub.DataAccess.Cache, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.Cache.RegistryAccessor" value="CargoWise.eHub.DataAccess.Sql.RegistryAccessor, CargoWise.eHub.DataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="OceanInsights" value="http://capi.ocean-insights.com/containertracking/v2/subscriptions/" />
    <add key="OceanInsightsAuthorizationToken" value="Token d8f02f25b28f31b95856d4ce6ca2cb02e8f90690" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="_B3" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="MailingStatementServicePort" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IEncryptDecryptService" maxReceivedMessageSize="104857600" maxBufferSize="104857600" openTimeout="1" closeTimeout="1" sendTimeout="5" receiveTimeout="5" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="104857600" maxArrayLength="1638400" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="netTcpBindings" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:05:00" sendTimeout="00:20:00">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" maxSessionSize="2048">
            <readerQuotas maxDepth="1048576" maxStringContentLength="1048576" maxArrayLength="104857600" maxBytesPerRead="1048576" maxNameTableCharCount="1048576" />
          </binaryMessageEncoding>
          <tcpTransport manualAddressing="false" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576000" connectionBufferSize="1048576" hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:00:05" maxBufferSize="1048576000" maxPendingConnections="200" maxOutputDelay="00:00:00.2000000" maxPendingAccepts="200" transferMode="Buffered" listenBacklog="200" portSharingEnabled="false" teredoEnabled="false">
            <connectionPoolSettings groupName="default" leaseTimeout="00:05:00" idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="200" />
          </tcpTransport>
        </binding>
        <binding name="SendToBiztalk" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <binaryMessageEncoding maxReadPoolSize="1024" maxWritePoolSize="1024" maxSessionSize="2048">
            <readerQuotas maxDepth="1048576" maxStringContentLength="1048576" maxArrayLength="104857600" maxBytesPerRead="1048576" maxNameTableCharCount="1048576" />
          </binaryMessageEncoding>
          <tcpTransport manualAddressing="false" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576000" connectionBufferSize="1048576" hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:00:05" maxBufferSize="104857600" maxPendingConnections="50" maxOutputDelay="00:00:00.2000000" maxPendingAccepts="50" transferMode="Streamed" listenBacklog="50" portSharingEnabled="false" teredoEnabled="false">
            <connectionPoolSettings groupName="default" leaseTimeout="00:05:00" idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="50" />
          </tcpTransport>
        </binding>
        <binding name="DocumentSubmissionServiceSOAPBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:20:00">
          <textMessageEncoding maxReadPoolSize="1024" maxWritePoolSize="1024" messageVersion="Soap12" />
          <security authenticationMode="UserNameOverTransport" includeTimestamp="false" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BehaviourMetaData">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificate">
          <clientCredentials>
            <clientCertificate findValue="canadiancustoms.client.cargowise.com" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="BehaviourMetaData" name="CargoWise.eHub.Share.eHubServices.eHubSender.SendToService">
        <endpoint address="" binding="customBinding" contract="CargoWise.eHub.Share.eHubServices.eHubSender.Common.ISendToService" bindingConfiguration="netTcpBindings" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <client>
      <endpoint address="https://wsgx-test.cisco.com/cvcm/msf/lss/service" binding="basicHttpBinding" bindingConfiguration="_B3" contract="_B3" name="_B3" />
      <endpoint address="net.tcp://syd-thub-1:11820/SendToBiztalk/Send.svc" binding="customBinding" bindingConfiguration="SendToBiztalk" contract="CargoWise.eHub.Share.eHubServices.eHubSender.Common.ISendToBiztalk" name="SendToBiztalkService" />
      <endpoint address="https://exttrnapps.npe.auspost.com.au:443/elmsWs/MailingStatementService" binding="basicHttpBinding" bindingConfiguration="MailingStatementServicePort" contract="eLMSService.MailingStatementServicePort" name="MailingStatementServicePort" />
      <endpoint address="https://fnwg-dp-internet05.cbp.dhs.gov:2933/ITDSServices/IWS/DocumentSubmissionService" binding="customBinding" bindingConfiguration="DocumentSubmissionServiceSOAPBinding" contract="USDISSubmit.DocumentSubmissionServicePortType" name="DocumentSubmissionServiceEndPoint" />
      <endpoint address="https://ehub-ausyd-test.cargowise.net/CanadianEncryptionService/EncryptDecryptService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEncryptDecryptService" behaviorConfiguration="ClientCertificate" contract="CanadianEncryptionService.IEncryptDecryptService" name="BasicHttpBinding_IEncryptDecryptService" />
    </client>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669E0DDF0BB1AA2A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="AF08829B84F0328E" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="AF08829B84F0328E" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>