<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="DisableSSLCertificateValidation" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
   </appSettings>

  <system.serviceModel>
  <client>
      <endpoint address="net.tcp://biztalk.wisecloud.zone:11820/SendToBiztalk/Send.svc"
                binding="customBinding"
                bindingConfiguration="SendToBiztalk"
                contract="CargoWise.eHub.Share.eHubServices.eHubSenderCargoWise.eHub.Share.eHubServices.eHubSender.ISendToBiztalk"
                name="SendToBiztalkService" xdt:Transform="Replace" xdt:Locator="Match(name)" />

  </client>
  </system.serviceModel>
  
</configuration>