<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<appender name="FileEventLog" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="Logs/ServiceEvents.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="20" />
		<maximumFileSize value="10MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date{yyyy-MM-dd'T'HH:mm:ss.fffzzz} %levelShort Source=%C%n   %message%n   %exception%n" />
			<converter>
				<name value="levelShort" />
				<type value=" CargoWise.eServices.USCustoms.InboundService.CustomLogLevelPatternConverter, CargoWise.eServices.USCustoms.InboundService" />
			</converter>
		</layout>
		<threshold value="TRACE" />
	</appender>

	<appender name="ReceivedMessages" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="Logs/ReceivedMessages.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="20" />
		<maximumFileSize value="10MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date{yyyy-MM-dd'T'HH:mm:ss.fffzzz} Source=%C%n   %message%n" />
		</layout>
		<threshold value="TRACE" />
	</appender>

	<root>
		<level value="TRACE" />
		<appender-ref ref="FileEventLog" />
	</root>

	<logger name="ReceivedMessageLog" additivity="false">
		<level value="TRACE"/>
		<appender-ref ref="ReceivedMessages" />
	</logger>

</log4net>