<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="ProviderConfigurationSection" type="CargoWise.Services.Common.ProviderConfiguration, CargoWise.Services.Common"/>
	</configSections>

	<ProviderConfigurationSection>
		<Configurations>
			<add ProviderID="PCM" URL="http://pcmws.alk.com/" UserName="CargoWise" Password="cargo48381" ClientID="cargowise edi" />
		</Configurations>
	</ProviderConfigurationSection>

	<appSettings>
		<add key="DbServerName_eHubTransactions" value="localhost"/>
		<add key="DbName_eHubTransactions" value="DpsAuditTransactions"/>
		<add key="DbUserName_eHubTransactions" value="sa"/>
		<add key="DbPassword_eHubTransactions" value="123456"/>
		<add key="GoogleDistanceAPI_ClientID" value="gme-translogix"/>
		<add key="GoogleDistanceAPI_Key" value="OBoMubE_FFfK3rBhIBHYaChqHxM="/>
	</appSettings>

	<system.web>
		<compilation debug="true" />
		<authentication mode="None"/>
	</system.web>

	<system.serviceModel>
		<services>
			<service behaviorConfiguration="Enterprise.Freight.DistanceCalculation.Service.DistanceCalculationServiceBehavior" name="Enterprise.Freight.DistanceCalculation.Service.DistanceCalculationService">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="binding1" contract="Enterprise.Freight.DistanceCalculation.Service.IDistanceCalculationService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
			</service>
		</services>

		<bindings>
			<wsHttpBinding>
				<binding name="binding1">
					<security mode="Transport">
						<transport clientCredentialType="None"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior name="Enterprise.Freight.DistanceCalculation.Service.DistanceCalculationServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>