.FilterTable td {
    padding: 2px;
}

.FilterTable .FilterName {
    padding-right: 15px;
    font-weight: bold;
}

.NrWrapper {
    overflow: hidden;
    max-width: 1085px;
    padding: 0;
}

.NrTab {
    overflow: hidden;
    border: 0px;
    background-color: #f1f1f1;
}

.NrTabButton:enabled {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    transition: 0.3s;
}

.NrTabButton:disabled {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    transition: 0.3s;
    background-color: #ddd;
}

.NrTabContent {
    padding: 1px 1px;
    border: 0px;
    border-top: none;
}

.NrModalOn {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.NrModalOff {
    display: none;
}

.NrModalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: auto;
    display: table;
}

.NrGrid {
    padding: 0px !important;
    border-collapse: collapse !important;
    font-size: 11px !important;
    border: 1px solid white !important;
    vertical-align: middle !important;
    table-layout: fixed !important;
}

    .NrGrid td {
        border: 1px !important;
        border-right: 1px solid #fefefe !important;
        padding: 0px !important;
        vertical-align: middle !important;
        word-wrap: break-word !important;
    }

        .NrGrid td:last-of-type {
            border: 1px solid white !important;
            text-align: center !important;
        }

.NrBulkUpdateGrid tr td:nth-last-child(2) {
    text-align: center !important;
}

.NrBulkUpdateGrid {
    border: 1px solid white !important;
}


.NrGridItem {
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid white !important;
    white-space: normal !important;
    vertical-align: middle !important;
}

    .NrGridItem:hover {
        color: #00A4E4 !important;
    }

    .NrGridItem td {
        word-wrap: break-word !important;
    }

.NrGridHeader {
    font-weight: bold !important;
    background: #fff none !important;
    color: inherit !important;
    text-align: center !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    white-space: nowrap !important;
    border: none !important;
    height: 27px !important;
}

.NrGridSelected {
    padding-left: 0px;
    padding-right: 0px;
    white-space: normal !important;
    vertical-align: middle !important;
    background-color: lightgrey !important;
    border: 1px solid white !important;
}

    .NrGridSelected td {
        word-wrap: break-word !important;
    }

.NrContactGridItemChecked {
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid white !important;
    white-space: normal !important;
    vertical-align: middle !important;
    background-color: lightgrey !important;
}

    .NrContactGridItemChecked:hover {
        color: #00A4E4 !important;
    }

.NrGridSelected:hover {
    color: #00A4E4 !important;
}

.NrContactGrid tr td:first-child {
    width: 3% !important;
    text-align: left !important;
}

.NrContactGrid tr td:nth-child(2) {
    width: 19% !important;
    text-align: left !important;
}

.NrContactGrid tr td:nth-child(3) {
    width: 26% !important;
    text-align: left !important;
}

.NrContactGrid tr td:nth-child(4) {
    width: 26% !important;
    text-align: left !important;
}

.NrContactGrid tr td:nth-child(5) {
    width: 8% !important;
    text-align: left !important;
}

.NrContactGrid tr td:nth-child(6) {
    width: 3% !important;
    text-align: center !important;
}

.NrContactGrid tr td:nth-child(7) {
    width: 3% !important;
    text-align: center !important;
}

.NrContactGrid tr td:nth-child(8) {
    width: 3% !important;
    text-align: center !important;
}

.NrContactGrid tr td:nth-child(9) {
    width: 3% !important;
    text-align: center !important;
}

.NrContactGrid tr td:nth-child(10) {
    width: 3% !important;
    text-align: center !important;
}

.NrContactGrid tr td:nth-child(11) {
    width: 3% !important;
    text-align: center !important;
}

.NrContactSecurityGrid td:last-of-type {
    border-right: 0px solid #ddd !important;
}

.NrContactSubTabRight {
    width: 100% !important;
}

.NrButton:disabled {
    background: #f1f1f1 !important;
    border: solid;
    color: lightgrey;
}

.NrFilterControl select {
    width: 95% !important;
}

.NrContactDiv {
    height: 60vh !important;
    overflow-y: auto !important;
}

.NrContactSecurityCell {
    border: 0.5px solid lightgrey !important;
    padding: 3px !important;
    padding-right: 4px !important;
}

.NrVerticalTop {
    vertical-align: top;
}

.NrLoader {
    border: 3px solid lightgrey;
    border-radius: 50%;
    border-top: 3px solid #00A4E4;
    width: 10px;
    height: 10px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.FilterStripGroup_red {
    background-color: #ED898B;
}

.FilterStripGroup_green {
    background-color: #96E08B;
}

.FilterStripGroup_blue {
    background-color: #8BB4E2;
}

.FilterStripGroup_brown {
    background-color: #E4AD84;
}

.FilterStripGroup_grey {
    background-color: #B1B1B1;
}

.CategorySeparator td {
    border-bottom: 1px solid #999999;
}
