.FilterTable td {
	padding: 2px;
}

.FilterTable .FilterName {
	padding-right: 15px;
	font-weight: bold;
}

.WsWrapper {
	overflow: hidden;
	max-width: 1085px;
	padding: 0;
}

.WsTab {
	overflow: hidden;
	border: 0px;
	background-color: #f1f1f1;
}

.WsTabButton:enabled {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 5px 5px;
	transition: 0.3s;
}

.WsTabButton:disabled {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 5px 5px;
	transition: 0.3s;
	background-color: #ddd;
}

.WsTabContent {
	padding: 1px 1px;
	border: 0px;
	border-top: none;
}

.WsModalOn {
	display: block;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.WsModalOff {
	display: none;
}

.WsModalContent {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: auto;
	display: table;
}

.WsGrid {
	padding: 0px !important;
	border-collapse: collapse !important;
	font-size: 11px !important;
	border: 1px solid white !important;
	vertical-align: middle !important;
	table-layout: fixed !important;
}

	.WsGrid td {
		border: 1px !important;
		border-right: 1px solid #fefefe !important;
		padding: 0px !important;
		vertical-align: middle !important;
		word-wrap: break-word !important;
	}

		.WsGrid td:last-of-type {
			border: 1px solid white !important;
			text-align: center !important;
		}

.WsBulkUpdateGrid tr td:nth-last-child(2) {
	text-align: center !important;
}

.WsBulkUpdateGrid {
	border: 1px solid white !important;
}


.WsGridItem {
	padding-left: 0px;
	padding-right: 0px;
	border: 1px solid white !important;
	white-space: normal !important;
	vertical-align: middle !important;
}

	.WsGridItem:hover {
		color: #00A4E4 !important;
	}

	.WsGridItem td {
		word-wrap: break-word !important;
	}

.WsGridHeader {
	font-weight: bold !important;
	background: #fff none !important;
	color: inherit !important;
	text-align: center !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	white-space: nowrap !important;
	border: none !important;
	height: 27px !important;
}

.WsGridSelected {
	padding-left: 0px;
	padding-right: 0px;
	white-space: normal !important;
	vertical-align: middle !important;
	background-color: lightgrey !important;
	border: 1px solid white !important;
}

	.WsGridSelected td {
		word-wrap: break-word !important;
	}

.WsContactGridItemChecked {
	padding-left: 0px;
	padding-right: 0px;
	border: 1px solid white !important;
	white-space: normal !important;
	vertical-align: middle !important;
	background-color: lightgrey !important;
}

	.WsContactGridItemChecked:hover {
		color: #00A4E4 !important;
	}

.WsGridSelected:hover {
	color: #00A4E4 !important;
}

.WsContactGrid tr td:first-child {
	width: 5% !important;
	text-align: center !important;
}

.WsContactGrid tr td:nth-child(2) {
	width: 22% !important;
	text-align: left !important;
}

.WsContactGrid tr td:nth-child(3) {
	width: 33% !important;
	text-align: left !important;
}

.WsContactGrid tr td:nth-child(4) {
	width: 33% !important;
	text-align: left !important;
}

.WsContactGrid tr td:last-child {
	width: 8% !important;
	text-align: left !important;
}

.WsContactSecurityGrid td:last-of-type {
	border-right: 0px solid #ddd !important;
}

.WsContactSubTabRight {
	width: 100% !important;
}

.WsButton:disabled {
	background: #f1f1f1 !important;
	border:solid;
	color: lightgrey;
}

.WsFilterControl select {
	width: 95% !important;
}

.WsContactMainTab > tbody > tr:first-child > td:first-child {
	width: 70% !important;
}

.WsContactMainTab > tbody > tr:first-child > td:nth-child(2) {
	width: 1% !important;
}

.WsContactMainTab > tbody > tr:first-child > td:last-child {
	width: 29% !important;
}

.WsContactMainTab table {
	width: 100% !important;
}

.WsContactDiv {
	height: 60vh !important;
	overflow-y: auto !important;
}

.WsContactSecurityCell {
	border: 0.5px solid lightgrey !important;
	padding: 3px !important;
	padding-right: 4px !important;
}

.WsVerticalTop {
	vertical-align: top;
}

.WsLoader {
	border: 3px solid lightgrey;
	border-radius: 50%;
	border-top: 3px solid #00A4E4;
	width: 10px;
	height: 10px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.FilterStripGroup_red {
	background-color: #ED898B;
}

.FilterStripGroup_green {
	background-color: #96E08B;
}

.FilterStripGroup_blue {
	background-color: #8BB4E2;
}

.FilterStripGroup_brown {
	background-color: #E4AD84;
}

.FilterStripGroup_grey {
	background-color: #B1B1B1;
}

.CategorySeparator td {
	border-bottom: 1px solid #999999;
}