<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EntityFactory" connectionString="metadata=res://*/EntityModel.eHubTransactions.csdl|res://*/EntityModel.eHubTransactions.ssdl|res://*/EntityModel.eHubTransactions.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SYD-WPAT-1;Initial Catalog=eHubTransactions;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>