<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Enterprise.Customs.GB.CNS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Enterprise.Customs.GB.CNS.Properties.Settings>
            <setting name="Enterprise_Customs_GB_CNS_CnsChiefEDI_ChiefEDIPortQSService"
                serializeAs="String">
                <value>http://lmappdev.sctcns.net:7001/ws/CCMI/ChiefEDI</value>
            </setting>
            <setting name="Enterprise_Customs_GB_CNS_CnsPrints_MailBox" serializeAs="String">
                <value>https://195.171.138.110:443/ws/Mailbox/MailBoxPortImpl</value>
            </setting>
        </Enterprise.Customs.GB.CNS.Properties.Settings>
    </applicationSettings>
</configuration>