
#change the default rules, to ensure that local .editorconfig files are being respected by the AnalyzersRunner

[*.{cs,vb}]

#########################
# Microsoft.CodeAnalysis.NetAnalyzers

#CA1001: Types that own disposable fields should be disposable
dotnet_diagnostic.CA1001.severity = warning

#CA1018: Mark attributes with AttributeUsageAttribute
dotnet_diagnostic.CA1018.severity = warning

#CA1028: Enum storage should be Int32
dotnet_diagnostic.CA1028.severity = warning

#CA1052: Static holder types should be Static or NotInheritable
dotnet_diagnostic.CA1052.severity = warning
# See: https://github.com/dotnet/roslyn-analyzers/blob/main/docs/Analyzer%20Configuration.md#analyzed-api-surface
dotnet_code_quality.CA1052.api_surface = all

#CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = warning
dotnet_code_quality.CA1725.api_surface = all

#CA1813: Avoid unsealed attributes
dotnet_diagnostic.CA1813.severity = warning

#CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = warning
dotnet_code_quality.CA1819.api_surface = all

#########################
# Microsoft.CodeAnalysis.CSharp.CodeStyle

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = none

#IDE0054: Use compound assignment
dotnet_diagnostic.IDE0054.severity = warning

#IDE0070: Use 'System.HashCode.Combine'
dotnet_diagnostic.IDE0070.severity = warning

##########################
# CargoWise.Analyzers

# CW1032: Use Moq For Mocking
dotnet_diagnostic.CW1032.severity = warning

#CW1049:Don't Use Application Do Events Rule
dotnet_diagnostic.CW1049.severity = warning

#CW1082:Do not use too many arguments - 17 params
dotnet_diagnostic.CW1082.severity = warning

#CW1082W:Do not use too many arguments - 8 params
dotnet_diagnostic.CW1082W.severity = warning

# CW1123: Use CachedValueHelper.GetValue instead of CachedValue.
dotnet_diagnostic.CW1123.severity = warning

# CW1124: Use Factory.GetValue instead of CachedProperty.
dotnet_diagnostic.CW1124.severity = warning

#CW1126:Db Ansi_Null Ansi_Padding Concat_Null_Yields_Null Always On Analyzer
dotnet_diagnostic.CW1126.severity = warning

# CW1132: sys.dm_tran_locks
dotnet_diagnostic.CW1132.severity = warning

# CW1134: Non-abstract Test Classes Should Be Sealed
dotnet_diagnostic.CW1134.severity = warning

# CW1135: Do not use country specific business rule by comparing country code
dotnet_diagnostic.CW1135.severity = warning

# CW1136: DoNotUseSystemRuntimeSerializationFormattersBinary
dotnet_diagnostic.CW1136.severity = warning

#CW1144:Do not use private test methods
dotnet_diagnostic.CW1144.severity = warning

# EDI003: Business Object Property Max Length Validation
dotnet_diagnostic.EDI003.severity = warning

# CW1145: Singletons should be accesed by a static property
dotnet_diagnostic.CW1145.severity = error

# CW1149: Singleton Classes Should Not Have Public Constructors
dotnet_diagnostic.CW1149.severity = warning

# CW1154: Public Internal Classes In Seperate Files Rule
dotnet_diagnostic.CW1154.severity = warning

# CW1155: No Multi-Line Comments Rule
dotnet_diagnostic.CW1155.severity = warning

# CW1158: Csproj Package Reference Rule
dotnet_diagnostic.CW1158.severity = suggestion

# CW1159: Res.GetString, Res.GetData, ResString.GetMultilingualString should be fully qualified to avoid ambiguity
dotnet_diagnostic.CW1159.severity = warning

# CW1161: ResGetStringAnalyzer
dotnet_diagnostic.CW1161.severity = none

# CW1163: Do Not Initialize Lazy With Method Identifier
dotnet_diagnostic.CW1163.severity = warning

# CW1164: Do not use string literals in ListAttribute
dotnet_diagnostic.CW1164.severity = warning

# CW1167: DbDisposableActionForDbConnection Analyzer
dotnet_diagnostic.CW1167.severity = warning

# CW1174: Res.GetString Must Be Invoked Within A Namespace
dotnet_diagnostic.CW1174.severity = warning

# CW1175: System Column Sql Analyzer
dotnet_diagnostic.CW1175.severity = warning

# CW1175A: Sql Syntax Analyzer
dotnet_diagnostic.CW1175A.severity = warning

##########################
# WTG.Analyzers

# WTG1018: Boolean literals as method arguments should be passed as named arguments
dotnet_diagnostic.WTG1018.severity = warning

[CW1150.cs]

# CW1150: Public Fields Rule
dotnet_diagnostic.CW1150.severity = warning

[CW1152.cs]

# CW1152: Public Virtual Rule
dotnet_diagnostic.CW1152.severity = warning

[CW1153.cs]

# CW1153: Base Naming Analyzer Rule
dotnet_diagnostic.CW1153.severity = warning

[CW1160.cs]

# CW1160: Sql Objects Must Be Fully Qualified
dotnet_diagnostic.CW1160.severity = warning

[CW1161.cs]

# CW1161: ResGetStringAnalyzer
dotnet_diagnostic.CW1161.severity = warning

[CW1168.cs]

# CW1168: Non-abstract test classes should be default internal
dotnet_diagnostic.CW1168.severity = warning

[CW1172.cs]

# CW1172: ResGetString Key Validation
dotnet_diagnostic.CW1172.severity = warning

[CW1192.cs]

# CW1192: CustomizableDataCaptionAsmidRequired
dotnet_diagnostic.CW1192.severity = warning

[CW1193.cs]

# CW1193: DoNotUseCargoWiseOneNameInCodeAnalyzer
dotnet_diagnostic.CW1193.severity = warning

[CW1194.cs]

# CW1194: UsafeBusinessObjectCollectionCreation
dotnet_diagnostic.CW1194.severity = warning

[CW1198.cs]

# CW1198: DoNotAddAuditEventsToStmALogAnalyzer
dotnet_diagnostic.CW1198.severity = error

[IDE0005.cs]

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = warning
