<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings></appSettings>
  <connectionStrings>
    <clear />
    <!-- EntityFramework's key -->
    <add name="eHubTransactionsContext"
         connectionString="Data Source=localhost;Initial Catalog=eHubTransactions;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <!-- DataAccess's key -->
    <add name="CargoWise.eHub.DataAccess.Sql.eHubTransactions"
         connectionString="Data Source=localhost;Initial Catalog=eHubTransactions;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <!-- Test init "DO NOT CHANGE THIS CONNECTION STRING. PLEASE TALK WITH ESERVICES IF YOU NEED TO." -->
    <add name="CargoWise.eHub.Products.OceanCarrierMessaging.IntegrationTests.Properties.Settings.eHubTransactionsConnectionString"
         connectionString="Data Source=localhost;Initial Catalog=eHubTransactions;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- Local configuration -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NDbUnit.Core" publicKeyToken="7e8328bdcb403615" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.9.0" newVersion="1.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NDbUnit.SqlClient" publicKeyToken="7e8328bdcb403615" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.9.0" newVersion="1.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.13.3.0" newVersion="3.13.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>