<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
        <arg key="configType" value="FILE-WATCH"/>
        <arg key="configFile" value="~/log4net.config"/>
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <add key="CargoWise.eHub.DataAccess.PartyAccessor, Version=3.0.0.0" value="CargoWise.eHub.DataAccess.Cache.PartyAccessor, CargoWise.eHub.DataAccess.Cache, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.Cache.PartyAccessor, Version=3.0.0.0" value="CargoWise.eHub.DataAccess.Sql.PartyAccessor, CargoWise.eHub.DataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />

    <add key="GBCustomsID" value="GBCustoms"/>
    <add key="GBCustomsTestID" value="GBCustomsTest"/>
    <add key="GBCustomsRegistrationType" value="GBCustoms-Direct"/>
    <add key="GBCustomsSubscriptionType" value="GBCTID"/>
    <add key="SubscriptionProviderIDList" value ="GBCustomsTest-CTCGB,GBCustomsTest-EMCS,GBCustomsTest-GVMS,GBCustomsTest-ICSGB,GBCustoms-CTCGB,GBCustoms-EMCS,GBCustoms-GVMS,GBCustoms-ICSGB" />
    <add key="DatabaseAccessRetryTimeLimit" value="600"/>
    <add key="AuthorisationHeaderKey" value="Authorization"/>
    <add key="SchemaValidation" value="False"/>
    <add key="PushSecretTest" value="$PushSecretTest$"/>
    <add key="PushSecretUat" value="$PushSecretUat$"/>
    <add key="PushSecretProd" value="$PushSecretProd$"/>
    <add key="GetRecipientsRetryAttempts" value="4"/>
    <add key="GetRecipientsRetryWaitTime" value="10"/>
    <add key="HealthCheckRetryCount" value="10" />
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="CargoWise.eHub.DataAccess.Sql.eHubTransactions" connectionString="Data Source=localhost;Initial Catalog=eHubTransactions;App=eHub Gateway;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="eHubTransactionsContext" connectionString="Data Source=localhost;Initial Catalog=eHubTransactions;App=eHub Gateway;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <customErrors defaultRedirect="~/CustomErrorPage.aspx" mode="On" redirectMode="ResponseRewrite" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669E0DDF0BB1AA2A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="AF08829B84F0328E" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
