<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="CargoWise.eServices.Authentication.ServiceClient.Endpoint" value="https://aws.wisecloud.zone/authentication/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	</appSettings>
	<connectionStrings>
		<add name="eHubTransactionsContext"
				 connectionString="Data Source=ehubtransactions.db.wisegrid.net;Initial Catalog=eHubTransactions;App=RoutingWS;User ID=RoutingWS;Password=$DatabasePassword$"
				 providerName="System.Data.SqlClient"
				 xdt:Transform="Replace"
				 xdt:Locator="Match(name)"/>
	</connectionStrings>
	<log4net>
		<root>
			<level value="INFO" xdt:Transform="Replace"/>
		</root>
	</log4net>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="RRValidationWSBehaviour" xdt:Locator="Match(name)">
					<serviceMetadata xdt:Transform="Remove"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.webServer>
		<rewrite xdt:Transform="Insert">
			<rules>
				<rule name="Forward Heartbeat to HealthCheck">
					<match url="^$" />
					<action type="Rewrite" url="wtg/status" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>