.treeviewadv {
  overflow-x: auto;
}
.treeviewadv__columnheaders:not(.treeviewadv__columnheaders--no-hover) .treeviewadv__columnheader:hover {
  background-color: #d9ebf9;
}
.treeviewadv__columnheader {
  display: flex;
  align-items: center;
  font-weight: normal;
  background-color: #ffffff;
  overflow: hidden;
}
.treeviewadv__columnheader:first-child {
  padding-left: 2px;
}
.treeviewadv__columnheader:not(:first-child) {
  border-left: 1px solid gainsboro;
  padding-left: 1px;
}
.treeviewadv__columnheader:not(.treeviewadv__columnheader-ghostimage):last-child {
  border-right: 1px solid gainsboro;
  padding-right: 1px;
}
.treeviewadv__columnheader:active {
  background-color: #bcdcf4;
}
.treeviewadv__columnheader p {
  text-indent: 4px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.treeviewadv__columnheader:first-child p {
  margin-left: 3px;
}
.treeviewadv__columnheaders.treeviewadv__columnheaders--no-hover .treeviewadv__columnheader:nth-last-child(2) {
  border-right: 1px solid gainsboro;
  padding-right: 1px;
}
.treeviewadv__columnheaders.treeviewadv__columnheaders--no-hover .treeviewadv__columnheader-ghostimage {
  position: absolute;
  pointer-events: none;
  font-weight: bold;
  background-color: #c7c7c7;
  opacity: 0.5;
  border: none;
}
.treeviewadv__columnheaders.treeviewadv__columnheaders--no-hover .treeviewadv__columnheader--border-left {
  border-left: 2px solid #0066cc;
  padding-left: 0;
}
.treeviewadv__columnheaders.treeviewadv__columnheaders--no-hover .treeviewadv__columnheader.treeviewadv__columnheader--border-right {
  border-right: 2px solid #0066cc;
  padding-right: 0;
}
.treeviewadv__rows {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.treeviewadv__columnheader-sortmark, .treeviewadv__columnheader-sortmark--descending, .treeviewadv__columnheader-sortmark--ascending {
  min-width: 25px;
  height: 5px;
  background-repeat: no-repeat;
  background-position: center;
}
.treeviewadv__columnheader-sortmark--ascending {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAHYcAAB2HAY/l8WUAAAAkSURBVBhXY1iwYMF/QpgBBLBJwDBYAQwQVAADBBXAAKYCBgYAMNBHyBV9FTcAAAAASUVORK5CYII=");
}
.treeviewadv__columnheader-sortmark--descending {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAHYcAAB2HAY/l8WUAAAAnSURBVBhXY0AHCxYs+A9lYgcgBTAMFUIFyAqwKsSmAIYJKoDgBf8BlplHyAqLsFwAAAAASUVORK5CYII=");
}
.treeviewadv__columnheader-resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  user-select: none;
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAPCAYAAADphp8SAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAB6SURBVDhPzZLbDoAwCEPB//9nHaRbRofbojHxvFBuzYKqTDgLkI4WIAcOxFtsd7LfWBrt8o0R32QGzzYja9gteCAjm/Ur1ga0x8pOvWjV3uQpbgbx+kWeGGaG0DZqDXKo97UAN5CnS5yHzx+euIBnf/5nZ9gp6BwJIhfshnDb3C9s7QAAAABJRU5ErkJggg=="), ew-resize !important;
  height: 100%;
  border: none;
}
.treeviewadv__row {
  position: relative;
  min-width: 100%;
  width: max-content;
}
.treeviewadv__row:before {
  content: "";
  position: absolute;
  left: calc(var(--line-left) + 4px);
  height: 100%;
  z-index: 1;
  border-right: 1px solid var(--color-app-workspace);
}
.treeviewadv__row:last-child:before {
  height: calc(var(--row-height) / 2);
}
.treeviewadv > .treeviewadv__rows > .treeviewadv__row:only-child:before {
  height: 0;
}
.treeviewadv > .treeviewadv__rows > .treeviewadv__row:first-child:not(:only-child):before {
  top: calc(var(--row-height) / 2);
  height: calc(100% - var(--row-height) / 2);
}
.treeviewadv__rowcontent {
  position: relative;
  background-color: inherit;
}
.treeviewadv__rowcontent > div:not(:first-child) {
  z-index: 1;
}
.treeviewadv__dropmark {
  position: absolute;
  height: 2px;
  margin: 0 4px 0 -4px;
  background-color: black;
  pointer-events: none;
}
.treeviewadv__dropmark:before, .treeviewadv__dropmark:after {
  content: "";
  position: absolute;
  top: -4px;
  border: 5px solid transparent;
}
.treeviewadv__dropmark:before {
  border-left: 5px solid black;
  left: 0;
}
.treeviewadv__dropmark:after {
  border-right: 5px solid black;
  right: 0;
}
.treeviewadv__item {
  background-color: inherit;
  pointer-events: auto;
}
.treeviewadv__item * {
  pointer-events: none;
}
.treeviewadv__item p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: var(--row-height);
  padding-left: 2px;
}
.treeviewadv__plusminus {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.treeviewadv__plusminus img {
  z-index: 1;
}
.treeviewadv__plusminus:before {
  content: "";
  position: absolute;
  width: 12px;
  left: 4px;
  top: calc(var(--row-height) / 2);
  border-bottom: 1px solid var(--color-app-workspace);
}
.treeviewadv:has(.treeviewadv__rowcontent--ondrag) .treeviewadv__rowcontent--selected .treeviewadv__item p {
  color: #000000 !important;
}
.treeviewadv:has(.treeviewadv__rowcontent--ondrag) .treeviewadv__rowcontent--selected.treeviewadv__rowcontent--ondragover:not(:has(.treeviewadv__dropmark)) .treeviewadv__item p {
  color: #ffffff !important;
}
.treeviewadv:has(.treeviewadv__rowcontent--ondrag) .treeviewadv__rowcontent--ondragover:not(:has(.treeviewadv__dropmark)) .treeviewadv__item p {
  background-color: var(--color-highlight) !important;
}
.treeviewadv:has(.treeviewadv__rowcontent--ondrag) .treeviewadv__rowcontent--ondragover:not(:has(.treeviewadv__dropmark)):not([data-sales-relation]) .treeviewadv__item p {
  color: #ffffff !important;
}
.treeviewadv--border-fixedsingle {
  border: 1px solid var(--color-window-frame);
}
.treeviewadv--border-fixed3d {
  border: 2px ridge var(--color-button-shadow);
  border-bottom: 2px groove var(--color-button-highlight);
  border-right: 2px groove var(--color-button-highlight);
}