<?xml version="1.0" encoding="utf-8"?>
<log4net>
    <appender name="SystemLog" type="log4net.Appender.RollingFileAppender">
        <file type="log4net.Util.PatternString" value="logs/system.log" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="50" />
        <maximumFileSize value="5MB" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%4thread] %-5level - %message%newline" />
        </layout>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="System.Trace" />
            <acceptOnMatch value="false" />
        </filter>
        <threshold value="INFO" />
    </appender>
    <appender name="DebugLog" type="log4net.Appender.RollingFileAppender">
        <file type="log4net.Util.PatternString" value="logs/debug.log" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="50" />
        <maximumFileSize value="10MB" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%4thread] %-5level - %message%newline" />
        </layout>
        <threshold value="DEBUG" />
    </appender>
    <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
        <file type="log4net.Util.PatternString" value="logs/error.log" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="50" />
        <maximumFileSize value="5MB" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%4thread] %-5level - %message%newline" />
        </layout>
        <threshold value="ERROR" />
    </appender>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="SystemLog" />
        <appender-ref ref="DebugLog" />
        <appender-ref ref="ErrorLog" />
        <!--appender-ref ref="AdoNetAppender"/-->
    </root>
</log4net>

