<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~\CargoWise.eHub.Products.NZCustoms.Gateway.log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <system.web>
    <httpRuntime maxRequestLength="102400" executionTimeout="1200" targetFramework="4.8"/>
    <compilation targetFramework="4.8"/>
  </system.web>
  <system.net>
    <defaultProxy>
      <proxy bypassonlocal="True" usesystemdefault="false" proxyaddress="http://127.0.0.1:8888" />
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <!-- This extension reads an attachment from Operation Context and put it to message as multipart MIME and vice versa -->
        <add name="swaMessageEncoding" type="CargoWise.eHub.Products.NZCustoms.SoapWithAttachments.SwaMessageEncodingElement, CargoWise.eHub.Products.NZCustoms.SoapWithAttachments" />
        <!-- This extension removes signature from incoming message. This is a temporary measure becayse if jave/WCF interop incompatibility. -->
        <add name="RemoveResponseSignatureChannel" type="CargoWise.eHub.Products.NZCustoms.Client.SignatureRemoval.RemoveResponseSignatureChannelBindingElementExtensionElement, CargoWise.eHub.Products.NZCustoms.Client" />
      </bindingElementExtensions>
      <behaviorExtensions>
        <add name="clientCredentialsExtension" type="CargoWise.eHub.Products.NZCustoms.Client.Wcf.ClientCredentialsExtensionElement, CargoWise.eHub.Products.NZCustoms.Client" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <customBinding>
        <binding name="NZGatewayBinding" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" maxSessionSize="2048">
            <readerQuotas maxDepth="1048576" maxStringContentLength="283115520" maxArrayLength="283115520" maxBytesPerRead="1048576" maxNameTableCharCount="1048576" />
          </binaryMessageEncoding>
          <httpsTransport requireClientCertificate="false">
            <extendedProtectionPolicy policyEnforcement="Never" />
          </httpsTransport>
        </binding>
        <binding name="jbms_swa_binding" sendTimeout="00:20:00" receiveTimeout="00:20:00" openTimeout="00:02:00" closeTimeout="00:02:00">
          <swaMessageEncoding innerMessageEncoding="textMessageEncoding" />
          <security defaultAlgorithmSuite="Basic128Sha256Rsa15" allowSerializedSigningTokenOnReply="true" authenticationMode="MutualCertificate" requireDerivedKeys="false" securityHeaderLayout="Lax" includeTimestamp="true" enableUnsecuredResponse="true" keyEntropyMode="ClientEntropy" messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
            <secureConversationBootstrap>
              <localClientSettings detectReplays="false" />
              <localServiceSettings detectReplays="false" />
            </secureConversationBootstrap>
          </security>
          <RemoveResponseSignatureChannel />
          <httpsTransport requireClientCertificate="true">
            <extendedProtectionPolicy policyEnforcement="Never" />
          </httpsTransport>
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="CargoWise.eHub.Products.NZCustoms.Gateway.MessageGateway" behaviorConfiguration="httpGetEnabled">
        <endpoint binding="customBinding" bindingConfiguration="NZGatewayBinding" contract="CargoWise.eHub.Products.NZCustoms.Gateway.IMessageGateway" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="httpGetEnabled">
          <serviceThrottling maxConcurrentCalls="1" maxConcurrentSessions="1" maxConcurrentInstances="1" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="jbms_credentials_behavior">
          <clientCredentialsExtension>
            <clientCertificate findValue="client.dummy.cargowise" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
            <transportCertificate findValue="transport.dummy.cargowise.net" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
            <serviceCertificate>
              <defaultCertificate findValue="default.dummy.customs" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectName" />
              <authentication certificateValidationMode="None" trustedStoreLocation="LocalMachine" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentialsExtension>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://localhost:1443/soap?service=TSW_WS_SUBMIT_LODGEMENT&amp;TP=CARGOWISE" binding="customBinding" bindingConfiguration="jbms_swa_binding" behaviorConfiguration="jbms_credentials_behavior" contract="SubmitLodgement_v2" name="SubmitLodgement">
        <identity>
          <dns value="dummy.customs" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <add path="wtg/status" verb="*" type="CargoWise.eHub.Products.NZCustoms.Gateway.HealthCheck.NZCustomsGatewayHealthCheckHttpTaskAsyncHandler" name="NZCustomsGatewayHealthCheckHttpTaskAsyncHandler" />
    </handlers>
  </system.webServer>  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669E0DDF0BB1AA2A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="AF08829B84F0328E" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="AF08829B84F0328E" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
