<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="ExceptionMessagePatterns" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~\CargoWise.eHub.Products.NZCustoms.PullService.log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <add key="CargowisePartnerID" value="CARGOWISE" />
    <add key="PullInterval" value="60000" />
    <add key="FailedToDeliverMessageFolder" value="C:\Services\NZCustomsFailedToDeliverMessages\" />
    <add key="RetryCount" value="1" />
  </appSettings>
  <ExceptionMessagePatterns>
    <add key="ClientUnresolved" value="Reason: Can't resolve client. ApplicationCode: NZC and Reference" />
  </ExceptionMessagePatterns>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <!-- This extension reads an attachment from Operation Context and put it to message as multipart MIME and vice versa -->
        <add name="swaMessageEncoding" type="CargoWise.eHub.Products.NZCustoms.SoapWithAttachments.SwaMessageEncodingElement, CargoWise.eHub.Products.NZCustoms.SoapWithAttachments" />
        <!-- This extension removes signature from incoming message. This is a temporary measure becayse if jave/WCF interop incompatibility. -->
        <add name="RemoveResponseSignatureChannel" type="CargoWise.eHub.Products.NZCustoms.Client.SignatureRemoval.RemoveResponseSignatureChannelBindingElementExtensionElement, CargoWise.eHub.Products.NZCustoms.Client" />
      </bindingElementExtensions>
      <behaviorExtensions>
        <add name="clientCredentialsExtension" type="CargoWise.eHub.Products.NZCustoms.Client.Wcf.ClientCredentialsExtensionElement, CargoWise.eHub.Products.NZCustoms.Client" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <customBinding>
        <binding name="NZCustomsReply">
          <binaryMessageEncoding maxReadPoolSize="1024" maxWritePoolSize="1024">
            <readerQuotas maxDepth="1048576" maxStringContentLength="1048576" maxArrayLength="104857600" maxBytesPerRead="1048576" maxNameTableCharCount="1048576" />
          </binaryMessageEncoding>
          <tcpTransport manualAddressing="false" maxBufferPoolSize="1048576" maxReceivedMessageSize="104857600" connectionBufferSize="1048576" hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:00:05" maxBufferSize="104857600" maxPendingConnections="200" maxOutputDelay="00:00:00.2000000" maxPendingAccepts="200" transferMode="Buffered" listenBacklog="200" portSharingEnabled="false" teredoEnabled="false">
            <connectionPoolSettings groupName="default" leaseTimeout="00:05:00" idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="200" />
          </tcpTransport>
        </binding>
        <binding name="jbms_swa_binding" sendTimeout="00:02:00" receiveTimeout="00:02:00" openTimeout="00:01:00" closeTimeout="00:01:00">
          <swaMessageEncoding innerMessageEncoding="textMessageEncoding" />
          <security defaultAlgorithmSuite="Basic128Sha256Rsa15" allowSerializedSigningTokenOnReply="true" authenticationMode="MutualCertificate" requireDerivedKeys="false" securityHeaderLayout="Lax" includeTimestamp="true" enableUnsecuredResponse="true" keyEntropyMode="ClientEntropy" messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
            <secureConversationBootstrap>
              <localClientSettings detectReplays="false" />
              <localServiceSettings detectReplays="false" />
            </secureConversationBootstrap>
          </security>
          <RemoveResponseSignatureChannel />
          <httpsTransport requireClientCertificate="true" maxReceivedMessageSize="104857600">
            <extendedProtectionPolicy policyEnforcement="Never" />
          </httpsTransport>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="jbms_credentials_behavior">
          <clientCredentialsExtension>
            <clientCertificate findValue="client.dummy.cargowise" />
            <transportCertificate findValue="transport.dummy.cargowise.net" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
            <serviceCertificate>
              <defaultCertificate findValue="default.dummy.customs" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectName" />
              <authentication certificateValidationMode="None" trustedStoreLocation="LocalMachine" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentialsExtension>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.tcp://localhost/NZCustomsReplyService/NZCustomsReply.svc" binding="customBinding" bindingConfiguration="NZCustomsReply" contract="CargoWise.eHub.Products.NZCustoms.Common.INZCustomsReply" name="NZCustomsReplyService" />
      <endpoint address="https://localhost/soap?service=TSW_WS_REQUEST_LODGE_RESPONSE&amp;TP=CARGOWISE" binding="customBinding" bindingConfiguration="jbms_swa_binding" behaviorConfiguration="jbms_credentials_behavior" contract="RequestLodgeResponse_v1" name="RequestLodgeResponse">
        <identity>
          <dns value="dummy.customs" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>