<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>

	<!--Copied from eHub.Core configurations-->
	<appSettings>
		<add key="CargoWise.eHub.Core.DataAccess.SecirutyAccessor" value="CargoWise.eHub.Core.DataAccess.Sql.SecirutyAccessor, CargoWise.eHub.Core.DataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>
		<add key="CargoWise.eHub.Core.DataAccess.OutboxAccessor" value="CargoWise.eHub.Core.DataAccess.Sql.OutboxAccessor, CargoWise.eHub.Core.DataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>
		<add key="CargoWise.eHub.Core.DataAccess.ExceptionsAccessor" value="CargoWise.eHub.Core.DataAccess.Sql.ExceptionsAccessor, CargoWise.eHub.Core.DataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>
		<add key="CargoWise.eHub.Core.DataAccess.PartyAccessor" value="CargoWise.eHub.Core.DataAccess.Cache.PartyAccessor, CargoWise.eHub.Core.DataAccess.Cache, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>
		<add key="CargoWise.eHub.Core.DataAccess.TransformAccessor" value="CargoWise.eHub.Core.DataAccess.Cache.TransformAccessor, CargoWise.eHub.Core.DataAccess.Cache, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>
		<add key="CargoWise.eHub.Core.DataAccess.Cache.PartyAccessor" value="CargoWise.eHub.Core.DataAccess.Sql.PartyAccessor, CargoWise.eHub.Core.DataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>
		<add key="CargoWise.eHub.Core.DataAccess.Cache.TransformAccessor" value="CargoWise.eHub.Core.DataAccess.Sql.TransformAccessor, CargoWise.eHub.Core.DataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>
		<!--Size of buffers used when programmatically managing streams (eg) xpathreader, re-encoding, etc-->
		<add key="StreamingBufferSize" value="65536"/>
		<add key="SmtpServerName" value="enmail.cargowise.com"/>
		<add key="eHubEmailAddress" value="ehub@cargowise.com"/>
		<add key="EmailSubject" value="Password Notification"/>
	</appSettings>

	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel"
			 switchValue="Information, ActivityTracing"
			 propagateActivity="true">
				<listeners>
					<add name="traceListener"
				 type="System.Diagnostics.XmlWriterTraceListener"
				 initializeData="C:\temp\WCFLogs\Server\TEMPTraces.svclog"  />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>

	<connectionStrings>
		<add name="CargoWise.eHub.Core.DataAccess.Sql.eHubTransactions" connectionString="Data Source=ehub-db.dev.corporate.cargowise.com ;Initial Catalog=eHubTransactions;Integrated Security=SSPI;" />
	</connectionStrings>

	<system.web>
		<!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
		<httpRuntime maxRequestLength="2097151" executionTimeout="300"/>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>



	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="HttpStreamingService" maxReceivedMessageSize="104857600" maxBufferPoolSize="524288000">
					<security mode="TransportWithMessageCredential">
						<transport>
							<extendedProtectionPolicy policyEnforcement="Never" />
						</transport>
						<message clientCredentialType="UserName"/>
					</security>
				</binding>
				<binding name="HttpBufferedService" maxReceivedMessageSize="104857600" maxBufferPoolSize="524288000">
					<security mode="Transport"/>
				</binding>
			</basicHttpBinding>
			<customBinding>
				<binding name="netTcpBinaryStreamedBinding" receiveTimeout="01:00:00"
					sendTimeout="01:00:00">
					<binaryMessageEncoding maxSessionSize="1048576">
						<readerQuotas maxDepth="1048576" maxStringContentLength="1048576"
							maxArrayLength="104857600" maxBytesPerRead="1048576" maxNameTableCharCount="1048576" />
					</binaryMessageEncoding>
					<windowsStreamSecurity protectionLevel="EncryptAndSign" />
					<tcpTransport maxBufferPoolSize="1048576" maxReceivedMessageSize="104857600"
						connectionBufferSize="1048576" maxBufferSize="1048576" maxPendingConnections="200"
						maxPendingAccepts="200" transferMode="Streamed" listenBacklog="200">
						<connectionPoolSettings maxOutboundConnectionsPerEndpoint="200" />
						<extendedProtectionPolicy policyEnforcement="Never" />
					</tcpTransport>
				</binding>
			</customBinding>
			<netTcpBinding>
				<binding name="netTcpBinding">
					<security mode="Transport">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign">
							<extendedProtectionPolicy policyEnforcement="Never" />
						</transport>
					</security>
				</binding>
			</netTcpBinding>
			<wsHttpBinding>
				<binding name="WSHttpBinding_ITwoWayAsyncVoid" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
				 textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
					 enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
						 realm="">
							<extendedProtectionPolicy policyEnforcement="Never" />
						</transport>
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
						 algorithmSuite="Default" establishSecurityContext="true" />
					</security>
				</binding>
			</wsHttpBinding>
			<mexHttpsBinding>
				<binding name="SecureMex" />
			</mexHttpsBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://biztalk-web.dev.corporate.cargowise.com:10551/SendStreamRequestService"
				binding="customBinding" bindingConfiguration="netTcpBinaryStreamedBinding"
				contract="CargoWise.eHub.Gateway.Internal.ISendStreamRequestService"
				name="netTcpBinaryStreamedSendEndpoint" />
			<endpoint address="net.tcp://biztalk-web.dev.corporate.cargowise.com:16402/eHubRetrieveService"
			 binding="netTcpBinding" bindingConfiguration="netTcpBinding"
			 contract="CargoWise.eHub.Gateway.IRetrieveService" name="netTcpRetrieveEndpoint" />
			<endpoint address="http://biztalk-web.dev.corporate.cargowise.com/ESB.ExceptionHandlingServices.WCF/ExceptionHandling.svc"
			 binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsyncVoid"
			 contract="ESBExceptionHandlingReference.ExceptionHandling" name="WSHttpBinding_ITwoWayAsyncVoid">
				<identity>
					<userPrincipalName value="pavlo.tubolets@corporate.cargowise.com" />
				</identity>
			</endpoint>
		</client>
		<services>
			<service behaviorConfiguration="CargoWise.eHub.Gateway.eHubStreamedServiceBehavior" name="CargoWise.eHub.Gateway.eHubStreamedService">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpStreamingService" contract="CargoWise.eHub.Gateway.IeHubStreamedService" />
				<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="CargoWise.eHub.Gateway.PasswordNotificationServiceBehavior" name="CargoWise.eHub.Gateway.PasswordNotificationService">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBufferedService" contract="CargoWise.eHub.Gateway.IPasswordNotificationService"></endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<extensions>
			<behaviorExtensions>
				<add name="errorHandling" type="CargoWise.eHub.Gateway.eHubErrorHandler, CargoWise.eHub.Gateway, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4f570df270576350" />
			</behaviorExtensions>
		</extensions>
		<behaviors>
			<serviceBehaviors>
				<behavior name="CargoWise.eHub.Gateway.eHubStreamedServiceBehavior">
					<serviceAuthorization serviceAuthorizationManagerType="CargoWise.eHub.Gateway.eHubServiceAuthorizationManager, CargoWise.eHub.Gateway, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4f570df270576350" />
					<serviceCredentials>
						<serviceCertificate findValue="SYD-TWEB-1.corporate.cargowise.com"
						 storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
						<userNameAuthentication userNamePasswordValidationMode="Custom"
						 customUserNamePasswordValidatorType="CargoWise.eHub.Gateway.eHubUserNamePasswordValidator, CargoWise.eHub.Gateway, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4f570df270576350" />
					</serviceCredentials>
					<serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
					<errorHandling />
				</behavior>
				<behavior name="CargoWise.eHub.Gateway.PasswordNotificationServiceBehavior">
					<serviceCredentials>
						<serviceCertificate findValue="SYD-TWEB-1.corporate.cargowise.com"
						 storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
					</serviceCredentials>
					<serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false" />
					<errorHandling />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
