<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ServiceName" value="USC_Inbound_AES_New" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="IsProduction" value="true" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="SendCopiesToTest" value="false" xdt:Transform="Remove"
         xdt:Locator="Match(key)"/>
    <add key="TestBrokerInstanceID" value="D9675392-AAED-4927-94B4-6DA9A729F999" xdt:Transform="Remove"
         xdt:Locator="Match(key)" />
    <add key="ProductionHostname" value="ordwp-ccmq-3-prod.wisecloud.zone" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="ProductionPassword" value="$ProductionPassword$" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="USCustoms" connectionString="Data Source=ehublistener-uscustoms.wisecloud.zone;Initial Catalog=USCustoms;User Id=USCustoms;Password=$DatabasePassword$" xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>