[*.cs]

# CA1018: Mark attributes with AttributeUsageAttribute
dotnet_diagnostic.CA1018.severity = warning

# CA1813: Avoid unsealed attributes
dotnet_diagnostic.CA1813.severity = warning

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = warning

# CW1134: sealed non-abstract testCases rule
dotnet_diagnostic.CW1134.severity = silent

# CW1161: ResGetStringAnalyzer - not required for Customs\IN
dotnet_diagnostic.CW1161.severity = none

# CW1164: Do not use string literals in ListAttribute rule
dotnet_diagnostic.CW1164.severity = error
