/* Homepage */
/* Homepage */
:root {
  --s-fontFamily-primary: Inter;
  --s-fontSize-300: 13px;
  --s-fontWeight-400: 400;
  --s-fontWeight-600: 600;
  --s-lineHeight-300: 20px;
  --s-padding-s: 4px;
  --s-padding-m: 8px;
  --s-radius-s: 4px;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  src: url("../../fonts/inter.woff2") format("woff2");
}
html, body {
  font-family: var(--s-fontFamily-primary);
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --s-neutral-bg-default: rgb(255, 255, 255);
  --s-neutral-bg-inv-default: rgb(92, 91, 87);
  --s-neutral-bg-weak-default: rgb(247, 247, 244);
  --s-neutral-bg-weak-active: rgb(232, 231, 227);
  --s-neutral-bg-weak-hover: rgb(239, 238, 235);
  --s-neutral-border-weak-default: rgb(191, 190, 185);
  --s-neutral-canvas-default: rgb(247, 247, 244);
  --s-neutral-icon-default: rgb(71, 71, 70);
  --s-neutral-icon-hover: rgb(27, 27, 26);
  --s-neutral-icon-weak-default: rgb(141, 140, 136);
  --s-neutral-txt-default: rgb(56, 56, 54);
  --s-neutral-txt-weak-default: rgb(141, 140, 136);
  --s-neutral-txt-inv-default: rgb(247, 247, 244);
  --s-neutral-txt-weak-inv-default: rgb(218, 217, 213);
  --s-brand-bg-default: rgb(55, 30, 225);
  --s-brand-icon-default: rgb(246, 248, 255);
  --s-brand-txt-default: rgb(246, 248, 255);
  --s-brand-wtg-bg-default: rgb(55, 30, 225);
  --s-brand-wtg-bg-weak-default: rgba(55, 30, 225, 0.2);
  --s-brand-wtg-border-weak-default: rgba(55, 30, 225, 0.3);
  --s-error-bg-default: rgb(213, 0, 71);
  --s-error-txt-inv-default: rgb(254, 246, 249);
  --s-primary-border-default: rgb(55, 30, 225);
  --s-primary-txt-default: rgb(55, 30, 225);
  --s-scroll-bg-default: rgb(229, 229, 229);
  --s-scroll-bg-hover: rgb(208, 208, 208);
}

.cwn-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid var(--s-neutral-border-weak-default, #BFBEB9);
  background: var(--s-neutral-bg-default, #FFFFFF);
  box-shadow: 0px -1px 1px 0px var(--neutral-elevation-100-inner, rgba(27, 27, 26, 0.12)) inset, 0px 1px 1px 0px var(--neutral-elevation-100-drop, rgba(27, 27, 26, 0.06));
}

.cwn-card__header {
  display: flex;
  padding: 16px;
  align-items: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.cwn-card__header .cwn-card__header__avatar {
  flex: 0 0 auto;
  margin-right: 16px;
  margin-inline-end: 16px;
  margin-inline-start: unset;
}
.cwn-card__header .cwn-card__header__content {
  flex: 1 1 auto;
}
.cwn-card__header .cwn-card__header__content .cwn-typography {
  margin-bottom: 0;
}
.cwn-card__header .cwn-card__header__actions {
  flex: 0 0 auto;
  align-self: flex-start;
  margin-top: calc(var(8px) * -1);
  margin-right: calc(var(8px) * -1);
  margin-inline-end: calc(var(8px) * -1);
  margin-inline-start: unset;
}

.cwn-card__content {
  flex-grow: 1;
  padding: 8px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.cwn-card__actions {
  display: flex;
  padding: 8px;
  justify-content: flex-end;
}

.cwn-card__content::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.cwn-card__content::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

.cwn-card__content::-webkit-scrollbar-thumb {
  background: var(--s-scroll-bg-default);
  border-radius: 24px;
}

.cwn-card__content::-webkit-scrollbar-thumb:hover {
  background: var(--s-scroll-bg-hover);
}

.cwn-home__wrapper {
  display: flex;
  min-width: 992px;
  background-color: #F7F7F4;
  height: 100%;
}
.cwn-home__panel--left {
  width: 248px;
}
.cwn-home__panel--main {
  flex: 1 1 auto;
}
.cwn-home__panel--right {
  width: 248px;
}
.cwn-home__header {
  background-color: var(--s-brand-bg-default);
  color: var(--s-neutral-txt-inv-default);
  padding: 10px;
}
.cwn-home__footer {
  background-color: var(--s-brand-wtg-bg-default);
  color: var(--s-neutral-txt-inv-default);
  padding: 10px;
}

.cwn-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--neutral-canvas-default);
  color: var(--s-neutral-txt-default);
}
.cwn-layout__main-content {
  flex: 1 1 auto;
}

.cwn-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cwn-list__item {
  cursor: pointer;
  display: flex;
  padding: var(--s-padding-s);
  align-items: center;
  gap: var(--s-padding-m);
  align-self: stretch;
  border-radius: var(--s-radius-s);
}
.cwn-list__item:hover {
  border-radius: var(--s-radius-s);
  background-color: var(--s-neutral-bg-weak-hover);
  text-decoration-line: underline;
}
.cwn-list__item__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  color: var(--s-neutral-txt-default);
  text-overflow: ellipsis;
  font-size: var(--s-fontSize-300);
  font-style: normal;
  font-weight: var(--s-fontWeight-400);
  line-height: var(--s-lineHeight-300);
}

.cwn-paper {
  color: var(--s-neutral-txt-default);
  background-color: var(--s-neutral-bg-default);
  border-radius: var(--s-neutral-borderradius-bg, 8px);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}