<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Custom Sections Declaration. This should be first element in Configuration -->
    <section name="secureWebPages" type="Enterprise.ZArchitecture.Web.Security.Configuration.SecureWebPageSettings, Enterprise.ZArchitecture.Web.GUI"/>
    <sectionGroup name="system.web">
      <section name="neatUpload" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload" allowLocation="true"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Settings for database and site functionality
    -->
    <add key="DatabaseName" value="Odyssey"/>
    <add key="ServerName" value="dbserver"/>
    <add key="DBAdminEmail" value="TrackErr@cargowise.com"/>
    <add key="Branch" value="SYD"/>
    <!-- Settings for the look and feel
    -->
    <add key="CompanyName" value="WiseTech Global"/>
    <add key="HomePageURL" value="http://www.wisetechglobal.com/"/>
    <add key="WebUser" value="CWWeb"/>

    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="aspnet:RequestQueueLimitPerSession" value="2147483647"/>
  </appSettings>
  <location inheritInChildApplications="false">
    <system.web>
      <machineKey validationKey="A28194E8124CC6D33F8C2F313E357ED5C835E5105E4337586022126F516C0D99BD0F333DD2056459E3D821877596B2794C4EB42376DAE0996261464E830263C0" decryptionKey="A37F1DACCC7E561612359877914304E679160BC7FAA3F92BE1C6A38963BD7B67" validation="SHA1" decryption="AES"/>
      <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
        <controls>
          <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </controls>
      </pages>
      <httpCookies httpOnlyCookies="true"/>
      <httpModules>
        <add name="SecureWebPage" type="Enterprise.ZArchitecture.Web.Security.SecureWebPageModule, Enterprise.ZArchitecture.Web.GUI"/>
        <add name="SecureCookieModule" type="Enterprise.ZArchitecture.Web.Security.SecureCookieModule, Enterprise.ZArchitecture.Web.GUI"/>
        <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload"/>
        <add name="XFrameOptionModule" type="Enterprise.ZArchitecture.Web.Security.ClickJackingProtectionModule, Enterprise.ZArchitecture.Web.GUI"/>
      </httpModules>
      <httpHandlers>
        <add path="*.css" verb="GET" type="Enterprise.Tracking.Web.ClientSpecificCssHandler"/>
        <add path="Images/*" verb="GET" type="Enterprise.Tracking.Web.ClientSpecificImageHandler"/>
        <add verb="GET" path="eDocsRequestHandler.axd" type="Enterprise.DocumentScanning.Web.eDocsRequestHandler,Enterprise.DocumentScanning.Web"/>
        <add verb="GET" path="QuoteRequestHandler.axd" type="Enterprise.Tracking.Web.QuoteRequestHandler,Enterprise.Tracking.Web"/>
        <add verb="GET" path="QuoteClientReplyRequestHandler.axd" type="Enterprise.Tracking.Web.QuoteClientReplyRequestHandler,Enterprise.Tracking.Web"/>
        <add verb="GET" path="InvoiceRequestHandler.axd" type="Enterprise.Tracking.Web.InvoiceRequestHandler,Enterprise.Tracking.Web"/>
        <add verb="GET" path="StatementRequestHandler.axd" type="Enterprise.Tracking.Web.StatementRequestHandler,Enterprise.Tracking.Web"/>
        <add verb="GET" path="AutoLoginRequestHandler.axd" type="Enterprise.Tracking.Web.AutoLoginRequestHandler,Enterprise.Tracking.Web"/>
        <add verb="GET" path="ReportRequestHandler.axd" type="Enterprise.Tracking.Web.ReportRequestHandler,Enterprise.Tracking.Web"/>
        <add verb="GET" path="DocumentRequestHandler.axd" type="Enterprise.Tracking.Web.DocumentRequestHandler,Enterprise.Tracking.Web"/>
        <add verb="GET" path="FreightLabelRequestHandler.axd" type="Enterprise.Tracking.Web.FreightLabelRequestHandler,Enterprise.Tracking.Web"/>
        <add verb="GET" path="HouseBillRequestHandler.axd" type="Enterprise.Tracking.Web.HouseBillRequestHandler,Enterprise.Tracking.Web"/>
        <add verb="GET" path="ModulePreloadRequestHandler.axd" type="Enterprise.Tracking.Web.ModulePreloadRequestHandler,Enterprise.Tracking.Web"/>
        <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
        <add verb="POST" path="AutoCompleteTextBoxRequestHandler.ashx" type="Enterprise.ZArchitecture.Web.GUI.WebControls.AutoCompleteTextBoxRequestHandler, Enterprise.ZArchitecture.Web.GUI.Ajax"/>
        <add verb="GET" path="ResourceStringUsageData.axd" type="Enterprise.ZArchitecture.Web.GUI.WebControls.TranslationFeedbackManager+ResourceStringUsageRequestHandler,Enterprise.ZArchitecture.Web.GUI"/>
        <remove verb="*" path="*.asmx"/>
        <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory" validate="false"/>
      </httpHandlers>
      <!--  DYNAMIC DEBUG COMPILATION
      Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
      false will improve runtime performance of this application.
      Set compilation debug="true" to insert debugging symbols (.pdb information)
      into the compiled page. Because this creates a larger file that executes
      more slowly, you should set this value to true only when debugging and to
      false at all other times. For more information, refer to the documentation about
      debugging ASP.NET files.
      -->
      <compilation targetFramework="4.8" defaultLanguage="c#" debug="true">
        <assemblies>
          <remove assembly ="*"/>
          <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
          <add assembly="Enterprise.Tracking.Business"/>
          <add assembly="Enterprise.Tracking.Web"/>
          <add assembly="Enterprise.Tracking.Module"/>
          <add assembly="Enterprise.ZArchitecture.Web.GUI"/>
          <add assembly="Enterprise.ZArchitecture.Web.Business"/>
          <add assembly="Enterprise.ZArchitecture.Web.Shared"/>
          <add assembly="Enterprise.ZArchitecture.Web.GUI.Ajax"/>
          <add assembly="CargoWise.ComponentModel"/>
          <add assembly="Enterprise.ZArchitecture.GUI"/>
          <add assembly="Enterprise.ZArchitecture.Core"/>
          <add assembly="Enterprise.ZArchitecture.Business"/>
          <add assembly="Enterprise.ZArchitecture.Modules"/>
        </assemblies>
      </compilation>
      <hostingEnvironment shadowCopyBinAssemblies="false"/>
      <!--  CUSTOM ERROR MESSAGES
      Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable.
      Add <error> tags for each of the errors you want to handle.

      "On" Always display custom (friendly) messages.
      "Off" Always display detailed ASP.NET error information.
      "RemoteOnly" Display custom (friendly) messages only to users not running
      on the local Web server. This setting is recommended for security purposes, so
      that you do not display application detail information to remote clients.
      -->
      <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx"/>
      <!--  AUTHENTICATION
      This section sets the authentication policies of the application. Possible modes are "Windows",
      "Forms", "Passport" and "None"

      "None" No authentication is performed.
      "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to
      its settings for the application. Anonymous access must be disabled in IIS.
      "Forms" You provide a custom form (Web page) for users to enter their credentials, and then
      you authenticate them in your application. A user credential token is stored in a cookie.
      "Passport" Authentication is performed via a centralized authentication service provided
      by Microsoft that offers a single logon and core profile services for member sites.
      -->
      <authentication mode="Forms">
        <forms name=".ASPXAUTH" loginUrl="~/Login/Login.aspx" protection="All" timeout="60" path="/"/>
      </authentication>
      <!--  AUTHORIZATION
      This section sets the authorization policies of the application. You can allow or deny access
      to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous
      (unauthenticated) users.
      -->
      <authorization>
        <deny users="?"/>
        <!-- Deny anonymous users -->
        <allow users="*"/>
        <!-- Allow authenticated users -->
      </authorization>
      <!--  APPLICATION-LEVEL TRACE LOGGING
      Application-level tracing enables trace log output for every page within an application.
      Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
      trace information will be displayed at the bottom of each page.  Otherwise, you can view the
      application trace log by browsing the "trace.axd" page from your web application
      root.
      -->
      <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
      <!--  SESSION STATE SETTINGS
      By default ASP.NET uses cookies to identify which requests belong to a particular session.
      If cookies are not available, a session can be tracked by adding a session identifier to the URL.
      To disable cookies, set sessionState cookieless="true".
      -->
      <sessionState cookieName="WebTracker_SessionId" cookieless="UseCookies" mode="InProc" sessionIDManagerType="Enterprise.Tracking.Web.SessionFixationIdManager,Enterprise.Tracking.Web" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" stateConnectionString="tcpip=127.0.0.1:42424" timeout="60"/>
      <!--  GLOBALIZATION
      This section sets the globalization settings of the application.
      -->
      <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
      <httpRuntime targetFramework="4.8" maxRequestLength="100000" maxQueryStringLength="6000" executionTimeout="1800" shutdownTimeout="1800" requestValidationMode="2.0" enableVersionHeader="false"/>
      <neatUpload maxRequestLength="100000" maxNormalRequestLength="100000"/>
    </system.web>
    <!-- WEB PAGE SECURITY
      This section will redirect any matching pages to the HTTPS protocol for SSL security
      and, if needed, redirect any non-matching pages (or pages matching an entry marked secure="false")
      to the HTTP protocol to remove the security and encryption.

      Set secureWebPages mode="On", "RemoteOnly" or "LocalOnly" to enable web page security;
      "Off" to disable (default = "On").

      "On": Security is enabled and all requests are monitored.
      "RemoteOnly": Only requests from remote clients are monitored.
      "LocalOnly": Only requests from the local server are monitored.
      "Off": No requests are monitored.

      Set encryptedUri to a specific URI to indicate where to redirect to when the module decides that
      security is needed. Likewise, set unencryptedUri for times the module decides that security is
      not needed.

      Set secureWebPages warningBypassMode="AlwaysBypass" to always bypass security warnings;
      "NeverBypass" to never bypass the warnings (default = "BypassWithQueryParam").

      "AlwaysBypass": Always bypass security warnings when switching to an unencrypted page.
      "NeverBypass": Never bypass security warnings when switching to an unencrypted page.

      - Add directories via <add> tags inside a <directories> tag for each directory to secure.
      - Add files via <add> tags inside a <files> tag for each file to secure.
      - Both tags expect a "path" attribute to the directory or file that should be evaluated.
      	Specify "/" as the directory path in order to denote the application root (not the site root).
      - Both tags may include a "secure" attribute indicating whether or not to secure the
      	directory or file (default = "True"). Possible values are "True" to force security,
      	"False" to force insecurity and "Ignore" to ignore the file or directory and do nothing.
      - Directory <add> tags may include a "recurse" attribute. If "True", all files in any sub-directories
      	are included (default = "False").
  -->
    <secureWebPages mode="Off">
      <files>
        <add path="Login/Login.aspx"/>
        <add path="Login/ForgotPassword.aspx"/>
        <add path="Admin/ChangePassword.aspx"/>
      </files>
      <directories/>
    </secureWebPages>
    <system.webServer>
      <applicationInitialization doAppInitAfterRestart="true">
        <!-- These initializationPages will compile all pages/controls in the directory. If you need to warmup more modules, add the _Preload.aspx page for that module. -->
        <!-- /Preload.aspx has controls created at runtime so that the user is not waiting for these to compile on a postback -->
        <add initializationPage="/Login/Login.aspx"/>
        <add initializationPage="/WebService/_Preload.aspx"/>
        <add initializationPage="/Preload.aspx"/>
        <add initializationPage="/ModulePreloadRequestHandler.axd"/>
      </applicationInitialization>
    </system.webServer>
  </location>
  <location path="BaseStyle.css">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="DefaultStyle.css">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="menu.css">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Error.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Logout.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/ResetPassword.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/SetPassword.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Login/ForgotPassword.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Login/LoginSuperseded.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Login/LoginRedirection.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/ResetMasterPassword.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/SetMasterPassword.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Login/LoginComplete.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="WebService">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="AutoLoginRequestHandler.axd">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="RunUrl.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ExchangeRates/ExchangeRates.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <!-- Begin Preload -->
  <location path="Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Accounts/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="AWB/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="AWB/HAWB/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="AWB/MAWB/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Bookings/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Cartage/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="CFSShipments/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Containers/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Declaration/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ExchangeRates/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ImporterSecurityFiling/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="LinerAndAgency/BillsOfLading/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="LinerAndAgency/Bookings/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="LinerAndAgency/LinerAndAgencyContainers/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Messaging/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Orders/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Quotes/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Reports/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Schedules/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Shipments/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Terms/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Warehousing/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="WebService/_Preload.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ModulePreloadRequestHandler.axd">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <!-- End Preload -->
  <location path="Schedules/FlightSchedules.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Schedules/SailingSchedules.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Schedules/RoadSchedules.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Schedules/RailSchedules.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="NeatUpload">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ResourceStringUsageData.axd">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Enterprise.Tracking.Web.Location.PortLoadHelperBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Enterprise.Tracking.Web.Location.PortLoadHelperBehavior" name="Enterprise.Tracking.Web.Location.PortLoadHelper">
        <endpoint address="" binding="webHttpBinding" contract="Enterprise.Tracking.Web.Location.IPortLoadHelper" bindingConfiguration="">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules>
      <remove name="SecureWebPage"/>
      <remove name="SecureCookieModule"/>
      <remove name="ScriptModule"/>
      <remove name="UploadHttpModule"/>
      <remove name="XFrameOptionModule"/>
      <add name="SecureWebPage" type="Enterprise.ZArchitecture.Web.Security.SecureWebPageModule, Enterprise.ZArchitecture.Web.GUI" preCondition="managedHandler"/>
      <add name="SecureCookieModule" type="Enterprise.ZArchitecture.Web.Security.SecureCookieModule, Enterprise.ZArchitecture.Web.GUI" preCondition="managedHandler"/>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="managedHandler"/>
      <add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload" preCondition="managedHandler"/>
      <add name="XFrameOptionModule" type="Enterprise.ZArchitecture.Web.Security.ClickJackingProtectionModule, Enterprise.ZArchitecture.Web.GUI" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <remove name="ClientSpecificCssHandler"/>
      <remove name="ClientSpecificImageHandler"/>
      <remove name="eDocsRequestHandler.axd_GET"/>
      <remove name="QuoteRequestHandler.axd_GET"/>
      <remove name="QuoteClientReplyRequestHandler.axd_GET"/>
      <remove name="InvoiceRequestHandler.axd_GET"/>
      <remove name="StatementRequestHandler.axd_GET"/>
      <remove name="AutoLoginRequestHandler.axd_GET"/>
      <remove name="FreightLabelRequestHandler.axd_GET"/>
      <remove name="HouseBillRequestHandler.axd_GET"/>
      <remove name="ReportRequestHandler.axd_GET"/>
      <remove name="DocumentRequestHandler.axd_GET"/>
      <remove name="ScriptResource.axd_GET,HEAD"/>
      <remove name="AutoCompleteTextBoxRequestHandler.ashx_POST"/>
      <remove name="ResourceStringUsageData.axd_GET"/>
      <remove name="ModulePreloadRequestHandler.axd_GET"/>
      <remove name="*.asmx_*"/>
      <add name="ClientSpecificCssHandler" path="*.css" verb="GET" type="Enterprise.Tracking.Web.ClientSpecificCssHandler" resourceType="Unspecified"/>
      <add name="ClientSpecificImageHandler" path="Images/*" verb="GET" type="Enterprise.Tracking.Web.ClientSpecificImageHandler" resourceType="Unspecified"/>
      <add name="eDocsRequestHandler.axd_GET" path="eDocsRequestHandler.axd" verb="GET" type="Enterprise.DocumentScanning.Web.eDocsRequestHandler,Enterprise.DocumentScanning.Web"/>
      <add name="QuoteRequestHandler.axd_GET" path="QuoteRequestHandler.axd" verb="GET" type="Enterprise.Tracking.Web.QuoteRequestHandler,Enterprise.Tracking.Web"/>
      <add name="QuoteClientReplyRequestHandler.axd_GET" path="QuoteClientReplyRequestHandler.axd" verb="GET" type="Enterprise.Tracking.Web.QuoteClientReplyRequestHandler,Enterprise.Tracking.Web" />
      <add name="InvoiceRequestHandler.axd_GET" path="InvoiceRequestHandler.axd" verb="GET" type="Enterprise.Tracking.Web.InvoiceRequestHandler,Enterprise.Tracking.Web"/>
      <add name="StatementRequestHandler.axd_GET" path="StatementRequestHandler.axd" verb="GET" type="Enterprise.Tracking.Web.StatementRequestHandler,Enterprise.Tracking.Web"/>
      <add name="AutoLoginRequestHandler.axd_GET" path="AutoLoginRequestHandler.axd" verb="GET" type="Enterprise.Tracking.Web.AutoLoginRequestHandler,Enterprise.Tracking.Web"/>
      <add name="FreightLabelRequestHandler.axd_GET" path="FreightLabelRequestHandler.axd" verb="GET" type="Enterprise.Tracking.Web.FreightLabelRequestHandler,Enterprise.Tracking.Web"/>
      <add name="HouseBillRequestHandler.axd_GET" path="HouseBillRequestHandler.axd" verb="GET" type="Enterprise.Tracking.Web.HouseBillRequestHandler,Enterprise.Tracking.Web"/>
      <add name="ReportRequestHandler.axd_GET" path="ReportRequestHandler.axd" verb="GET" type="Enterprise.Tracking.Web.ReportRequestHandler,Enterprise.Tracking.Web"/>
      <add name="DocumentRequestHandler.axd_GET" path="DocumentRequestHandler.axd" verb="GET" type="Enterprise.Tracking.Web.DocumentRequestHandler,Enterprise.Tracking.Web"/>
      <add name="ScriptResource.axd_GET,HEAD" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="AutoCompleteTextBoxRequestHandler.ashx_POST" path="AutoCompleteTextBoxRequestHandler.ashx" verb="POST" type="Enterprise.ZArchitecture.Web.GUI.WebControls.AutoCompleteTextBoxRequestHandler, Enterprise.ZArchitecture.Web.GUI.Ajax"/>
      <add name="ResourceStringUsageData.axd_GET" path="ResourceStringUsageData.axd" verb="GET" type="Enterprise.ZArchitecture.Web.GUI.WebControls.TranslationFeedbackManager+ResourceStringUsageRequestHandler,Enterprise.ZArchitecture.Web.GUI"/>
      <add name="ModulePreloadRequestHandler.axd_GET" path="ModulePreloadRequestHandler.axd" verb="GET" type="Enterprise.Tracking.Web.ModulePreloadRequestHandler,Enterprise.Tracking.Web"/>
      <add name="*.asmx_*" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="6000"/>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <remove name="X-AspNet-Version"/>
        <add name="Content-Security-Policy" value="default-src 'none'; frame-src 'self'; frame-ancestors *; connect-src 'self'; font-src 'self'; img-src * data:; media-src 'self'; base-uri 'self'; object-src 'none'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline';" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AngleSharp" publicKeyToken="E83494DCDC6D31EA" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.17.1.0" newVersion="0.17.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" culture="neutral" publicKeyToken="0e99375e54769942"/>
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.4.3.0" newVersion="4.4.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Client" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.4.3.0" newVersion="2.4.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="ADB9793829DDAE60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120E14C03D0593C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.6.0.0" newVersion="8.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.6.0.0" newVersion="8.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IdentityModel" publicKeyToken="E7877F4675DF049F" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.2" newVersion="9.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.TimeProvider" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.2" newVersion="9.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.6.0.0" newVersion="8.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.6.0.0" newVersion="8.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.6.0.0" newVersion="8.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.6.0.0" newVersion="8.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.6.0.0" newVersion="8.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0A613F4DD989E8AE" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.69.1.0" newVersion="4.69.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" culture="neutral" publicKeyToken="94bc3704cddfc263" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Enterprise.RemoteDesktopServices.Shared" publicKeyToken="4F570DF270576350" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.13.7.0" newVersion="4.13.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Resources.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.3.1.0" newVersion="2.3.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" culture="neutral" publicKeyToken="92742159e12e44c8" />
        <bindingRedirect oldVersion="0.0.0.0-1.38.0.0" newVersion="1.38.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69F491C39445E920" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.20.70.0" newVersion="4.20.70.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1B03E6ACF1164F73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.4.2.13" newVersion="1.4.2.13"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CargoWise.eHub.Common" publicKeyToken="4f570df270576350" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MimeKit" publicKeyToken="bede1c8a46c66814" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.0.0" newVersion="4.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Pkcs" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WTG.DevTools.Database" publicKeyToken="4F570DF270576350" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.10.27.4" newVersion="24.10.27.4"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileSystemGlobbing" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>