<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nudge" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="eHubTransactions" connectionString="Server=localhost; Database=eHubTransactions; Integrated Security=SSPI; App=Nudge Service; ApplicationIntent=ReadOnly"/>
  </connectionStrings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~\CargoWise.eHub.Nudge.NudgeWindowsService.log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <nudge>
    <add key="reloadSystemInterval" value="1" />
    <add key="checkAndNudgeInterval" value="1" />
    <add key="maxThreadNumInPool" value="1000" />
    <add key="authKey" value="9183AC7A-59C3-47DC-A0C4-D96874BA5D6F" />
    <add key="nudgeRetryIntervals" value="5,30,60,300,1800,3600" />
    <add key="nudgeCCDSUrl" value="https://ccds.wisegrid.net/ScheduleServiceTasksUri?ClientCode={endpoint}&amp;ServiceTasks=EHI" />
  </nudge>
</configuration>