<?xml version="1.0" encoding="utf-8" ?>

<log4net>
	<root>
		<level value="INFO" />
		<appender-ref ref="RollingLogFileAppender" />
	</root>
	<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/eHubNudgeServiceLogs.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%4thread] %-5level %50logger - %message%newline" />
		</layout>
	</appender>
</log4net>
