# Top Level editorconfig
root = true

# All files
[*]
indent_style = space
end_of_line = crlf
dotnet_sort_system_directives_first = true

# Xml/Xsd files
[*.{xml, xsd}]
indent_size = 2

# C# Files
[*.cs]
indent_style = tab