source https://proget.wtg.zone/nuget/Gallery/v3/index.json
source https://proget.wtg.zone/nuget/WTG-Internal/v3/index.json

# This filters out extra supporting libraries from .NET Core that
# we don't care about (yet).
framework: net45

# This is our list of packages.
# If you know what you're doing, manually add an entry.
# If you don't, use "paket.exe add nuget <package> --no-install".
# Use "dotnet tool run paket update --no-install" to update paket.lock.
# Use "dotnet tool run paket restore" to update the package cache above
#
# DO NOT UPDATE paket.lock BY HAND!
#

nuget NUnit 3.13.3
nuget Common.Logging 3.4.1
nuget Common.Logging.Core 3.4.1 
nuget Common.Logging.Log4Net208 3.4.1
nuget log4net 2.0.8
nuget RhinoMocks 3.6.1 
nuget Moq 4.2.1402.2112
nuget CompareNETObjects 3.05.0.0
nuget Newtonsoft.Json 7.0.1
nuget NUnit3TestAdapter 4.5.0
nuget CargoWise.eServices.Encryption.Server.Decryptor 2.0.0
nuget WTG.ErrorReporting

group Tools
  source https://proget.wtg.zone/nuget/Gallery/v3/index.json
  framework: net45
  lowest_matching: true

  nuget Microsoft.TeamFoundationServer.ExtendedClient >= 15.0