.form__input {
	border: none;
	font-size: 10.6667px;
	height: 1.3rem;
	max-width: 100%;
	width: 100%;
}

.form__input:invalid {
	background: #FFB3B3;
}

.form__input:focus {
	background-color: #FFFFE1FF;
}

.data-grid {
	margin: 10px 0;
}

.data-grid__cell {
	padding: 0;
}

.work-item__created {
	font-size: 10.6667px;
}

.heading-primary {
	font-family: Tahoma, sans-serif;
}

.scrollable-div {
	max-height: calc(100vh - 20px);
	max-width: 100vw;
	overflow-y: auto;
	overflow-x: auto;
}
