.form {
	font-family: Tahoma, sans-serif;
	table-layout: auto;
	width: calc(100% - 5px);
}

.button-container {
	display: flex;
	padding: 5px;
}

.button-container__button {
	margin-right: 5px;
	font-size: 12px;
	font-family: Tahoma, sans-serif;
}

.warning {
	color: orange;
}

.error {
	color: red;
}

.copy-button {
	border: none;
	padding: 0px;
	background-color: transparent;
	cursor: pointer;
	margin: 0px;
}

.email-title {
	font-size: 16px;
    font-weight: bold;
}


