<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="bizTalkSettings" type="Microsoft.BizTalk.Adapter.Wcf.Runtime.BizTalkConfigurationSection, Microsoft.BizTalk.Adapter.Wcf.Runtime, Version=3.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <bizTalkSettings>
    <mexServiceHostFactory debug="false">
      <receiveLocationMappings/>
    </mexServiceHostFactory>
    <webServiceHostFactory debug="false"/>
    <isolatedReceiver disable="false"/>
    <btsWsdlExporter disable="false"/>
  </bizTalkSettings>
  <appSettings>
    <add key="CargoWise.eHub.DataAccess.InboxAccessor" value="CargoWise.eHub.DataAccess.Sql.InboxAccessor, CargoWise.eHub.DataAccess.Sql, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.SecirutyAccessor" value="CargoWise.eHub.DataAccess.Sql.SecurityAccessor, CargoWise.eHub.DataAccess.Sql, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.OutboxAccessor" value="CargoWise.eHub.DataAccess.Sql.OutboxAccessor, CargoWise.eHub.DataAccess.Sql, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.ExceptionsAccessor" value="CargoWise.eHub.DataAccess.Sql.ExceptionsAccessor, CargoWise.eHub.DataAccess.Sql, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.PartyAccessor" value="CargoWise.eHub.DataAccess.Cache.PartyAccessor, CargoWise.eHub.DataAccess.Cache, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.TransformAccessor" value="CargoWise.eHub.DataAccess.Cache.TransformAccessor, CargoWise.eHub.DataAccess.Cache, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.SubscriptionAccessor" value="CargoWise.eHub.DataAccess.Cache.SubscriptionAccessor, CargoWise.eHub.DataAccess.Cache, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.RegistryAccessor" value="CargoWise.eHub.DataAccess.Cache.RegistryAccessor, CargoWise.eHub.DataAccess.Cache, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.EnterpriseExeDetailAccessor" value="CargoWise.eHub.DataAccess.Sql.EnterpriseExeDetailAccessor, CargoWise.eHub.DataAccess.Sql, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.EHubClientSystemAccessor" value="CargoWise.eHub.DataAccess.Sql.EHubClientSystemAccessor, CargoWise.eHub.DataAccess.Sql, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />

    <add key="CargoWise.eHub.DataAccess.Cache.PartyAccessor" value="CargoWise.eHub.DataAccess.Sql.PartyAccessor, CargoWise.eHub.DataAccess.Sql, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.Cache.TransformAccessor" value="CargoWise.eHub.DataAccess.Sql.TransformAccessor, CargoWise.eHub.DataAccess.Sql, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.Cache.SubscriptionAccessor" value="CargoWise.eHub.DataAccess.Sql.SubscriptionAccessor, CargoWise.eHub.DataAccess.Sql, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.Cache.RegistryAccessor" value="CargoWise.eHub.DataAccess.Sql.RegistryAccessor, CargoWise.eHub.DataAccess.Sql, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />

    <add key="CargoWise.eHub.DataAccess.InboxAccessor, Version=3.0.0.0" value="CargoWise.eHub.DataAccess.Sql.InboxAccessor, CargoWise.eHub.DataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.SecurityAccessor, Version=3.0.0.0" value="CargoWise.eHub.DataAccess.Sql.SecurityAccessor, CargoWise.eHub.DataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.OutboxAccessor, Version=3.0.0.0" value="CargoWise.eHub.DataAccess.Sql.OutboxAccessor, CargoWise.eHub.DataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.ExceptionsAccessor, Version=3.0.0.0" value="CargoWise.eHub.DataAccess.Sql.ExceptionsAccessor, CargoWise.eHub.DataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.PartyAccessor, Version=3.0.0.0" value="CargoWise.eHub.DataAccess.Cache.PartyAccessor, CargoWise.eHub.DataAccess.Cache, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.TransformAccessor, Version=3.0.0.0" value="CargoWise.eHub.DataAccess.Cache.TransformAccessor, CargoWise.eHub.DataAccess.Cache, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.SubscriptionAccessor, Version=3.0.0.0" value="CargoWise.eHub.DataAccess.Cache.SubscriptionAccessor, CargoWise.eHub.DataAccess.Cache, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.RegistryAccessor, Version=3.0.0.0" value="CargoWise.eHub.DataAccess.Cache.RegistryAccessor, CargoWise.eHub.DataAccess.Cache, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.EnterpriseExeDetailAccessor, Version=3.0.0.0" value="CargoWise.eHub.DataAccess.Sql.EnterpriseExeDetailAccessor, CargoWise.eHub.DataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.EHubClientSystemAccessor, Version=3.0.0.0" value="CargoWise.eHub.DataAccess.Sql.EHubClientSystemAccessor, CargoWise.eHub.DataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />

    <add key="CargoWise.eHub.DataAccess.Cache.PartyAccessor, Version=3.0.0.0" value="CargoWise.eHub.DataAccess.Sql.PartyAccessor, CargoWise.eHub.DataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.Cache.TransformAccessor, Version=3.0.0.0" value="CargoWise.eHub.DataAccess.Sql.TransformAccessor, CargoWise.eHub.DataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.Cache.SubscriptionAccessor, Version=3.0.0.0" value="CargoWise.eHub.DataAccess.Sql.SubscriptionAccessor, CargoWise.eHub.DataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.Cache.RegistryAccessor, Version=3.0.0.0" value="CargoWise.eHub.DataAccess.Sql.RegistryAccessor, CargoWise.eHub.DataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />

    <add key="DataCacheExpiry" value="10"/>
    <add key="MessageViewerUrl" value="http://localhost/eHubMessageViewer/Default.aspx"/>
    <add key="CompressionThresholdBytes" value="1048576"/>
    <add key="StreamingBufferSize" value="81920"/>
  </appSettings>
  <connectionStrings>
    <add name="CargoWise.eHub.DataAccess.Sql.eHubTransactions" connectionString="Data Source=localhost;Initial Catalog=eHubTransactions;Integrated Security=SSPI;"/>
  </connectionStrings>
  <system.web>
    <compilation defaultLanguage="c#" debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.BizTalk.Adapter.Wcf.Common, Version=3.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="Microsoft.BizTalk.Adapter.Wcf.Runtime, Version=3.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviorConfiguration">
          <serviceDebug httpHelpPageEnabled="true" httpsHelpPageEnabled="true" includeExceptionDetailInFaults="false"/>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Microsoft.BizTalk.Adapter.Wcf.Runtime.BizTalkServiceInstance" behaviorConfiguration="ServiceBehaviorConfiguration">
        <endpoint name="HttpMexEndpoint" address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>