[*.cs]

# CA1018: Mark attributes with AttributeUsageAttribute
dotnet_diagnostic.CA1018.severity = warning

# CA1813: Avoid unsealed attributes
dotnet_diagnostic.CA1813.severity = warning

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = warning

# CW1082: Do Not Use Too Many Arguments.
dotnet_diagnostic.CW1082.severity = none

# CW1082W: Do Not Use Too Many Arguments.
dotnet_diagnostic.CW1082W.severity = none

# CW1134: Non-abstract Test Classes Should Be Sealed
dotnet_diagnostic.CW1134.severity = silent

# CW1161: ResGetStringAnalyzer - disabled for Cusoms/ZA
dotnet_diagnostic.CW1161.severity = none

# CW1164: Do not use string literals in ListAttribute rule
dotnet_diagnostic.CW1164.severity = error
