// Using Microsoft's color palette so that we're as close as possible to their list:
// https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-7.0
// We will potentially need to add others in the future, but this is a good start.
$microsoft-color-AliceBlue: #F0F8FFFF;
$microsoft-color-AntiqueWhite: #FAEBD7FF;
$microsoft-color-Aqua: #00FFFFFF;
$microsoft-color-Aquamarine: #7FFFD4FF;
$microsoft-color-Azure: #F0FFFFFF;
$microsoft-color-Beige: #F5F5DCFF;
$microsoft-color-Bisque: #FFE4C4FF;
$microsoft-color-Black: #000000FF;
$microsoft-color-BlanchedAlmond: #FFEBCDFF;
$microsoft-color-Blue: #0000FFFF;
$microsoft-color-BlueViolet: #8A2BE2FF;
$microsoft-color-Brown: #A52A2AFF;
$microsoft-color-BurlyWood: #DEB887FF;
$microsoft-color-CadetBlue: #5F9EA0FF;
$microsoft-color-Chartreuse: #7FFF00FF;
$microsoft-color-Chocolate: #D2691EFF;
$microsoft-color-Coral: #FF7F50FF;
$microsoft-color-CornflowerBlue: #6495EDFF;
$microsoft-color-Cornsilk: #FFF8DCFF;
$microsoft-color-Crimson: #DC143CFF;
$microsoft-color-Cyan: #00FFFFFF;
$microsoft-color-DarkBlue: #00008BFF;
$microsoft-color-DarkCyan: #008B8BFF;
$microsoft-color-DarkGoldenrod: #B8860BFF;
$microsoft-color-DarkGray: #A9A9A9FF;
$microsoft-color-DarkGreen: #006400FF;
$microsoft-color-DarkKhaki: #BDB76BFF;
$microsoft-color-DarkMagenta: #8B008BFF;
$microsoft-color-DarkOliveGreen: #556B2FFF;
$microsoft-color-DarkOrange: #FF8C00FF;
$microsoft-color-DarkOrchid: #9932CCFF;
$microsoft-color-DarkRed: #8B0000FF;
$microsoft-color-DarkSalmon: #E9967AFF;
$microsoft-color-DarkSeaGreen: #8FBC8FFF;
$microsoft-color-DarkSlateBlue: #483D8BFF;
$microsoft-color-DarkSlateGray: #2F4F4FFF;
$microsoft-color-DarkTurquoise: #00CED1FF;
$microsoft-color-DarkViolet: #9400D3FF;
$microsoft-color-DeepPink: #FF1493FF;
$microsoft-color-DeepSkyBlue: #00BFFFFF;
$microsoft-color-DimGray: #696969FF;
$microsoft-color-DodgerBlue: #1E90FFFF;
$microsoft-color-Firebrick: #B22222FF;
$microsoft-color-FloralWhite: #FFFAF0FF;
$microsoft-color-ForestGreen: #228B22FF;
$microsoft-color-Fuchsia: #FF00FFFF;
$microsoft-color-Gainsboro: #DCDCDCFF;
$microsoft-color-GhostWhite: #F8F8FFFF;
$microsoft-color-Gold: #FFD700FF;
$microsoft-color-Goldenrod: #DAA520FF;
$microsoft-color-Gray: #808080FF;
$microsoft-color-Green: #008000FF;
$microsoft-color-GreenYellow: #ADFF2FFF;
$microsoft-color-Honeydew: #F0FFF0FF;
$microsoft-color-HotPink: #FF69B4FF;
$microsoft-color-IndianRed: #CD5C5CFF;
$microsoft-color-Indigo: #4B0082FF;
$microsoft-color-Ivory: #FFFFF0FF;
$microsoft-color-Khaki: #F0E68CFF;
$microsoft-color-Lavender: #E6E6FAFF;
$microsoft-color-LavenderBlush: #FFF0F5FF;
$microsoft-color-LawnGreen: #7CFC00FF;
$microsoft-color-LemonChiffon: #FFFACDFF;
$microsoft-color-LightBlue: #ADD8E6FF;
$microsoft-color-LightCoral: #F08080FF;
$microsoft-color-LightCyan: #E0FFFFFF;
$microsoft-color-LightGoldenrodYellow: #FAFAD2FF;
$microsoft-color-LightGray: #D3D3D3FF;
$microsoft-color-LightGreen: #90EE90FF;
$microsoft-color-LightPink: #FFB6C1FF;
$microsoft-color-LightSalmon: #FFA07AFF;
$microsoft-color-LightSeaGreen: #20B2AAFF;
$microsoft-color-LightSkyBlue: #87CEFAFF;
$microsoft-color-LightSlateGray: #778899FF;
$microsoft-color-LightSteelBlue: #B0C4DEFF;
$microsoft-color-LightYellow: #FFFFE0FF;
$microsoft-color-Lime: #00FF00FF;
$microsoft-color-LimeGreen: #32CD32FF;
$microsoft-color-Linen: #FAF0E6FF;
$microsoft-color-Magenta: #FF00FFFF;
$microsoft-color-Maroon: #800000FF;
$microsoft-color-MediumAquamarine: #66CDAAFF;
$microsoft-color-MediumBlue: #0000CDFF;
$microsoft-color-MediumOrchid: #BA55D3FF;
$microsoft-color-MediumPurple: #9370DBFF;
$microsoft-color-MediumSeaGreen: #3CB371FF;
$microsoft-color-MediumSlateBlue: #7B68EEFF;
$microsoft-color-MediumSpringGreen: #00FA9AFF;
$microsoft-color-MediumTurquoise: #48D1CCFF;
$microsoft-color-MediumVioletRed: #C71585FF;
$microsoft-color-MidnightBlue: #191970FF;
$microsoft-color-MintCream: #F5FFFAFF;
$microsoft-color-MistyRose: #FFE4E1FF;
$microsoft-color-Moccasin: #FFE4B5FF;
$microsoft-color-NavajoWhite: #FFDEADFF;
$microsoft-color-Navy: #000080FF;
$microsoft-color-OldLace: #FDF5E6FF;
$microsoft-color-Olive: #808000FF;
$microsoft-color-OliveDrab: #6B8E23FF;
$microsoft-color-Orange: #FFA500FF;
$microsoft-color-OrangeRed: #FF4500FF;
$microsoft-color-Orchid: #DA70D6FF;
$microsoft-color-PaleGoldenrod: #EEE8AAFF;
$microsoft-color-PaleGreen: #98FB98FF;
$microsoft-color-PaleTurquoise: #AFEEEEFF;
$microsoft-color-PaleVioletRed: #DB7093FF;
$microsoft-color-PapayaWhip: #FFEFD5FF;
$microsoft-color-PeachPuff: #FFDAB9FF;
$microsoft-color-Peru: #CD853FFF;
$microsoft-color-Pink: #FFC0CBFF;
$microsoft-color-Plum: #DDA0DDFF;
$microsoft-color-PowderBlue: #B0E0E6FF;
$microsoft-color-Purple: #800080FF;
$microsoft-color-Red: #FF0000FF;
$microsoft-color-RosyBrown: #BC8F8FFF;
$microsoft-color-RoyalBlue: #4169E1FF;
$microsoft-color-SaddleBrown: #8B4513FF;
$microsoft-color-Salmon: #FA8072FF;
$microsoft-color-SandyBrown: #F4A460FF;
$microsoft-color-SeaGreen: #2E8B57FF;
$microsoft-color-SeaShell: #FFF5EEFF;
$microsoft-color-Sienna: #A0522DFF;
$microsoft-color-Silver: #C0C0C0FF;
$microsoft-color-SkyBlue: #87CEEBFF;
$microsoft-color-SlateBlue: #6A5ACDFF;
$microsoft-color-SlateGray: #708090FF;
$microsoft-color-Snow: #FFFAFAFF;
$microsoft-color-SpringGreen: #00FF7FFF;
$microsoft-color-SteelBlue: #4682B4FF;
$microsoft-color-Tan: #D2B48CFF;
$microsoft-color-Teal: #008080FF;
$microsoft-color-Thistle: #D8BFD8FF;
$microsoft-color-Tomato: #FF6347FF;
$microsoft-color-Transparent: #00FFFFFF;
$microsoft-color-Turquoise: #40E0D0FF;
$microsoft-color-Violet: #EE82EEFF;
$microsoft-color-Wheat: #F5DEB3FF;
$microsoft-color-White: #FFFFFFFF;
$microsoft-color-WhiteSmoke: #F5F5F5FF;
$microsoft-color-Yellow: #FFFF00FF;
$microsoft-color-YellowGreen: #9ACD32FF;
