@font-face {
	font-family: 'Inter';
	src: url('../../fonts/inter.woff2') format('woff2');
}

html, body {
	font-family: var(--s-fontFamily-primary), var(--s-fontFamily-fallback);
	margin: 0;
	padding: 0;
}

.cwn-scrollbar {
	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-track {
		background: var(--s-neutral-bg-default);
	}

	&::-webkit-scrollbar-button {
		display: none;
	}

	&::-webkit-scrollbar-corner {
		display: none;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--s-natural-scrollbar-default, #e5e5e5);
		border-radius: 28px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--s-natural-scrollbar-hover, #b2b2b2);
	}
}
