# Most packages come from the public NuGet Gallery, or our mirror thereof.
# source https://proget.wtg.zone/nuget/Gallery/v3/index.json

# Some packages (e.g. DotNet.Contracts) are built internally, and are not
# available from the Gallery.
# source https://proget.wtg.zone/nuget/WTG-Internal/v3/index.json

# This is our list of packages.
# If you know what you're doing, manually add an entry.
# If you don't, use "dotnet paket add <package> --no-install".
# Use "dotnet tool run paket update --no-install" to update paket.lock.
# Use "dotnet tool run paket restore" to update the package cache above
#
# DO NOT UPDATE paket.lock BY HAND!
#
# DO NOT pin version for the package unless you have reasonable reason.
# Use "paket update <package> --version" or put your reason behind the package if you have to, e.g.
# nuget NUnit 3.13.3 # reason

source https://proget.wtg.zone/nuget/Gallery/v3/index.json
source https://proget.wtg.zone/nuget/WTG-Internal/v3/index.json
source https://proget.wtg.zone/nuget/DoNotUse-Old-CargoWise-ThirdParty/v3/index.json

nuget NUnit
nuget NUnit3TestAdapter
nuget microsoft.net.test.sdk
nuget Moq
nuget System.Security.Permissions
nuget System.Text.Json
nuget Microsoft.OData.Edm
nuget Microsoft.OData.Core
nuget Microsoft.OData.Client
nuget Microsoft.Spatial
nuget Fody
nuget FodyHelpers
nuget System.Configuration.ConfigurationManager
nuget Microsoft.SqlServer.DacFx
nuget Microsoft.SqlServer.TransactSql.ScriptDom
nuget Dat.Integration
nuget Microsoft.Build framework: >=net60
nuget Microsoft.Build.Framework framework: >=net60
nuget Microsoft.Build.Utilities.Core framework: >=net60
nuget System.Data.Odbc
nuget Microsoft.Data.SqlClient
nuget Microsoft.Data.SqlClient.SNI framework: net472
nuget Microsoft.Data.SqlClient.SNI.runtime framework: >=net60
nuget Confluent.Kafka
nuget Serilog.Sinks.PeriodicBatching
nuget serilog.sinks.rollingfile
nuget Serilog.Formatting.Elasticsearch
nuget Common.Logging.Serilog
nuget Serilog.Settings.AppSettings
nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.Configuration.Json
nuget Microsoft.Extensions.Configuration.Abstractions
nuget Microsoft.Identity.Client
nuget CloneExtensions
nuget Microsoft.SqlServer.Types
nuget System.IO.Packaging
nuget System.ComponentModel.Composition
nuget Unity.Abstractions
nuget Unity.Container
nuget Unity.Configuration
nuget System.IO.Compression
nuget Microsoft.VisualBasic
nuget Newtonsoft.Json
nuget Selenium.WebDriver
nuget Selenium.Chrome.WebDriver
nuget Microsoft.Win32.Registry
nuget FileCache
nuget Swashbuckle.AspNetCore
nuget AspNetCore.CacheOutput framework: >=net60
nuget AspNetCore.CacheOutput.InMemory
nuget Microsoft.AspNetCore.Mvc.NewtonsoftJson
nuget Microsoft.AspNetCore.SystemWebAdapters.CoreServices framework: >=net60
nuget Microsoft.AspNet.WebApi.Client
nuget Microsoft.AspNet.WebApi.Core framework: net472
nuget Microsoft.AspNet.WebApi.Owin framework: net472
nuget Microsoft.AspNet.WebApi.WebHost framework: net472
nuget Microsoft.AspNetCore.TestHost
nuget Microsoft.AspNetCore.Mvc.Testing
nuget Microsoft.AspNet.OData framework: net472
nuget Microsoft.AspNetCore.OData framework: >=net60
nuget Microsoft.AspNetCore.Owin framework: >=net60
nuget Z.EntityFramework.Plus.EFCore
nuget WTG.DevTools.Common
nuget WTG.DevTools.Common.GitRepositoryDatabase
nuget WTG.DevTools.Definitions
nuget YamlDotNet
nuget RichardSzalay.MockHttp
nuget quartz
nuget Google.Apis
nuget Google.Apis.Auth
nuget Google.Apis.Drive.v3
nuget XMLUnit.Core
nuget HtmlAgilityPack
nuget itext7
nuget itext.commons
nuget itext7.font-asian
nuget itext7.bouncy-castle-adapter
nuget PdfPig
nuget CsvHelper
nuget System.ServiceModel.Primitives
nuget Newtonsoft.Json.Schema
nuget Quartz.Plugins
nuget CrystalQuartz.AspNetCore
nuget Microsoft.PowerShell.CoreCLR.Eventing
nuget System.Management.Automation
nuget BouncyCastle.Cryptography
nuget System.Data.DataSetExtensions
nuget System.ServiceModel.Http
nuget System.ServiceModel.Duplex
nuget System.ServiceModel.NetTcp
nuget System.ServiceModel.Security
nuget System.ServiceModel.Federation
nuget ICSharpCode.SharpZipLib
nuget SharpZipLib
nuget Spire.Pdf
nuget NPOI
nuget ScratchPad.NPOI.HWPF
nuget Flurl
nuget Flurl.Http
nuget Topshelf
nuget NodaTime
nuget Microsoft.AspNetCore.Authentication.Negotiate
nuget CargoWise.eHub.Common
nuget CargoWise.eHub.Adapter
nuget System.IdentityModel.Tokens.Jwt
nuget Microsoft.IdentityModel.Protocols.OpenIdConnect
nuget Portable.BouncyCastle
nuget Fastenshtein
nuget Stanford.NLP.NER
nuget IKVM
nuget TinyCsvParser
nuget FluentFTP
nuget Microsoft.TypeScript.MSBuild
nuget TMS.FlexCel
nuget Microsoft.Management.Infrastructure
nuget Quartz.Serialization.Json
nuget Microsoft.Extensions.Primitives
nuget DocumentFormat.OpenXml
nuget Grpc.Core.Api
nuget Xware.Xt.Grpc.Config
nuget WTG.ErrorReporting
nuget Microsoft.EntityFrameworkCore
nuget Microsoft.EntityFrameworkCore.Design
nuget Microsoft.EntityFrameworkCore.SqlServer
nuget Microsoft.EntityFrameworkCore.Abstractions
nuget Microsoft.EntityFrameworkCore.Analyzers
nuget Microsoft.EntityFrameworkCore.SqlServer.NetTopologySuite
nuget Mono.TextTemplating
nuget Microsoft.Extensions.DependencyInjection.Abstractions framework: >=net60
nuget Microsoft.Extensions.Caching.Abstractions
nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.Extensions.Caching.Memory
nuget Microsoft.Extensions.Http.Polly
nuget Microsoft.Extensions.Logging
nuget Microsoft.Extensions.Options
nuget System.Drawing.Common
nuget Polly
nuget Polly.Extensions.Http
nuget XMLTools
nuget Polly.Contrib.WaitAndRetry
nuget Microsoft.Playwright
nuget Microsoft.Playwright.NUnit
nuget CargoWise.xTMessaging.Shared
nuget CacheTower
nuget CacheTower.Serializers.SystemTextJson
nuget System.Linq.Async
nuget AutoMapper
nuget Microsoft.EntityFrameworkCore.InMemory
nuget Microsoft.Web.Xdt
nuget WTG.IdentitySecurity
nuget WTG.OpenIDConnect.Token
nuget WTG.BuildConfiguration.Analysis
nuget Chutzpah
nuget iTextSharp
nuget UDE.Csharp
nuget Ude.NetStandard
nuget OpenCvSharp4.Windows
nuget Tesseract
nuget WiseTechAcademy.UpdateNotesContract
nuget Edifact.WTG
nuget EdifactMessageSets.WTG