<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ServiceName" value="USC_Outbound_Test" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="CertificationHostname" value="ordwp-ccmq-2-cert.wisecloud.zone" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="log4net.Internal.Debug" value="true" xdt:Transform="Insert"/>
    <add key="CertificationPassword" value="$CertificationPassword$" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="USCustoms" connectionString="Data Source=ehublistener-uscustoms.wisecloud.zone;Initial Catalog=USCustoms;User Id=USCustoms;Password=$DatabasePassword$" xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>