<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="eHubTransactionsEntities" connectionString="metadata=res://*/eHubTransactions.eHubTransactionsDataModel.csdl|res://*/eHubTransactions.eHubTransactionsDataModel.ssdl|res://*/eHubTransactions.eHubTransactionsDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=eHub-test.db.sand.wtg.zone;App=eHub Portal;Initial Catalog=eHubTransactions;User Id=eHubPortal;Password=$DBPassword$;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"
				 xdt:Transform="SetAttributes"
				 xdt:Locator="Match(name)" />
    <add name="eHubTransactionsReadOnlyEntities" connectionString="metadata=res://*/eHubTransactions.eHubTransactionsDataModel.csdl|res://*/eHubTransactions.eHubTransactionsDataModel.ssdl|res://*/eHubTransactions.eHubTransactionsDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=eHub-test.db.sand.wtg.zone;App=eHub Portal;Initial Catalog=eHubTransactions;User Id=eHubPortal;Password=$DBPassword$;ApplicationIntent=ReadOnly;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"
				 xdt:Transform="SetAttributes"
				 xdt:Locator="Match(name)" />
    <add name="eHubTransactionsContext" connectionString="Data Source=eHub-test.db.sand.wtg.zone;App=eHub Portal;Initial Catalog=eHubTransactions;User Id=eHubPortal;Password=$DBPassword$" providerName="System.Data.SqlClient"
				 xdt:Transform="SetAttributes"
				 xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="AdminWebsite" value="https://ehubadmin-test.wtg.zone" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <authentication mode="Windows" xdt:Transform="Insert" />
    <authorization xdt:Transform="Insert" >
      <deny users="?"/>
      <allow roles="g_eHubadminwebsiteusers_Entra"/>
      <deny users="*"/>
    </authorization>
  </system.web>
</configuration>