.cwn-favorites {
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		color: var(--s-neutral-txt-inv-default, #383836);
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-300, 13px);
		font-style: normal;
		font-weight: var(--s-fontWeight-600, 600);
		line-height: var(--s-lineHeight-300, 20px);
		position: relative;
	}

	&__switchview {
		display: flex !important;
		align-self: center !important;
		visibility: visible;
		margin-right: 10px
	}

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 4px;
		flex: 1 0 0;
		align-self: stretch;
	}

	&__item {
		position: relative;
		display: flex;
		padding: var(--s-padding-s, 4px);
		align-items: center;
		gap: var(--s-padding-m, 8px);
		align-self: stretch;
		width: 100%;
		border-radius: 5px;

		&_drag {
			visibility: hidden;

			&_container {
				width: 30px;
				display: flex;
				--current-cursor: pointer;
			}
		}

		&_index {
			display: flex !important;
			width: 16px !important;
			height: 16px !important;
			padding: 11px !important;
			justify-content: center !important;
			align-items: center !important;
			gap: 2px !important;
			border-radius: var(--s-radius-xxl, 24px) !important;
			border: 1px solid #BFBEB9 !important;
			background: var(--s-neutral-bg-weak-default, #F7F7F4) !important;
			color: #383836 !important;
		}

		&_name_box_compressed {
			align-self: center;
			width: 90%;
			min-width: 185px;
			position: relative;
			display: grid;
			grid-template-columns: 75% 25%;
		}

		&_name_box {
			align-self: stretch;
			width: 90%;
			min-width: 185px;
			position: relative;
			margin-left: 7px;
		}

		&_id {
			overflow: hidden;
			color: var(--s-neutral-txt-weak-default);
			font-variant-numeric: lining-nums tabular-nums;
			text-overflow: ellipsis;
			font-family: var(--s-fontFamily-primary);
			font-size: var(--s-fontSize-100);
			font-style: normal;
			font-weight: var(--s-fontWeight-600);
			line-height: var(--s-lineHeight-100);
			white-space: nowrap;
		}

		&_id_compressed {
			overflow: hidden;
			color: var(--s-neutral-txt-weak-default);
			font-variant-numeric: lining-nums tabular-nums;
			text-overflow: ellipsis;
			font-family: var(--s-fontFamily-primary);
			font-size: var(--s-fontSize-100);
			font-style: normal;
			font-weight: var(--s-fontWeight-600);
			line-height: var(--s-lineHeight-200, 18px);
			white-space: nowrap;
			align-self: center;
		}

		&_name {
			overflow: hidden;
			color: var(--s-neutral-txt-inv-default, #383836);
			text-overflow: ellipsis;
			font-family: var(--s-fontFamily-primary);
			font-size: var(--s-fontSize-300, 13px);
			font-style: normal;
			font-weight: var(--s-fontWeight-400, 400);
			line-height: var(--s-lineHeight-300, 20px);
			display: block;
			white-space: nowrap;
		}

		&_name_compressed {
			overflow: hidden;
			color: var(--s-neutral-txt-inv-default, #383836);
			text-overflow: ellipsis;
			font-family: var(--s-fontFamily-primary);
			font-size: var(--s-fontSize-300, 13px);
			font-style: normal;
			font-weight: var(--s-fontWeight-400, 400);
			line-height: var(--s-lineHeight-200, 18px);
			white-space: nowrap;
		}

		&_star {
			display: flex !important;
			align-self: center !important;
			visibility: hidden;
			min-width: 20px;
			min-height: 20px;
		}

		&_tooltip {
			visibility: hidden;
			position: fixed;
			background-color: #5C5B57;
			color: #F7F7F4;
			padding: 5px 0;
			border-radius: 6px;
			font-size: 10px;
			z-index: 1;
			padding: 8px !important;

			kbd {
				border: 1px solid #DAD9D5;
				border-radius: 2px;
				font-size: 10px;
				padding: 4px 2px;
			}
		}

		&:hover {
			background-color: var(--s-neutral-bg-weak-hover);
			cursor: default;
		}

		&:hover &_star {
			visibility: visible;
		}

		&:hover &_drag {
			visibility: visible;
		}

		&:hover &_tooltip {
			visibility: visible;
			position: fixed;
			transition-delay: 0.5s;
		}
	}

	&__seperator {
		height: 1px;
		align-self: stretch;
		opacity: 0.5;
		background: #BFBEB9;
	}

	&__empty {
		overflow: hidden;
		color: var(--s-neutral-txt-weak-default, #8D8C88);
		text-overflow: ellipsis;
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-300, 13px);
		font-style: normal;
		font-weight: var(--s-fontWeight-400, 400);
		line-height: var(--s-lineHeight-300, 20px);
	}
}
