.cwn-mainnav {
	display: none;
	position: absolute;
	padding: 8px;
	align-items: flex-start;
	flex-shrink: 0;
	border-radius: var(--s-radius-null) var(--s-radius-null) var(--s-radius-m) var(--s-radius-m);
	border: 1px solid var(--s-neutral-border-weak-default);
	border-top: none;
	background: var(--s-neutral-bg-default);
	box-shadow: 0px -1px 1px 0px rgba(27, 27, 26, 0.12) inset, 0px 6px 8px 0px rgba(27, 27, 26, 0.16);
	left: 24.5px;
	top: 48px;

	&--visible {
		display: flex;
	}

	&__categories {
		min-width: 250px;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		display: inline-flex;
		overflow-y: auto;

		> .cwn-list {
			padding-right: 0px;
			padding-top: 0px;
		}

		.cwn-list-item {
			border-radius: var(--s-sizing-border-m) 0 0 var(--s-sizing-border-m);
			padding: var(--s-padding-m);

			&:hover {
				border-left: var(--s-sizing-border-m) #383836 solid;
				padding-left: 6px;
			}

			&__key {
				color: var(--s-neutral-txt-weak-default);
				border-radius: 2px;
				border: 1px solid rgba(191, 190, 185, 0.50);
				background: var(--s-neutral-bg-weak-default);
				cursor: default;
			}

			&__text {
				flex: 1 1 0;
				font-size: var(--s-fontSize-300);
				font-weight: var(--s-fontWeight-600);
				line-height: var(--s-lineHeight-300);
				word-wrap: break-word;
				cursor: default;
			}

			&--selected {
				border-left: var(--s-sizing-border-m) #383836 solid;
				background-color: var(--s-theme-bg-default, var(--s-neutral-bg-weak-default));
				padding-left: 6px;
				scroll-margin: 8px;
			}

			&--selected {
				background: var(--s-theme-bg-default, var(--s-neutral-bg-weak-default));
			}
		}
	}

	&__modules {
		background-color: var(--s-theme-bg-default, var(--s-neutral-bg-weak-default));
		border-radius: 0 4px 4px 0;
		height: 650px;
		display: flex;

		& > .cwn-list {
			padding: 0px 8px;
			gap: 8px;
			width: 320px;
		}
	}

	&__sections-group {
		break-inside: avoid;
	}

	&__section {
		color: var(--s-neutral-txt-inv-default);
		font-size: var(--s-fontSize-300);
		font-weight: var(--s-fontWeight-600);
		line-height: var(--s-lineHeight-300);
		height: 24px;
	}

	&__menu {
		cursor: default;
		flex: 1 0 0;
		align-self: stretch;
		overflow: hidden;
		color: var(--s-neutral-txt-inv-default);
		height: 24px;
		font-size: var(--s-fontSize-300);
		font-style: normal;
		font-weight: var(--s-fontWeight-400);
		justify-content: space-between;
		gap: 0 !important;

		&:hover {
			background-color: var(--s-neutral-bg-weak-hover, #efeeeb);

			.cwn-mainnav__favourite--hidden {
				display: unset !important;
			}
		}

		&--empty {
			&:hover {
				cursor: auto;
			}

			height: 24px;
		}
	}

	&__favourite--hidden {
		display: none !important;
	}
}

.cwn-headnav {
	flex: 1;
	margin-top: 8px;
}
