.cwn-menu {
	width: auto;
	display: block;

	> li.dropdown {
		padding-top: 0;
		padding-right: 1px;
	}

	> li.dropdown {
		> button {
			height: 48px;
		}

		> .cwn-submenu {
			border-top: none;
		}

		&.active button {
			background-color: white;
			color: var(--s-bg-default);
		}
	}

	li {
		display: inline-block;
		position: relative;

		&.dropdown {
			border-bottom: none;
		}

		&.dropdown:hover button {
			background-color: white;
			color: var(--s-bg-default);
		}

		a {
			display: block;
			text-decoration: none;
			width: 250px;
		}
	}

	.cwn-submenu {
		display: none;
		left: auto;
		right: 0;
	}

	&__gesture-text {
		float: right;
	}

	&__checked {
		float: right;
		background-color: var(--s-neutral-bg-weak-default);
		accent-color: var(--s-neutral-icon-weak-default);
		border: 1px solid var(--s-neutral-border-weak-default, #BFBEB9);
		border-radius: 2px;
		height: 17px;
		width: 17px;
	}
}

.cwn-submenu {
	margin: 0px;
	padding: 0px;
	position: absolute;
	left: 0px;
	list-style-type: none;
	display: block;
	width: 300px;
	background-color: white;
	border-radius: var(--s-radius-null) var(--s-radius-null) var(--s-radius-m) var(--s-radius-m);
	border: 1px solid var(--s-neutral-border-weak-default);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	font-family: var(--s-fontFamily-primary);
	font-size: var(--s-fontSize-300);
	font-style: normal;
	font-weight: var(--s-fontWeight-400);
	line-height: var(--s-lineHeight-300);
	overflow-y: auto;
	max-height: 90vh;

	> li {
		display: block;
		padding-top: 2px;
		padding-left: 8px;

		&:hover {
			background: var(--s-neutral-bg-weak-default);
		}

		&.active {
			background: var(--s-neutral-bg-weak-default);
		}
	}

	a {
		display: block;
		color: var(--s-neutral-txt-inv-default);
		padding: 8px 0px 8px 6px;
		margin-bottom: 1px;
	}

	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-track {
		background: var(--s-neutral-bg-default);
	}

	&::-webkit-scrollbar-button {
		display: none;
	}

	&::-webkit-scrollbar-corner {
		display: none;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--s-natural-scrollbar-default, #e5e5e5);
		border-radius: 28px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--s-natural-scrollbar-hover, #b2b2b2);
	}
}

.cwn-menu .cwn-submenu .cwn-submenu {
	position: absolute;
	left: -300px;
	top: 0px;
}

body > .cwn-submenu {
	border-radius: var(--s-radius-m);
}

.cwn-submenu li.dropdown {
	& > a:after {
		content: '▶';
		position: absolute;
		right: 10px;
	}

	& > span {
		color: var(--s-neutral-txt-inv-default);
		padding: 8px 0px 8px 6px;
		display: block;
		width: 250px;

		&:after {
			content: '▶';
			position: absolute;
			right: 10px;
		}
	}
}
