.cwn-my-tasks {
	&__title {
		color: var(--s-neutral-txt-inv-default);
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-300);
		font-style: normal;
		font-weight: var(--s-fontWeight-600);
		line-height: var(--s-lineHeight-300);
		position: relative;
		cursor: pointer;
	}

	&__table {
		width: 100%;
		table-layout: fixed;
		text-align: left;

		@media (max-width: 2035px) {
			display: none;
		}

		td {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		th {
			color: var(--s-neutral-txt-weak-default);
			font-family: var(--s-fontFamily-primary);
			font-size: var(--s-fontSize-200);
			font-style: normal;
			font-weight: var(--s-fontWeight-400);
			line-height: var(--s-lineHeight-200);
			padding: var(--s-padding-s);
		}

		&_header {
			border-bottom: 1px solid var(--s-neutral-border-weak-default);

			&_icon {
				width: 30px;
				max-width: 30px;
			}

			&_id {
				width: 120px;
				max-width: 120px;
			}

			&_name {
				width: auto;
			}

			&_description {
				width: 180px;
				max-width: 180px;
			}

			&_status {
				width: 130px;
				max-width: 130px;
			}
		}
	}

	&__item {
		border-bottom: 1px solid var(--s-neutral-border-weak-default);
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-300);
		font-style: normal;
		font-weight: var(--s-fontWeight-400);
		line-height: var(--s-lineHeight-300);
		padding-top: 5px;

		&_icon {
			width: 30px;
			max-width: 30px;
			padding: var(--s-padding-s);
		}

		&_id {
			width: 120px;
			max-width: 120px;
			padding: var(--s-padding-m) var(--s-padding-s);
			font-variant-numeric: lining-nums tabular-nums;
		}

		&_name {
			width: auto;
			padding: var(--s-padding-m) var(--s-padding-s);
		}

		&_description {
			width: 180px;
			max-width: 180px;
			padding: var(--s-padding-m) var(--s-padding-s);
		}

		&_status {
			width: 130px;
			max-width: 130px;
			padding: var(--s-padding-m) var(--s-padding-s);
		}

		&:hover {
			background-color: var(--s-neutral-bg-weak-hover);
			border-radius: var(--s-radius-s);
		}
	}

	&__refresh-btn {
		float: right;
	}

	&__empty {
		overflow: hidden;
		color: var(--s-neutral-txt-weak-default, #8D8C88);
		text-overflow: ellipsis;
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-300, 13px);
		font-style: normal;
		font-weight: var(--s-fontWeight-400, 400);
		line-height: var(--s-lineHeight-300, 20px);
	}

	&__task-id {
		color: var(--s-neutral-txt-weak-default);
		font-variant-numeric: lining-nums tabular-nums;
		text-overflow: ellipsis;
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-100);
		font-style: normal;
		font-weight: var(--s-fontWeight-600);
		line-height: var(--s-lineHeight-100);
		white-space: nowrap;
	}

	&__summary {
		overflow: hidden;
		color: var(--s-neutral-txt-weak-default);
		font-variant-numeric: lining-nums tabular-nums;
		text-overflow: ellipsis;
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-100);
		font-style: normal;
		font-weight: var(--s-fontWeight-400);
		line-height: var(--s-lineHeight-100);
		white-space: nowrap;
		margin-left: 5px;
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;

		@media (min-width: 2035px) {
			display: none;
		}
	}

	&__item-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 5px;
	}

	&__top-row {
		display: flex;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		flex-wrap: nowrap;
		min-height: 12px;
	}

	&__text {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-width: 0;
		overflow: hidden;
	}

	&__status-block {
		display: flex;
		align-items: center;
	}

	&__status {
		min-width: 28px;
		min-height: 28px;

		@media (max-width: 2035px) {
			padding: 0;
			border: none;
			box-shadow: none;
			background-color: transparent;
		}
	}

	&__status-text {
		@media (max-width: 2035px) {
			display: none;
		}
	}
}
