.cwn-navbar {
	.cwn-toolbar--gutters {
		padding-left: 25px;
		padding-right: 20px;
	}

	&:has(.cwn-mainnav--visible) {
		.cwn-button--selected {
			color: var(--s-neutral-txt-hover) !important;
			background-color: var(--s-neutral-bg-default) !important;
			text-decoration: underline;
			text-underline-offset: 0px;
			padding-bottom: 10px;
			&:hover {
				text-decoration: underline;
				text-underline-offset: 0px;
			}
		}
	}

	.cwn-button--text {
		padding: 10px 10px 6px 10px;

		&:hover {
			background-color: #ffffff44;
			color: var(--s-txt-inv-default);
			cursor: default;
			text-decoration: none;
		}
	}

	.cwn-button--tooltip {
		position: relative;

		&::after {
			content: attr(data-tooltip);
			font-size: var(--s-fontSize-100);
			color: var(--s-neutral-txt-inv-active);
			background-color: var(--s-neutral-bg-active);
			font-weight: var(--s-fontWeight-300);
			padding-top: 4px;
			padding-bottom: 4px;
			text-align: center;
			width: calc(100% - 4px);
			position: absolute;
			left: 50%;
			top: 100%;
			transform: translateX(-50%);
			white-space: nowrap;
			visibility: hidden;
			z-index: var(--s-zindex-tooltip);
		}

		&:not(.cwn-button--selected):hover::after {
			visibility: visible;
			transition: visibility 0s linear 0.5s;
		}
	}
}

.cwn-navbar__toolstrip {
	flex: 1;
	justify-content: flex-end;
	height: 48px;

	.cwn-navbar__toolstrip-btn {
		background: transparent;
		margin-left: 4px;
		padding: 0px;

		&:hover {
			background: #ffffff44;
		}

		.cwn-button__content {
			margin: 4px 2px 4px 2px;
			padding: 0px 2px 0px 0px;
		}
	}

	.cwn-list {
		padding: 0px;
	}

	.cwn-list-item {
		cursor: default !important;
	}

	.cwn-list-item--selected {
		background: initial;
	}

	.cwn-menu {
		> li.dropdown {
			&.active button {
				background: #fff;
				color: var(--s-bg-default);
			}
		}

		li.dropdown:not(.active) {
			&:hover button {
				background: transparent;
				color: var(--s-txt-inv-default);
			}

			button:hover {
				background: #ffffff44 !important;
				color: var(--s-txt-inv-default);
			}
		}
	}
}
