.cwn-tabs__bar {
	background-color: var(--s-neutral-bg-weak-default);
}

.cwn-tab {
	min-height: auto;
	margin: 2px;
	border-radius: 4px;
	cursor: default;

	&.cwn-tab--active {
		background-color: var(--s-neutral-bg-default);
		color: var(--s-neutral-txt-inv-default);
	}
}

.cwn-list-item {
	display: flex;
	gap: 16px;
	align-items: flex-start;
	margin-bottom: 5px;

	&:hover {
		text-decoration: none;
		background-color: transparent;
		cursor: pointer;
	}

	&__info {
		flex-grow: 1;

		&-time {
			font-size: var(--s-fontSize-100);
			color: var(--s-neutral-txt-weak-default);
			margin-top: 5px;
			margin-bottom: 5px;
		}

		&-link {
			font-size: var(--s-fontSize-300);
		}

		&-link a {
			text-decoration: none;
			color: var(--s-neutral-txt-inv-default);
		}
	}

	&__thumbnail {
		align-self: flex-end;
		border-radius: 4px;
		width: 120px;
		height: 75px;
		margin-top: 5px;
	}
}
