.cwn-login-location {
	background-color: var(--s-brand-bg-default, #371EE1);
	background-image: url(/_content/CargoWiseNext.Blazor.Components/images/login-location.svg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	justify-content: center;
	align-items: center;

	&__main {
		flex: unset;
	}

	&__logo {
		height: 100px;
		margin: 0 38px;
		background-image: url(/_content/CargoWiseNext.Blazor.Components/images/cargowise-next-logo.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	&__operation-card {
		margin-top: 20px;
		padding: 0;
	}

	&__operation-content {
		display: flex;
		flex-direction: column;
		width: 90%;
		max-width: 316px;
		height: auto;
		margin: var(--spacing-xxl, 32px);
	}

	&__operation-header {
		color: var(--Primary-Content, #371EE1);
		font-family: var(--s-fontFamily-primary);
		font-weight: var(--s-fontWeight-600);
		font-size: var(--s-fontSize-400);
		width: 316px;
		font-style: normal;
		height: 24px;
	}

	&__operation-details {
		display: flex;
		flex-direction: column;
		width: 316px;
		height: auto;
		margin: var(--spacing-xxl, 32px) 0 0 0;
		overflow: hidden !important;
		padding: 0px !important;
		gap: 3px;
	}

	&__operation-item {
		margin: 0 0 var(--spacing-xl, 16px) 0px;
		width: 316px;
	}

	&__text {
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-200);
		font-weight: var(--s-fontWeight-400);
		color: var(--s-neutral-txt-active);
		font-style: normal;
		width: 316px;
		height: 20px;
	}

	&__item {
		color: var(--s-neutral-txt-active) !important;
		font-family: var(--s-fontFamily-primary) !important;
		font-size: var(--s-fontSize-300) !important;
		font-style: normal !important;
		font-weight: var(--s-fontWeight-400) !important;
		line-height: var(--s-lineHeight-300) !important;
		margin: 0px !important;
		padding: 0px !important;
	}

	&__operation-buttons {
		display: flex;
		flex-direction: row;
		width: 316px;
		height: 40px;
		display: flex;
		height: 40px;
		justify-content: center;
		align-items: center;
		gap: var(--spacing-S, 4px);
		font-family: var(--s-fontFamily-primary) !important;
		font-size: var(--s-fontSize-400) !important;
		font-weight: var(--s-fontWeight-600) !important;
		line-height: var(--s-lineHeight-400) !important;
	}

	&__backbutton {
		color: var(--neutral-txt-inv-default, #30302E);
		width: 71px;
		height: 40px;
		border-radius: var(--radius-S, 4px);
		text-transform: none !important;

		&:hover {
			background: var(--s-neutral-bg-weak-hover, #f1f1ef) !important;
		}

		&:focus {
			background: var(--s-neutral-bg-weak-active, #dcdcd7) !important;
		}
	}

	&__loginbutton {
		color: var(--primary-txt-inv-default, #F6F8FF) !important;
		width: 245px;
		height: 40px;
		border-radius: var(--radius-S, 4px);
		background: var(--primary-bg-default, #371EE1) !important;
		box-shadow: 0px 0px 2px 0px #F8F8F7 inset, 0px -1px 1px 1px #F1F1EF inset, 0px 1px 1px 0px rgba(17, 17, 16, 0.06);
		text-transform: none !important;

		&:hover {
			background: var(--s-primary-bg-hover, #221098) !important;
		}

		&:focus {
			background: var(--s-primary-bg-active, #110662) !important;
		}
	}
}
