.cwn-public-holiday-calendar {
	flex: 1;

	&__title:hover {
		cursor: pointer;
	}

	&__empty {
		overflow: hidden;
		color: var(--s-neutral-txt-weak-default, #8D8C88);
		text-overflow: ellipsis;
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-300, 13px);
		font-style: normal;
		font-weight: var(--s-fontWeight-400, 400);
		line-height: var(--s-lineHeight-300, 20px);
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
		align-self: stretch;
	}

	&__month {
		align-self: stretch;
		color: var(--s-neutral-txt-weak-default);
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-300);
		font-style: normal;
		font-weight: var(--s-fontWeight-600);
		line-height: var(--s-lineHeight-300);
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 8px;
		align-self: stretch;
		border-bottom: 1px solid rgba(191, 190, 185, 0.5);
		padding: 8px 8px 8px 0;

		&:hover {
			background-color: var(--s-neutral-bg-weak-hover);
		}
	}

	&__item_date {
		display: flex;
		width: 65px;
		height: 36px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 4px;
		flex: 0 0 auto;
	}

	&__item_flag {
		flex: 0 0 auto;
	}

	&__item_date_header {
		align-self: stretch;
		color: var(--s-neutral-txt-weak-default);
		text-align: center;
		font-variant-numeric: lining-nums tabular-nums;
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-100);
		font-style: normal;
		font-weight: var(--s-fontWeight-400);
		line-height: var(--s-lineHeight-100);
	}

	&__item_date_day {
		align-self: stretch;
		color: var(--s-neutral-txt-inv-default);
		text-align: center;
		font-variant-numeric: lining-nums tabular-nums;
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-500);
		font-style: normal;
		font-weight: var(--s-fontWeight-700);
		line-height: 20px;
	}

	&__item_data {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex: 1 0 0;
		overflow: hidden;
	}

	&__item_data_description {
		align-self: stretch;
		font-size: var(--s-fontSize-300);
		font-weight: var(--s-fontWeight-600);
		line-height: var(--s-lineHeight-300);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__item_data_region {
		align-self: stretch;
		color: #000;
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-300);
		font-style: normal;
		font-weight: var(--s-fontWeight-400);
		line-height: var(--s-lineHeight-300);
	}
}
