.cwn-popover__content {
	height: 100%;
}

.cwn-quick-search {
	display: flex;
	justify-content: center;
	flex: 2.11;
	padding: 0 8px;

	&__result {
		font-family: var(--s-fontFamily-primary);
		height: 80%;
		width: 49%;
		left: 50%;
		transform: translate(-50%);
		top: 54px;
		padding: var(--s-padding-s) var(--s-padding-s) 0 var(--s-padding-s);
		max-width: 950px;
	}

	&__result-panel {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		height: 100%;
	}

	&__result-icon {
		min-width: var(--s-sizing-icon-md);
	}

	&__result-items {
		padding: var(--s-padding-xl);
		flex: 1;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-track {
			background: var(--s-neutral-bg-default, #FFFFFF);
		}

		&::-webkit-scrollbar-button {
			display: none;
		}

		&::-webkit-scrollbar-corner {
			display: none;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--s-natural-scrollbar-default, #e5e5e5);
			border-radius: 28px;
		}

		&::-webkit-scrollbar-thumb:hover {
			background-color: var(--s-natural-scrollbar-hover, #b2b2b2);
		}
	}

	&__footer {
		font-size: var(--s-fontSize-300);
		font-weight: var(--s-fontWeight-400, 400);
		line-height: 20px;
		padding: var(--s-padding-xl);
		display: flex;
		gap: var(--s-spacing-xl);
		align-items: center;
		text-align: left;
		border-top: 1px solid var(--s-neutral-border-weak-default);
	}

	&__result-section {
		margin-bottom: 16px;
	}

	&__no-result {
		display: flex;
		flex-direction: column;
		align-items: center;

		&-hint {
			color: black;
			font-size: var(--s-fontSize-400);
			font-weight: var(--s-fontWeight-700, 700);
			padding: var(--s-padding-m);

			&-info {
				color: #8d8c88;
				font-size: 14px;
				padding: var(--s-padding-s);
			}
		}
	}

	&__result-title {
		color: var(--s-neutral-txt-weak-default);
		font-size: var(--s-fontSize-300);
		font-weight: var(--s-fontWeight-600, 600);
		padding: 4px 4px 8px 4px;
	}

	&__result-amount {
		color: var(--s-neutral-txt-weak-default);
		font-size: var(--s-fontSize-300);
		font-weight: var(--s-fontWeight-300, 300);
	}

	&__result-item {
		font-size: var(--s-fontSize-300);
		font-weight: var(--s-fontWeight-400, 400);
		display: flex;
		justify-content: space-between;
		line-height: 20px;
		padding: var(--s-padding-s);
		align-items: center;
		border-radius: var(--s-radius-s);

		&:focus {
			outline: none;
			background-color: var(--s-neutral-bg-weak-hover);
		}

		&:hover {
			background-color: var(--s-neutral-bg-weak-hover);
		}

		&-text {
			text-align: left;
			flex-grow: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	&__shortcut {
		display: flex;
		gap: var(--s-spacing-s);

		p {
			color: var(--s-neutral-icon-weak-default);
			margin-left: var(--s-spacing-m)
		}
	}

	&-filter {
		display: flex;
		align-items: center;
		padding: 10px;
		margin: 5px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		transition: background-color 0.3s, box-shadow 0.3s;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

		&:hover {
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
		}

		&--selected {
			font-weight: bold;
			background-color: #675496;
			color: white;
			background: var(--s-bg-default);
			transition: background-color 0.3s, box-shadow 0.3s;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
		}

		&_selected:hover {
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
		}

		&__button-container {
			display: flex;
			justify-content: flex-start;
		}

		&__text {
			font-size: var(--s-fontSize-300);
			font-weight: var(--s-fontWeight-400, 400);
			display: flex;
			justify-content: space-between;
			line-height: 20px;
			padding: var(--s-padding-s);
			align-items: center;
			border-radius: var(--s-radius-s);
		}
	}
}
