.cwn-recent-modules {
	&__item {
		display: flex;
		flex-direction: row;

		div {
			font-size: var(--s-fontSize-300);
			font-weight: var(--s-fontWeight-400);
			line-height: var(--s-lineHeight-300);
			font-family: var(--s-fontFamily-primary), var(--s-fontFamily-fallback);
		}
	}

	&__fav-button {
		visibility: hidden;
	}
}

.cwn-list-item--selected.cwn-recent-modules__item {
	background: initial;
}

li.cwn-recent-modules__item:hover {
	background-color: var(--s-neutral-bg-weak-hover);

	.cwn-recent-modules__fav-button {
		visibility: visible;
	}
}
