.cwn-recent-messages {
	flex: 1;

	&__list {
		padding-inline-start: 0px;
	}

	&__item {
		padding: 2px 4px;
		border-radius: 4px;
		margin-bottom: 2px;

		&:not(:first-child) {
			margin-top: 2px;
		}

		&:hover {
			background-color: var(--s-neutral-bg-weak-hover);
		}
	}

	&__header {
		display: flex;
		gap: 2px;
		justify-content: space-between;
		padding: 0 0 6px 0;
	}

	&__body {
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 2px 0;
	}

	&__timestamp {
		color: var(--s-neutral-txt-weak-default);
		font-size: var(--s-fontSize-200);
	}

	&__text {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		line-clamp: 3;
		flex: 1 0 0;
		overflow: hidden;
		color: var(--s-neutral-txt-weak-default);
		font-size: var(--s-fontSize-300);
		line-height: var(--s-lineHeight-300);
		word-break: break-word;
		overflow-wrap: break-word;
	}

	&__senderblock {
		display: flex;
		flex-direction: column;
	}

	&__jobblock {
		display: flex;
		flex-direction: column;
		text-align: right;
	}

	&__sender {
		font-size: var(--s-fontSize-300);
		font-weight: var(--s-fontWeight-600);
		line-height: var(--s-lineHeight-300);
	}

	&__sendercompany {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		line-clamp: 1;
		overflow: hidden;
		color: var(--s-neutral-txt-disabled, #b0b0b0);
		font-size: var(--s-fontSize-300);
		line-height: var(--s-lineHeight-300);
	}

	&__link {
		color: var(--s-primary-txt-default);
		font-size: var(--s-fontSize-300);
		line-height: var(--s-lineHeight-300);
		text-decoration-line: underline;
		text-underline-position: from-font;
		white-space: nowrap;
	}

	&__refresh-btn {
		float: right;
	}

	&__empty {
		overflow: hidden;
		color: var(--s-neutral-txt-weak-default, #8D8C88);
		text-overflow: ellipsis;
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-300, 13px);
		font-style: normal;
		font-weight: var(--s-fontWeight-400, 400);
		line-height: var(--s-lineHeight-300, 20px);
	}

	&__seperator {
		height: 1px;
		align-self: stretch;
		opacity: 0.5;
		background: #BFBEB9;
	}
}
