.cwn-snapshots {
	display: flex;
	flex-direction: column;
	gap: var(--s-spacing-m, 8px);
	height: 158px;

	&__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__commands {
		display: flex;
		flex-direction: row;
		gap: var(--s-spacing-m, 8px);
	}

	&__content {
		display: flex;
		gap: var(--s-spacing-m, 8px);
		align-items: center;
		height: 100%;

		&--empty {
			justify-content: center;
			border-radius: var(--s-radius-m, 8px);
			border: 1px dashed var(--s-neutral-border-weak-default, #BFBEB9);
		}
	}

	&__title {
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-300);
		font-style: normal;
		font-weight: var(--s-fontWeight-600);
		line-height: var(--s-lineHeight-300);
	}

	&__button {
		padding: var(--s-padding-s, 4px);
		overflow: hidden;
	}

	&__button-caption {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__empty-dialog {
		display: flex;
		align-items: center;
		gap: var(--s-spacing-xll, 32px);

		&-content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: var(--s-spacing-s, 4px);
			max-width: 250px;
		}
	}

	&__item {
		flex: 1;
		height: 100%;
		padding: var(--s-padding-m, 8px);
		width: 0;
	}

	&__add-item {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: var(--s-radius-m, 8px);
		border: 1px dashed var(--s-neutral-border-weak-default, #BFBEB9);
	}

	&__dialog {
		top: 292px;
		width: 300px;

		&-card {
			gap: var(--s-spacing-xl, 16px);
			padding: var(--s-padding-xl, 16px);
		}

		&-content {
			display: flex;
			flex-direction: column;
			gap: var(--s-spacing-m, 8px);
			padding: 0;
		}

		&-actions {
			padding: 0;
		}

		&-search-list {
			width: calc(100% - 34px);
			max-height: 200px;
		}
	}
}

.cwn-snapshot-item {
	gap: var(--s-spacing-l, 16px);
	padding: var(--s-padding-xl, 16px);

	&__header,
	&__content {
		padding: 0;
	}

	&__content {
		align-content: center;
	}

	&__header-content {
		overflow: hidden;
	}

	&__header-actions {
		margin: unset;
		align-self: unset;
	}

	&__sub-title {
		color: var(--s-neutral-txt-weak-default);
		font-size: var(--s-fontSize-200);
		font-weight: var(--s-fontWeight-400);
	}

	&__text {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__value {
		font-family: var(--s-fontFamily-primary);
		font-size: var(--s-fontSize-600);
		font-weight: var(--s-fontWeight-700);
		line-height: var(--s-lineHeight-600);
	}

	&__actions--editing {
		position: absolute;
		padding: var(--s-padding-s, 4px);
		align-items: center;
		justify-content: center;
		gap: var(--s-spacing-m, 8px);
		width: 70px;
		bottom: 0px;
		left: 50%;
		transform: translateX(-50%);
		border: 1px solid var(--s-neutral-border-weak-default);
		border-radius: var(--s-radius-m) var(--s-radius-m) var(--s-radius-null) var(--s-radius-null);
		background-color: #181c33;
	}

	&--editing {
		position: relative;
		border: 1px dashed var(--s-neutral-border-weak-default);

		&[draggable="true"] {
			cursor: move;
		}
	}

	&__icon-edit {
		background-color: #E1E3E6;
	}

	&__icon-delete {
		background-color: #CD6A8B;
	}

	&__skeleton-title {
		width: 123px;
		height: 10px;
		border-radius: var(--s-radius-s, 4px);
		margin: 5px 0 5px 0;
	}

	&__skeleton-subtitle {
		width: 83px;
		height: 9px;
		margin: 5px 0 5px 0;
		border-radius: var(--s-radius-s, 4px);
	}

	&__skeleton-value {
		width: 64px;
		height: 22px;
		border-radius: var(--s-radius-s, 4px);
		margin: 8px 0 4px 0;
	}

	&--drag-over {
		filter: brightness(98%);
	}

	&__error-content {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__button {
		background-color: var(--s-neutral-bg-default);
	}

	&__error-content {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
