USE [eHubTransactions]
GO
/****** Object:  Table [dbo].[eHubAuditRequest]    Script Date: 02/06/2010 00:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eHubAuditRequest](
	[B0_PK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[B0_LicenceCode] [varchar](20) NOT NULL,
	[B0_RequestUTC] [datetime] NOT NULL,
	[B0_ClientSpecifiedIdentifier] [uniqueidentifier] NULL,
	[B0_UserName] [varchar](100) NOT NULL,
	[B0_TransactionType] [varchar](3) NOT NULL,
	[B0_RequestIP] [varchar](15) NOT NULL,
	[B0_TransactionSubType] [varchar](3) NOT NULL,
	[B0_TransactionIdentifier] [uniqueidentifier] NULL,
	[B0_ClientSpecifiedIdentifierType] [varchar](5) NOT NULL,
 CONSTRAINT [PK_eHubAuditRequest] PRIMARY KEY CLUSTERED 
(
	[B0_PK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_eHubAuditRequest_B0_LicenceCode]    Script Date: 02/06/2010 00:45:30 ******/
ALTER TABLE [dbo].[eHubAuditRequest] ADD  CONSTRAINT [DF_eHubAuditRequest_B0_LicenceCode]  DEFAULT ('') FOR [B0_LicenceCode]
GO
/****** Object:  Default [DF_eHubAuditRequest_B0_RequestUTC]    Script Date: 02/06/2010 00:45:30 ******/
ALTER TABLE [dbo].[eHubAuditRequest] ADD  CONSTRAINT [DF_eHubAuditRequest_B0_RequestUTC]  DEFAULT (getutcdate()) FOR [B0_RequestUTC]
GO
/****** Object:  Default [DF_eHubAuditRequest_B0_UserName]    Script Date: 02/06/2010 00:45:30 ******/
ALTER TABLE [dbo].[eHubAuditRequest] ADD  CONSTRAINT [DF_eHubAuditRequest_B0_UserName]  DEFAULT ('') FOR [B0_UserName]
GO
/****** Object:  Default [DF_eHubAuditRequest_B0_TransactionType]    Script Date: 02/06/2010 00:45:30 ******/
ALTER TABLE [dbo].[eHubAuditRequest] ADD  CONSTRAINT [DF_eHubAuditRequest_B0_TransactionType]  DEFAULT ('') FOR [B0_TransactionType]
GO
/****** Object:  Default [DF_eHubAuditRequest_B0_RequestIP]    Script Date: 02/06/2010 00:45:30 ******/
ALTER TABLE [dbo].[eHubAuditRequest] ADD  CONSTRAINT [DF_eHubAuditRequest_B0_RequestIP]  DEFAULT ('') FOR [B0_RequestIP]
GO
/****** Object:  Default [DF_eHubAuditRequest_B0_TransactionSubType]    Script Date: 02/06/2010 00:45:30 ******/
ALTER TABLE [dbo].[eHubAuditRequest] ADD  CONSTRAINT [DF_eHubAuditRequest_B0_TransactionSubType]  DEFAULT ('') FOR [B0_TransactionSubType]
GO
