// https://devops.wisetechglobal.com/wtg/Shared/_git/WTG.WebComponents?path=%2Fsrc%2Fstyles%2Fcss%2Fsupply-light-core.css&_a=contents&version=GBmaster

:root {
	/**
	* @tokens Neutral
	* @presenter Color
	*/
	--s-neutral-canvas-default: #f8f8f7;
	--s-neutral-bg-default: #ffffff;
	--s-neutral-bg-default-90a: rgba(255, 255, 255, 0.9);
	--s-neutral-bg-default-25a: rgba(255, 255, 255, 0.25);
	--s-neutral-bg-inv-default: #474746;
	--s-neutral-bg-inv-default-20a: rgba(71, 71, 70, 0.2);
	--s-neutral-bg-hover: #30302e;
	--s-neutral-bg-active: #1c1c1b;
	--s-neutral-bg-disabled: #f8f8f7;
	--s-neutral-bg-weak-default: #f7f7f4;
	--s-neutral-bg-weak-hover: #f1f1ef;
	--s-neutral-bg-weak-active: #dcdcd7;
	--s-neutral-txt-default: #f8f8f7;
	--s-neutral-txt-hover: #1c1c1b;
	--s-neutral-txt-active: #111110;
	--s-neutral-txt-disabled: #b9b9b5;
	--s-neutral-txt-weak-default: #6b6b68;
	--s-neutral-txt-weak-hover: #474746;
	--s-neutral-txt-weak-active: #30302e;
	--s-neutral-txt-inv-default: #30302e;
	--s-neutral-txt-inv-hover: #f1f1ef;
	--s-neutral-txt-inv-active: #ffffff;
	--s-neutral-txt-inv-disabled: #91918e;
	--s-neutral-txt-weak-inv-default: #b9b9b5;
	--s-neutral-txt-weak-inv-hover: #f1f1ef;
	--s-neutral-txt-weak-inv-active: #f8f8f7;
	--s-neutral-icon-default: #474746;
	--s-neutral-icon-hover: #30302e;
	--s-neutral-icon-active: #1c1c1b;
	--s-neutral-icon-disabled: #b9b9b5;
	--s-neutral-icon-weak-default: #6b6b68;
	--s-neutral-icon-weak-hover: #474746;
	--s-neutral-icon-weak-active: #30302e;
	--s-neutral-icon-inv-default: #f8f8f7;
	--s-neutral-icon-inv-hover: #f1f1ef;
	--s-neutral-icon-inv-active: #ffffff;
	--s-neutral-icon-inv-disabled: #91918e;
	--s-neutral-icon-weak-inv-default: #b9b9b5;
	--s-neutral-icon-weak-inv-hover: #dcdcd7;
	--s-neutral-icon-weak-inv-active: #f8f8f7;
	--s-neutral-border-default: #474746;
	--s-neutral-border-hover: #30302e;
	--s-neutral-border-active: #1c1c1b;
	--s-neutral-border-disabled: #b9b9b5;
	--s-neutral-border-weak-default: #bfbeb9;
	--s-neutral-border-weak-hover: rgba(71, 71, 70, 0.5);
	--s-neutral-border-weak-active: rgba(48, 48, 46, 0.5);
	--s-neutral-scrollbar-default: #e5e5e5;
	--s-neutral-scrollbar-hover: #b2b2b2;
	/**
	* @tokens Primary
	* @presenter Color
	*/
	--s-primary-bg-default: #371ee1;
	--s-primary-bg-hover: #221098;
	--s-primary-bg-active: #110662;
	--s-primary-bg-weak-default: #f6f8ff;
	--s-primary-bg-weak-hover: #ecf1ff;
	--s-primary-bg-weak-active: #dae2fe;
	--s-primary-txt-default: #371ee1;
	--s-primary-txt-hover: #221098;
	--s-primary-txt-active: #110662;
	--s-primary-txt-weak-default: #4d58eb;
	--s-primary-txt-weak-hover: #371ee1;
	--s-primary-txt-weak-active: #221098;
	--s-primary-txt-inv-default: #f6f8ff;
	--s-primary-txt-inv-hover: #ecf1ff;
	--s-primary-txt-inv-active: #ffffff;
	--s-primary-txt-weak-inv-default: #dae2fe;
	--s-primary-txt-weak-inv-hover: #ecf1ff;
	--s-primary-txt-weak-inv-active: #f6f8ff;
	--s-primary-icon-default: #371ee1;
	--s-primary-icon-hover: #221098;
	--s-primary-icon-active: #110662;
	--s-primary-icon-weak-default: #4d58eb;
	--s-primary-icon-weak-hover: #371ee1;
	--s-primary-icon-weak-active: #221098;
	--s-primary-icon-inv-default: #f6f8ff;
	--s-primary-icon-inv-hover: #ecf1ff;
	--s-primary-icon-inv-active: #ffffff;
	--s-primary-icon-weak-inv-default: #dae2fe;
	--s-primary-icon-weak-inv-hover: #ecf1ff;
	--s-primary-icon-weak-inv-active: #f6f8ff;
	--s-primary-border-default: #371ee1;
	--s-primary-border-hover: #221098;
	--s-primary-border-active: #110662;
	/**
	* @tokens Info
	* @presenter Color
	*/
	--s-info-bg-default: #8351c2;
	--s-info-bg-hover: #583583;
	--s-info-bg-active: #3c245a;
	--s-info-bg-weak-default: #f9f7fc;
	--s-info-bg-weak-hover: #f3eff9;
	--s-info-bg-weak-active: #e8dff4;
	--s-info-txt-default: #8351c2;
	--s-info-txt-hover: #583583;
	--s-info-txt-active: #3c245a;
	--s-info-txt-inv-default: #f9f7fc;
	--s-info-txt-inv-hover: #f3eff9;
	--s-info-txt-inv-active: #ffffff;
	--s-info-icon-default: #8351c2;
	--s-info-icon-hover: #583583;
	--s-info-icon-active: #3c245a;
	--s-info-icon-inv-default: #f9f7fc;
	--s-info-icon-inv-hover: #f3eff9;
	--s-info-icon-inv-active: #ffffff;
	--s-info-border-default: #8351c2;
	--s-info-border-hover: #583583;
	--s-info-border-active: #3c245a;
	--s-info-border-weak-default: rgba(132, 81, 193, 0.5);
	--s-info-border-weak-hover: rgba(88, 53, 131, 0.5);
	--s-info-border-weak-active: rgba(60, 36, 90, 0.5);
	/**
	* @tokens Success
	* @presenter Color
	*/
	--s-success-bg-default: #00795d;
	--s-success-bg-hover: #00513e;
	--s-success-bg-active: #00382b;
	--s-success-bg-weak-default: #f2f9f8;
	--s-success-bg-weak-hover: #e6f4f0;
	--s-success-bg-weak-active: #cce8e2;
	--s-success-txt-default: #00795d;
	--s-success-txt-hover: #00513e;
	--s-success-txt-active: #00382b;
	--s-success-txt-inv-default: #f2f9f8;
	--s-success-txt-inv-hover: #e6f4f0;
	--s-success-txt-inv-active: #ffffff;
	--s-success-icon-default: #00795d;
	--s-success-icon-hover: #00513e;
	--s-success-icon-active: #00382b;
	--s-success-icon-inv-default: #f2f9f8;
	--s-success-icon-inv-hover: #e6f4f0;
	--s-success-icon-inv-active: #ffffff;
	--s-success-border-default: #00795d;
	--s-success-border-hover: #00513e;
	--s-success-border-active: #00382b;
	--s-success-border-weak-default: rgba(1, 121, 93, 0.5);
	--s-success-border-weak-hover: rgba(0, 81, 62, 0.5);
	--s-success-border-weak-active: rgba(0, 56, 43, 0.5);
	/**
	* @tokens Warning
	* @presenter Color
	*/
	--s-warning-bg-default: #ece68c;
	--s-warning-bg-hover: #c4bc45;
	--s-warning-bg-active: #9a9336;
	--s-warning-bg-weak-default: #faf9e3;
	--s-warning-bg-weak-hover: #f6f3c7;
	--s-warning-bg-weak-active: #ece68c;
	--s-warning-txt-default: #716d28;
	--s-warning-txt-hover: #4b481b;
	--s-warning-txt-active: #333112;
	--s-warning-txt-inv-default: #4b481b;
	--s-warning-txt-inv-hover: #333112;
	--s-warning-txt-inv-active: #121106;
	--s-warning-icon-default: #716d28;
	--s-warning-icon-hover: #4b481b;
	--s-warning-icon-active: #333112;
	--s-warning-icon-inv-default: #4b481b;
	--s-warning-icon-inv-hover: #333112;
	--s-warning-icon-inv-active: #121106;
	--s-warning-border-default: #716d28;
	--s-warning-border-hover: #4b481b;
	--s-warning-border-active: #333112;
	--s-warning-border-weak-default: rgba(113, 109, 40, 0.5);
	--s-warning-border-weak-hover: rgba(75, 72, 27, 0.5);
	--s-warning-border-weak-active: rgba(51, 49, 18, 0.5);
	/**
	* @tokens Error
	* @presenter Color
	*/
	--s-error-bg-default: #d50047;
	--s-error-bg-hover: #910031;
	--s-error-bg-active: #670022;
	--s-error-bg-weak-default: #fef6f9;
	--s-error-bg-weak-hover: #fdedf2;
	--s-error-bg-weak-active: #fbdae5;
	--s-error-txt-default: #d50047;
	--s-error-txt-hover: #910031;
	--s-error-txt-active: #670022;
	--s-error-txt-inv-default: #fef6f9;
	--s-error-txt-inv-hover: #fdedf2;
	--s-error-txt-inv-active: #ffffff;
	--s-error-icon-default: #d50047;
	--s-error-icon-hover: #910031;
	--s-error-icon-active: #670022;
	--s-error-icon-inv-default: #fef6f9;
	--s-error-icon-inv-hover: #fdedf2;
	--s-error-icon-inv-active: #ffffff;
	--s-error-border-default: #d50047;
	--s-error-border-hover: #910031;
	--s-error-border-active: #670022;
	--s-error-border-weak-default: rgba(213, 0, 71, 0.5);
	--s-error-border-weak-hover: rgba(145, 0, 49, 0.5);
	--s-error-border-weak-active: rgba(103, 0, 34, 0.5);
	/**
	* @tokens Brand
	* @presenter Color
	*/
	--s-brand-bg-default: #371ee1;
	--s-brand-bg-hover: #ffffffe6;
	--s-brand-bg-active: #ffffff;
	--s-brand-bg-weak-default: #f6f8ff;
	--s-brand-bg-weak-hover: #a4b6fb;
	--s-brand-bg-weak-active: #4d58eb;
	--s-brand-txt-default: #371ee1;
	--s-brand-txt-hover: #221098;
	--s-brand-txt-active: #110662;
	--s-brand-txt-weak-default: #4d58eb;
	--s-brand-txt-weak-hover: #371ee1;
	--s-brand-txt-weak-active: #221098;
	--s-brand-txt-inv-default: #f6f8ff;
	--s-brand-txt-inv-hover: #371ee1;
	--s-brand-txt-inv-active: #351ee1;
	--s-brand-txt-weak-inv-default: #dae2fe;
	--s-brand-txt-weak-inv-hover: #ecf1ff;
	--s-brand-txt-weak-inv-active: #f6f8ff;
	--s-brand-icon-default: #371ee1;
	--s-brand-icon-hover: #221098;
	--s-brand-icon-active: #110662;
	--s-brand-icon-weak-default: #4d58eb;
	--s-brand-icon-weak-hover: #371ee1;
	--s-brand-icon-weak-active: #221098;
	--s-brand-icon-inv-default: #f6f8ff;
	--s-brand-icon-inv-hover: #ecf1ff;
	--s-brand-icon-inv-active: #ffffff;
	--s-brand-icon-weak-inv-default: #dae2fe;
	--s-brand-icon-weak-inv-hover: #ecf1ff;
	--s-brand-icon-weak-inv-active: #f6f8ff;
	--s-brand-border-default: #371ee1;
	--s-brand-border-hover: #221098;
	--s-brand-border-active: #110662;
	--s-brand-border-weak-default: rgba(77, 88, 235, 0.5);
	--s-brand-border-weak-hover: rgba(54, 30, 226, 0.5);
	--s-brand-border-weak-active: rgba(33, 16, 152, 0.5);
}
