[*.cs]
# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = warning

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = warning

# CW1161: ResGetStringAnalyzer - Disable for ediload as Res is not avaialble
dotnet_diagnostic.CW1161.severity = none
