<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/DataStorage.ODReferenceData.csdl|res://*/DataStorage.ODReferenceData.ssdl|res://*/DataStorage.ODReferenceData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NJGCO-WBNH-1;initial catalog=OdysseyDat2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ZZDbClientEntities" connectionString="metadata=res://*/DataStorage.ZZReferenceData.csdl|res://*/DataStorage.ZZReferenceData.ssdl|res://*/DataStorage.ZZReferenceData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=njgco-wewg-1;initial catalog=OdysseyCN_RefDb_Ent_ZZ;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>