// Using Microsoft's color palette so that we're as close as possible to their list:
// https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-7.0
// We will potentially need to add others in the future, but this is a good start.
$microsoft-color-AliceBlue: #f0f8ffff;
$microsoft-color-AntiqueWhite: #faebd7ff;
$microsoft-color-Aqua: #00ffffff;
$microsoft-color-Aquamarine: #7fffd4ff;
$microsoft-color-Azure: #f0ffffff;
$microsoft-color-Beige: #f5f5dcff;
$microsoft-color-Bisque: #ffe4c4ff;
$microsoft-color-Black: #000000ff;
$microsoft-color-BlanchedAlmond: #ffebcdff;
$microsoft-color-Blue: #0000ffff;
$microsoft-color-BlueViolet: #8a2be2ff;
$microsoft-color-Brown: #a52a2aff;
$microsoft-color-BurlyWood: #deb887ff;
$microsoft-color-CadetBlue: #5f9ea0ff;
$microsoft-color-Chartreuse: #7fff00ff;
$microsoft-color-Chocolate: #d2691eff;
$microsoft-color-Coral: #ff7f50ff;
$microsoft-color-CornflowerBlue: #6495edff;
$microsoft-color-Cornsilk: #fff8dcff;
$microsoft-color-Crimson: #dc143cff;
$microsoft-color-Cyan: #00ffffff;
$microsoft-color-DarkBlue: #00008bff;
$microsoft-color-DarkCyan: #008b8bff;
$microsoft-color-DarkGoldenrod: #b8860bff;
$microsoft-color-DarkGray: #a9a9a9ff;
$microsoft-color-DarkGreen: #006400ff;
$microsoft-color-DarkKhaki: #bdb76bff;
$microsoft-color-DarkMagenta: #8b008bff;
$microsoft-color-DarkOliveGreen: #556b2fff;
$microsoft-color-DarkOrange: #ff8c00ff;
$microsoft-color-DarkOrchid: #9932ccff;
$microsoft-color-DarkRed: #8b0000ff;
$microsoft-color-DarkSalmon: #e9967aff;
$microsoft-color-DarkSeaGreen: #8fbc8fff;
$microsoft-color-DarkSlateBlue: #483d8bff;
$microsoft-color-DarkSlateGray: #2f4f4fff;
$microsoft-color-DarkTurquoise: #00ced1ff;
$microsoft-color-DarkViolet: #9400d3ff;
$microsoft-color-DeepPink: #ff1493ff;
$microsoft-color-DeepSkyBlue: #00bfffff;
$microsoft-color-DimGray: #696969ff;
$microsoft-color-DodgerBlue: #1e90ffff;
$microsoft-color-Firebrick: #b22222ff;
$microsoft-color-FloralWhite: #fffaf0ff;
$microsoft-color-ForestGreen: #228b22ff;
$microsoft-color-Fuchsia: #ff00ffff;
$microsoft-color-Gainsboro: #dcdcdcff;
$microsoft-color-GhostWhite: #f8f8ffff;
$microsoft-color-Gold: #ffd700ff;
$microsoft-color-Goldenrod: #daa520ff;
$microsoft-color-Gray: #808080ff;
$microsoft-color-Green: #008000ff;
$microsoft-color-GreenYellow: #adff2fff;
$microsoft-color-Honeydew: #f0fff0ff;
$microsoft-color-HotPink: #ff69b4ff;
$microsoft-color-IndianRed: #cd5c5cff;
$microsoft-color-Indigo: #4b0082ff;
$microsoft-color-Ivory: #fffff0ff;
$microsoft-color-Khaki: #f0e68cff;
$microsoft-color-Lavender: #e6e6faff;
$microsoft-color-LavenderBlush: #fff0f5ff;
$microsoft-color-LawnGreen: #7cfc00ff;
$microsoft-color-LemonChiffon: #fffacdff;
$microsoft-color-LightBlue: #add8e6ff;
$microsoft-color-LightCoral: #f08080ff;
$microsoft-color-LightCyan: #e0ffffff;
$microsoft-color-LightGoldenrodYellow: #fafad2ff;
$microsoft-color-LightGray: #d3d3d3ff;
$microsoft-color-LightGreen: #90ee90ff;
$microsoft-color-LightPink: #ffb6c1ff;
$microsoft-color-LightSalmon: #ffa07aff;
$microsoft-color-LightSeaGreen: #20b2aaff;
$microsoft-color-LightSkyBlue: #87cefaff;
$microsoft-color-LightSlateGray: #778899ff;
$microsoft-color-LightSteelBlue: #b0c4deff;
$microsoft-color-LightYellow: #ffffe0ff;
$microsoft-color-Lime: #00ff00ff;
$microsoft-color-LimeGreen: #32cd32ff;
$microsoft-color-Linen: #faf0e6ff;
$microsoft-color-Magenta: #ff00ffff;
$microsoft-color-Maroon: #800000ff;
$microsoft-color-MediumAquamarine: #66cdaaff;
$microsoft-color-MediumBlue: #0000cdff;
$microsoft-color-MediumOrchid: #ba55d3ff;
$microsoft-color-MediumPurple: #9370dbff;
$microsoft-color-MediumSeaGreen: #3cb371ff;
$microsoft-color-MediumSlateBlue: #7b68eeff;
$microsoft-color-MediumSpringGreen: #00fa9aff;
$microsoft-color-MediumTurquoise: #48d1ccff;
$microsoft-color-MediumVioletRed: #c71585ff;
$microsoft-color-MidnightBlue: #191970ff;
$microsoft-color-MintCream: #f5fffaff;
$microsoft-color-MistyRose: #ffe4e1ff;
$microsoft-color-Moccasin: #ffe4b5ff;
$microsoft-color-NavajoWhite: #ffdeadff;
$microsoft-color-Navy: #000080ff;
$microsoft-color-OldLace: #fdf5e6ff;
$microsoft-color-Olive: #808000ff;
$microsoft-color-OliveDrab: #6b8e23ff;
$microsoft-color-Orange: #ffa500ff;
$microsoft-color-OrangeRed: #ff4500ff;
$microsoft-color-Orchid: #da70d6ff;
$microsoft-color-PaleGoldenrod: #eee8aaff;
$microsoft-color-PaleGreen: #98fb98ff;
$microsoft-color-PaleTurquoise: #afeeeeff;
$microsoft-color-PaleVioletRed: #db7093ff;
$microsoft-color-PapayaWhip: #ffefd5ff;
$microsoft-color-PeachPuff: #ffdab9ff;
$microsoft-color-Peru: #cd853fff;
$microsoft-color-Pink: #ffc0cbff;
$microsoft-color-Plum: #dda0ddff;
$microsoft-color-PowderBlue: #b0e0e6ff;
$microsoft-color-Purple: #800080ff;
$microsoft-color-Red: #ff0000ff;
$microsoft-color-RosyBrown: #bc8f8fff;
$microsoft-color-RoyalBlue: #4169e1ff;
$microsoft-color-SaddleBrown: #8b4513ff;
$microsoft-color-Salmon: #fa8072ff;
$microsoft-color-SandyBrown: #f4a460ff;
$microsoft-color-SeaGreen: #2e8b57ff;
$microsoft-color-SeaShell: #fff5eeff;
$microsoft-color-Sienna: #a0522dff;
$microsoft-color-Silver: #c0c0c0ff;
$microsoft-color-SkyBlue: #87ceebff;
$microsoft-color-SlateBlue: #6a5acdff;
$microsoft-color-SlateGray: #708090ff;
$microsoft-color-Snow: #fffafaff;
$microsoft-color-SpringGreen: #00ff7fff;
$microsoft-color-SteelBlue: #4682b4ff;
$microsoft-color-Tan: #d2b48cff;
$microsoft-color-Teal: #008080ff;
$microsoft-color-Thistle: #d8bfd8ff;
$microsoft-color-Tomato: #ff6347ff;
$microsoft-color-Transparent: #00ffffff;
$microsoft-color-Turquoise: #40e0d0ff;
$microsoft-color-Violet: #ee82eeff;
$microsoft-color-Wheat: #f5deb3ff;
$microsoft-color-White: #ffffffff;
$microsoft-color-WhiteSmoke: #f5f5f5ff;
$microsoft-color-Yellow: #ffff00ff;
$microsoft-color-YellowGreen: #9acd32ff;
