.text-decoration-underline {
	text-decoration: underline;
}

$floats: left right none;
@each $float in $floats {
	.float-#{$float} {
		float: $float;
	}
}

$spacing-sizes-start: 0;
$spacing-sizes-end: 5;
$spacing-sizes-array: [];

@for $i from $spacing-sizes-start through $spacing-sizes-end {
	$spacing-sizes-array: append($spacing-sizes-array, $i, comma);
}

$sides: (
	"-": "",
	"t-": "-top",
	"b-": "-bottom",
	"l-": "-left",
	"r-": "-right",
);

@each $spacing-size in $spacing-sizes-array {
	@each $s, $side in $sides {
		.m#{$s}#{$spacing-size} {
			margin#{$side}: #{$spacing-size}px !important;
		}

		.p#{$s}#{$spacing-size} {
			padding#{$side}: #{$spacing-size}px !important;
		}
	}
}
