:root {
	// Setting the SystemColors
	--color-active-border: #b4b4b4ff;
	--color-active-caption: #99b4d1ff;
	--color-active-caption-text: #000000ff;
	--color-app-workspace: #abababff;
	--color-button-face: #f0f0f0ff;
	--color-button-highlight: #ffffffff;
	--color-button-shadow: #a0a0a0ff;
	--color-control: #f0f0f0ff;
	--color-control-dark: #a0a0a0ff;
	--color-control-dark-dark: #696969ff;
	--color-control-light: #e3e3e3ff;
	--color-control-light-light: #ffffffff;
	--color-control-text: #000000ff;
	--color-desktop: #000000ff;
	--color-gradient-active-caption: #b9d1eaff;
	--color-gradient-inactive-caption: #d7e4f2ff;
	--color-gray-text: #6d6d6dff;
	--color-highlight: #0078d7ff;
	--color-highlight-text: #ffffffff;
	--color-hot-track: #0066ccff;
	--color-inactive-border: #f4f7fcff;
	--color-inactive-caption: #bfcddbff;
	--color-inactive-caption-text: #000000ff;
	--color-info: #ffffe1ff;
	--color-info-text: #000000ff;
	--color-menu: #f0f0f0ff;
	--color-menu-bar: #f0f0f0ff;
	--color-menu-highlight: #3399ffff;
	--color-menu-text: #000000ff;
	--color-scroll-bar: #c8c8c8ff;
	--color-window: #ffffffff;
	--color-window-frame: #646464ff;
	--color-window-text: #000000ff;
}

* {
	text-align: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	box-sizing: border-box;
	user-select: none;

	&:focus-visible {
		outline: none;
	}
}

::-webkit-scrollbar-track {
	background-color: rgb(241, 241, 241);
}

::-webkit-scrollbar {
	background-color: rgb(240, 240, 240);
	width: 17px;
	height: 17px;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(205, 205, 205);

	&:horizontal {
		&:hover {
			background-color: rgb(153, 153, 153);
		}

		&:active {
			background-color: rgb(102, 102, 102);
		}
	}

	&:vertical {
		&:hover {
			background-color: rgb(153, 153, 153);
		}

		&:active {
			background-color: rgb(102, 102, 102);
		}
	}
}

::-webkit-scrollbar-button {
	border-style: solid;
	height: 18px;
	width: 18px;
	background-repeat: no-repeat;
	background-size: 12px;

	&:single-button {
		&:vertical {
			background-position: center center;
			background-color: rgb(240, 240, 240);
			border: none;

			&:decrement {
				background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='rgb(255,255,255)' stroke='rgb(50,50,50)' stroke-width='2' stroke-linecap='square'><line x1='6' y1='11' x2='9' y2='7'/><line x1='9' y1='7' x2='12' y2='11'/></svg>");

				&:hover {
					background-color: rgb(200, 200, 200);
					background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' stroke='rgb(50,50,50)' stroke-width='2' stroke-linecap='square'><line x1='6' y1='11' x2='9' y2='7'/><line x1='9' y1='7' x2='12' y2='11'/></svg>");
				}

				&:active {
					background-color: rgb(91, 91, 91);
					background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='square'><line x1='6' y1='11' x2='9' y2='7'/><line x1='9' y1='7' x2='12' y2='11'/></svg>");
				}
			}

			&:increment {
				background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='rgb(255,255,255)' stroke='rgb(50,50,50)' stroke-width='2' stroke-linecap='square'><line x1='6' y1='7' x2='9' y2='11'/><line x1='9' y1='11' x2='12' y2='7'/></svg>");

				&:hover {
					background-color: rgb(200, 200, 200);
					background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' stroke='rgb(50,50,50)' stroke-width='2' stroke-linecap='square'><line x1='6' y1='7' x2='9' y2='11'/><line x1='9' y1='11' x2='12' y2='7'/></svg>");
				}

				&:active {
					background-color: rgb(91, 91, 91);
					background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='square'><line x1='6' y1='7' x2='9' y2='11'/><line x1='9' y1='11' x2='12' y2='7'/></svg>");
				}
			}
		}

		&:horizontal {
			background-position: center center;
			background-color: rgb(240, 240, 240);
			border: none;

			&:increment {
				background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='rgb(255,255,255)' stroke='rgb(50,50,50)' stroke-width='2' stroke-linecap='square'><line x1='7' y1='5' x2='11' y2='8'/><line x1='11' y1='8' x2='7' y2='11'/></svg>");

				&:hover {
					background-color: rgb(200, 200, 200);
					background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' stroke='rgb(50,50,50)' stroke-width='2' stroke-linecap='square'><line x1='7' y1='5' x2='11' y2='8'/><line x1='11' y1='8' x2='7' y2='11'/></svg>");
				}

				&:active {
					background-color: rgb(91, 91, 91);
					background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='square'><line x1='7' y1='5' x2='11' y2='8'/><line x1='11' y1='8' x2='7' y2='11'/></svg>");
				}
			}

			&:decrement {
				background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='rgb(255,255,255)' stroke='rgb(50,50,50)' stroke-width='2' stroke-linecap='square'><line x1='11' y1='5' x2='7' y2='8'/><line x1='7' y1='8' x2='11' y2='11'/></svg>");

				&:hover {
					background-color: rgb(200, 200, 200);
					background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' stroke='rgb(50,50,50)' stroke-width='2' stroke-linecap='square'><line x1='11' y1='5' x2='7' y2='8'/><line x1='7' y1='8' x2='11' y2='11'/></svg>");
				}

				&:active {
					background-color: rgb(91, 91, 91);
					background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='square'><line x1='11' y1='5' x2='7' y2='8'/><line x1='7' y1='8' x2='11' y2='11'/></svg>");
				}
			}
		}
	}
}

::-webkit-scrollbar-corner {
	border: 1px solid rgb(249, 249, 249);
	background-color: rgb(240, 240, 240);
}

::-webkit-scrollbar-button:start:increment,
::-webkit-scrollbar-button:end:decrement {
	display: none;
}

body {
	text-align: left;
	overflow: hidden;
}

table {
	border-collapse: collapse;
}

@font-face {
	font-family: "Material Symbols Outlined";
	font-style: normal;
	src: url("/_content/WinzorFramework/fonts/material-symbols-outlined.woff2")
		format("woff2");
	font-display: block;
}

@font-face {
	font-family: Tahoma;
	font-weight: normal;
	src: local("Tahoma");
}

@font-face {
	font-family: Tahoma;
	font-weight: bold;
	src: local("Tahoma Bold");
}

/* The unicode-range ensures that all separators are invisble: WI00593999 */
@font-face {
	font-family: Tahoma;
	src: local("Tahoma");
	unicode-range: U+0000-001F;
	size-adjust: 0%;
}

input:focus,
textarea:focus,
button:focus {
	outline: none;
}

@import "utilities";
@import "controls";
