<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ms-4" [routerLink]="['/']" routerLinkActive="active" ariaCurrentWhenActive="page">Mock Web Service Endpoints</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container-fluid">
  <div class="row">
    <protocols class="col-md-2" />  
    <main class="col-md-10">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>