<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="CargoWise.eHub.DataAccess.Sql.eHubTransactions" connectionString="Server=localhost\R2; Database=eHubTransactions; Integrated Security=true;"/>
  </connectionStrings>


  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener"
             initializeData="c:\Logs\ClientTracelog.svclog"
             type="System.Diagnostics.XmlWriterTraceListener"
             traceOutputOptions="Timestamp"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>

  <system.serviceModel>

    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
              logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>

    <bindings>
            <customBinding>
                <binding name="eHub2Gateway">
                    <binaryMessageEncoding maxReadPoolSize="1024" maxWritePoolSize="1024">
                        <readerQuotas maxDepth="1048576" maxStringContentLength="1048576" maxArrayLength="104857600" maxBytesPerRead="1048576" maxNameTableCharCount="1048576" />
                    </binaryMessageEncoding>
                    <tcpTransport manualAddressing="false" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576000" connectionBufferSize="1048576"
                        hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:00:05"
                        maxBufferSize="1048576" maxPendingConnections="200" maxOutputDelay="00:00:00.2000000"
                        maxPendingAccepts="200" transferMode="Streamed" listenBacklog="200"
                        portSharingEnabled="false" teredoEnabled="false">
                        <connectionPoolSettings groupName="default" leaseTimeout="00:05:00"
                            idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="200" />
                    </tcpTransport>
                </binding>

              <binding name="NZCustomsReply">
                <binaryMessageEncoding maxReadPoolSize="1024" maxWritePoolSize="1024">
                  <readerQuotas maxDepth="1048576" maxStringContentLength="1048576" maxArrayLength="104857600" maxBytesPerRead="1048576" maxNameTableCharCount="1048576" />
                </binaryMessageEncoding>
                <tcpTransport manualAddressing="false" maxBufferPoolSize="1048576" maxReceivedMessageSize="104857600" connectionBufferSize="1048576"
                    hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:00:05"
                    maxBufferSize="104857600" maxPendingConnections="200" maxOutputDelay="00:00:00.2000000"
                    maxPendingAccepts="200" transferMode="Buffered" listenBacklog="200"
                    portSharingEnabled="false" teredoEnabled="false">
                  <connectionPoolSettings groupName="default" leaseTimeout="00:05:00"
                      idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="200" />
                </tcpTransport>
              </binding>
            </customBinding>
        </bindings>
        <client>
          
          <endpoint address="net.tcp://localhost:11809/eHub2Gateway/eHub2Gateway.svc"
            binding="customBinding" bindingConfiguration="eHub2Gateway"
            contract="CargoWise.eHub2.Common.IEHub2Reciever" name="eHub2GatewayService" />

          <endpoint address="net.tcp://localhost:11809/NZCustomsReplyService/NZCustomsReply.svc"
            binding="customBinding" bindingConfiguration="NZCustomsReply"
            contract="CargoWise.eHub.Products.NZCustoms.Common.INZCustomsReply" name="NZCustomsReplyService" />
          
        </client>
    </system.serviceModel>
</configuration>