[*.cs]

# CA1018: Mark attributes with AttributeUsageAttribute
dotnet_diagnostic.CA1018.severity = warning

# CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = warning

# CA1813: Avoid unsealed attributes
dotnet_diagnostic.CA1813.severity = warning

# CW1134: sealed non-abstract testCases rule
dotnet_diagnostic.CW1134.severity = silent

# CW1164: Do not use string literals in ListAttribute rule
dotnet_diagnostic.CW1164.severity = error

# IDE0002: Simplify member access.
dotnet_diagnostic.IDE0002.severity = warning

[/MasterData.GUI/**/*Form.cs]
dotnet_diagnostic.IDE0002.severity = silent
