<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<appender name="FileEventLog" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="Logs/ServiceEvents.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="50" />
		<maximumFileSize value="10MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date{yyyy-MM-dd'T'HH:mm:ss.fffzzz} %levelShort Source=%C%n   %message%n   %exception%n" />
			<converter>
				<name value="levelShort" />
				<type value="CargoWise.eServices.USCustoms.OutboundProcessingService.CustomLogLevelPatternConverter, CargoWise.eServices.USCustoms.OutboundProcessingService" />
			</converter>
		</layout>
		<threshold value="DEBUG" />
	</appender>

	<appender name="WindowsEventLog" type="log4net.Appender.EventLogAppender">
		<applicationName value="US Customs Outbound" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date{yyyy-MM-dd'T'HH:mm:ss.fffzzz} %levelShort Source=%C%n   %message%n   %exception%n" />
			<converter>
				<name value="levelShort" />
				<type value="CargoWise.eServices.USCustoms.OutboundProcessingService.CustomLogLevelPatternConverter, CargoWise.eServices.USCustoms.OutboundProcessingService" />
			</converter>
		</layout>
		<threshold value="INFO" />
	</appender>

	<appender name="eHubLoggingService" type="WCFAppender_log4net.WCFAppender, WCFAppender-log4net">
		<BindingType>HTTP</BindingType>
		<BindingConfigurationName>BasicHttpBinding_IWCFLogger</BindingConfigurationName>
		<RenderOnClient>False</RenderOnClient>
		<URL>https://ehub-ausyd.cargowise.net/Log4NetWCFService/WCFService.svc</URL>
		<threshold value="OFF" />
	</appender>

	<appender name="OutboundMessageLogger" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="Logs/SentMessages.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<datePattern value="yyyyMMdd" />
		<maxSizeRollBackups value="200" />
		<maximumFileSize value="10MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date{yyyy-MM-dd'T'HH:mm:ss.fffzzz} Source=%C%n   %message%n" />
		</layout>
		<threshold value="TRACE" />
	</appender>

	<appender name="FaultyOutboundMessageLogger" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="Logs/FaultyMessages.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<datePattern value="yyyyMMdd" />
		<maxSizeRollBackups value="25" />
		<maximumFileSize value="10MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date{yyyy-MM-dd'T'HH:mm:ss.fffzzz} Source=%C%n   %message%n" />
		</layout>
		<threshold value="TRACE" />
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="FileEventLog" />
		<appender-ref ref="WindowsEventLog" />
		<appender-ref ref="eHubLoggingService" />
	</root>

	<logger name="OutboundMessageLogger" additivity="false">
		<level value="TRACE"/>
		<appender-ref ref="OutboundMessageLogger" />
	</logger>

	<logger name="FaultyOutboundMessageLogger" additivity="false">
		<level value="TRACE"/>
		<appender-ref ref="FaultyOutboundMessageLogger" />
	</logger>

</log4net>