# C# files
[*.cs]
generated_code = true

# Suppress WTG.Analyzers diagnostic messages
dotnet_diagnostic.WTG1001.severity = none # reason: third party code
dotnet_diagnostic.WTG1003.severity = none # reason: third party code
dotnet_diagnostic.WTG1004.severity = none # reason: third party code
dotnet_diagnostic.WTG1007.severity = none # reason: third party code
dotnet_diagnostic.WTG2008.severity = none # reason: third party code
dotnet_diagnostic.WTG3005.severity = none # reason: third party code
dotnet_diagnostic.WTG3007.severity = none # reason: third party code
dotnet_diagnostic.WTG3011.severity = none # reason: third party code
dotnet_diagnostic.WTG3012.severity = none # reason: third party code
