<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<configSections>
		<section
			name="SpecialTreatmentList"
			type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			xdt:Transform="Insert" />
	</configSections>
	<SpecialTreatmentList xdt:Transform="InsertAfter(/configuration/configSections)">
		<add key="HYEDAUVIZ" value="C+MUyWbiBjTsnNzriBMZjVBg2AQA2nEJ1hnDpWV2SYs=" />
		<add key="HYEDAECMT" value="Qg/9IBui+IrkkrsNPWtCNVx9xknXQswuiTkjy+hl1ic5u/3eOZTDqKjuerzUHKpb" />
		<add key="HYEDUKCMT" value="3MgbM+1wKQ9iFQ5XD3BKpL/lPfS2dhO0Yu6xJV8QFqLDUhkGitH4fJvF4l19lTW9" />
		<add key="HYEDAUCMT" value="6mSGAVjUd0Q2hoZ1d4KD4x1H3LaA7a/nRDfRb30MMf4LeXdS44Icnwd9t2jlGvA6" />
		<add key="HYEDHKCMT" value="uvMWxd/gpOerNOdrMjyovB5rOvqWD0aDclh0c2JFVaf28CxmrHffYpdYB18RkPmN" />
		<add key="HYEDDECMT" value="ipMsF+hFdwctMA824MWQ9eji+Rdd3sPiKw3Rtx664n6BtTlHV4m1OJaJ4aI6lHu3" />
		<add key="HYEDPRCMT" value="igEmlQ/80YJDAzu5g+HLmDqRRB6vWOiLsMpKLqfcO5kReaW6riy/zQBgYTsVeBQ6" />
		<add key="HYEDSGCMT" value="KrlmxAzxZ9yrtDOild96prJyKeRM6zYq+sHQzH2Fo+Job0N/KKY7/rxFuvJ7aS3T" />
		<add key="HYEDNZCMT" value="LutnptJX0k665UFWjoFqxzMTc6AwqWCulkKfXWQ5a13ZxCFD8LWeE4FhyuAScJHv" />
		<add key="HYEDUSCMT" value="lkuy5J5mVJV0xbDezW/RezGoX6MpXFayIOAqKx4+47KgYVQZ6sYZztbEgWzzfeRX" />
		<add key="HYEDN1CMT" value="/37yzlvvLX/hF7IAAeH7rpVDqIZ+1JrYEd/1C5SyOrp2jalPhgguZSYHaz8NYdpF" />
		<add key="HYEDCACMT" value="fIdmd/v5qQ4rmVPU4ZTVKbL6HnyzJmXpAzchs5eKVNsD3zSAkpgEMHkqfSpogcT3" />
		<add key="HYEDBECMT" value="0BdnuZ2XvYwTi1hESRv6kxLWajNg+WQzTfqT/A0KT56zVJr4/fUAPxY5+gAyRjhX" />
	</SpecialTreatmentList>
	<appSettings>
		<add key="MessageLoggingFolder" xdt:Transform="Remove" xdt:Locator="Match(key)" />
		<add key="SpecialTreatmentServerAddress" value="https://au2sp-shub-401.sand.wtg.zone/eHubGateway/eHubStreamedService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="FailNZCustomsMessageDelivery" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="CargoWise.eServices.Authentication.ServiceClient.Endpoint" value="https://aws-test.wtg.zone/authentication/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	</appSettings>
	<connectionStrings>
		<add name="CargoWise.eHub.DataAccess.Sql.eHubTransactions" connectionString="Data Source=sydsp-sbts-7.sand.wtg.zone;Initial Catalog=eHubTransactions;App=eHub Gateway;User Id=eHubGateway;Password=$eHubTransactionsPassword$" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="CargoWise.eHub.DataAccess.ediProdCache" connectionString="Data Source=sydsp-sbts-7.sand.wtg.zone;App=eHub Gateway;Initial Catalog=ediProdCache;User Id=eHubGateway;Password=$eHubTransactionsPassword$" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="eHubTransactionsContext" connectionString="Data Source=sydsp-sbts-7.sand.wtg.zone;App=eHub Gateway;Initial Catalog=eHubTransactions;User Id=eHubGateway;Password=$eHubTransactionsPassword$" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="SOAP" />
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="CargoWise.eHub.Gateway.eHubStreamedServiceBehavior" xdt:Locator="Match(name)">
					<serviceThrottling xdt:Transform="Remove" />
				</behavior>
				<behavior name="CargoWise.eHub.Gateway.ClientRegistrationServiceBehavior" xdt:Locator="Match(name)">
					<serviceThrottling xdt:Transform="Remove" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.webServer>
		<rewrite xdt:Transform="Insert">
			<rules>
				<rule name="Forward Heartbeat to HealthCheck">
					<match url="^$" />
					<action type="Rewrite" url="eHubGateway/wtg/status" />
				</rule>
				<rule name="Rewrite to wsdl.aspx">
					<match url="eHubStreamedService.svc" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="(wsdl|xsd|disco)" ignoreCase="true" />
						<add input="{HTTP_x_request_original}" pattern="^true$" negate="true" />
						<add input="{REQUEST_METHOD}" pattern="^GET$" ignoreCase="true" />
					</conditions>
					<action type="Rewrite" url="wsdl.aspx" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<system.diagnostics xdt:Transform="Remove" />
</configuration>