<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="DataCacheExpiry" value="15" />
    <add key="GBCustomsBaseURI" value="https://localhost" />
    <add key="GBCustomsTokenAPIURI" value="oauth/token" />
    <add key="GBCustomsGetAccessTokenMaxRetryCount" value="1" />
    <add key="GBCustomsGetAccessTokenRetryInterval" value="1000" />
    <add key="GBCustomsRefreshAccessTokenMaxRetryCount" value="1" />
    <add key="GBCustomsRefreshAccessTokenRetryInterval" value="1000" />
    <add key="HealthCheckRetryCount" value="10" />
    <add key="WiseTechSecret" value="00000000-0000-0000-0000-000000000000" />
    <add key="WiseTechClientID" value="____________________________" />
    <add key="AuthorisationTokenExpirationMinute" value="10" />
    <add key="GBCustomsBaseURITest" value="https://localhost/test" />
    <add key="WiseTechSecretTest" value="00000000-0000-0000-0000-000000000000" />
    <add key="WiseTechClientIDTest" value="____________________________" />
    <add key="CargoWise.eHub.DataAccess.EnterpriseExeDetailAccessor, Version=3.0.0.0" value="CargoWise.eHub.DataAccess.Sql.EnterpriseExeDetailAccessor, CargoWise.eHub.DataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="CargoWise.eHub.DataAccess.InboxAccessor, Version=3.0.0.0" value="CargoWise.eHub.DataAccess.Sql.InboxAccessor, CargoWise.eHub.DataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="IssueManagerUri" value="" />
	<add key="IssueManagerKey" value="" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="CargoWise.eHub.DataAccess.ediProdCache" connectionString="Data Source=localhost;Initial Catalog=ediProdCache;App=GBCustoms CredentialWebService;Integrated Security=True;ApplicationIntent=ReadOnly;" providerName="System.Data.SqlClient" />
    <add name="CargoWise.eHub.DataAccess.eHubTransactionsSecondary" connectionString="Data Source=localhost;Initial Catalog=eHubTransactions;App=GBCustoms CredentialWebService;Integrated Security=True;ApplicationIntent=ReadOnly;" providerName="System.Data.SqlClient" />
    <add name="CargoWise.eHub.DataAccess.Sql.eHubTransactions" connectionString="Data Source=localhost;Initial Catalog=eHubTransactions;App=GBCustoms CredentialWebService;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="eHubTransactionsContext" connectionString="Data Source=localhost;Initial Catalog=eHubTransactions;App=GBCustoms CredentialWebService;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.net>
		<defaultProxy useDefaultCredentials="true">
      <proxy
				autoDetect="true"
        scriptLocation="http://sydproxypac.wtg.zone/pac/proxy.dat"/>
    </defaultProxy>
	</system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <customErrors defaultRedirect="~/CustomErrorPage.aspx" mode="On" redirectMode="ResponseRewrite" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpsBinding>
        <binding name="secure" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="104857600" maxBufferPoolSize="524288" maxReceivedMessageSize="104857600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="104857600" maxArrayLength="6553600" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpsBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="CargoWise.eHub.Products.GBCustoms.CDS.CredentialWebService.CredentialWebService">
        <endpoint binding="basicHttpsBinding" contract="CargoWise.eHub.Products.GBCustoms.CDS.CredentialWebService.ICredentialWebService" bindingConfiguration="secure" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <add path="wtg/status" verb="*" type="CargoWise.eHub.Products.GBCustoms.CDS.CredentialWebService.CredentialWebServiceHealthCheckHttpTaskAsyncHandler" name="CredentialWebServiceHealthCheckHttpTaskAsyncHandler" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669E0DDF0BB1AA2A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="AF08829B84F0328E" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
