@import "../colors";

$subtle-border-color: $microsoft-color-Gainsboro;

// TreeViewAdv
$treeviewadv-row-drag-hover-color: #ffffff;
$treeviewadv-row-drag-selected-color: #000000;
$treeviewadv-row-selected-background-color: var(--color-highlight);
$treeviewadv-row-height: 14px;
$treeviewadv-connecting-line-border: 1px solid var(--color-app-workspace);
$treeviewadv-column-background-color: #ffffff;
$treeviewadv-header-hover-background-color: #d9ebf9;
$treeviewadv-header-active-background-color: #bcdcf4;
$treeviewadv-header-mask-background-color: #c7c7c7;
$treeviewadv-replacer-border-color: #0066cc;
$treeviewadv-column-header-sortmark--ascending: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAHYcAAB2HAY/l8WUAAAAkSURBVBhXY1iwYMF/QpgBBLBJwDBYAQwQVAADBBXAAKYCBgYAMNBHyBV9FTcAAAAASUVORK5CYII=";
$treeviewadv-column-header-sortmark--descending: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAHYcAAB2HAY/l8WUAAAAnSURBVBhXY0AHCxYs+A9lYgcgBTAMFUIFyAqwKsSmAIYJKoDgBf8BlplHyAqLsFwAAAAASUVORK5CYII=";
$treeviewadv-verticalsplit-cursor: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAPCAYAAADphp8SAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAB6SURBVDhPzZLbDoAwCEPB//9nHaRbRofbojHxvFBuzYKqTDgLkI4WIAcOxFtsd7LfWBrt8o0R32QGzzYja9gteCAjm/Ur1ga0x8pOvWjV3uQpbgbx+kWeGGaG0DZqDXKo97UAN5CnS5yHzx+euIBnf/5nZ9gp6BwJIhfshnDb3C9s7QAAAABJRU5ErkJggg==";
