<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="NativeDataTransfer" type="System.Configuration.AppSettingsSection, System.Configuration" />
  </configSections>

  <appSettings>
    <add key="NativeDataTransfer" value="..\Enterprise\Product\Core\NativeDataTransfer\DataTransfer.Native\Enterprise.DataTransfer.Native.Service\Enterprise.DataTransfer.Native.Service.csproj"/>
  </appSettings>

  <NativeDataTransfer>
    <assemblies>
      <add key="Enterprise.DataTransfer.Native.DB.dll" />
      <add key="CargoWise.IO.dll" />
      <add key="Enterprise.DataTransfer.Native.Business.XmlSerializers.dll" />
      <add key="Enterprise.DataTransfer.Common.dll" />
      <add key="WTG.StaticAnalysis.Annotation.dll" />
      <add key="Enterprise.ProductRegistration.Common.dll" />
      <add key="CargoWise.Licensing.dll" />
      <add key="Enterprise.ProductRegistration.Client.dll" />
      <add key="Enterprise.UniversalDataBuss.Integration.dll" />
      <add key="WTG.Foundation.Cryptography.UserSecrets.dll" />
      <add key="Enterprise.MasterData.Common.dll" />
      <add key="Accord.dll" />
      <add key="WTG.AddressCleansing.Common.dll" />
      <add key="Enterprise.DataTransfer.Native.Business.dll" />
      <add key="Enterprise.DataTransfer.Native.Common.dll" />
      <add key="Enterprise.DataTransfer.Native.Utils.dll" />
      <add key="Enterprise.DataTransfer.Native.Service.dll" />
      <add key="CargoWise.ApplicationContext.dll" value="" />
      <add key="CargoWise.Common.dll" value="" />
      <add key="CargoWise.ComponentModel.dll" value="" />
      <add key="CargoWise.Data.dll" value="" />
      <add key="CargoWise.EntityFramework.dll" value="" />
      <add key="CargoWise.Integration.dll" value="" />
      <add key="CargoWise.Shared.40.dll" value="" />
      <add key="Enterprise.Environment.dll" value="" />
      <add key="Enterprise.Initialisation.dll" value="" />
      <add key="Enterprise.Integration.dll" value="" />
      <add key="Enterprise.ZArchitecture.Core.dll" value="" />
      <add key="Enterprise.ZArchitecture.Web.GlobalBase.dll" value="" />
      <add key="Enterprise.ZArchitecture.Web.Shared.dll" value="" />
      <add key="Enterprise.ZArchitecture.Web.Utilities.dll" value="" />
      <add key="CargoWise.ApplicationContext.dll" />
      <add key="CargoWise.ApplicationContext.XmlSerializers.dll" />
      <add key="CargoWise.ApplicationManager.Common.dll" />
      <add key="CargoWise.Async.dll" />
      <add key="CargoWise.BrandManager.dll" />
      <add key="CargoWise.Data.HttpClient.dll" />
      <add key="CargoWise.Data.Providers.Common.dll" />
      <add key="CargoWise.Database.Abstractions.dll" />
      <add key="CargoWise.ResourceStrings.Cache.dll" />
      <add key="CargoWise.Schema.dll" />
      <add key="CargoWise.Windows.UI.dll" />
      <add key="CargoWise.Workflow.dll" />
      <add key="CargoWise.ResourceStrings.dll" />
      <add key="Enterprise.BufferManagement.Business.dll" />
      <add key="Enterprise.DbUpgrader.Resource.Version.dll" />
      <add key="Enterprise.DocumentEngine.dll" />
      <add key="Enterprise.DocumentEngineCore.dll" />
      <add key="Enterprise.DocumentEngineIntegration.dll" />
      <add key="Enterprise.Environment.dll" />
      <add key="Enterprise.Initialisation.dll" />
      <add key="Enterprise.MasterFiles.Business.dll" />
      <add key="Enterprise.MasterFiles.Integration.dll" />
      <add key="Enterprise.Metadata.Integration.dll" />
      <add key="Enterprise.ResourceStrings.Business.dll" />
      <add key="Enterprise.Security.Core.dll" />
      <add key="Enterprise.Semaphores.Common.dll" />
      <add key="Enterprise.ServiceManager.Shared.dll" />
      <add key="Enterprise.ServiceManager.Shared.Test.dll" />
      <add key="Enterprise.UniversalCopy.Business.dll" />
      <add key="Enterprise.Upgrades.dll" />
      <add key="Enterprise.Workflow.Business.dll" />
      <add key="Enterprise.Workflow.Integration.dll" />
      <add key="Enterprise.ZArchitecture.Core.Encryption.dll" />
      <add key="Enterprise.ZArchitecture.Schema.dll" />
      <add key="Enterprise.ZArchitecture.Web.Business.dll" />
      <add key="Enterprise.ZArchitecture.Web.Shared.dll" />
      <add key="CargoWise.Common.dll" />
      <add key="CargoWise.ComponentModel.dll" />
      <add key="CargoWise.Data.dll" />
      <add key="CargoWise.EntityFramework.dll" />
      <add key="CargoWise.Integration.dll" />
      <add key="CargoWise.Shared.40.dll" />
      <add key="CargoWise.Types.dll" />
      <add key="CargoWiseOne.WebInfrastructure.dll" />
      <add key="Enterprise.Integration.dll" />
      <add key="Enterprise.Registry.Business.dll" />
      <add key="Enterprise.ZArchitecture.Business.dll" />
      <add key="Enterprise.ZArchitecture.Core.dll" />
      <add key="Enterprise.ZArchitecture.GUI.dll" />
      <add key="Enterprise.ZArchitecture.Modules.dll" />
      <add key="Enterprise.ZArchitecture.Web.Utilities.dll" />
      <add key="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll" />
      <add key="Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
      <add key="Newtonsoft.Json.dll" />
      <add key="NUnitCore.dll" />
      <add key="Polly.dll" />
      <add key="Resources.dll" />
      <add key="System.Collections.Immutable.dll" />
      <add key="System.Net.Http.Formatting.dll" />
      <add key="System.Web.Http.dll" />
      <add key="System.Web.Http.WebHost.dll" />
      <add key="WTG.Statistics.dll" />
    </assemblies>
  </NativeDataTransfer>

</configuration>
