<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="GetLatest:FileSelector:TF.exe Path" value="C:\Program Files (x86)\Microsoft Visual Studio 10.0\Common7\IDE\tf.exe"/>
    <add key="GetLatest:TextSelector:TFS Folder" value="$/eServices"/>
    <add key="GetLatest:DirectorySelector:Debug Bin Share Folder" value="\\SYDCO-STFB-1.wtg.zone\eHubBuilds\eHubLatestRelease"/>
    <add key="GetLatest:DirectorySelector:Debug Bin Local Folder" value="c:\eServices\eHub\bin\"/>

    <add key="CleanBiztalkApplications:ValidateDistributive:CommunityTasks" value="C:\Program Files (x86)\MSBuild\MSBuildCommunityTasks|.\Distributives\MSBuildCommunityTasks.zip"/>
    <add key="CleanBiztalkApplications:ValidateDistributive:ExtensionPack" value="C:\Program Files (x86)\MSBuild\ExtensionPack|.\Distributives\ExtensionPack.zip"/>
    <add key="CleanBiztalkApplications:FileSelector:MSBuild" value="c:\windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe"/>
    <add key="CleanBiztalkApplications:FileSelector:GacUtilFilePath" value="c:\Program Files (x86)\Microsoft SDKs\Windows\v7.0A\Bin\NETFX 4.0 Tols\x64\gacutil.exe"/>
    <add key="CleanBiztalkApplications:TextSelector:BizTalkMachineName" value="SYD-WIKB-1"/>

    <add key="CreateeHubTransactionDB:ValidateDistributive:CommunityTasks" value="C:\Program Files (x86)\MSBuild\MSBuildCommunityTasks|.\Distributives\MSBuildCommunityTasks.zip"/>
    <add key="CreateeHubTransactionDB:ValidateDistributive:ExtensionPack" value="C:\Program Files (x86)\MSBuild\ExtensionPack|.\Distributives\ExtensionPack.zip"/>
    <add key="CreateeHubTransactionDB:FileSelector:MSBuild" value="c:\windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe"/>
    <add key="CreateeHubTransactionDB:FileSelector:SqlScriptFile" value="C:\eServices\eHub\DataAccess\Sql\eHubTransactions.sql"/>
    <add key="CreateeHubTransactionDB:TextSelector:eHubDBName" value="eHubTransactions"/>
    <add key="CreateeHubTransactionDB:TextSelector:ConnectionString" value="Server=SYD-WIKB-4;Integrated Security=True"/>

    <add key="DeployBtsSolutionDev:ValidateDistributive:CommunityTasks" value="C:\Program Files (x86)\MSBuild\MSBuildCommunityTasks|.\Distributives\MSBuildCommunityTasks.zip"/>
    <add key="DeployBtsSolutionDev:ValidateDistributive:ExtensionPack" value="C:\Program Files (x86)\MSBuild\ExtensionPack|.\Distributives\ExtensionPack.zip"/>
    <add key="DeployBtsSolutionDev:FileSelector:MSBuild" value="c:\windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe"/>
    <add key="DeployBtsSolutionDev:FileSelector:GacUtilFilePath" value="c:\Program Files (x86)\Microsoft SDKs\Windows\v7.0A\Bin\NETFX 4.0 Tools\x64\gacutil.exe"/>
    <add key="DeployBtsSolutionDev:TextSelector:BizTalkMachineName" value="SYD-WIKB-1"/>
    <add key="DeployBtsSolutionDev:DirectorySelector:eHubBinFolder" value="C:\eServices\eHub\bin"/>
    <add key="DeployBtsSolutionDev:DirectorySelector:BiztalkInstallationFolder" value="c:\Program Files (x86)\Microsoft BizTalk Server 2013 R2"/>
    <add key="DeployBtsSolutionDev:DirectorySelector:BindingsFolder" value="c:\eServices\eHub\Bin\Bindings"/>

    <add key="BuildContainerTrackingSystem:DirectorySelector:ContainerSubscriptionService" value="C:\eServices\LogisticsServices"/>
    <add key="BuildContainerTrackingSystem:FileSelector:MsBuildExe" value="C:\Program Files (x86)\MSBuild\12.0\Bin\msbuild.exe"/>
    <add key="BuildContainerTrackingSystem:TextSelector:Configuration" value="Debug"/>

    <add key="PublishCSSDatabase:DirectorySelector:ContainerSubscriptionService" value="C:\eServices\LogisticsServices"/>
    <add key="PublishCSSDatabase:FileSelector:SqlPackageExe" value="C:\Program Files (x86)\Microsoft SQL Server\120\DAC\bin\SqlPackage.exe"/>
    <add key="PublishCSSDatabase:TextSelector:DatabaseServerName" value="localhost"/>

  </appSettings>
</configuration>