<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="GBCustomsBaseURI" value="https://test-api.service.hmrc.gov.uk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GBCustomsGetAccessTokenMaxRetryCount" value="3" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GBCustomsRefreshAccessTokenMaxRetryCount" value="3" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WiseTechSecret" value="$WiseTechSecret$" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WiseTechClientID" value="_IA7f6itaVWcMmCV074yzODIfDga" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GBCustomsBaseURITest" value="https://test-api.service.hmrc.gov.uk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WiseTechSecretTest" value="$WiseTechSecretTest$" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WiseTechClientIDTest" value="_IA7f6itaVWcMmCV074yzODIfDga" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IssueManagerUri" value="https://mockendpoints-api-test.wtg.zone/IssueManager/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IssueManagerKey" value="eHub CDS Credential Web Service test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <clear/>
    <add name="CargoWise.eHub.DataAccess.ediProdCache"
         connectionString="Data Source=eHub-test.db.sand.wtg.zone;Initial Catalog=ediProdCache;App=GBCustoms CredentialWebService;User Id=GBCusCredWS;Password=$DatabasePassword$;ApplicationIntent=ReadOnly;"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)"/>
    <add name="CargoWise.eHub.DataAccess.eHubTransactionsSecondary"
         connectionString="Data Source=eHub-test.db.sand.wtg.zone;Initial Catalog=eHubTransactions;App=GBCustoms CredentialWebService;User Id=GBCusCredWS;Password=$DatabasePassword$;ApplicationIntent=ReadOnly;"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)"/>
    <add name="CargoWise.eHub.DataAccess.Sql.eHubTransactions"
         connectionString="Data Source=eHub-test.db.sand.wtg.zone;Initial Catalog=eHubTransactions;App=GBCustoms CredentialWebService;User Id=GBCusCredWS;Password=$DatabasePassword$;"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)"/>
    <add name="eHubTransactionsContext"
         connectionString="Data Source=eHub-test.db.sand.wtg.zone;Initial Catalog=eHubTransactions;App=GBCustoms CredentialWebService;User Id=GBCusCredWS;Password=$DatabasePassword$"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.net xdt:Transform="Remove" />

  <system.serviceModel>
    <bindings>
      <basicHttpsBinding xdt:Transform="Remove"/>
      <basicHttpBinding xdt:Transform="Insert">
        <binding name="HAProxyHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="104857600" maxBufferPoolSize="524288" maxReceivedMessageSize="104857600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="104857600" maxArrayLength="6553600" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" xdt:Transform="Replace"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping xdt:Transform="Replace">
      <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>
    <services>
      <service name="CargoWise.eHub.Products.GBCustoms.CDS.CredentialWebService.CredentialWebService" xdt:Transform="Replace" xdt:Locator="Match(name)" >
        <endpoint binding="basicHttpBinding" contract="CargoWise.eHub.Products.GBCustoms.CDS.CredentialWebService.ICredentialWebService" bindingConfiguration="HAProxyHttpBinding" />
      </service>
    </services>
  </system.serviceModel>
</configuration>