<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
        type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ZAReferenceData.Properties.Settings"
      type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<applicationSettings>
		<ZAReferenceData.Properties.Settings>
   <setting name="UpdateType" serializeAs="String">
    <value>FULL</value>
   </setting>
   <setting name="DataSource" serializeAs="String">
    <value>ZA Vessel Agents Code List</value>
   </setting>
   <setting name="ZZD_ZZK_NKCodeType" serializeAs="String">
    <value>VESAG</value>
   </setting>
   <setting name="ZZD_ZZZ_NKDataGrouping" serializeAs="String">
    <value>ZA</value>
   </setting>
   <setting name="ZZD_EndDate" serializeAs="String">
    <value>06/06/2079 23:59:00</value>
   </setting>
   <setting name="ServiceUrl" serializeAs="String">
    <value>https://tools.sars.gov.za/ACM_code_Tables/VesselAgents.csv</value>
   </setting>
   <setting name="ServiceHost" serializeAs="String">
    <value>https://tools.sars.gov.za/ACM_code_Tables/</value>
   </setting>
   <setting name="TargetFile" serializeAs="String">
    <value>VesselAgents.csv</value>
   </setting>
   <setting name="Schema" serializeAs="String">
    <value>
					&lt;EntityType Name="RefCusCodeList" Data="true"&gt;
					&lt;Key&gt;
					&lt;PropertyRef Name="ZZD_ZZK_NKCodeType" /&gt;
					&lt;PropertyRef Name="ZZD_ZZZ_NKDataGrouping" /&gt;
					&lt;PropertyRef Name="ZZD_Code" /&gt;
					&lt;/Key&gt;
					&lt;Property Name="ZZD_ZZK_NKCodeType" Type="varchar" MaxLength="5" /&gt;
					&lt;Property Name="ZZD_Code" Type="varchar" MaxLength="35" /&gt;
					&lt;Property Name="ZZD_Description" Type="nvarchar(max)" /&gt;
					&lt;Property Name="ZZD_StartDate" Type="smalldatetime" /&gt;
					&lt;Property Name="ZZD_EndDate" Type="smalldatetime" /&gt;
					&lt;Property Name="ZZD_ZZZ_NKDataGrouping" Type="varchar" MaxLength="3" /&gt;
					&lt;Property Name="RefCusCodeListAttribute" Type="RefCusCodeListAttribute" /&gt;
					&lt;/EntityType&gt;
					&lt;EntityType Name="RefCusCodeListAttribute" Data="true"&gt;
					&lt;Key&gt;
					&lt;PropertyRef Name="ZZE_ZXE_NKName" /&gt;
					&lt;/Key&gt;
					&lt;Property Name="ZZE_ZXE_NKName" Type="varchar" MaxLength="32" /&gt;
					&lt;Property Name="ZZE_Value" Type="varchar" MaxLength="100" /&gt;
					&lt;/EntityType&gt;
				</value>
   </setting>
  </ZAReferenceData.Properties.Settings>
	</applicationSettings>
</configuration>
