<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ include file="..\DataProviderTestGenerator.ttinclude" once="true" #>
<#@ import namespace="CargoWise.Customs.IN.MessageContracts" #>
<#@ import namespace="CargoWise.Customs.IN.MessageContracts.ExportSbGoodsRegistration" #>
<#@ import namespace="Enterprise.Customs.IN.Business" #>
<# GenerateDataProviderTestClasses("ExportSbGoodsRegistration",
typeof(CusEntryHeader),
typeof(ExportSbGoodsRegistrationCACHE05DataProviderAbstractClass),
typeof(HeaderDataProviderAbstractClass),
typeof(GoodsregistrationDataProviderAbstractClass),
typeof(FooterDataProviderAbstractClass),
typeof(MasterDataProviderAbstractClass),
typeof(InvoiceDataProviderAbstractClass),
typeof(PackinglistDataProviderAbstractClass),
typeof(ContainerDataProviderAbstractClass),
typeof(SealDataProviderAbstractClass),
typeof(Ar4DataProviderAbstractClass),
typeof(RotationDataProviderAbstractClass),
typeof(DocumentDataProviderAbstractClass),
typeof(ContainerPackageDataProviderAbstractClass));#>
