[*.cs]

# CW1161: ResGetStringAnalyzer - not required for ENTERPRISE\PRODUCT\CORE\LICENSING
dotnet_diagnostic.CW1161.severity = none

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = warning
