[BArchitecture/**.cs]

# CA1819: Supress as files here are implementing Windows Forms API
dotnet_diagnostic.CA1819.severity = none

[Event/**.cs]

# CA1819: Supress as files here are implementing Windows Forms API
dotnet_diagnostic.CA1819.severity = none

[System.Windows.Forms/**.cs]

# CA1819: Supress as files here are implementing Windows Forms API
dotnet_diagnostic.CA1819.severity = none

# CW1088 DoNotUseClipboard
dotnet_diagnostic.CW1088.severity = none

[*.cs]

# CW1093: Do Not Use System Windows Forms Tool Strip Controls Analyzer
dotnet_diagnostic.CW1093.severity = none

# CW1161: ResGetStringAnalyzer
dotnet_diagnostic.CW1161.severity = none

# IDE0161: Convert to file-scoped namespace
dotnet_diagnostic.IDE0161.severity = warning
csharp_style_namespace_declarations = file_scoped:warning
