<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="OCMCsv" type="log4net.Appender.RollingFileAppender">
    <file value="logs/OCM/OCMCsv.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%4thread] %-5level - %message%newline" />
    </layout>
    <threshold value="DEBUG" />
  </appender>
  <appender name="OCMSaving" type="log4net.Appender.RollingFileAppender">
    <file value="logs/OCM/OCMSaving.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%4thread] %-5level - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <LoggerToMatch value="CargoWise.eHub.Portal.Models.View.OceanCarrierMessaging.IOceanCarrierMessagingType" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <threshold value="DEBUG" />
  </appender>
  <appender name="ClientCertificates" type="log4net.Appender.RollingFileAppender">
    <file value="logs/Portal/ClientCertificates.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%4thread] %-5level - %message%newline" />
    </layout>
    <threshold value="DEBUG" />
  </appender>
	<appender name="AsyncPollingRegistrations" type="log4net.Appender.RollingFileAppender">
		<file value="logs/Portal/AsyncPollingRegistrations.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="100" />
		<maximumFileSize value="10MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%4thread] %-5level - %message%newline" />
		</layout>
		<threshold value="DEBUG" />
	</appender>
  <appender name="ClientRegistrations" type="log4net.Appender.RollingFileAppender">
    <file value="logs/Portal/ClientRegistrations.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%4thread] %-5level - %message%newline" />
    </layout>
    <threshold value="DEBUG" />
  </appender>
  <appender name="ClientSystemRegistrations" type="log4net.Appender.RollingFileAppender">
    <file value="logs/Portal/ClientSystemRegistrations.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%4thread] %-5level - %message%newline" />
    </layout>
    <threshold value="DEBUG" />
  </appender>
  <appender name="TransformationSet" type="log4net.Appender.RollingFileAppender">
    <file value="logs/Portal/TransformationSet.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%4thread] %-5level - %message%newline" />
    </layout>
    <threshold value="DEBUG" />
  </appender>
  <appender name="Client" type="log4net.Appender.RollingFileAppender">
    <file value="logs/Portal/Client.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%4thread] %-5level - %message%newline" />
    </layout>
    <threshold value="DEBUG" />
  </appender>
  <appender name="ZACustoms" type="log4net.Appender.RollingFileAppender">
    <file value="logs/Portal/ZACustoms.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%4thread] %-5level - %message%newline" />
    </layout>
    <threshold value="DEBUG" />
  </appender>
  <appender name="USCustoms" type="log4net.Appender.RollingFileAppender">
    <file value="logs/Portal/USCustoms.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%4thread] %-5level - %message%newline" />
    </layout>
    <threshold value="DEBUG" />
  </appender>
  <appender name="ServiceProvider" type="log4net.Appender.RollingFileAppender">
	<file value="logs/Portal/ServiceProvider.log" />
	<appendToFile value="true" />
	<rollingStyle value="Size" />
	<maxSizeRollBackups value="100" />
	<maximumFileSize value="10MB" />
	<layout type="log4net.Layout.PatternLayout">
		<conversionPattern value="%date [%4thread] %-5level - %message%newline" />
	</layout>
	<threshold value="DEBUG" />
  </appender>
  <appender name="MessageType" type="log4net.Appender.RollingFileAppender">
    <file value="logs/Portal/MessageType.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%4thread] %-5level - %message%newline" />
    </layout>
    <threshold value="DEBUG" />
  </appender>
  <appender name="CodeMapping" type="log4net.Appender.RollingFileAppender">
    <file value="logs/Portal/CodeMapping.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%4thread] %-5level - %message%newline" />
    </layout>
    <threshold value="DEBUG" />
  </appender>
  <appender name="BroadcastSubscriptions" type="log4net.Appender.RollingFileAppender">
    <file value="logs/Portal/BroadcastSubscriptions.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%4thread] %-5level - %message%newline" />
    </layout>
    <threshold value="DEBUG" />
  </appender>
  <appender name="AirlineMessaging" type="log4net.Appender.RollingFileAppender">
    <file value="logs/Portal/AirlineMessaging.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%4thread] %-5level - %message%newline" />
    </layout>
    <threshold value="DEBUG" />
  </appender>
  <appender name="eHubMessageReference" type="log4net.Appender.RollingFileAppender">
    <file value="logs/Portal/eHubMessageReference.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%4thread] %-5level - %message%newline" />
    </layout>
    <threshold value="DEBUG" />
  </appender>
  <appender name="Subscriptions" type="log4net.Appender.RollingFileAppender">
    <file value="logs/Portal/Subscriptions.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%4thread] %-5level - %message%newline" />
    </layout>
    <threshold value="DEBUG" />
  </appender>
  <appender name="ClientAuthorisations" type="log4net.Appender.RollingFileAppender">
	<file value="logs/Portal/ClientAuthorisations.log" />
	<appendToFile value="true" />
	<rollingStyle value="Size" />
	<maxSizeRollBackups value="100" />
	<maximumFileSize value="10MB" />
	<layout type="log4net.Layout.PatternLayout">
		<conversionPattern value="%date [%4thread] %-5level - %message%newline" />
	</layout>
	<threshold value="DEBUG" />
  </appender>
  <logger name="OCMCsvLogger" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="OCMCsv" />
  </logger>
  <logger name="ClientCertificatesLogger" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="ClientCertificates" />
  </logger>
	<logger name="AsyncPollingRegistrationsLogger" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="AsyncPollingRegistrations" />
	</logger>
  <logger name="ClientRegistrationsLogger" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="ClientRegistrations" />
  </logger>
  <logger name="ClientSystemRegistrationsLogger" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="ClientSystemRegistrations" />
  </logger>
  <logger name="TransformationSetLogger" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="TransformationSet" />
  </logger>
  <logger name="ClientLogger" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="Client" />
  </logger>
  <logger name="ServiceProviderLogger" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="ServiceProvider" />
  </logger>
  <logger name="MessageTypeLogger" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="MessageType" />
  </logger>
  <logger name="CodeMappingLogger" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="CodeMapping" />
  </logger>
  <logger name="BroadcastSubscriptionsLogger" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="BroadcastSubscriptions" />
  </logger>
  <logger name="AirlineMessagingLogger" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="AirlineMessaging" />
  </logger>
  <logger name="eHubMessageReferenceLogger" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="eHubMessageReference" />
  </logger>
  <logger name="ZACustomsLogger" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="ZACustoms" />
  </logger>
  <logger name="USCustomsLogger" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="USCustoms" />
  </logger>
	<logger name="SubscriptionsLogger" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="Subscriptions" />
	</logger>
	<logger name="ClientAuthorisationLogger" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="ClientAuthorisations" />
	</logger>
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="OCMSaving"/>
  </root>
</log4net>
