<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="UsageELKKafkaTopic" value="topic-au2-prod-ehubgatewaynonbilledusage-prod"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
    <add key="IssueManagerUri" value="https://errors.cargowise.net/" 
         xdt:Transform="SetAttributes(value)" 
         xdt:Locator="Match(key)" />
  </appSettings>

	<billingKafkaClientSettings>
		<add key="bootstrap.servers" value="1.prod-1.kafka.wtg.ws:9093,2.prod-1.kafka.wtg.ws:9093,3.prod-1.kafka.wtg.ws:9093,4.prod-1.kafka.wtg.ws:9093,5.prod-1.kafka.wtg.ws:9093"
		     xdt:Transform="SetAttributes(value)"
		     xdt:Locator="Match(key)"/>
		<add key="security.protocol" value="Ssl"
		     xdt:Transform="Replace"
		     xdt:Locator="Match(key)" />
	</billingKafkaClientSettings>

	<billingKafkaProducerSettings>
		<add key="linger.ms" value="50"
		     xdt:Transform="SetAttributes(value)"
		     xdt:Locator="Match(key)"/>
	</billingKafkaProducerSettings>

	<system.serviceModel>
    <client>
      <endpoint address="https://billing.wtg.zone/BillingService.svc"
                name="billing_service"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
</configuration>