<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GBCustomsID" value="GBCustoms-Direct" />
    <add key="GBCustomsTestID" value="GBCustomsTest-Direct" />
    <add key="GBCustomsRegistrationType" value="GBCustoms-Direct" />
    <add key="GBCustomsSubscriptionType" value="GBCCID" />
    <add key="SubscriptionProviderIDList" value ="GBCustomsTest-Direct,GBCustoms-Direct" />
    <add key="DatabaseAccessRetryTimeLimit" value="600" />
    <add key="AuthorisationHeaderKey" value="Authorization" />
    <add key="ConversationIDKey" value="X-Conversation-ID" />
    <add key="SchemaValidation" value="False" />
    <add key="CargoWise.eServices.GBCustomsInboundMessageWebService.HealthCheck.Https.Endpoint" value="https://localhost/GBCustomsInboundMessageWebService/wtg/status" />
    <add key="CargoWise.eServices.GBCustomsInboundMessageWebService.HealthCheck.Http.Endpoint" value="http://localhost:8080/GBCustomsInboundMessageWebService/wtg/status" />
    <add key="GetRecipientsRetryAttempts" value="3"/>
    <add key="GetRecipientsRetryWaitTime" value="1"/>
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="CargoWise.eHub.DataAccess.Sql.eHubTransactions" connectionString="Data Source=localhost;Initial Catalog=eHubTransactions;App=eHub Gateway;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.13.3.0" newVersion="3.13.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>