[*.cs]

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = warning

# CW1134: Non-abstract Test Classes Should Be Sealed and default Internal. Make it abstract if need inheritance.
dotnet_diagnostic.CW1134.severity = error
