/* ***************fimages
************ 
  Site - Cargowise
  ---------------------------
  StyleSheet Index
  $1 - Global Styles
  $2 - Website Structure Styles
  $3 - Header Styles
  $4 - Content Styles
  $5 - Sidebar Styles
  $6 - Footer Styles
   ***************************/

/* *************************** 
   $1 GLOBAL Styles
   ***************************/
:focus{
	outline:0px;
}
* {
	margin:0px;
	padding:0px;
}
img {
	border:0;
}
fieldset {
	border:none;
}
ul li {
	list-style:none;
}
/* *************************** 
   $2 Website Structure Styles
   ***************************/
body {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
}
#container{
}

.bigbanner{
	width:722px;
	float:left;
	margin-bottom:15px;
	margin-left: 0px;
}
/* *************************** 
   $3 Header Styles
   ***************************/
#header{
	width:922px;
	height:95px;
	position:relative;
	margin:0px auto;
}
#header h1{
	width:185px;
	height:40px;
	position:absolute;
	left:1px;
	top:46px;
}
#header h1 a{
	background:url(images/logo.png) left top no-repeat;
	display:block;
	width:185px;
	height:40px;
	text-indent:-9999px;
	outline-style:none;
}
#header .search{
	position:absolute;
	right:0px;
	top:18px;
}
#header .search label{
	font-size:11px;
	color:#CCC;
	vertical-align:middle;
	padding-right:10px;
}
#header .search .input_box{
	width:127px;
	height:14px;
	border:1px solid #cccccc;
	vertical-align:middle;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#a0a0a0;
}
#header .search .search_button{ 
	width:17px;
	height:16px;
	background:url(images/bg_search_button.png) left top no-repeat;
	border:none;
	vertical-align:middle;  
	cursor:pointer;
}
.mainnav{
	width:721px;
	height:48px;
	background:url(images/bg_mainnav.png) left top no-repeat;
	position:absolute;
	right:0px;
	top:47px;
}

.mainnav ul{width:721px;overflow:hidden;float:left;height:48px;}
.mainnav ul li{display:inline;overflow:hidden;float:left;height:48px;width:103px;}
.mainnav ul li a{color:#999;text-decoration:none;float:left;font-size:13px;line-height:48px;width:103px;text-align:center;padding:0;overflow:hidden;}
.mainnav ul li a:hover, .mainnav ul li a.selected{ color:#00a4e4;background:url(images/bg_mainnav.png) -100px bottom no-repeat;}
.mainnav ul li.first-nav a:hover, .mainnav ul li.first-nav a.selected{background:url(images/bg_mainnav.png) left bottom no-repeat;}
.mainnav ul li.last-nav a:hover, .mainnav ul li.last-nav a.selected{background:url(images/bg_mainnav.png)  right bottom no-repeat;}

.mainnav ul.frontpage li {width:88px;}
.mainnav ul.frontpage li a{width:88px;}
.mainnav ul.frontpage li.first-nav {width:96px;}
.mainnav ul.frontpage li.first-nav a{width:96px;}
.mainnav ul.frontpage li.last-nav {width:97px;}
.mainnav ul.frontpage li.last-nav a{width:97px;}

#header .header_box{
	color:#cccccc;
	position:absolute;
	top:20px;
	left:229px;
}
#header .header_box a{
	font-size:11px;
	color:#cccccc;
	text-decoration:underline;
}
#header .header_box a:hover{
	color:#00a4e4;
}
#header .header_box a.selected{
	color:#000;
}
.image_banner{
	width:100%;
	overflow:hidden;
	background:url(images/bg-banner-grad.jpg) center top repeat-x;
}
.image_banner .image_banner_inner{
	height:231px;
	width:922px;
	position:relative;
	margin:0px auto;
	background:url(images/bg-banner-home.jpg) center top no-repeat;
}
.image_banner .image_banner_inner h2{
	text-indent:-9999px;
	outline-style:none;
	position:absolute;
	left:0px;
	top:110px;
	width:451px;
	height:82px;
}
/* *************************** 
   $4 Content Styles
   ***************************/
#content{
	width:922px;
	overflow:hidden;
	margin:0px auto;
	padding:30px 0px;
}
.feature_stories{
	width:156px;
	float:left;
	padding-right:20px;
}
.feature_stories img{
	display:block;
}
.feature_stories h2{
	font-size:16px;
	font-weight:normal;
	color:#00a4e4;
	padding-top:12px;
}
.feature_stories p{
	font-size:12px;
	color:#666666;
	padding-top:8px;
	line-height:21px;
}
.feature_stories p a{
	font-size:9px;
	color:#00a4e4;
	text-transform:uppercase;
	text-decoration:none;
}
.feature_stories p a:hover{
	text-decoration:underline;
	color:#00a4e4;
}
.home_right{
	width:370px;
	overflow:hidden;
	float:right;
}
.home_right .text_box_bottom{
	background:url(images/round-box-bottom.png) left bottom no-repeat;
	float:left;
	width:370px;
	margin-bottom:20px;
}
.home_right .text_box_top{
	background:url(images/round-box-top.png) left top no-repeat;
	float:left;
	width:370px;
	padding:10px 0;
}
.home_right .text_box_middle{
	background:url(images/round-box-middle.png) left top repeat-y;
	float:left;
	width:330px;
	padding:5px 20px;
	height:130px;
}
.home_right .text_box_middle h2{
	text-indent:-9999px;
	outline-style:none;
	height:32px;
}
.home_right .text_box_middle h2.wisetimes{
	background:url(images/bg_h2_wisetimes.png) left top no-repeat;
}
.home_right .text_box_middle h2.wiseevents{
	background:url(images/bg_h2_wiseevents.png) left top no-repeat;
}
.home_right .text_box_middle h2.wiselinks{
	background:url(images/bg_h2_wiselinks.png) left top no-repeat;
}
.home_right .text_box_middle ul{
}
.home_right .text_box_middle ul li{
	padding:2px 0px 4px 14px;
	background:url(images/bg_li.png) left 6px no-repeat;
	color:#666666;
}
.home_right .text_box_middle ul li a{
	padding:2px 0px 2px 0px;
	color:#666666;
	text-decoration:none;
}

.home_right .text_box_middle ul li a:hover{
	color:#00a4e4;
	text-decoration:none;
}
.home_right .text_box.right ul li{
	padding:2px 0px 2px 14px;
}
.home_right .text_box ul li strong{
	display:block;
	color:#000;
}
.home_right .text_box ul li strong a{
	color:#000;
}
.home_right .text_box ul li strong a:hover{
	color:#000;
}
.maincontent{
	float:left;
	margin-left: 16px;
}

.maincontent .bigbanner{
	margin-left: -20px;
}

.maincontent img{
	display:block;
	margin-left: 0px;
}
.maincontent .img_box img {
	display:inline;
}
.maincontent img.top_img{
	margin-top:8px;
	margin-bottom:8px;
}
.maincontent .maincontent_text_box{
	padding:25px 0px 10px 0px;
	width:100%;
	overflow:hidden;
}
.maincontent .maincontent_text_box .box{
	width:236px;
	float:left;
}
.maincontent .maincontent_text_box .box.first{
	margin-right:40px;
}

.maincontent a, .maincontent_table a{
	color:#666666;
	text-decoration:underline;
}
.maincontent a:hover, .maincontent_table a:hover, .contact_us_list .box a:hover{
	color:#00A4E4;
	text-decoration: underline;
}
.maincontent a.pdf{
	padding-left:20px;
	background: url(images/bg-pdf-icon.gif) no-repeat 0px 2px;
	/*float:left;*/
	display:block;
}
.maincontent h2{
}

.maincontent .text_box{
	border-bottom:1px solid #ccc;
	padding-bottom:6px;
	margin-bottom:16px;
}
.maincontent .text_box p{
	font-size:20px;
	color:#999;
	line-height:27px;
}
.maincontent .key_text_box{
	width:100%;
	overflow:hidden;
}
.maincontent .key_text_box .box-thin{
	width:236px;
	float:left;
	border:none;
}
.maincontent .key_text_box .box-thin.first{ padding-right:40px;}
.maincontent .key_text_box.first{
	padding-top:0px;
	border-top:none;
}
.maincontent .box{
	width:650px;
	float:left;
	border-bottom:1px solid #CCCCCC;
	overflow:hidden;
	padding:26px 0;
}
.maincontent .box.login{
	width:650px;
	float:left;
	border-bottom:none;
	overflow:hidden;
	padding:10px 0;
}

.maincontent .key_text_box .box.first{ padding-right:40px;}
.maincontent .key_text_box .box h4{
	font-size:12px;
	color:#666666;
	padding-top:8px;
}
.maincontent .key_text_box .box p{
	padding:0px;
	padding-top:10px;
}
.maincontent h3{
	font-size:16px;
	color:#00a4e4;
	padding-bottom:6px;
}
.maincontent p{
	font-size:12px;
	color:#666;
	line-height:21px;
	padding-bottom:16px;
}
.maincontent ul{
	padding-right:30px;
	padding-bottom:16px;
}
.maincontent ul li{
	font-size:12px;
	color:#666;
	padding:4px 0px 4px 20px;
	line-height:21px;
	background:url(images/bg_maincontent_li.png) left 13px no-repeat;
}

.maincontent ol{
	margin-left:25px;
	padding-bottom:16px;
}
.maincontent ol li{
	font-size:12px;
	color:#666;
	padding:4px 0px;
	line-height:21px;
}

.maincontent_list{
	width:100%;
}
.maincontent .maincontent_list ul{
	padding-right:0px;
}
.maincontent .maincontent_list ul li{
	font-size:12px;
	color:#666;
	padding:0px;
	line-height:21px;
	background:none;
	width:100%;
	overflow:hidden;
}
.maincontent .maincontent_list ul li .columns1{
	width:130px;
	float:left;
	display:block;
}
.maincontent .maincontent_list ul li .columns2{
	width:100px;
	float:left;
	display:block;
}
.maincontent .maincontent_list ul li .columns3{
	width:120px;
	float:left;
	display:block;
}
.maincontent .maincontent_list ul li .columns4{
	width:160px;
	float:left;
	display:block;
}
.maincontent .list_box ul{
	padding-right:0px;
	width:100%;
	overflow:hidden;
}
.maincontent .list_box ul li{
	font-size:12px;
	color:#666;
	padding:3px 0px;
	line-height:21px;
	background:none;
	width:100%;
	float:left;
	background:#CCC;
	overflow:hidden;
}
.maincontent .list_box ul li span{
	display:block;
	width:144px;
	font-weight:bold;
	float:left;
	padding-left:6px;
}
.maincontent .list_box ul li label{
	display:block;
	width:360px;
	float:right;
}
.maincontent .list_box ul li.add_bg1{background: #DFDFDF;}
.maincontent .form_box{
	width:100%;
}
.maincontent .form_box .box{
	width:100%;
	overflow:hidden;
	padding:5px 0px;
}
.maincontent .form_box .box label{
	display:block;
	width:125px;
	float:left;
	text-align:right;
	padding-right:8px;
	padding-top:4px;
	font-weight:bold;
}
.maincontent .form_box.login .box{
	border-bottom:none;
	padding:10px 0;
}
.maincontent .form_box.login .box input.input_box3{
	width:150px;
}
.maincontent .form_box .box .right_box{
	width:370px;
	float:left;
}
.maincontent .form_box .box .right_box span.span_input{
	display:block;
	width:100%;
	overflow:hidden;
	padding:1px 0px;
}
.maincontent .form_box .box input{
	vertical-align:middle;
}
.maincontent .form_box .box span{
	vertical-align:middle;
}
.maincontent .form_box .box .right_box span.span_input b{
	font-weight:normal;
	vertical-align:middle;
	padding-left:6px;
}
.maincontent .form_box .span_2{
	padding:0px 8px;
	font-weight:bold;
}
.maincontent .form_box .box .input_box{
	border:1px solid #999;
	height:18px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	padding-top:2px;
	font-size:12px;
}

.maincontent .form_box .box .input_box.focusField{border:solid 1px #00a4e4;}
.maincontent .form_box .box .input_box.idleField{border: solid 1px #999;}
.maincontent .form_box .box .input_box1{
	width:370px;
}
.maincontent .form_box .box .input_box2{
	width:144px;
}
.maincontent .form_box .box .input_box3{
	width:350px;
}
.maincontent .form_box .box .input_box4{
	width:37px;
	margin-left:4px;
	margin-right:4px;
}
.maincontent .form_box .box .input_box5{
	width:90px;
	margin-left:4px;
}
.maincontent .form_box .box .input_box6{
	width:330px;
}
.maincontent .form_box .box .input_box7{
	width:116px;
	margin-left:2px;
	margin-right:4px;
}
.maincontent .form_box .box .input_box8{
	width:151px;
	margin-left:4px;
}
.maincontent .form_box .box .input_box9{
	width:110px;
	margin-left:4px;
	margin-right:4px;
}
.maincontent .form_box .box .input_box10{
	width:116px;
	margin-left:2px;
	margin-right:0;
}
.maincontent .form_box .box div{
	width:100%;
	overflow:hidden;
	padding:2px 0px;
}
.maincontent .form_box .box select{
	border:1px solid #999;
	height:22px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	width:240px;
	padding-top:3px;
}
.maincontent .form_box .box textarea{
	border:1px solid #999;
	height:132px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	width:370px;
	font-size:12px;
}

.maincontent .form_box .box textarea.focusField{border:solid 1px #00a4e4;}
.maincontent .form_box .box textarea.idleField{border: solid 1px #999;}
.maincontent .form_box .box .request_button{
	font-family:Arial, Helvetica, sans-serif;
	color:#00a4e4;
	font-weight:bold;
	cursor:pointer;
}
.contact_us_list{
	width:100%;
	overflow:hidden;
}
.contact_us_list .box{
	width:256px;
	float:left;
}
.contact_us_list .box ul li{
	padding:0px;
	background:none;
}
.contact_us_list .box p{
	padding:0px;
}
.contact_us_list .box a{
	color:#666666;
}
.contact_us_list .box a:hover{
}
.maincontent_table{
	width:650px;
	border-collapse:collapse;
	text-align:left;
}
.maincontent_table td{
	border:1px solid #ccc;
	padding:3px 0px 3px 10px;
}
.maincontent_table th.col_th{
	border:1px solid #FFF;
	background:#005596;
	color:#FFF;
	padding:3px 0px 3px 10px;
}
.maincontent_table th.row_th{
	border:1px solid #ccc;
	padding:3px 0px 3px 10px;
	background:#f4f4f4;
	font-size:12px;
}
.maincontent_table td a{
}
.maincontent_table td a:hover{
}
.faqs_box h4{
	font-size:12px;
	padding:2px 0px;
	color:#ccc;
}
.faqs_box h4 a{
	color:#666666;
	text-decoration:none;
}
.faqs_box h4 a:hover{
	color:#666;
	text-decoration:underline;
}
.faqs_box .box{
	padding:3px 0px 20px 0px;
}
.faqs_box h5{
	font-size:12px;
	color:#666666;
	padding:8px 0px;
}
.faqs_box h5 a{
	color:#666666;
}
.faqs_box h5 a:hover{
	color:#666666;
}
.faqs_box p{
	padding-bottom:5px;
	padding-top:3px;
}

legend{
    display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    font-size:12px;
    margin-bottom: 0;
    width:initial;
}

input[type=file]{
    display:initial;
}
/* *************************** 
   $5 Sidebar Styles
   ***************************/
.sidebar{
	width:187px;
	float:right;
	padding-top:8px;
}
.sidebar .text_box{
	background:url(images/bg_text_box.png) left top repeat-x;
	width:167px;
	padding:16px 0px 16px 20px;
}
.sidebar .text_box h2{
	text-indent:-9999px;
	outline-style:none;
	height:32px;
}
.sidebar .text_box h2.wiselinks{
	background:url(images/bg_h2_wiselinks.png) left top no-repeat;
}
.sidebar .text_box h2.wisepartners{
	background:url(images/bg_h2_wisepartners.png) left top no-repeat;
}
.sidebar .text_box h2.wiseawards{
	background:url(images/bg_h2_wiseawards.png) left top no-repeat;
}
.sidebar .text_box ul li{
	padding-top:2px;
	padding-bottom:2px;
}
.sidebar .text_box ul li a{
	padding:2px 0px 2px 14px;
	background:url(images/bg_li.png) left 6px no-repeat;
	color:#666666;
	text-decoration:none;
}

.sidebar .text_box ul li a:hover{
	color:#00a4e4;
	text-decoration:none;
}
.sidebar .text_box img{
	display:block;
	margin-top:6px;
}
.sidebar_nav{
	width:192px;
	float:left;
}
.sidebar_nav ul{}
.sidebar_nav ul li{
	font-size:12px;
	padding:3px 0px;
}
.sidebar_nav ul li a{
	padding-left:14px;
	background:url(images/bg_li2.png) left 4px no-repeat;color:#666666;
	text-decoration:none;
}
.sidebar_nav ul li a:hover{
	background:url(images/bg_li.png) left 4px no-repeat;color:#00a4e4;
}
.sidebar_nav ul li a.selected{
	background:url(images/bg_li.png) left 4px no-repeat;
	color:#00a4e4;
}
.sidebar_nav ul ul{
	padding:5px 0px 2px 15px;
}
.sidebar_nav ul ul li{
	font-size:11px;
}

dl{float:left;width:513px;overflow:hidden;}
dl dt{float:left;width:180px;height:25px; font-weight:bold;}
dl dd{float:right;width:300px;height:25px;}
/* *************************** 
   $6 Footer Styles
   ***************************/
#footer{
	width:100%;
	overflow:hidden;
	background:url(images/bg_footer.png) left top repeat-x;
}
#footer .footer_inner{
	width:922px;
	margin:0px auto;
	height:47px;
}
#footer .footer_inner ul{
	padding-top:16px;	
}
#footer .footer_inner ul li{
	display:inline;
	font-size:11px;
	color:#ccc;
}
#footer .footer_inner ul li strong{
	padding-right:6px;
	color:#999;
}
#footer .footer_inner ul li a{
	text-decoration:underline;
	color:#ccc;
}
#footer .footer_inner ul li a:hover{ color:#00a4e4;}


.no-bg{
	background:none!important;
}

.maincontent .maincontent_text_box .box{
	border-bottom:none;
}

.maincontent .box h3.name-title{
	padding-bottom:15px;
}

.maincontent .contact_us_list .box{
	border-bottom:none;
	padding-top:0px;
}

.maincontent #myFlashContent{
	margin-bottom:15px;
}
#results b{color:#00A4E4;}

/* NAVIGATION */

.maincontent .form_box form.enquiry .box .span_input label {
  width: auto;
  display: inline;
  float: none;
  padding: 0;
  text-align: left;
}

.maincontent .form_box form.enquiry .box.invalid {
  border-top: 1px solid red;
border-bottom: 1px solid red;
color:red;
background-color:#fce6e6;

}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color: Red;
}

#menucontainer
{
    margin-top: 10px;
}

div#title
{
    display: block;
    float: left;
    text-align: left;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
    font-style:italic;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
    padding: 10px;
}

.validation-summary-errors
{
    color: #ff0000;
    border: 1px solid gray;
    padding: 10px;
    width: 550px;
}

.validation-summary-errors ul li
{
    background-image: none;
    list-style-image: none;
    list-style: none;
    font-style: italic;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

#modalContent
{
    padding: 20px 10px 10px 10px;
}

/* US Customs Registry Styling */
table#registryTable td.odd
{
    background: #EFEFEF;
}   

table#registryTable tr:hover td.odd
{
    background: #e6e6e6 url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
}

table#registryTable tr.ui-state-highlight td.odd
{
    background: #dbe4e6 url(images/ui-bg_flat_0_dbe4e6_40x100.png) 50% 50% repeat-x;
}

#tr_USE\.ER_Value > td, #tr_USI\.ER_Value > td, #tr_ISF\.ER_Value > td, #tr_AMS\.ER_Value > td, #tr_AMA\.ER_Value > td, #tr_MAN\.ER_Value > td, #tr_UEM\.ER_Value > td
{
    vertical-align: middle;
}

.ui-widget-header .ui-icon
{
    background-image: url(images/ui-icons_888888_256x240.png) !important;
}

.ui-state-hover .ui-icon
{
    background-image: url(images/ui-icons_454545_256x240.png) !important;
}

.wrapped
{
    word-wrap: break-word;
}

/* eHub Message Reference Registry Page Customization */
#page-title-container
{
    display: inline-block;
    width: 70%;
}

#page-title-container h2, #top-right-container h3 
{
    display: inline-block;
}

#top-right-container
{
    float: right;
    height: 32px;
}

#top-right-container > *
{
    vertical-align: middle;
    padding:0;
}

div#data-transfer-forms-container
{
    margin-top: 10px;
}

div#data-transfer-forms-container input
{
    padding: 1px 5px;
    display:inline-block;
}

.data-transfer-container
{
    border: 1px solid; 
    padding: 5px;
    height: 40px;
    box-sizing: initial;
}

fieldset.export
{
    width: 150px;
    float: left;
    margin-right: 5px;
}

#importError 
{
    max-width: 90px;
    display: table-cell;
    float: right;
    vertical-align: middle;
}

#importError p 
{
    color: Red;
    padding: 0;
    margin: 0;
}

#data-transfer-forms-container 
{
    max-width: 700px;
}

/* jqGrid Search Panel Customization */
#fbox_registryTable input 
{
    margin: 3px;
    padding: 1px;
}

/* Auto Complete Customization */
.ui-autocomplete  
{
    position: absolute; cursor: default; z-index:1001 !important;
    max-height: 500px; 
    overflow-y: scroll; 
    overflow-x: hidden
}

/* JQuery Autocomplete Extension Custom Syle */
.custom-combobox 
{
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle 
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
  }
  
  .custom-combobox-input 
  {
    margin: 0 !important;
    padding: 0.3em;
    border: 1px solid #999 !important;
    background: #ffffff !important;
    color: #666;
    height: 14px !important;
  }
  
  .custom-combobox .ui-button
  {
    margin-top: -1px;
    height: 21px;
  }
  
  /* Custom Text Formatting */
  .important
  {
      font-weight: bold;
  }
  
  .uppercase
  {
      text-transform: uppercase;
  }
  
  .code
  {
      background-color:#EEEEEE;
      font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New
  }
  
/* Loading screen. Start: $("#loadingScreen").addClass("loading"); Stop: $("#loadingScreen").removeClass("loading");
   Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
#loadingScreen {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* Anytime the body has the loading class, our
   modal element will be visible 
*/
#loadingScreen.loading {
    display: block;
}
