/* APPLICATION SPECIFIC FORMATTING
---------------------------------------------------------*/

.codeMapsKeyHead { background: #00a4e4 url(Images/ui-bg_glass_75_00a4e4_1x400.png) 50% 50% repeat-x !important; }
.codeMapsKeyHead:hover { background: #79c9ec url(Images/ui-bg_glass_75_79c9ec_1x400.png) 50% 50% repeat-x !important; }

#filterFields { padding:5px; background: #fdfdfd !important; }
#filterFields ul { list-style: none; }
#filterFields ul li { background-image: none; }
#filterFields ul li div { display: inline; }
#filterFields ul li select { min-width: 150px; max-width: 400px }
#filterFields ul li img { display: inline; }
#filterFields ul li label { display: inline-block; width: 100px; }
#filterFields ul li .usCustomsAddClient { width: 175px; }

#codeSetsFields, #codeMapsFields, #codeSetsEditFields, #codeSetsKeysTableArea, #codeSetsResultsTableArea { float:left; clear:right; }
#codeSetsFields { margin-right: 20px; margin-bottom: 20px; }
#codeSetsKeysTableArea { padding-right: 10px; }
#codeSetsKeysUpDownButtons, #codeSetsResultsUpDownButtons { padding-top: 10px; }

#codeMapsButtons { padding-top:10px; display:block; }
#codeSetsEditButtons, #codeMapsSaveCancelBtns { padding-top: 10px; clear: both; }

#codeMapsLoader { float: none; display: block; width: 100px; height: 350px; }
#codeMapsLoader .loader {position: relative; top: 125px; left: 125px; width: 100px;z-index:101;padding: 6px; margin: 5px;text-align: center;font-weight: bold;border-width: 2px !important;}

.textBlockGroup { clear: left; }
.textBlock {  float: left; padding-top: 10px; }

#importCsvForm { clear: both; }

/* BASE FORMATS
----------------------------------------------------------*/
body
/*------Filter Section----------*/
#filterSection
{
    min-height:10px;
    width:600px;
    padding:10px;
    border:1px solid #808080;
    background-color:#fdfdfd;
    
}

#filterSection #selector select
{
    width:120px;
    height: 20px;
    margin: 10px 0px;
}

#filterSection #selector input
{
    min-width:400px;
    height: 17px;
}

#filterSection #listbox
{
    margin: 10px 0px;
    width:400px;
}

#filterSection input
{
    margin: 10px 0px;
    width:400px; 
}

#filterSection #listbox select
{
    width:525px;
}

#filterSection #listbox #opositLabel
{
    margin: 0px 0px 3px 0px;
}

#gridSection
{
    padding:20px 0;
}

#gridSection .item
{
    padding: 10px 0px;
}

#gridSection .item a
{
    color: Black;
}

#details
{
    padding:20px 0px;
}

#details .inline-lable
{
    width: 150px;
    float:left;
    font-weight:bold;
    padding:10px 0px 5px 0px;
}


#details .inline-field
{
    width: 400px;
    float:left;
    padding:10px 0px 5px 0px;
    height:25px;
}

#details .line-lable
{
    font-weight:bold;
    width: 200px;
    padding: 10px 0px 0px 0px;
}

#details .editor-field
{
    width: 400px;
    float:left;
    padding:5px 0px 5px 0px;
}

#details .editor-field input
{
    width: 400px;
}

#actionBlock
{
    margin: 0px;
    padding: 30px 0px 0px 0px;
}

.actionBlock
{
    margin: 20px 0px 20px 0px;
    padding: 0px;
}

.leftActionButton
{
    float: left;
    width: 400px;
}

.leftActionButton a
{
    margin: 0px 40px 0px 0px;
    color: #004c90;
}

.rightActionButton
{
    float: left;
    width: 200px;
    text-align: right;
}

.rightActionButton a
{
    color: #004c90;
}

#transformationList
{
    width: 600px;
}

#transformationList ul
{
    padding: 0;
    margin: 0;
}


#transformationList ul li
{
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    background-image: none;
    list-style-image: none;
    list-style: none;
}

#transformationList li select
{
    width: 530px;
    float:left;
}

#transformationList li .space
{
    margin: 0px 0px 10px 0px;
}

#transformationList li a
{
    width: 20px;
    float:left;
    padding: 2px 0px 0px 5px;
    cursor: pointer;
}

#addTransformation
{
    background: url(images/add.gif) no-repeat 0 0;
    padding: 0px 0px 0px 20px;
    margin: 0px;
    cursor: pointer;
    min-height: 20px;
    min-width: 20px;
}

.addButton
{
    background: url(images/add.gif) no-repeat 0 0;
    padding: 0px;
    margin: 0px;
    height: 20px;
    width: 20px;
    display:inline-table;
    cursor: pointer;
}

.deleteButton
{
    background: url(images/delete_button.gif) no-repeat 0 0;
    padding: 0px 0px 0px 20px;
    margin: 0px;
    cursor: pointer;
    min-height: 20px;
    min-width: 20px;
}

.list
{
    width: 600px;
}

.list ul
{
    padding: 0;
    margin: 0;
}


.list ul li
{
    height: 40px;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    background-image: none;
    list-style-image: none;
    list-style: decimal;
}

.actionButton
{
    width: 60px;
    height: 20px;
}

.autocompleteHint
{
    font-style:italic;
}

#searchFilter
{
    min-height:100px;
    width:600px;
    padding:10px;
    border:1px solid #808080;
    background-color:#fdfdfd;
}

#searchFilter .label-column
{
    float:left;
    width:150px;
    height:20px;
    padding: 5px 0px;
    box-sizing:content-box;
}

#searchFilter .input-column
{
    float:left;
    width:300px;
    height:20px;
}


#searchFilter .search
{
    float:left;
    width: 50px;
    padding-top: 10px;
}

#searchFilter .search input
{
    width: 60px;
    height:20px;
}

#searchFilter .cancel
{
    float:left;
    width: 150px;
    padding-top: 10px;
}

.table-list
{
   margin:5px 0px 20px 0px; 
}

.table-list .gridrow
{
}

.table-list .gridrow_alternate, .pima-table .gridrow_alternate
{
    background-color:#fdfdfd;
}

/* PIMA Table Styling */

.pima-table tr th:last-child, .pima-table tr th:last-child
{
    display:none;
}

.pima-table
{
    table-layout:fixed;
    max-width:600px;
    width:600px;
}

.pima-table td:nth-child(5), .pima-table th:nth-child(5), .pima-table tr th.last, .pima-table tr td.last
{
    max-width:20px;
    width:20px;
}


.pima-table td, .pima-table th
{
    padding:2px;
    max-width:145px;
    width:145px;
}


.pima-table td:first-child, .pima-table th:first-child
{
    max-width: 140px;
    width: 140px;
    word-wrap: break-word;
}

.table-list tr td
{
   padding: 5px 15px 5px 0px;
}

.table-list tr th
{
  text-align: left;
  padding: 5px 20px 5px 0px;
}

.pagination
{
    font-style: italic;
    width: 600px;
    text-align: left;
    font-size: smaller;
    color: #00448b;
}

.pagination a
{
    text-decoration:none;
    color: #00448b;
}

#actionAdd
{
    background: url(images/add.gif) no-repeat 0 0;
    padding: 0px 0px 0px 20px;
    margin: 0px;
    cursor: pointer;
    height: 20px;
}

#actionAdd a
{
    color: #004c90;
}

#deleteMessage
{
    padding-top: 10px;
}

#multicolumnTable tr th
{
    font-weight: bolder;
    text-align: left;
    min-width: 150px;
}

#multicolumnTable tr td
{
    padding: 5px 0px 5px 0px;
}


.routingBlock
{
    width: 100%;
    padding: 0px 0px;
    margin: 0px;
    background-color: #fcfcfc;
}

.routingBlock ul
{
    background-image: none;
    padding: 5px 0px;
    margin: 0px;
}

.routingBlock ul li
{
    list-style:decimal;
    background-image: none;
    padding: 0px;
    margin: 5px 12px;
}


.deleteImage
{
    background: url(images/delete_button.gif) no-repeat top left;
     display: block;
     width: 20px;
     height: 20px;
     text-indent: -9999px; /* hides the link text */
}

.blockData
{
    margin: 20px 0px;
}

.blockData select
{
    font-size:larger;
}

#filterSection .labelText
{
    float: left;
    width: 100px;
    margin: 12px 0px;
}

#filterSection .textBox
{
    float: left;
}

.invisible
{
    display: none;
}

.ui-state-active a 
{
    font-weight: bolder;
}

.ui-state-default a.tabError, .ui-state-default a.tabError:link, .ui-state-default a.tabError:visited
{
    color: Red;
}

.ui-state-active a.tabError, .ui-state-active a.tabError:link, .ui-state-active a.tabError:visited
{
    color: #e17009;
}

input[readonly=readonly] 
{
    background-color: #EEE;
}

.clickable {
	cursor: pointer; cursor: hand;
}