source https://proget.wtg.zone/nuget/Gallery/v3/index.json
source https://proget.wtg.zone/nuget/WTG-Internal/v3/index.json

# This filters out extra supporting libraries from .NET Core that
# we don't care about (yet).
framework: net46

# This is our list of packages.
# If you know what you're doing, manually add an entry.
# If you don't, use "paket.exe add nuget <package> --no-install".
# Use "dotnet tool run paket update --no-install" to update paket.lock.
# Use "dotnet tool run paket restore" to update the package cache above
#
# DO NOT UPDATE paket.lock BY HAND!
#

nuget NUnit 3.13.3
nuget Microsoft.Build 16.5.0
nuget Microsoft.Build.Framework 16.5.0
nuget Microsoft.Build.Engine 16.5.0
nuget Microsoft.Build.Locator 1.5.5
nuget Microsoft.Build.Tasks.Core 16.5.0
nuget Microsoft.Build.Utilities.Core 16.5.0
nuget System.Collections.Immutable 1.5.0
nuget System.Runtime.InteropServices >= 4.3.0
nuget NUnit3TestAdapter 4.5.0
nuget System.Threading.Tasks.Dataflow 4.9.0
nuget Dat.Integration 19.4.4.3
nuget System.Memory
nuget System.Buffers 4.5.1
nuget System.Runtime.CompilerServices.Unsafe 4.5.3
nuget System.Numerics.Vectors
nuget moq