<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
				<arg key="configType" value="INLINE"/>
			</factoryAdapter>
		</logging>
	</common>
	<log4net>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="SystemLogger" />
		</root>
		<appender name="SystemLogger" type="log4net.Appender.RollingFileAppender">
			<file value="logs/system.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maximumFileSize value="10MB" />
			<maxSizeRollBackups value="5" />
			<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%date{yyyy-MM-dd'T'HH:mm:ss.fffzzz} %levelShort Source=%C%n   %message%n   %exception%n" />
					<converter>
						<name value="levelShort" />
						<type value="CargoWise.eHub.Products.Shared.RoutingRuleValidation.LevelPatternConverter, CargoWise.eHub.Products.Shared.RoutingRuleValidation.WebService" />
					</converter>
			</layout>
		</appender>
	</log4net>
	<connectionStrings>
		<add name="eHubTransactionsContext" connectionString="Data Source=localhost;Initial Catalog=eHubTransactions;App=RoutingWS;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="CargoWise.eServices.Authentication.ServiceClient.Endpoint" value="https://localhost/authentication/authentication/" />
		<add key="CargoWise.eServices.Authentication.ServiceClient.CacheDuration​" value="300" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.6.1"/>
		<customErrors defaultRedirect="~/CustomErrorPage.aspx" mode="On" redirectMode="ResponseRewrite" />
	</system.web>
	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="RRValidationWSCustomBinding">
					<security authenticationMode="UserNameOverTransport" allowInsecureTransport="true"/>
					<textMessageEncoding messageVersion="Soap11">
						<readerQuotas maxArrayLength="104857600"/>
					</textMessageEncoding>
					<httpTransport maxReceivedMessageSize="104857600"/>
				</binding>
			</customBinding>
		</bindings>
		<services>
			<service name="CargoWise.eHub.Products.Shared.RoutingRuleValidation.WebService.RoutingRuleValidationWebService" behaviorConfiguration="RRValidationWSBehaviour">
				<endpoint address="" binding="customBinding" bindingConfiguration="RRValidationWSCustomBinding" contract="CargoWise.eHub.Products.Shared.RoutingRuleValidation.WebService.IRoutingRuleValidationWebService"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="RRValidationWSBehaviour">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceCredentials>
						<userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="CargoWise.eHub.Products.Shared.RoutingRuleValidation.WebService.eHubUserNamePasswordValidator, CargoWise.eHub.Products.Shared.RoutingRuleValidation.WebService, PublicKeyToken=4f570df270576350" />
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<handlers>
			<add path="wtg/status" verb="*" type="CargoWise.eHub.Products.Shared.RoutingRuleValidation.WebService.HealthCheck.RoutingRuleValidationHealthCheckHttpTaskAsyncHandler" name="RoutingRuleValidationHealthCheckHttpTaskAsyncHandler" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669E0DDF0BB1AA2A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging.Core" publicKeyToken="AF08829B84F0328E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="AF08829B84F0328E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>