.networknode__resizer {
	width: 6px;
	height: 6px;
	background-color: #f2f2f2;
	border-right: 1px solid #8f8f8f;
	border-bottom: 1px solid #8f8f8f;
	position: absolute;
}

.networknode__resizer.topleft {
	left: 10px;
	top: 6px;
	cursor: nwse-resize;
}

.networknode__resizer.topright {
	right: 10px;
	top: 6px;
	cursor: nesw-resize;
}

.networknode__resizer.bottomleft {
	left: 10px;
	bottom: 6px;
	cursor: nesw-resize;
}

.networknode__resizer.bottomright {
	right: 10px;
	bottom: 6px;
	cursor: nwse-resize;
}
