<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ include file="..\..\WrapperTestGenerator.ttinclude" once="true" #>
<#@ import namespace="CargoWise.Customs.IT.MessageContracts.Declaration.Import" #>
<# GenerateWrapperTestClasses("I2", typeof(II2Item), typeof(II2Header), typeof(II2Message), isImport: true); #>
