<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="eHubTransactions" connectionString="Server=eHub-test.db.sand.wtg.zone; Database=eHubTransactions; User ID=NudgeService; Password=$eHubTransactionsPassword$; App=Nudge Service; ApplicationIntent=ReadOnly"
				 xdt:Transform="SetAttributes"
				 xdt:Locator="Match(name)"/>
	</connectionStrings>
	<nudge>
		<add key="reloadSystemInterval" value="300" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="nudgeCCDSUrl" value="https://ccds.wtg.zone/ScheduleServiceTasksUri?ClientCode={endpoint}&amp;ServiceTasks=EHI" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</nudge>
</configuration>