[*.cs]

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = warning

# CA1082: Do Not Use Too Many Arguments.
dotnet_diagnostic.CW1082.severity = error

# CA1082W: Do Not Use Too Many Arguments.
dotnet_diagnostic.CW1082W.severity = suggestion

# CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = warning

