source https://proget.wtg.zone/nuget/Gallery/v3/index.json
source https://proget.wtg.zone/nuget/WTG-Internal/v3/index.json

# This filters out extra supporting libraries from .NET Core that
# we don't care about (yet).
framework: net45, net60, netstandard2.0

# This is our list of packages.
# If you know what you're doing, manually add an entry.
# If you don't, use "paket.exe add nuget <package> --no-install".
# Use "dotnet tool run paket update --no-install" to update paket.lock.
# Use "dotnet tool run paket restore" to update the package cache above
#
# DO NOT UPDATE paket.lock BY HAND!
#

nuget NuGet.CommandLine 5.4.0
nuget Common.Logging 2.2.0
nuget Common.Logging.Core 2.2.0 
nuget Common.Logging.Log4Net1211 2.2.0
nuget log4net 2.0.0
nuget NUnit.Core 2.6.4
nuget NUnit3TestAdapter 4.5.0
nuget MvcRouteTester 1.2.1
nuget Microsoft.AspNet.WebApi.Core 5.2.3
nuget Microsoft.AspNet.Mvc 5.2.3
nuget Microsoft.AspNet.WebApi.WebHost 5.2.3
nuget Microsoft.AspNet.WebApi.Client 5.2.3
nuget Microsoft.AspNet.WebPages 3.2.6
nuget MSBuild.Microsoft.VisualStudio.Web.targets 14.0.0.3
nuget WTG.DevTools.Common 20.3.21.12
nuget nunit 3.13.3
nuget System.ValueTuple 
nuget Microsoft.SqlServer.DacFx.x86 150.5084.2
nuget NewtonSoft.Json 13.0.3
nuget Microsoft.NET.Test.Sdk 17.2.0
nuget Microsoft.CodeCoverage 17.2.0

group Net45Deps
    source https://proget.wtg.zone/nuget/Gallery/v3/index.json
    source https://proget.wtg.zone/nuget/WTG-Internal/v3/index.json

    framework: net45

    nuget Castle.Core 4.4.1 # latest version supports net45
    nuget Moq 4.17.2
    nuget System.Runtime.CompilerServices.Unsafe 4.5.3 # latest version supports net45

group NetStd20Deps
    source https://proget.wtg.zone/nuget/Gallery/v3/index.json
    source https://proget.wtg.zone/nuget/WTG-Internal/v3/index.json

    framework: net60, netstandard2.0

    # Abstractions for .NETStandard 2.0 requires System.Runtime.CompilerServices.Unsafe 6.0.0, which doesn't support .NET framwork 4.5 and cause a version conflict
    nuget Moq 4.17.2 
    nuget Microsoft.Extensions.Configuration.Abstractions 6.0.0