<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="EDIFaxDBConnectionString" value="Data Source=localhost; Integrated Security=SSPI; Initial Catalog=EDIFaxDB; Application Name=FaxRouter" />
    <add key="MailDBConnectionString" value="Data Source=localhost; Integrated Security=SSPI; Initial Catalog=Odyssey; Application Name=FaxRouter; Connect Timeout=60" />
    <add key="ENTERPRISE_SERVER_NAME" value="localhost" />
    <add key="ENTERPRISE_DATABASE_NAME" value="Odyssey" />
    <add key="AUTO_START" value="1" />
    <add key="EDI_SMTP_SERVER" value="xch.syd.edi" />
    <add key="EDI_FAXJOB_SMTP_SERVER" value="xch.syd.edi" />
    <add key="EDI_ACK_SMTP_SERVER" value="xch.syd.edi" />
    <add key="FAX_VIEWER_PAGE_HIEGHT" value="950" />
    <add key="FAX_VIEWER_PAGE_WIDTH" value="750" />
    <add key="FAX_GATEWAY_EMAIL" value="davidj@edi.com.au" />
    <add key="FAX_GATEWAY_TEMP_FILE_DIRECTORY" value="C:\Temp\" />
    <add key="FAX_GATEWAY_POLLING_INTERVAL" value="30000" />
    <add key="FAX_ACK_IS_HUMAN" value="1" />
    <add key="IS_FAX_ACK_ON" value="1" />
    <add key="FAX_GATEWAY_ADMINISTRATOR_EMAIL" value="davidj@edi.com.au" />
    <add key="EDI_SEND_FAX_ACK_EMAIL_ON_SUCCESS" value="0" />
    <add key="EDI_SEND_FAX_ACK_EMAIL_ON_FAILURE" value="0" />
    <add key="EDI_SEND_FAX_ACK_EMAIL_ON_OVERDUE" value="1" />
    <add key="FAX_HANDLER_EMAIL" value="davidj@edi.com.au" />
    <add key="FAX_ACK_RETURN_EMAIL" value="djtest@edi.com.au" />
    <add key="FAX_ACK_SENDER" value="davidj@edi.com.au" />
    <add key="FAX_GATEWAY_LOG" value="EventLog.txt" />
    <add key="CHARGE_CODE_CONTROL_FILE_FIELD_NAME" value="CHARGECODE" />
    <add key="ACK_FORMAT" value="TNZ" />
    <add key="BLACKLIST" value="djtest@edi.com.au:\+61290251194|0421944394|294|299" />
    <add key="DAILY_REPORT_DISCREPANCY_THRESHOLD" value="0" />
	<add key="NOREPLY_EMAIL" value="noreply@cargowise.com" />
  </appSettings>
</configuration>