<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="GBCustomsBaseURI" value="https://test-api.service.hmrc.gov.uk" />
    <add key="GBCustomsTokenAPIURI" value="oauth/token" />
		<add key="GBCustomsGetAccessTokenMaxRetryCount" value="1" />
		<add key="GBCustomsGetAccessTokenRetryInterval" value="1000" />
		<add key="GBCustomsRefreshAccessTokenMaxRetryCount" value="1" />
		<add key="GBCustomsRefreshAccessTokenRetryInterval" value="1000" />
    <add key="WiseTechSecret" value="77096f46-f2a9-4958-8fc3-7aa1e47f6d3f" />
    <add key="WiseTechClientID" value="_IA7f6itaVWcMmCV074yzODIfDga" />
    <add key="AuthorisationTokenExpirationMinute" value="10" />
    <add key="GBCustomsBaseURITest" value="https://localhost/test" />
    <add key="WiseTechSecretTest" value="00000000-0000-0000-0000-000000000000" />
    <add key="WiseTechClientIDTest" value="____________________________" />
    <add key="CargoWise.eServices.GBCustomsCredentialWebService.HealthCheck.Https.Endpoint" value="https://localhost/GBCustomsCredentialWebService/wtg/status" />
    <add key="CargoWise.eServices.GBCustomsCredentialWebService.HealthCheck.Http.Endpoint" value="http://localhost:8080/GBCustomsCredentialWebService/wtg/status" />
  </appSettings>
	<connectionStrings>
		<clear />
		<add name="eHubTransactionsContext" connectionString="Data Source=localhost\ehubtest;Initial Catalog=eHubTransactions;App=eHub Gateway;User Id=eHubGateway;Password=3hubgatewayappp001" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.13.3.0" newVersion="3.13.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>