@charset "UTF-8";
.cwn-mainnav {
  display: none;
  position: absolute;
  padding: 8px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--s-radius-null) var(--s-radius-null) var(--s-radius-m) var(--s-radius-m);
  border: 1px solid var(--s-neutral-border-weak-default);
  border-top: none;
  background: var(--s-neutral-bg-default);
  box-shadow: 0px -1px 1px 0px rgba(27, 27, 26, 0.12) inset, 0px 6px 8px 0px rgba(27, 27, 26, 0.16);
  left: 24.5px;
  top: 48px;
}
.cwn-mainnav--visible {
  display: flex;
}
.cwn-mainnav__categories {
  min-width: 250px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  overflow-y: auto;
}
.cwn-mainnav__categories > .cwn-list {
  padding-right: 0px;
  padding-top: 0px;
}
.cwn-mainnav__categories .cwn-list-item {
  border-radius: var(--s-sizing-border-m) 0 0 var(--s-sizing-border-m);
  padding: var(--s-padding-m);
}
.cwn-mainnav__categories .cwn-list-item:hover {
  border-left: var(--s-sizing-border-m) #383836 solid;
  padding-left: 6px;
}
.cwn-mainnav__categories .cwn-list-item__key {
  color: var(--s-neutral-txt-weak-default);
  border-radius: 2px;
  border: 1px solid rgba(191, 190, 185, 0.5);
  background: var(--s-neutral-bg-weak-default);
  cursor: default;
}
.cwn-mainnav__categories .cwn-list-item__text {
  flex: 1 1 0;
  font-size: var(--s-fontSize-300);
  font-weight: var(--s-fontWeight-600);
  line-height: var(--s-lineHeight-300);
  word-wrap: break-word;
  cursor: default;
}
.cwn-mainnav__categories .cwn-list-item--selected {
  border-left: var(--s-sizing-border-m) #383836 solid;
  background-color: var(--s-theme-bg-default, var(--s-neutral-bg-weak-default));
  padding-left: 6px;
  scroll-margin: 8px;
}
.cwn-mainnav__categories .cwn-list-item--selected {
  background: var(--s-theme-bg-default, var(--s-neutral-bg-weak-default));
}
.cwn-mainnav__modules {
  background-color: var(--s-theme-bg-default, var(--s-neutral-bg-weak-default));
  border-radius: 0 4px 4px 0;
  height: 650px;
  display: flex;
}
.cwn-mainnav__modules > .cwn-list {
  padding: 0px 8px;
  gap: 8px;
  width: 320px;
}
.cwn-mainnav__sections-group {
  break-inside: avoid;
}
.cwn-mainnav__section {
  color: var(--s-neutral-txt-inv-default);
  font-size: var(--s-fontSize-300);
  font-weight: var(--s-fontWeight-600);
  line-height: var(--s-lineHeight-300);
  height: 24px;
}
.cwn-mainnav__menu {
  cursor: default;
  flex: 1 0 0;
  align-self: stretch;
  overflow: hidden;
  color: var(--s-neutral-txt-inv-default);
  height: 24px;
  font-size: var(--s-fontSize-300);
  font-style: normal;
  font-weight: var(--s-fontWeight-400);
  justify-content: space-between;
  gap: 0 !important;
}
.cwn-mainnav__menu:hover {
  background-color: var(--s-neutral-bg-weak-hover, #efeeeb);
}
.cwn-mainnav__menu:hover .cwn-mainnav__favourite--hidden {
  display: unset !important;
}
.cwn-mainnav__menu--empty {
  height: 24px;
}
.cwn-mainnav__menu--empty:hover {
  cursor: auto;
}
.cwn-mainnav__favourite--hidden {
  display: none !important;
}

.cwn-headnav {
  flex: 1;
  margin-top: 8px;
}

.cwn-menu {
  width: auto;
  display: block;
}
.cwn-menu > li.dropdown {
  padding-top: 0;
  padding-right: 1px;
}
.cwn-menu > li.dropdown > button {
  height: 48px;
}
.cwn-menu > li.dropdown > .cwn-submenu {
  border-top: none;
}
.cwn-menu > li.dropdown.active button {
  background-color: white;
  color: var(--s-bg-default);
}
.cwn-menu li {
  display: inline-block;
  position: relative;
}
.cwn-menu li.dropdown {
  border-bottom: none;
}
.cwn-menu li.dropdown:hover button {
  background-color: white;
  color: var(--s-bg-default);
}
.cwn-menu li a {
  display: block;
  text-decoration: none;
  width: 250px;
}
.cwn-menu .cwn-submenu {
  display: none;
  left: auto;
  right: 0;
}
.cwn-menu__gesture-text {
  float: right;
}
.cwn-menu__checked {
  float: right;
  background-color: var(--s-neutral-bg-weak-default);
  accent-color: var(--s-neutral-icon-weak-default);
  border: 1px solid var(--s-neutral-border-weak-default, #BFBEB9);
  border-radius: 2px;
  height: 17px;
  width: 17px;
}

.cwn-submenu {
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 0px;
  list-style-type: none;
  display: block;
  width: 300px;
  background-color: white;
  border-radius: var(--s-radius-null) var(--s-radius-null) var(--s-radius-m) var(--s-radius-m);
  border: 1px solid var(--s-neutral-border-weak-default);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-300);
  font-style: normal;
  font-weight: var(--s-fontWeight-400);
  line-height: var(--s-lineHeight-300);
  overflow-y: auto;
  max-height: 90vh;
}
.cwn-submenu > li {
  display: block;
  padding-top: 2px;
  padding-left: 8px;
}
.cwn-submenu > li:hover {
  background: var(--s-neutral-bg-weak-default);
}
.cwn-submenu > li.active {
  background: var(--s-neutral-bg-weak-default);
}
.cwn-submenu a {
  display: block;
  color: var(--s-neutral-txt-inv-default);
  padding: 8px 0px 8px 6px;
  margin-bottom: 1px;
}
.cwn-submenu::-webkit-scrollbar {
  width: 5px;
}
.cwn-submenu::-webkit-scrollbar-track {
  background: var(--s-neutral-bg-default);
}
.cwn-submenu::-webkit-scrollbar-button {
  display: none;
}
.cwn-submenu::-webkit-scrollbar-corner {
  display: none;
}
.cwn-submenu::-webkit-scrollbar-thumb {
  background-color: var(--s-natural-scrollbar-default, #e5e5e5);
  border-radius: 28px;
}
.cwn-submenu::-webkit-scrollbar-thumb:hover {
  background-color: var(--s-natural-scrollbar-hover, #b2b2b2);
}

.cwn-menu .cwn-submenu .cwn-submenu {
  position: absolute;
  left: -300px;
  top: 0px;
}

body > .cwn-submenu {
  border-radius: var(--s-radius-m);
}

.cwn-submenu li.dropdown > a:after {
  content: "▶";
  position: absolute;
  right: 10px;
}
.cwn-submenu li.dropdown > span {
  color: var(--s-neutral-txt-inv-default);
  padding: 8px 0px 8px 6px;
  display: block;
  width: 250px;
}
.cwn-submenu li.dropdown > span:after {
  content: "▶";
  position: absolute;
  right: 10px;
}

.cwn-home {
  font-family: var(--s-fontFamily-primary), var(--s-fontFamily-fallback);
}
.cwn-home__wrapper {
  display: flex;
  flex-direction: row;
  padding: 8px;
  padding-right: 0px;
  gap: 8px;
  overflow: hidden;
}
.cwn-home__main {
  flex: 2.11;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 0;
}
.cwn-home__main__content {
  flex: 1;
  overflow: hidden;
}
.cwn-home__bottom, .cwn-home__top {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}
.cwn-home__left-sidebar {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cwn-home__right-sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cwn-home__right-toggle-button-bar {
  display: flex;
  flex-direction: column;
}
.cwn-home__right-container {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.cwn-home__favorites {
  flex: 4;
}
.cwn-home__widget {
  flex: 1;
}
.cwn-home__recent-modules {
  max-height: 40%;
  overflow-y: auto;
}
.cwn-home__login-details {
  height: 100%;
  display: flex;
  align-items: center;
  padding: var(--s-padding-s) var(--s-padding-m);
  gap: var(--s-spacing-m);
  flex-shrink: 0;
  font-size: var(--s-fontSize-300);
}

.splash {
  background-color: #371EE1;
  display: flex;
  width: 512px;
  flex-direction: column;
  align-items: flex-start;
}

.splash__top {
  position: relative;
  width: 512px;
  height: 249px;
}

.splash__center {
  display: flex;
  width: 268px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: absolute;
  left: 122px;
  top: 91px;
}

.splash__cwnextlogo {
  width: 229.208px;
  height: 64px;
  background: #371EE1 url(/_content/CargoWiseNext.Blazor.Components/images/cargowise-next-logo.svg) no-repeat center;
}

.splash__status {
  display: flex;
  align-items: center;
  gap: 4px;
}

.splash__inProgress {
  width: 20px;
  height: 20px;
  animation: inProgress 1200ms infinite;
  background: #1D1765 url(/_content/CargoWiseNext.Blazor.Components/images/in-progress.png) no-repeat center;
}

@keyframes inProgress {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.splash__message {
  color: #F6F8FF;
  background: #1D1765;
  font-family: "Segoe UI Variable Text";
  font-size: 13px;
}

.splash__bottom {
  background: #1D1765;
  display: flex;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.splash__wtglogo {
  width: 91px;
  height: 28px;
  background: #1D1765 url(/_content/CargoWiseNext.Blazor.Components/images/wisetech-global-logo.svg) no-repeat center;
}

.splash__progressbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8px;
}

.progressbar__filler {
  height: 100%;
  background-color: #DAE2FE;
}

.cwn-recent-modules__item {
  display: flex;
  flex-direction: row;
}
.cwn-recent-modules__item div {
  font-size: var(--s-fontSize-300);
  font-weight: var(--s-fontWeight-400);
  line-height: var(--s-lineHeight-300);
  font-family: var(--s-fontFamily-primary), var(--s-fontFamily-fallback);
}
.cwn-recent-modules__fav-button {
  visibility: hidden;
}

.cwn-list-item--selected.cwn-recent-modules__item {
  background: initial;
}

li.cwn-recent-modules__item:hover {
  background-color: var(--s-neutral-bg-weak-hover);
}
li.cwn-recent-modules__item:hover .cwn-recent-modules__fav-button {
  visibility: visible;
}

.cwn-tabs__bar {
  background-color: var(--s-neutral-bg-weak-default);
}

.cwn-tab {
  min-height: auto;
  margin: 2px;
  border-radius: 4px;
  cursor: default;
}
.cwn-tab.cwn-tab--active {
  background-color: var(--s-neutral-bg-default);
  color: var(--s-neutral-txt-inv-default);
}

.cwn-list-item {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  margin-bottom: 5px;
}
.cwn-list-item:hover {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}
.cwn-list-item__info {
  flex-grow: 1;
}
.cwn-list-item__info-time {
  font-size: var(--s-fontSize-100);
  color: var(--s-neutral-txt-weak-default);
  margin-top: 5px;
  margin-bottom: 5px;
}
.cwn-list-item__info-link {
  font-size: var(--s-fontSize-300);
}
.cwn-list-item__info-link a {
  text-decoration: none;
  color: var(--s-neutral-txt-inv-default);
}
.cwn-list-item__thumbnail {
  align-self: flex-end;
  border-radius: 4px;
  width: 120px;
  height: 75px;
  margin-top: 5px;
}

.cwn-favorites__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cwn-favorites__title {
  color: var(--s-neutral-txt-inv-default, #383836);
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-300, 13px);
  font-style: normal;
  font-weight: var(--s-fontWeight-600, 600);
  line-height: var(--s-lineHeight-300, 20px);
  position: relative;
}
.cwn-favorites__switchview {
  display: flex !important;
  align-self: center !important;
  visibility: visible;
  margin-right: 10px;
}
.cwn-favorites__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
}
.cwn-favorites__item {
  position: relative;
  display: flex;
  padding: var(--s-padding-s, 4px);
  align-items: center;
  gap: var(--s-padding-m, 8px);
  align-self: stretch;
  width: 100%;
  border-radius: 5px;
}
.cwn-favorites__item_drag {
  visibility: hidden;
}
.cwn-favorites__item_drag_container {
  width: 30px;
  display: flex;
  --current-cursor: pointer;
}
.cwn-favorites__item_index {
  display: flex !important;
  width: 16px !important;
  height: 16px !important;
  padding: 11px !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 2px !important;
  border-radius: var(--s-radius-xxl, 24px) !important;
  border: 1px solid #BFBEB9 !important;
  background: var(--s-neutral-bg-weak-default, #F7F7F4) !important;
  color: #383836 !important;
}
.cwn-favorites__item_name_box_compressed {
  align-self: center;
  width: 90%;
  min-width: 185px;
  position: relative;
  display: grid;
  grid-template-columns: 75% 25%;
}
.cwn-favorites__item_name_box {
  align-self: stretch;
  width: 90%;
  min-width: 185px;
  position: relative;
  margin-left: 7px;
}
.cwn-favorites__item_id {
  overflow: hidden;
  color: var(--s-neutral-txt-weak-default);
  font-variant-numeric: lining-nums tabular-nums;
  text-overflow: ellipsis;
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-100);
  font-style: normal;
  font-weight: var(--s-fontWeight-600);
  line-height: var(--s-lineHeight-100);
  white-space: nowrap;
}
.cwn-favorites__item_id_compressed {
  overflow: hidden;
  color: var(--s-neutral-txt-weak-default);
  font-variant-numeric: lining-nums tabular-nums;
  text-overflow: ellipsis;
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-100);
  font-style: normal;
  font-weight: var(--s-fontWeight-600);
  line-height: var(--s-lineHeight-200, 18px);
  white-space: nowrap;
  align-self: center;
}
.cwn-favorites__item_name {
  overflow: hidden;
  color: var(--s-neutral-txt-inv-default, #383836);
  text-overflow: ellipsis;
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-300, 13px);
  font-style: normal;
  font-weight: var(--s-fontWeight-400, 400);
  line-height: var(--s-lineHeight-300, 20px);
  display: block;
  white-space: nowrap;
}
.cwn-favorites__item_name_compressed {
  overflow: hidden;
  color: var(--s-neutral-txt-inv-default, #383836);
  text-overflow: ellipsis;
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-300, 13px);
  font-style: normal;
  font-weight: var(--s-fontWeight-400, 400);
  line-height: var(--s-lineHeight-200, 18px);
  white-space: nowrap;
}
.cwn-favorites__item_star {
  display: flex !important;
  align-self: center !important;
  visibility: hidden;
  min-width: 20px;
  min-height: 20px;
}
.cwn-favorites__item_tooltip {
  visibility: hidden;
  position: fixed;
  background-color: #5C5B57;
  color: #F7F7F4;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 10px;
  z-index: 1;
  padding: 8px !important;
}
.cwn-favorites__item_tooltip kbd {
  border: 1px solid #DAD9D5;
  border-radius: 2px;
  font-size: 10px;
  padding: 4px 2px;
}
.cwn-favorites__item:hover {
  background-color: var(--s-neutral-bg-weak-hover);
  cursor: default;
}
.cwn-favorites__item:hover .cwn-favorites__item_star {
  visibility: visible;
}
.cwn-favorites__item:hover .cwn-favorites__item_drag {
  visibility: visible;
}
.cwn-favorites__item:hover .cwn-favorites__item_tooltip {
  visibility: visible;
  position: fixed;
  transition-delay: 0.5s;
}
.cwn-favorites__seperator {
  height: 1px;
  align-self: stretch;
  opacity: 0.5;
  background: #BFBEB9;
}
.cwn-favorites__empty {
  overflow: hidden;
  color: var(--s-neutral-txt-weak-default, #8D8C88);
  text-overflow: ellipsis;
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-300, 13px);
  font-style: normal;
  font-weight: var(--s-fontWeight-400, 400);
  line-height: var(--s-lineHeight-300, 20px);
}

.cwn-popover__content {
  height: 100%;
}

.cwn-quick-search {
  display: flex;
  justify-content: center;
  flex: 2.11;
  padding: 0 8px;
}
.cwn-quick-search__result {
  font-family: var(--s-fontFamily-primary);
  height: 80%;
  width: 49%;
  left: 50%;
  transform: translate(-50%);
  top: 54px;
  padding: var(--s-padding-s) var(--s-padding-s) 0 var(--s-padding-s);
  max-width: 950px;
}
.cwn-quick-search__result-panel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}
.cwn-quick-search__result-icon {
  min-width: var(--s-sizing-icon-md);
}
.cwn-quick-search__result-items {
  padding: var(--s-padding-xl);
  flex: 1;
  overflow-y: auto;
}
.cwn-quick-search__result-items::-webkit-scrollbar {
  width: 5px;
}
.cwn-quick-search__result-items::-webkit-scrollbar-track {
  background: var(--s-neutral-bg-default, #FFFFFF);
}
.cwn-quick-search__result-items::-webkit-scrollbar-button {
  display: none;
}
.cwn-quick-search__result-items::-webkit-scrollbar-corner {
  display: none;
}
.cwn-quick-search__result-items::-webkit-scrollbar-thumb {
  background-color: var(--s-natural-scrollbar-default, #e5e5e5);
  border-radius: 28px;
}
.cwn-quick-search__result-items::-webkit-scrollbar-thumb:hover {
  background-color: var(--s-natural-scrollbar-hover, #b2b2b2);
}
.cwn-quick-search__footer {
  font-size: var(--s-fontSize-300);
  font-weight: var(--s-fontWeight-400, 400);
  line-height: 20px;
  padding: var(--s-padding-xl);
  display: flex;
  gap: var(--s-spacing-xl);
  align-items: center;
  text-align: left;
  border-top: 1px solid var(--s-neutral-border-weak-default);
}
.cwn-quick-search__result-section {
  margin-bottom: 16px;
}
.cwn-quick-search__no-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cwn-quick-search__no-result-hint {
  color: black;
  font-size: var(--s-fontSize-400);
  font-weight: var(--s-fontWeight-700, 700);
  padding: var(--s-padding-m);
}
.cwn-quick-search__no-result-hint-info {
  color: #8d8c88;
  font-size: 14px;
  padding: var(--s-padding-s);
}
.cwn-quick-search__result-title {
  color: var(--s-neutral-txt-weak-default);
  font-size: var(--s-fontSize-300);
  font-weight: var(--s-fontWeight-600, 600);
  padding: 4px 4px 8px 4px;
}
.cwn-quick-search__result-amount {
  color: var(--s-neutral-txt-weak-default);
  font-size: var(--s-fontSize-300);
  font-weight: var(--s-fontWeight-300, 300);
}
.cwn-quick-search__result-item {
  font-size: var(--s-fontSize-300);
  font-weight: var(--s-fontWeight-400, 400);
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  padding: var(--s-padding-s);
  align-items: center;
  border-radius: var(--s-radius-s);
}
.cwn-quick-search__result-item:focus {
  outline: none;
  background-color: var(--s-neutral-bg-weak-hover);
}
.cwn-quick-search__result-item:hover {
  background-color: var(--s-neutral-bg-weak-hover);
}
.cwn-quick-search__result-item-text {
  text-align: left;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cwn-quick-search__shortcut {
  display: flex;
  gap: var(--s-spacing-s);
}
.cwn-quick-search__shortcut p {
  color: var(--s-neutral-icon-weak-default);
  margin-left: var(--s-spacing-m);
}
.cwn-quick-search-filter {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.cwn-quick-search-filter:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.cwn-quick-search-filter--selected {
  font-weight: bold;
  background-color: #675496;
  color: white;
  background: var(--s-bg-default);
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.cwn-quick-search-filter_selected:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.cwn-quick-search-filter__button-container {
  display: flex;
  justify-content: flex-start;
}
.cwn-quick-search-filter__text {
  font-size: var(--s-fontSize-300);
  font-weight: var(--s-fontWeight-400, 400);
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  padding: var(--s-padding-s);
  align-items: center;
  border-radius: var(--s-radius-s);
}

.cwn-my-tasks__title {
  color: var(--s-neutral-txt-inv-default);
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-300);
  font-style: normal;
  font-weight: var(--s-fontWeight-600);
  line-height: var(--s-lineHeight-300);
  position: relative;
  cursor: pointer;
}
.cwn-my-tasks__table {
  width: 100%;
  table-layout: fixed;
  text-align: left;
}
@media (max-width: 2035px) {
  .cwn-my-tasks__table {
    display: none;
  }
}
.cwn-my-tasks__table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cwn-my-tasks__table th {
  color: var(--s-neutral-txt-weak-default);
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-200);
  font-style: normal;
  font-weight: var(--s-fontWeight-400);
  line-height: var(--s-lineHeight-200);
  padding: var(--s-padding-s);
}
.cwn-my-tasks__table_header {
  border-bottom: 1px solid var(--s-neutral-border-weak-default);
}
.cwn-my-tasks__table_header_icon {
  width: 30px;
  max-width: 30px;
}
.cwn-my-tasks__table_header_id {
  width: 120px;
  max-width: 120px;
}
.cwn-my-tasks__table_header_name {
  width: auto;
}
.cwn-my-tasks__table_header_description {
  width: 180px;
  max-width: 180px;
}
.cwn-my-tasks__table_header_status {
  width: 130px;
  max-width: 130px;
}
.cwn-my-tasks__item {
  border-bottom: 1px solid var(--s-neutral-border-weak-default);
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-300);
  font-style: normal;
  font-weight: var(--s-fontWeight-400);
  line-height: var(--s-lineHeight-300);
  padding-top: 5px;
}
.cwn-my-tasks__item_icon {
  width: 30px;
  max-width: 30px;
  padding: var(--s-padding-s);
}
.cwn-my-tasks__item_id {
  width: 120px;
  max-width: 120px;
  padding: var(--s-padding-m) var(--s-padding-s);
  font-variant-numeric: lining-nums tabular-nums;
}
.cwn-my-tasks__item_name {
  width: auto;
  padding: var(--s-padding-m) var(--s-padding-s);
}
.cwn-my-tasks__item_description {
  width: 180px;
  max-width: 180px;
  padding: var(--s-padding-m) var(--s-padding-s);
}
.cwn-my-tasks__item_status {
  width: 130px;
  max-width: 130px;
  padding: var(--s-padding-m) var(--s-padding-s);
}
.cwn-my-tasks__item:hover {
  background-color: var(--s-neutral-bg-weak-hover);
  border-radius: var(--s-radius-s);
}
.cwn-my-tasks__refresh-btn {
  float: right;
}
.cwn-my-tasks__empty {
  overflow: hidden;
  color: var(--s-neutral-txt-weak-default, #8D8C88);
  text-overflow: ellipsis;
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-300, 13px);
  font-style: normal;
  font-weight: var(--s-fontWeight-400, 400);
  line-height: var(--s-lineHeight-300, 20px);
}
.cwn-my-tasks__task-id {
  color: var(--s-neutral-txt-weak-default);
  font-variant-numeric: lining-nums tabular-nums;
  text-overflow: ellipsis;
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-100);
  font-style: normal;
  font-weight: var(--s-fontWeight-600);
  line-height: var(--s-lineHeight-100);
  white-space: nowrap;
}
.cwn-my-tasks__summary {
  overflow: hidden;
  color: var(--s-neutral-txt-weak-default);
  font-variant-numeric: lining-nums tabular-nums;
  text-overflow: ellipsis;
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-100);
  font-style: normal;
  font-weight: var(--s-fontWeight-400);
  line-height: var(--s-lineHeight-100);
  white-space: nowrap;
  margin-left: 5px;
}
.cwn-my-tasks__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 2035px) {
  .cwn-my-tasks__list {
    display: none;
  }
}
.cwn-my-tasks__item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.cwn-my-tasks__top-row {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
  min-height: 12px;
}
.cwn-my-tasks__text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
}
.cwn-my-tasks__status-block {
  display: flex;
  align-items: center;
}
.cwn-my-tasks__status {
  min-width: 28px;
  min-height: 28px;
}
@media (max-width: 2035px) {
  .cwn-my-tasks__status {
    padding: 0;
    border: none;
    box-shadow: none;
    background-color: transparent;
  }
}
@media (max-width: 2035px) {
  .cwn-my-tasks__status-text {
    display: none;
  }
}

.cwn-navbar .cwn-toolbar--gutters {
  padding-left: 25px;
  padding-right: 20px;
}
.cwn-navbar:has(.cwn-mainnav--visible) .cwn-button--selected {
  color: var(--s-neutral-txt-hover) !important;
  background-color: var(--s-neutral-bg-default) !important;
  text-decoration: underline;
  text-underline-offset: 0px;
  padding-bottom: 10px;
}
.cwn-navbar:has(.cwn-mainnav--visible) .cwn-button--selected:hover {
  text-decoration: underline;
  text-underline-offset: 0px;
}
.cwn-navbar .cwn-button--text {
  padding: 10px 10px 6px 10px;
}
.cwn-navbar .cwn-button--text:hover {
  background-color: rgba(255, 255, 255, 0.2666666667);
  color: var(--s-txt-inv-default);
  cursor: default;
  text-decoration: none;
}
.cwn-navbar .cwn-button--tooltip {
  position: relative;
}
.cwn-navbar .cwn-button--tooltip::after {
  content: attr(data-tooltip);
  font-size: var(--s-fontSize-100);
  color: var(--s-neutral-txt-inv-active);
  background-color: var(--s-neutral-bg-active);
  font-weight: var(--s-fontWeight-300);
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  width: calc(100% - 4px);
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  z-index: var(--s-zindex-tooltip);
}
.cwn-navbar .cwn-button--tooltip:not(.cwn-button--selected):hover::after {
  visibility: visible;
  transition: visibility 0s linear 0.5s;
}

.cwn-navbar__toolstrip {
  flex: 1;
  justify-content: flex-end;
  height: 48px;
}
.cwn-navbar__toolstrip .cwn-navbar__toolstrip-btn {
  background: transparent;
  margin-left: 4px;
  padding: 0px;
}
.cwn-navbar__toolstrip .cwn-navbar__toolstrip-btn:hover {
  background: rgba(255, 255, 255, 0.2666666667);
}
.cwn-navbar__toolstrip .cwn-navbar__toolstrip-btn .cwn-button__content {
  margin: 4px 2px 4px 2px;
  padding: 0px 2px 0px 0px;
}
.cwn-navbar__toolstrip .cwn-list {
  padding: 0px;
}
.cwn-navbar__toolstrip .cwn-list-item {
  cursor: default !important;
}
.cwn-navbar__toolstrip .cwn-list-item--selected {
  background: initial;
}
.cwn-navbar__toolstrip .cwn-menu > li.dropdown.active button {
  background: #fff;
  color: var(--s-bg-default);
}
.cwn-navbar__toolstrip .cwn-menu li.dropdown:not(.active):hover button {
  background: transparent;
  color: var(--s-txt-inv-default);
}
.cwn-navbar__toolstrip .cwn-menu li.dropdown:not(.active) button:hover {
  background: rgba(255, 255, 255, 0.2666666667) !important;
  color: var(--s-txt-inv-default);
}

.cwn-login-location {
  background-color: var(--s-brand-bg-default, #371EE1);
  background-image: url(/_content/CargoWiseNext.Blazor.Components/images/login-location.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  justify-content: center;
  align-items: center;
}
.cwn-login-location__main {
  flex: unset;
}
.cwn-login-location__logo {
  height: 100px;
  margin: 0 38px;
  background-image: url(/_content/CargoWiseNext.Blazor.Components/images/cargowise-next-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.cwn-login-location__operation-card {
  margin-top: 20px;
  padding: 0;
}
.cwn-login-location__operation-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 316px;
  height: auto;
  margin: var(--spacing-xxl, 32px);
}
.cwn-login-location__operation-header {
  color: var(--Primary-Content, #371EE1);
  font-family: var(--s-fontFamily-primary);
  font-weight: var(--s-fontWeight-600);
  font-size: var(--s-fontSize-400);
  width: 316px;
  font-style: normal;
  height: 24px;
}
.cwn-login-location__operation-details {
  display: flex;
  flex-direction: column;
  width: 316px;
  height: auto;
  margin: var(--spacing-xxl, 32px) 0 0 0;
  overflow: hidden !important;
  padding: 0px !important;
  gap: 3px;
}
.cwn-login-location__operation-item {
  margin: 0 0 var(--spacing-xl, 16px) 0px;
  width: 316px;
}
.cwn-login-location__text {
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-200);
  font-weight: var(--s-fontWeight-400);
  color: var(--s-neutral-txt-active);
  font-style: normal;
  width: 316px;
  height: 20px;
}
.cwn-login-location__item {
  color: var(--s-neutral-txt-active) !important;
  font-family: var(--s-fontFamily-primary) !important;
  font-size: var(--s-fontSize-300) !important;
  font-style: normal !important;
  font-weight: var(--s-fontWeight-400) !important;
  line-height: var(--s-lineHeight-300) !important;
  margin: 0px !important;
  padding: 0px !important;
}
.cwn-login-location__operation-buttons {
  display: flex;
  flex-direction: row;
  width: 316px;
  height: 40px;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-S, 4px);
  font-family: var(--s-fontFamily-primary) !important;
  font-size: var(--s-fontSize-400) !important;
  font-weight: var(--s-fontWeight-600) !important;
  line-height: var(--s-lineHeight-400) !important;
}
.cwn-login-location__backbutton {
  color: var(--neutral-txt-inv-default, #30302E);
  width: 71px;
  height: 40px;
  border-radius: var(--radius-S, 4px);
  text-transform: none !important;
}
.cwn-login-location__backbutton:hover {
  background: var(--s-neutral-bg-weak-hover, #f1f1ef) !important;
}
.cwn-login-location__backbutton:focus {
  background: var(--s-neutral-bg-weak-active, #dcdcd7) !important;
}
.cwn-login-location__loginbutton {
  color: var(--primary-txt-inv-default, #F6F8FF) !important;
  width: 245px;
  height: 40px;
  border-radius: var(--radius-S, 4px);
  background: var(--primary-bg-default, #371EE1) !important;
  box-shadow: 0px 0px 2px 0px #F8F8F7 inset, 0px -1px 1px 1px #F1F1EF inset, 0px 1px 1px 0px rgba(17, 17, 16, 0.06);
  text-transform: none !important;
}
.cwn-login-location__loginbutton:hover {
  background: var(--s-primary-bg-hover, #221098) !important;
}
.cwn-login-location__loginbutton:focus {
  background: var(--s-primary-bg-active, #110662) !important;
}

.cwn-recent-messages {
  flex: 1;
}
.cwn-recent-messages__list {
  padding-inline-start: 0px;
}
.cwn-recent-messages__item {
  padding: 2px 4px;
  border-radius: 4px;
  margin-bottom: 2px;
}
.cwn-recent-messages__item:not(:first-child) {
  margin-top: 2px;
}
.cwn-recent-messages__item:hover {
  background-color: var(--s-neutral-bg-weak-hover);
}
.cwn-recent-messages__header {
  display: flex;
  gap: 2px;
  justify-content: space-between;
  padding: 0 0 6px 0;
}
.cwn-recent-messages__body {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 2px 0;
}
.cwn-recent-messages__timestamp {
  color: var(--s-neutral-txt-weak-default);
  font-size: var(--s-fontSize-200);
}
.cwn-recent-messages__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  flex: 1 0 0;
  overflow: hidden;
  color: var(--s-neutral-txt-weak-default);
  font-size: var(--s-fontSize-300);
  line-height: var(--s-lineHeight-300);
  word-break: break-word;
  overflow-wrap: break-word;
}
.cwn-recent-messages__senderblock {
  display: flex;
  flex-direction: column;
}
.cwn-recent-messages__jobblock {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.cwn-recent-messages__sender {
  font-size: var(--s-fontSize-300);
  font-weight: var(--s-fontWeight-600);
  line-height: var(--s-lineHeight-300);
}
.cwn-recent-messages__sendercompany {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  color: var(--s-neutral-txt-disabled, #b0b0b0);
  font-size: var(--s-fontSize-300);
  line-height: var(--s-lineHeight-300);
}
.cwn-recent-messages__link {
  color: var(--s-primary-txt-default);
  font-size: var(--s-fontSize-300);
  line-height: var(--s-lineHeight-300);
  text-decoration-line: underline;
  text-underline-position: from-font;
  white-space: nowrap;
}
.cwn-recent-messages__refresh-btn {
  float: right;
}
.cwn-recent-messages__empty {
  overflow: hidden;
  color: var(--s-neutral-txt-weak-default, #8D8C88);
  text-overflow: ellipsis;
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-300, 13px);
  font-style: normal;
  font-weight: var(--s-fontWeight-400, 400);
  line-height: var(--s-lineHeight-300, 20px);
}
.cwn-recent-messages__seperator {
  height: 1px;
  align-self: stretch;
  opacity: 0.5;
  background: #BFBEB9;
}

.cwn-public-holiday-calendar {
  flex: 1;
}
.cwn-public-holiday-calendar__title:hover {
  cursor: pointer;
}
.cwn-public-holiday-calendar__empty {
  overflow: hidden;
  color: var(--s-neutral-txt-weak-default, #8D8C88);
  text-overflow: ellipsis;
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-300, 13px);
  font-style: normal;
  font-weight: var(--s-fontWeight-400, 400);
  line-height: var(--s-lineHeight-300, 20px);
}
.cwn-public-holiday-calendar__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.cwn-public-holiday-calendar__month {
  align-self: stretch;
  color: var(--s-neutral-txt-weak-default);
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-300);
  font-style: normal;
  font-weight: var(--s-fontWeight-600);
  line-height: var(--s-lineHeight-300);
}
.cwn-public-holiday-calendar__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  list-style: none;
  padding: 0;
  margin: 0;
}
.cwn-public-holiday-calendar__item {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-bottom: 1px solid rgba(191, 190, 185, 0.5);
  padding: 8px 8px 8px 0;
}
.cwn-public-holiday-calendar__item:hover {
  background-color: var(--s-neutral-bg-weak-hover);
}
.cwn-public-holiday-calendar__item_date {
  display: flex;
  width: 65px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex: 0 0 auto;
}
.cwn-public-holiday-calendar__item_flag {
  flex: 0 0 auto;
}
.cwn-public-holiday-calendar__item_date_header {
  align-self: stretch;
  color: var(--s-neutral-txt-weak-default);
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-100);
  font-style: normal;
  font-weight: var(--s-fontWeight-400);
  line-height: var(--s-lineHeight-100);
}
.cwn-public-holiday-calendar__item_date_day {
  align-self: stretch;
  color: var(--s-neutral-txt-inv-default);
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-500);
  font-style: normal;
  font-weight: var(--s-fontWeight-700);
  line-height: 20px;
}
.cwn-public-holiday-calendar__item_data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  overflow: hidden;
}
.cwn-public-holiday-calendar__item_data_description {
  align-self: stretch;
  font-size: var(--s-fontSize-300);
  font-weight: var(--s-fontWeight-600);
  line-height: var(--s-lineHeight-300);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cwn-public-holiday-calendar__item_data_region {
  align-self: stretch;
  color: #000;
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-300);
  font-style: normal;
  font-weight: var(--s-fontWeight-400);
  line-height: var(--s-lineHeight-300);
}

.cwn-recent-items {
  height: 100%;
}

.cwn-snapshots {
  display: flex;
  flex-direction: column;
  gap: var(--s-spacing-m, 8px);
  height: 158px;
}
.cwn-snapshots__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cwn-snapshots__commands {
  display: flex;
  flex-direction: row;
  gap: var(--s-spacing-m, 8px);
}
.cwn-snapshots__content {
  display: flex;
  gap: var(--s-spacing-m, 8px);
  align-items: center;
  height: 100%;
}
.cwn-snapshots__content--empty {
  justify-content: center;
  border-radius: var(--s-radius-m, 8px);
  border: 1px dashed var(--s-neutral-border-weak-default, #BFBEB9);
}
.cwn-snapshots__title {
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-300);
  font-style: normal;
  font-weight: var(--s-fontWeight-600);
  line-height: var(--s-lineHeight-300);
}
.cwn-snapshots__button {
  padding: var(--s-padding-s, 4px);
  overflow: hidden;
}
.cwn-snapshots__button-caption {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cwn-snapshots__empty-dialog {
  display: flex;
  align-items: center;
  gap: var(--s-spacing-xll, 32px);
}
.cwn-snapshots__empty-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--s-spacing-s, 4px);
  max-width: 250px;
}
.cwn-snapshots__item {
  flex: 1;
  height: 100%;
  padding: var(--s-padding-m, 8px);
  width: 0;
}
.cwn-snapshots__add-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--s-radius-m, 8px);
  border: 1px dashed var(--s-neutral-border-weak-default, #BFBEB9);
}
.cwn-snapshots__dialog {
  top: 292px;
  width: 300px;
}
.cwn-snapshots__dialog-card {
  gap: var(--s-spacing-xl, 16px);
  padding: var(--s-padding-xl, 16px);
}
.cwn-snapshots__dialog-content {
  display: flex;
  flex-direction: column;
  gap: var(--s-spacing-m, 8px);
  padding: 0;
}
.cwn-snapshots__dialog-actions {
  padding: 0;
}
.cwn-snapshots__dialog-search-list {
  width: calc(100% - 34px);
  max-height: 200px;
}

.cwn-snapshot-item {
  gap: var(--s-spacing-l, 16px);
  padding: var(--s-padding-xl, 16px);
}
.cwn-snapshot-item__header, .cwn-snapshot-item__content {
  padding: 0;
}
.cwn-snapshot-item__content {
  align-content: center;
}
.cwn-snapshot-item__header-content {
  overflow: hidden;
}
.cwn-snapshot-item__header-actions {
  margin: unset;
  align-self: unset;
}
.cwn-snapshot-item__sub-title {
  color: var(--s-neutral-txt-weak-default);
  font-size: var(--s-fontSize-200);
  font-weight: var(--s-fontWeight-400);
}
.cwn-snapshot-item__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cwn-snapshot-item__value {
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-600);
  font-weight: var(--s-fontWeight-700);
  line-height: var(--s-lineHeight-600);
}
.cwn-snapshot-item__actions--editing {
  position: absolute;
  padding: var(--s-padding-s, 4px);
  align-items: center;
  justify-content: center;
  gap: var(--s-spacing-m, 8px);
  width: 70px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid var(--s-neutral-border-weak-default);
  border-radius: var(--s-radius-m) var(--s-radius-m) var(--s-radius-null) var(--s-radius-null);
  background-color: #181c33;
}
.cwn-snapshot-item--editing {
  position: relative;
  border: 1px dashed var(--s-neutral-border-weak-default);
}
.cwn-snapshot-item--editing[draggable=true] {
  cursor: move;
}
.cwn-snapshot-item__icon-edit {
  background-color: #E1E3E6;
}
.cwn-snapshot-item__icon-delete {
  background-color: #CD6A8B;
}
.cwn-snapshot-item__skeleton-title {
  width: 123px;
  height: 10px;
  border-radius: var(--s-radius-s, 4px);
  margin: 5px 0 5px 0;
}
.cwn-snapshot-item__skeleton-subtitle {
  width: 83px;
  height: 9px;
  margin: 5px 0 5px 0;
  border-radius: var(--s-radius-s, 4px);
}
.cwn-snapshot-item__skeleton-value {
  width: 64px;
  height: 22px;
  border-radius: var(--s-radius-s, 4px);
  margin: 8px 0 4px 0;
}
.cwn-snapshot-item--drag-over {
  filter: brightness(98%);
}
.cwn-snapshot-item__error-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cwn-snapshot-item__button {
  background-color: var(--s-neutral-bg-default);
}
.cwn-snapshot-item__error-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}