[*.cs]

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = warning

# CW1161: Res.GetString Analyzer
dotnet_diagnostic.CW1161.severity = none

# CW1106: Do Not Leave In Debug Messages
dotnet_diagnostic.CW1106.severity = none

# CW1078: Do not use Process.Start to open a file or url, use WebUrlLauncher or FileOpener for proper integration with Remote Desktop Services. False alarm if you are running a process for a reason other than to open a file or url.
dotnet_diagnostic.CW1078.severity = none
