<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ include file="..\DataProviderTestGenerator.ttinclude" once="true" #>
<#@ import namespace="CargoWise.Customs.IN.MessageContracts" #>
<#@ import namespace="CargoWise.Customs.IN.MessageContracts.ExportSb" #>
<#@ import namespace="Enterprise.Customs.IN.Business" #>
<# GenerateDataProviderTestClasses("ExportSb",
typeof(CusEntryHeader),
typeof(ExportSbCACHE01DataProviderAbstractClass),
typeof(HeaderDataProviderAbstractClass),
typeof(FooterDataProviderAbstractClass),
typeof(SbDataProviderAbstractClass),
typeof(TableSbDataProviderAbstractClass),
typeof(TableAmendhistoryDataProviderAbstractClass),
typeof(TableStuffDataProviderAbstractClass),
typeof(TableContainerDataProviderAbstractClass),
typeof(TableSwConstDataProviderAbstractClass),
typeof(TableSwCtrlDataProviderAbstractClass),
typeof(TableSwProdDataProviderAbstractClass),
typeof(TableCessDataProviderAbstractClass),
typeof(TableDbkDataProviderAbstractClass),
typeof(TableItemrawmtrlDataProviderAbstractClass),
typeof(TableDepbDataProviderAbstractClass),
typeof(TableDepbparentDataProviderAbstractClass),
typeof(TableCargobackDataProviderAbstractClass),
typeof(TablePckgbackDataProviderAbstractClass),
typeof(TableContainerbackDataProviderAbstractClass),
typeof(TableSwInfoTypeDataProviderAbstractClass),
typeof(TableLicenceDataProviderAbstractClass),
typeof(TableDfiaDataProviderAbstractClass),
typeof(TableJobworkDataProviderAbstractClass),
typeof(TableAr4DataProviderAbstractClass),
typeof(TablePackinglistDataProviderAbstractClass),
typeof(TableRotationDataProviderAbstractClass),
typeof(TableEouDataProviderAbstractClass),
typeof(TableStatementDataProviderAbstractClass),
typeof(TableSupportingdocsDataProviderAbstractClass),
typeof(TableReexportDataProviderAbstractClass),
typeof(TableInvoiceDataProviderAbstractClass),
typeof(TableItemDataProviderAbstractClass),
typeof(TableItemaccessDataProviderAbstractClass),
typeof(TableThirdpartyDataProviderAbstractClass));#>
