[*.cs]

# CA2208: Instantiate argument exceptions correctly
# Set to none since the solution files existing on the child directories are still in VS 2005 version.
dotnet_diagnostic.CA2208.severity = none