<?xml version="1.0"?>
<LoggerConfiguration MergeOption="Override">
	<MinimumLevel>Verbose</MinimumLevel>
	<Formatters>
		<MessageTemplateTextFormatter Id="MessageTemplateTextFormatter">
			<OutputTemplate>{Timestamp:yyyy-MM-dd HH:mm:ss.fff zzz} [{Level:u3}] {Message:lj}{NewLine}{Exception}</OutputTemplate>
		</MessageTemplateTextFormatter>
	</Formatters>
	<Sinks>
		<ConsoleSink Id="ConsoleSink" MinimumLevel="Debug" />
		<FileSink Id="DefaultFileSink" MinimumLevel="Information" TextFormatter="MessageTemplateTextFormatter">
			<Path MapProperty="HealthCheckName" MapDefaultValue="Main">
				logs\log-{HealthCheckName}-.log
			</Path>
			<FileSizeLimitBytes>1073741824</FileSizeLimitBytes>
			<Buffered>false</Buffered>
			<Shared>true</Shared>
			<FlushToDiskInterval>0</FlushToDiskInterval>
			<RollingInterval>Day</RollingInterval>
			<RollOnFileSizeLimit>true</RollOnFileSizeLimit>
			<RetainedFileCountLimit>31</RetainedFileCountLimit>
		</FileSink>
	</Sinks>
	<Enrichers>
		<CustomPropertyEnricher PropertyName="InterfaceName" PropertyValue="XH.XT.Monitoring.HealthCheckService" />
		<EnvironmentUserNameEnricher Id="EnvironmentUserNameEnricher" MinimumLevel="Verbose" />
		<ExceptionDetailsEnricher Id="ExceptionDetailsEnricher" MinimumLevel="Warning" />
		<MachineNameEnricher Id="MachineNameEnricher" MinimumLevel="Verbose" />
	</Enrichers>
</LoggerConfiguration>