<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="TimerInterval" value="2000" />
    <add key="FTP_Host" value="172.16.51.15" />
    <add key="FTP_Port" value="22" />
    <add key="FTP_User" value="cw1_fr_customs_test" />
    <add key="FTP_PrivateKeyFileDirectory" value="E:\Transport\DATA\Clefs_SSH_Clients_SFTP\" />
    <add key="FTPReceptionDirectory" value="RECEPTION" />
    <add key="FTPSendDirectory" value="ENVOI" />
    <add key="LogPath" value="E:\Transport\LOG\" />
    <add key="DisplayMessagesInConsole" value="1" />
    <add key="VerboseMode" value="1" />
    <add key="taille_max_logs" value="1024" />
    <add key="RunningMode" value="Responses" />
    <add key="eHubAddress" value="https://ehub-integration.wisegrid.net/eHubGateway/eHubStreamedService.svc" />
    <add key="eHubForTestAddress" value="https://ehub-ausyd-test.cargowise.net/eHubGateway/eHubStreamedService.svc" />
    <add key="eHubProductionLogin" value="EASYLOG2_EAD" />
    <add key="eHubProductionPassword" value="CTc9AwmT3y752QYd" />
    <add key="eHubTestLogin" value="EASYLOG2TEST_EAD" />
    <add key="eHubTestPassword" value="LBFU3PxG9PdVVNUQ" />
    <add key="eHubProductionEnabled" value="0" />
    <add key="eHubTestEnabled" value="1" />
    <add key="WorkingDirectory" value="E:\Transport2" />
    <add key="ExecuteForDebugging" value="1" />
    <add key="APPLUSMode" value="PROD" />
    <add key="ClientsUsingeHubForTest" value ="LAOFR0TST"/>
  </appSettings>
</configuration>
<!--CONFIGURATION FOR eHub -> Platform Mode (Messages) -->
<!-- <configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="TimerInterval" value="2000"/>
    <add key="FTP_Host" value="172.16.51.15"/>
    <add key="FTP_Port" value="22" />
    <add key="FTP_User" value="cw1_fr_customs"/>
    <add key="FTP_PrivateKeyFileDirectory" value="\\Easy-log.fr\easy_dfs\Customers_EDI\WTG\TRSPSVC\TRANSPORT\DATA\Clefs_SSH_Clients_SFTP\"/>
    <add key="FTPReceptionDirectory" value="RECEPTION"/>
    <add key="FTPSendDirectory" value="ENVOI"/>
    <add key="LogPath" value="\\easy-log.fr\EASY_DFS\Clients_TSE\INTERNE_EASYLOG\WTG_TRANSPORTSERVICE\LOG\MESSAGES"/>
    <add key="DisplayMessagesInConsole" value="1"/>
    <add key="VerboseMode" value="1"/>
    <add key="taille_max_logs" value="1024"/>
    <add key="RunningMode" value="Messages"/>
    <add key="eHubAddress" value ="https://ehub-integration.wisegrid.net/eHubGateway/eHubStreamedService.svc"/>
    <add key="eHubProductionLogin" value="EASYLOG2_EAD"/>
    <add key="eHubProductionPassword" value="CTc9AwmT3y752QYd"/>
    <add key="eHubTestLogin" value="EASYLOG2TEST_EAD"/>
    <add key="eHubTestPassword" value="LBFU3PxG9PdVVNUQ"/>
    <add key="WorkingDirectory" value="\\Easy-log.fr\easy_dfs\Customers_EDI\WTG\TRSPSVC\Transport\MESSAGES"/>
    <add key="ExecuteForDebugging" value ="0"/>
    <add key="APPLUSMode" value ="PROD"/>
  </appSettings>
</configuration> -->
<!-- CONFIGURATION FOR PLATFORM -> eHUB Mode (Reponses)
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="TimerInterval" value="2000"/>
    <add key="FTP_Host" value="172.16.51.15"/>
    <add key="FTP_Port" value="22" />
    <add key="FTP_User" value="cw1_fr_customs"/>
    <add key="FTP_PrivateKeyFileDirectory" value="\\Easy-log.fr\easy_dfs\Customers_EDI\WTG\TRSPSVC\TRANSPORT\DATA\Clefs_SSH_Clients_SFTP\"/>
    <add key="FTPReceptionDirectory" value="RECEPTION"/>
    <add key="FTPSendDirectory" value="ENVOI"/>
    <add key="LogPath" value="\\easy-log.fr\EASY_DFS\Clients_TSE\INTERNE_EASYLOG\WTG_TRANSPORTSERVICE\LOG\REPONSES"/>
    <add key="DisplayMessagesInConsole" value="1"/>
    <add key="VerboseMode" value="1"/>
    <add key="taille_max_logs" value="1024"/>
    <add key="RunningMode" value="Responses"/>
    <add key="eHubAddress" value ="https://ehub-integration.wisegrid.net/eHubGateway/eHubStreamedService.svc"/>
    <add key="eHubProductionLogin" value="EASYLOG2_EAD"/>
    <add key="eHubProductionPassword" value="CTc9AwmT3y752QYd"/>
    <add key="eHubTestLogin" value="EASYLOG2TEST_EAD"/>
    <add key="eHubTestPassword" value="LBFU3PxG9PdVVNUQ"/>
    <add key="WorkingDirectory" value="\\Easy-log.fr\easy_dfs\Customers_EDI\WTG\TRSPSVC\Transport\REPONSES"/>
    <add key="ExecuteForDebugging" value ="0"/>
    <add key="APPLUSMode" value ="PROD"/>
  </appSettings>
</configuration>-->

<!-- CONFIGURATION FOR TEST
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="TimerInterval" value="2000"/>
    <add key="FTP_Host" value="172.16.51.15"/>
    <add key="FTP_Port" value="22" />
    <add key="FTP_User" value="cw1_fr_customs"/>
    <add key="FTP_PrivateKeyFileDirectory" value="\\Easy-log.fr\easy_dfs\Customers_EDI\WTG\TRSPSVC\TRANSPORT\DATA\Clefs_SSH_Clients_SFTP\"/>
    <add key="FTPReceptionDirectory" value="RECEPTION"/>
    <add key="FTPSendDirectory" value="ENVOI"/>
    <add key="LogPath" value="\\easy-log.fr\EASY_DFS\Clients_TSE\INTERNE_EASYLOG\WTG_TRANSPORTSERVICE\LOG\REPONSES"/>
    <add key="DisplayMessagesInConsole" value="1"/>
    <add key="VerboseMode" value="1"/>
    <add key="taille_max_logs" value="1024"/>
    <add key="RunningMode" value="MessagesAndResponses"/>
    <add key="eHubAddress" value ="https://ehub-integration.wisegrid.net/eHubGateway/eHubStreamedService.svc"/>
    <add key="eHubProductionLogin" value="EASYLOG2_EAD"/>
    <add key="eHubProductionPassword" value="CTc9AwmT3y752QYd"/>
    <add key="eHubTestLogin" value="EASYLOG2TEST_EAD"/>
    <add key="eHubTestPassword" value="LBFU3PxG9PdVVNUQ"/>
    <add key="WorkingDirectory" value="\\Easy-log.fr\easy_dfs\Customers_EDI\WTG\TRSPSVC\Transport\REPONSES"/>
    <add key="ExecuteForDebugging" value ="1"/>
    <add key="APPLUSMode" value ="PROD"/>
  </appSettings>
</configuration>-->