.button--link {
  background-color: transparent;
  color: #007bff;
  border: 0;
  text-decoration: underline;
}

.button--module-star-active {
  background-size: 12px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/_content/CargoWise.GUI.TileBar/images/star-active.png);
  height: 16px;
  width: 16px;
  border: 0;
}

.button--star-active {
  background-image: url(/_content/CargoWise.GUI.TileBar/images/star-active.png);
  background-size: 12px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  border: 0;
}
.button--star-active:hover {
  background-image: url(/_content/CargoWise.GUI.TileBar/images/star-inactive.png);
}

.button--star-inactive {
  background-size: 12px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/_content/CargoWise.GUI.TileBar/images/star-inactive.png);
  opacity: 0.25;
  height: 16px;
  width: 16px;
  border: 0;
}
.button--star-inactive:hover {
  background-image: url(/_content/CargoWise.GUI.TileBar/images/star-active.png);
  opacity: 1;
}

.recentitemscontrol {
  border: 1px solid #00A8E1;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: calc(100% - 2px);
  position: relative;
  top: 2px;
}
.recentitemscontrol .recentitemscontrol__listitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}
.recentitemscontrol .recentitemscontrol__listitem .button--link:hover {
  opacity: 0.8;
}
.recentitemscontrol .recentitemscontrol__button {
  display: inline-block;
  color: black;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.recentitemscontrol .recentitemscontrol__button span {
  font-size: 12px;
  white-space: nowrap;
}

.cwn-recent-items__title {
  color: var(--s-neutral-txt-inv-default);
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-300);
  font-style: normal;
  font-weight: var(--s-fontWeight-600);
  line-height: var(--s-lineHeight-300);
  position: relative;
}
.cwn-recent-items__table {
  width: 100%;
  table-layout: fixed;
  text-align: left;
}
.cwn-recent-items__head {
  border-bottom: 1px solid var(--s-neutral-border-weak-default);
  display: table-header-group;
}
@media (max-width: 1900px) {
  .cwn-recent-items__head {
    display: none;
  }
}
.cwn-recent-items__header {
  color: var(--s-neutral-txt-weak-default);
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-200);
  font-style: normal;
  font-weight: var(--s-fontWeight-400);
  line-height: var(--s-lineHeight-200);
  padding: var(--s-padding-s);
}
.cwn-recent-items__icon {
  width: 30px;
  max-width: 30px;
}
.cwn-recent-items__icon--row {
  padding: var(--s-padding-s);
}
.cwn-recent-items__id {
  width: 120px;
  max-width: 120px;
}
.cwn-recent-items__id--row {
  padding: var(--s-padding-m) var(--s-padding-s);
  font-variant-numeric: lining-nums tabular-nums;
}
.cwn-recent-items__name {
  width: auto;
}
.cwn-recent-items__name--row {
  padding: var(--s-padding-m) var(--s-padding-s);
}
.cwn-recent-items__module {
  width: 150px;
  max-width: 150px;
}
.cwn-recent-items__module--row {
  padding: var(--s-padding-m) var(--s-padding-s);
}
.cwn-recent-items__item {
  border-bottom: 1px solid var(--s-neutral-border-weak-default);
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-300);
  font-style: normal;
  font-weight: var(--s-fontWeight-400);
  line-height: var(--s-lineHeight-300);
}
.cwn-recent-items__item:hover {
  background-color: var(--s-neutral-bg-weak-hover);
  border-radius: var(--s-radius-s);
}
.cwn-recent-items__cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cwn-recent-items__cell--detailed {
  display: table-cell;
}
@media (max-width: 1900px) {
  .cwn-recent-items__cell--detailed {
    display: none;
  }
}
.cwn-recent-items__cell--compact {
  padding-top: 5px;
  position: relative;
  display: none;
}
@media (max-width: 1900px) {
  .cwn-recent-items__cell--compact {
    display: block;
  }
}
.cwn-recent-items__cell-inner {
  position: relative;
}
.cwn-recent-items__cell-lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 26px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}
.cwn-recent-items__cell-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.cwn-recent-items__compact-icon {
  width: 22px;
  max-width: 22px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
.cwn-recent-items__compact-module {
  color: var(--s-neutral-txt-weak-default);
  font-variant-numeric: lining-nums tabular-nums;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-100);
  font-style: normal;
  font-weight: var(--s-fontWeight-600);
  line-height: var(--s-lineHeight-100);
  white-space: nowrap;
}
.cwn-recent-items__compact-id {
  overflow: hidden;
  color: var(--s-neutral-txt-weak-default);
  font-variant-numeric: lining-nums tabular-nums;
  text-overflow: ellipsis;
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-100);
  font-style: normal;
  font-weight: var(--s-fontWeight-400);
  line-height: var(--s-lineHeight-100);
  white-space: nowrap;
  margin-left: 5px;
}
.cwn-recent-items__compact-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.cwn-recent-items__empty {
  overflow: hidden;
  color: var(--s-neutral-txt-weak-default, #8D8C88);
  text-overflow: ellipsis;
  font-family: var(--s-fontFamily-primary);
  font-size: var(--s-fontSize-300, 13px);
  font-style: normal;
  font-weight: var(--s-fontWeight-400, 400);
  line-height: var(--s-lineHeight-300, 20px);
}

.tilebarcontrol {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  font-family: "Segoe UI";
  font-size: 12px;
  line-height: initial;
}
.tilebarcontrol__tabnavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  padding: 0 5px;
  background-color: white;
}
.tilebarcontrol__tabnavigationitem {
  all: unset;
  border-bottom: 2px solid #8b9093;
  padding: 0px 5px;
  color: #333;
  font-size: 14px;
}
.tilebarcontrol__tabnavigationitem:hover:not(.tilebarcontrol__tabnavigationitem--selected) {
  border-bottom: 2px solid var(--tile-selected-color);
  color: black;
}
.tilebarcontrol__tabnavigationitem--selected {
  border-bottom: 4px solid var(--tile-selected-color);
  color: black;
}
.tilebarcontrol__tabcontent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  overflow: hidden;
  gap: 5px;
  padding: 5px;
  padding-top: 0px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.tilebarcontrol__section {
  grid-column-end: span 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--recent-panel-background-color);
  border-bottom: #8b9093 2px solid;
  min-width: 0;
  margin-right: 3px;
}
.tilebarcontrol__sectionheader {
  all: unset;
  background-color: white;
}
.tilebarcontrol__sectionheader > span {
  font-size: 18px;
  color: #575A5D;
}
.tilebarcontrol__sectionitems {
  all: unset;
}
.tilebarcontrol__sectionitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  padding: 1px;
}
.tilebarcontrol__sectionitemlink {
  all: unset;
  height: 20px;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.tilebarcontrol__sectionitemlink:hover {
  text-decoration: underline;
}
.tilebarcontrol__sectionitemindex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  width: 16px;
  height: 14px;
  color: var(--tile-text-color);
  background-color: var(--tile-background-color);
  border: none;
  margin-right: 11px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.tilebarcontrol__sectionitemfavourite {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.tilebarcontrol__sectionitem button {
  --current-cursor: pointer;
}
.tilebarcontrol__sectionreorderingdivider {
  height: 0;
}
.tilebarcontrol__sectionreorderingdivider > img {
  max-width: 100%;
  position: relative;
  bottom: 8px;
}
.tilebarcontrol__sectionreorderingdivider--hidden {
  visibility: hidden;
}
.tilebarcontrol__subcategory {
  all: unset;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: var(--tile-text-color);
  background-color: var(--tile-background-color);
}
.tilebarcontrol__subcategory:hover {
  background-color: var(--tile-selected-color);
}
.tilebarcontrol__subcategory--selected {
  background-color: var(--tile-selected-color);
}
.tilebarcontrol__subcategoryletter {
  font-size: 40px;
  line-height: 1;
  font-weight: bold;
}
.tilebarcontrol__subcategorytext {
  text-align: center;
}
.tilebarcontrol__subcategoryitems {
  grid-column-end: span 3;
  overflow-y: auto;
  overflow-x: hidden;
}
.tilebarcontrol__subcategorysectionheader {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #c4c7c8;
  font-size: 14px;
  background-color: var(--group-header-background-color);
}
.tilebarcontrol__subcategorysectionitems {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid var(--group-header-background-color);
  border-bottom: 1px solid var(--group-header-background-color);
  padding: 3px;
}
.tilebarcontrol__subcategorysectionitem {
  all: unset;
}
.tilebarcontrol__subcategorysectionitemlink {
  all: unset;
  color: black;
}
.tilebarcontrol__subcategorysectionitemlink:hover {
  text-decoration: underline;
}
.tilebarcontrol__subcategorysectionitem button {
  cursor: pointer;
}
.tilebarcontrol__search {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 18px;
}
.tilebarcontrol__search--active {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-column-end: span 3;
  top: 0px;
  padding-right: 13px;
}
.tilebarcontrol__searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tilebarcontrol__searchinput {
  width: 100%;
  height: 20px;
  border: 1px solid #C4C7C8;
  margin: 1px;
}
.tilebarcontrol__searchinput:hover {
  border-color: #7EB4EA;
  cursor: text;
}
.tilebarcontrol__searchinput:focus {
  border-color: #569DE5;
}
.tilebarcontrol__searchbutton {
  all: unset;
  opacity: 0.7;
  margin: 1px;
  height: 20px;
}
.tilebarcontrol__searchbuttonimage {
  height: 20px;
  opacity: 0.5;
}
.tilebarcontrol__searchbutton:hover {
  background-color: #CEEBFB;
}
.tilebarcontrol__searchhint {
  opacity: 0.5;
  font-size: 11px;
  margin: 1px;
}
.tilebarcontrol__searchresults {
  grid-column-end: span 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 2px;
}
.tilebarcontrol__searchresultsection {
  margin: 1px;
  background-color: var(--group-background-color);
}
.tilebarcontrol__searchresultsectionheader {
  border-bottom: 1px solid #C4C7C8;
  padding-top: 2px;
  background-color: var(--group-header-background-color);
}
.tilebarcontrol__searchresultsectionheadertext {
  font-size: 14px;
  font-weight: normal;
  color: #000000;
  opacity: 0.6;
}
.tilebarcontrol__searchresultsectionitems {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tilebarcontrol__searchresultsection button {
  cursor: pointer;
}
.tilebarcontrol__searchresultitem {
  all: unset;
  color: black;
}
.tilebarcontrol__searchresultitem:hover {
  text-decoration: underline;
}
.tilebarcontrol > .switch-button {
  display: contents;
}
/*# sourceMappingURL=style\cargowise.gui.tilebar.css.map */