[*.cs]

# CA1018: Mark attributes with AttributeUsageAttribute
dotnet_diagnostic.CA1018.severity = warning

# CA1813: Avoid unsealed attributes
dotnet_diagnostic.CA1813.severity = warning

# RS0030: Do not use banned APIs or namespaces
dotnet_diagnostic.RS0030.severity = error 
