<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="MockServiceEndpointsPortal Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="/wtg/status$" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
        <rule name="MockEndpoints healthcheck route" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="/wtg/status$" />
          </conditions>
          <action type="Rewrite" url="HealthCheckSuccess.txt" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
