[*.cs]

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = warning

# CW1161: ResGetStringAnalyzer - not required for ENTERPRISE\PRODUCT\DATATOOLS\DBBACKUP
dotnet_diagnostic.CW1161.severity = none
