# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# C# files
[*.cs]
generated_code = true

dotnet_diagnostic.SA1000.severity = none
dotnet_diagnostic.SA1003.severity = none
dotnet_diagnostic.SA1013.severity = none
dotnet_diagnostic.SA1210.severity = none
dotnet_diagnostic.SA1505.severity = none
dotnet_diagnostic.SA1508.severity = none

# Suppress WTG.Analyzers diagnostic messages
dotnet_diagnostic.WTG1001.severity = none # reason: third party code
dotnet_diagnostic.WTG1003.severity = none # reason: third party code
dotnet_diagnostic.WTG1004.severity = none # reason: third party code
dotnet_diagnostic.WTG1007.severity = none # reason: third party code
dotnet_diagnostic.WTG2008.severity = none # reason: third party code
dotnet_diagnostic.WTG3005.severity = none # reason: third party code
dotnet_diagnostic.WTG3007.severity = none # reason: third party code
dotnet_diagnostic.WTG3011.severity = none # reason: third party code
dotnet_diagnostic.WTG3012.severity = none # reason: third party code