<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <pluginGroups/>
  <proxies/>
  <servers>
    <server>
      <id>wtg</id>
      <username></username>
      <password></password>
    </server>
  </servers>
  <mirrors/>

  <profiles>
    <profile>
      <id>wtg</id>
      <repositories>
        <repository>
          <id>wtg</id>
          <name>WTG</name>
          <url>https://proget.wtg.zone/maven2/WTG-Maven/</url>
        </repository>
        <repository>
          <id>maven</id>
          <name>Maven</name>
          <url>https://proget.wtg.zone/maven2/Maven/</url>
        </repository>
      </repositories>

    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>wtg</activeProfile>
  </activeProfiles>
</settings>