<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="billingKafkaClientSettings" type="System.Configuration.DictionarySectionHandler"/>
    <section name="billingKafkaProducerSettings" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <appSettings>
    <add key="IssueManagerUri" value="" />
    <add key="UsageELKKafkaTopic" value="topic-usage" />
  </appSettings>

  <billingKafkaClientSettings>
    <add key="bootstrap.servers" value="localhost:9093"/>
    <add key="security.protocol" value="Ssl"/>
    <add key="enable.ssl.certificate.verification" value="true"/>
  </billingKafkaClientSettings>
  <billingKafkaProducerSettings>
    <add key="linger.ms" value="50"/>
  </billingKafkaProducerSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpsBinding>
        <binding name="secure">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost/CargoWise.eServices.Billing.WcfService_deploy/BillingService.svc" binding="basicHttpsBinding" bindingConfiguration="secure" contract="BillingServiceReference.IBillingService" name="billing_service"/>
    </client>
  </system.serviceModel>
  
</configuration>
