<?xml version="1.0" encoding="utf-8" ?>
<log4net>

	<root>
		<level value="INFO" />
		<appender-ref ref="MainLogAppender" />
	</root>

	<appender name="MainLogAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/ServiceLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.ACASMessaging" additivity="false">
		<level value="INFO" />
		<appender-ref ref="ACASMessagingAppender" />
	</logger>

	<appender name="ACASMessagingAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/ACASMessagingLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.AirMessaging" additivity="false">
		<level value="INFO" />
		<appender-ref ref="AirMessagingAppender" />
	</logger>

	<appender name="AirMessagingAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/AirMessagingLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.ASYCUDA" additivity="false">
		<level value="INFO" />
		<appender-ref ref="ASYCUDAAppender" />
	</logger>

	<appender name="ASYCUDAAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/ASYCUDALogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.ClientMappings" additivity="false">
		<level value="INFO" />
		<appender-ref ref="ClientMappingsAppender" />
	</logger>

	<appender name="ClientMappingsAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/ClientMappingsLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.ContainerTracking" additivity="false">
		<level value="INFO" />
		<appender-ref ref="ContainerTrackingAppender" />
	</logger>

	<appender name="ContainerTrackingAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/ContainerTrackingLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.E2E" additivity="false">
		<level value="INFO" />
		<appender-ref ref="E2EAppender" />
	</logger>

	<appender name="E2EAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/E2ELogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

  <logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.E2ELegacy" additivity="false">
    <level value="INFO" />
    <appender-ref ref="E2ELegacyAppender" />
  </logger>

  <appender name="E2ELegacyAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/E2ELegacyLogs.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

	<logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.ForwardAir" additivity="false">
		<level value="INFO" />
		<appender-ref ref="ForwardAirAppender" />
	</logger>

	<appender name="ForwardAirAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/ForwardAirLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.ForwardingPortMessaging.DAKOSY" additivity="false">
		<level value="INFO" />
		<appender-ref ref="DAKOSYAppender" />
	</logger>

	<appender name="DAKOSYAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/FPM_DAKOSYLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

  <logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.ForwardingPortMessaging.NGB" additivity="false">
    <level value="INFO" />
    <appender-ref ref="NGBAppender" />
  </logger>

  <appender name="NGBAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/FPM_NGBLogs.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.ForwardingPortMessaging.TNPA" additivity="false">
    <level value="INFO" />
    <appender-ref ref="TNPAAppender" />
  </logger>

  <appender name="TNPAAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/FPM_TNPALogs.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>


  <logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.ForwardingPortMessaging.PortBase" additivity="false">
		<level value="INFO" />
		<appender-ref ref="PortBaseAppender" />
	</logger>

	<appender name="PortBaseAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/FPM_PortBaseLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.JPCustoms" additivity="false">
		<level value="INFO" />
		<appender-ref ref="JPCustomsAppender" />
	</logger>

	<appender name="JPCustomsAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/JPCustomsLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.NZCustoms" additivity="false">
		<level value="INFO" />
		<appender-ref ref="NZCustomsAppender" />
	</logger>

	<appender name="NZCustomsAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/NZCustomsLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.OceanTracing" additivity="false">
		<level value="INFO" />
		<appender-ref ref="OceanTracingAppender" />
	</logger>

	<appender name="OceanTracingAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/OceanTracingLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.RailincMessaging" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RailincMessagingAppender" />
	</logger>

	<appender name="RailincMessagingAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/RailincMessagingLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

  <logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.OceanCarrierMessaging.ServiceProviderShippingInstructions" additivity="false">
    <level value="INFO" />
    <appender-ref ref="ServiceProviderShippingInstructionsAppender" />
  </logger>

  <appender name="ServiceProviderShippingInstructionsAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/OCM_ServiceProviderShippingInstructionsLogs.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.OceanCarrierMessaging.ShippingInstructionReceived" additivity="false">
		<level value="INFO" />
		<appender-ref ref="ShippingInstructionReceivedAppender" />
	</logger>

	<appender name="ShippingInstructionReceivedAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/ShippingInstructionReceivedLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.OceanCarrierMessaging.ShippingInstructionSent" additivity="false">
		<level value="INFO" />
		<appender-ref ref="ShippingInstructionSentAppender" />
	</logger>

	<appender name="ShippingInstructionSentAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/ShippingInstructionSentLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.ShippingPortMessaging" additivity="false">
		<level value="INFO" />
		<appender-ref ref="ShippingPortMessagingAppender" />
	</logger>

	<appender name="ShippingPortMessagingAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/ShippingPortMessagingLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.Test" additivity="false">
		<level value="INFO" />
		<appender-ref ref="TestAppender" />
	</logger>

	<appender name="TestAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/TestLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.USCustoms" additivity="false">
		<level value="INFO" />
		<appender-ref ref="USCustomsAppender" />
	</logger>

	<appender name="USCustomsAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/USCustomsLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.SGCustoms" additivity="false">
		<level value="INFO" />
		<appender-ref ref="SGCustomsAppender" />
	</logger>

	<appender name="SGCustomsAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/SGCustomsLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.ZACustoms" additivity="false">
		<level value="INFO" />
		<appender-ref ref="ZACustomsAppender" />
	</logger>
	
	<appender name="ZACustomsAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/ZACustomsLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>
	
	<logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.OceanCarrierMessaging.VGMReceived" additivity="false">
		<level value="INFO" />
		<appender-ref ref="VGMReceivedAppender" />
	</logger>

	<appender name="VGMReceivedAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/VGMReceivedLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.ForwardingPortMessaging.TPT" additivity="false">
		<level value="INFO" />
		<appender-ref ref="TPTAppender" />
	</logger>

	<appender name="TPTAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/TPTLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

  <logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.OceanCarrierMessaging.CBRReceived" additivity="false">
    <level value="INFO" />
    <appender-ref ref="OCM_CBRReceived" />
  </logger>

  <appender name="OCM_CBRReceived" type="log4net.Appender.RollingFileAppender">
    <file value="logs/OCM_CBRReceivedLogs.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.OceanCarrierMessaging.CSIReceived" additivity="false">
    <level value="INFO" />
    <appender-ref ref="OCM_CSIReceived" />
  </logger>

  <appender name="OCM_CSIReceived" type="log4net.Appender.RollingFileAppender">
    <file value="logs/OCM_CSIReceived.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.OceanCarrierMessaging.CVGReceived" additivity="false">
    <level value="INFO" />
    <appender-ref ref="OCM_CVGReceived" />
  </logger>

  <appender name="OCM_CVGReceived" type="log4net.Appender.RollingFileAppender">
    <file value="logs/OCM_CVGReceivedLogs.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <logger name="CargoWise.eServices.Billing.Collector.eHub.WindowsService.Plugins.OceanCarrierMessaging.CSRSent" additivity="false">
    <level value="INFO" />
    <appender-ref ref="OCM_CSRSent" />
  </logger>
  <appender name="OCM_CSRSent" type="log4net.Appender.RollingFileAppender">
    <file value="logs/OCM_CSRSentLogs.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>
</log4net>