<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingTransportWithMessageCredentialCertificate">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificate">
          <clientCredentials>
            <clientCertificate findValue="5f634ee75176c1b1461116a4ccb622c9" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySerialNumber" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://syd-wikb-2.corporate.cargowise.com/JPCustomsReply/JPCustomsReplyService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingTransportWithMessageCredentialCertificate" behaviorConfiguration="ClientCertificate" contract="CargoWise.eHub.Products.JPCustoms.Client.IJPCustomsReply" name="JPCustomsReplyService" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="IssueManagerUri" value="" />
    <add key="IssueManagerKey" value="JP Customs Pull Service" />
    <add key="ReportToIssueManagerIntervalInMinutes" value="0" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Rhino.Mocks" publicKeyToken="0b3305902db7183f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.0.0" newVersion="3.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>