<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~\CargoWise.eHub.Products.JPCustoms.PullService.log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <add key="AuditLogFolder" value="C:\Services\JPCustoms\AuditLog\Pull\" />
    <add key="FileNamePattern" value="JPCustoms_Pull_AuditLog_{0}.txt" />
    <add key="PullIntervalInMinutes" value="1" />
    <add key="Server" value="localhost" />
    <add key="Port" value="13000" />
    <add key="UserName" value="JPCustoms" />
    <add key="Password" value="test" />
    <add key="HeaderLineNumberToSkip" value="9" />
    <add key="log4net.Internal.Debug" value="true" />
    <add key="IssueManagerUri" value="" />
    <add key="IssueManagerKey" value="" />
    <add key="ReportToIssueManagerIntervalInMinutes" value="15" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingTransportWithMessageCredentialCertificate">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IWCFLogger">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificate">
          <clientCredentials>
            <clientCertificate findValue="f49752b4f21ca23eca79ad936a554672c01b745a" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://sydbiztalk-test.wisegrid.net/JPCustomsReply/JPCustomsReplyService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingTransportWithMessageCredentialCertificate" behaviorConfiguration="ClientCertificate" contract="CargoWise.eHub.Products.JPCustoms.Client.IJPCustomsReply" name="JPCustomsReplyService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
