<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<clear/>
		<add name="eHubTransactionsContext" connectionString="Data Source=eHub-test.db.sand.wtg.zone;App=eHubAdmin;Initial Catalog=eHubTransactions;User=eHubAdmin;Password=$DBPassword$;ApplicationIntent=ReadOnly;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="eHubTransactionsWritableContext" connectionString="Data Source=eHub-test.db.sand.wtg.zone;App=eHubAdmin;Initial Catalog=eHubTransactions;User=eHubAdmin;Password=$DBPassword$;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="eHubArchiveOnlineSecondaryContext" connectionString="Data Source=eHub-test.db.sand.wtg.zone,1435;App=eHubAdmin;Initial Catalog=eHubArchiveOnlineView;User=eHubAdmin;Password=$DBPassword$;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
	<appSettings>
		<add key="MaxMessagesInPage" value="50" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
	</appSettings>
	<system.web>
		<authentication mode="Windows" xdt:Transform="InsertIfMissing" />
		<authorization xdt:Transform="Replace" >
			<deny users="?"/>
			<allow roles="g_eHubadminwebsiteusers_Entra"/>
			<deny users="*"/>
		</authorization>
	</system.web>
</configuration>