<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <clear/>
    <add name="CargoWise.eHub.DataAccess.Sql.eHubTransactions"
         connectionString="Data Source=ehubtransactions.db.wisegrid.net;Initial Catalog=eHubTransactions;App=GBCustoms InboundMessage;User Id=GBCusInboundWS;Password=$DatabasePassword$"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)"/>
    <add name="eHubTransactionsContext"
         connectionString="Data Source=ehubtransactions.db.wisegrid.net;Initial Catalog=eHubTransactions;App=GBCustoms InboundMessage;User Id=GBCusInboundWS;Password=$DatabasePassword$"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>