source https://proget.wtg.zone/nuget/Gallery/v3/index.json
source https://proget.wtg.zone/nuget/WTG-Internal/v3/index.json

# This filters out extra supporting libraries from .NET Core that
# we don't care about (yet).

# This is our list of packages.
# If you know what you're doing, manually add an entry.
# If you don't, use "paket.exe add nuget <package> --no-install".
# Use "dotnet tool run paket update --no-install" to update paket.lock.
# Use "dotnet tool run paket restore" to update the package cache above
#
# DO NOT UPDATE paket.lock BY HAND!
#

group VisualStudio2017
	source https://proget.wtg.zone/nuget/Gallery/v3/index.json
	framework: net45
	lowest_matching: true

	nuget Microsoft.TeamFoundationServer.ExtendedClient >= 15.0