<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="Log" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="logs/jpcustomsgateway.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="20" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%4thread] %-5level - %message%newline" />
    </layout>
    <threshold value="INFO" />
    <preserveLogFileNameExtension value="true" />
  </appender>

  <appender name="WcfAppender" type="WCFAppender_log4net.WCFAppender, WCFAppender-log4net">
    <BindingType>HTTP</BindingType>
    <BindingConfigurationName>BasicHttpBinding_IWCFLogger</BindingConfigurationName>
    <RenderOnClient>False</RenderOnClient>
    <URL>https://syd-wikb-2.corporate.cargowise.com/Log4NetWCFService/WCFService.svc</URL>
  </appender>

  <root>
    <level value="INFO" />
    <appender-ref ref="Log" />
    <appender-ref ref="WcfAppender" />
  </root>

</log4net>