<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~\CargoWise.eHub.Products.JPCustoms.Gateway.log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <add key="UserName" value="cargowise" />
    <add key="Password" value="$password$" />
    <add key="AuditLogFolder" value="C:\Services\JPCustoms\AuditLog\Send\" />
    <add key="FileNamePattern" value="JPCustoms_Send_AuditLog_{0}.txt" />
    <add key="SmtpServerName" value="127.0.0.1" />
    <add key="SmtpServerPort" value="25" />
    <add key="EmailFrom" value="sender@test.com" />
    <add key="EmailTo" value="japan@test.com" />
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Temp\log4netJPCustomsGateway.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicTransportWithMessageCredential" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1048576" maxBufferPoolSize="524288" maxReceivedMessageSize="1048576" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="1048576" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IWCFLogger">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BehaviourMetaData">
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="CargoWise.eHub.Products.JPCustoms.Gateway.UserCredentialValidator, CargoWise.eHub.Products.JPCustoms.Gateway, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4f570df270576350" />
          </serviceCredentials>
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="BehaviourMetaData" name="CargoWise.eHub.Products.JPCustoms.Gateway.MessageGateway">
        <endpoint binding="basicHttpBinding" contract="CargoWise.eHub.Products.JPCustoms.Gateway.IMessageGateway" bindingConfiguration="BasicTransportWithMessageCredential" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="AF08829B84F0328E" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <add path="wtg/status" verb="*" type="CargoWise.eHub.Products.JPCustoms.Gateway.HealthCheckService.JPGatewayServiceHealthCheckHttpTaskAsyncHandler" name="JPGatewayServiceHealthCheckHttpTaskAsyncHandler" />
    </handlers>
  </system.webServer>
  <system.web>
    <customErrors defaultRedirect="~/CustomErrorPage.aspx" mode="On" redirectMode="ResponseRewrite" />
  </system.web>
</configuration>