<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Server" value="MAIL.PROD.NACCS6"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Port" value="110"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UserName" value="S0800101@MAIL.PROD.NACCS6"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Password" value="$password$"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="log4net.Internal.Debug" value="false"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IssueManagerUri" value="https://errors.cargowise.net/"
      xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IssueManagerKey" value="JPCustoms pull service"
      xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint 
        address="https://biztalk-ausyd.cargowise.net/JPCustomsReply/JPCustomsReplyService.svc" 
        binding="basicHttpBinding" 
        bindingConfiguration="BasicHttpBindingTransportWithMessageCredentialCertificate" 
        behaviorConfiguration="ClientCertificate" 
        contract="CargoWise.eHub.Products.JPCustoms.Client.IJPCustomsReply" 
        name="JPCustomsReplyService"
        xdt:Transform="SetAttributes" 
        xdt:Locator="Match(name)" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificate">
            <clientCredentials>
              <clientCertificate
                findValue="5ab35f46a14897c60a9a9f8bd2c4e29f02bba717"
                storeLocation="LocalMachine"
                storeName="My"
                x509FindType="FindByThumbprint"
                xdt:Transform="SetAttributes" xdt:Locator="Condition(@storeLocation='LocalMachine' and @storeName='My')"
              ></clientCertificate>
            </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>