<?xml version="1.0" encoding="utf-8"?>
<!-- Please do not touch this file. For debugging purposes only -->
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.SignalR.Client" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.9.0.0" newVersion="2.4.3.0" />
				<codeBase version="2.4.3.0" href=".\Microsoft.AspNet.SignalR.Client.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
				<codeBase version="13.0.0.0" href=".\Newtonsoft.Json.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Resources.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="RemotePrinting.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="RemotePrinting.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<RemotePrinting.Client.Properties.Settings>
			<setting name="RemotePrinting_Client_RemotePrintServer_RemotePrintingService" serializeAs="String">
				<value>http://localhost/ediWebPrint/RemotePrintingService.asmx</value>
			</setting>
		</RemotePrinting.Client.Properties.Settings>
	</applicationSettings>
	<userSettings>
		<RemotePrinting.Client.Properties.Settings>
			<setting name="AutoStart" serializeAs="String">
				<value>False</value>
			</setting>
		</RemotePrinting.Client.Properties.Settings>
	</userSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
