source https://proget.wtg.zone/nuget/Gallery/v3/index.json
source https://proget.wtg.zone/nuget/WTG-Internal/v3/index.json

storage: none
framework: auto-detect
lowest_matching: false

nuget Microsoft.Extensions.Hosting.WindowsServices
nuget Microsoft.Extensions.Options.DataAnnotations
nuget Serilog.Enrichers.Environment
nuget Serilog.Enrichers.Thread
nuget Serilog.Expressions
nuget Serilog.Extensions.Hosting
nuget Serilog.Settings.Configuration
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.EventLog
nuget Serilog.Sinks.File
nuget Microsoft.NET.Test.Sdk
nuget Moq
nuget NUnit
nuget NUnit.Analyzers
nuget coverlet.collector
nuget NUnit3TestAdapter
nuget ProcRoll
nuget WireMock.Net