[*.cs]

# CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = warning

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = warning

# CW1161: ResGetStringAnalyzer - not required for ENTERPRISE\PRODUCT\DATATOOLS\DBBACKUPANDRESTORE
dotnet_diagnostic.CW1161.severity = none
