<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="secure">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://SYDSP-SBIL-1.sand.wtg.zone/billing/BillingService.svc"
          binding="basicHttpBinding" bindingConfiguration="secure"
          contract="BillingServiceReference.IBillingService" name="billing_service" />
    </client>
  </system.serviceModel>
</configuration>