body {
	font-family: 'DM Sans',sans-serif
}

.header {
	font-weight: bold;
	color: #371ee1;
	margin: 1%;
	font-size: 23px;
}

.sub-header {
	font-weight: bold;
	color: #371ee1;
	margin: 1%;
	font-size: 17px;
}

.support-label {
	font-weight: bold;
	color: black;
	position: absolute;
	left: 5%;
	font-size: 15px;
}

.support-value {
	color: black;
	position: absolute;
	left: 25%;
	font-size: 15px;
}

.support-info {
	margin: 14px;
	display: table-caption;
}

#DebugConsole {
	visibility: hidden;
}

#PageFooter {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0.5rem;
	background-color: #efefef;
	text-align: center;
	margin-top: 10px;
}

.SupportGrid {
	padding: 5px;
	border-collapse: collapse;
	border: 1px solid #999999;
	font-size: 13px;
	margin-bottom: 1%;
}

.SupportGrid_Empty {
	padding: 1px;
	border-collapse: collapse;
	border: 0px;
	font-size: 11px;
}

.SupportGrid td {
	border: 1px solid #999999;
	padding: 5px;
}

.SupportHeader {
	font-weight: bold;
	background: #eee none;
	color: inherit;
	text-align: center;
	padding-left: 2px;
	padding-right: 2px;
}

.SupportCell {
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid #999999;
}

.support-validator {
	color: red;
	font-size: 11px;
	padding-left: 12px;
	font-weight: bold;
}

.PopupButton {
	vertical-align: top !important;
}

.clientlog-label {
	font-size: 14px;
	padding: 9px;
	vertical-align: top;
}

.clientlog-label > span > span {
	vertical-align: top;
}

.ZFindBox {
	z-index: 999;
	position: absolute;
	height: 200px;
	width: 200px;
}

.ZIFramePage {
	background: #F5F5F5;
	padding: 10px;
	margin: 1px;
	border: 1px solid #999999;
}

.ZIFramePage form {
	margin-bottom: 0px;
}
