# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
# severity levels are found here: https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/configuration-options#severity-level

# C# files
[*.cs]

# configure 'SA1210:Using directives should be ordered alphabetically by the namespaces' to be an error
# this overrides the default of 'warning'
dotnet_diagnostic.SA1210.severity = error

# now configure 'SA1210:Using directives should be ordered alphabetically by the namespaces' to be suppressed, by category
# however, this category definition should be overridden by the analyzer-specific configuration above.
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.OrderingRules.severity = suggestion
