<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths" >
<head>
	<link href="../../../../eHubAdmin/Content/bootstrap-theme.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/bootstrap-toggle.min.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/awesome-bootstrap-checkbox.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/site.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/core.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/resizable.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/selectable.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/accordion.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/autocomplete.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/button.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/dialog.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/slider.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/tabs.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/datepicker.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/progressbar.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/theme.css" rel="stylesheet" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="">
    <div class="container body-content">

        <h2>CW1_DOWNLOAD</h2>
    <div>
            <h4>Details</h4>
            <hr>
            <dl class="dl-horizontal">
                <dt>
                    ID
                </dt>
                <dd>
                    CW1_DOWNLOAD
                </dd>
                <dt>
                    Description
                </dt>
                <dd>
                    Monitoring CW1 client message not downloaded
                </dd>
                <dt>
                    Alert Delay
                </dt>
                <dd>
                    30
                </dd>
                <dt>
                    Type
                </dt>
                <dd>
                    Custom
                </dd>
                <dt>
                    Enabled
                </dt>
                <dd>
                    <input checked="checked" class="check-box" disabled="disabled" type="checkbox">
                </dd>
                <dt>
                    <span id="SubItem">SubItem</span>
                </dt>
                <dd>
                    <table class="table" style="width:30%">
						<tbody>
							<tr>
		                        <th>SubItem ID</th>
		                        <th>Age</th>
		                        <th>Queue</th>
	                        </tr>
	                        <tr>
	                            <td>ROBDEUPRD</td>
	                            <td>120</td>
		                        <td>1</td>
							</tr>
						</tbody>
                    </table>
                </dd>
	            <dt>
		            Maintenance Start Day
	            </dt>
	            <dd>
	            </dd>
	            <dt>
		            Maintenance Start Time
	            </dt>
	            <dd>
	            </dd>
	            <dt>
		            Maintenance End Day
	            </dt>
	            <dd>
	            </dd>
	            <dt>
		            Maintenance End Time
	            </dt>
	            <dd>
	            </dd>
                <dt>
                    UTC Time
                </dt>
                <dd>
                    <label>
                        <input checked="True" id="isUTCTimeCheckbox" name="isUTCTimeCheckbox" onchange="handleChange()" type="checkbox" value="true"><input name="isUTCTimeCheckbox" type="hidden" value="false">
                    </label>
                </dd>
                <dt>
                    Notes
                </dt>
                <dd>
                </dd>
            </dl>
        </div>
	    <div id="list" class="table-responsive" style="display: none;">
            <table id="list-table" class="table">
                <tbody>
                    <tr>
                        <th></th>
                        <th></th>
                        <th class="left-border center-align" colspan="2"><font size="+1">Received in eHub Inbox</font><span class="more-info glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Message is received into the eHub’s Inbox from an external system (i.e. CW1, Third Party etc.)" title="" data-original-title="Received in eHub Inbox"></span></th>
                        <th class="left-border center-align" colspan="2"><font size="+1">Sent to eHub Outbox</font><span class="more-info glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Message is processed and delivered to eHub’s Outbox, ready for an external system to receive it." title="" data-original-title="Sent to eHub Outbox"></span></th>
                        <th class="left-border" colspan="5"></th>
                    </tr>
                    <tr>
                        <th style="border-top:none">Received (UTC)</th>
                        <th style="border-top:none">Received (Local Time)</th>
                        <th class="left-border" style="border-top:none">Sender</th>
                        <th style="border-top:none">Recipient</th>
                        <th class="left-border" style="border-top:none">Sender</th>
                        <th style="border-top:none">Recipient</th>
                        <th class="left-border" style="border-top:none">Delivered</th>
                        <th style="border-top:none">Code</th>
                        <th style="border-top:none">Status</th>
                        <th style="border-top:none"></th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="list-loader" class="loader" style="display: none;">
            <img class="glyphicon" height="25" width="25" src="/Content/Images/ajax-loader.gif" alt="Loading...">
        </div>
	    <p>
            <a href="/Monitors/Edit/CW1_DOWNLOAD">Edit</a> |
            <a href="/Monitors">Back to List</a>
        </p>
	    <footer></footer>
    </div>
</body>
</html>
