<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths" >
<head>
	<link href="../../../../eHubAdmin/Content/bootstrap-theme.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/bootstrap-toggle.min.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/awesome-bootstrap-checkbox.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/site.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/core.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/resizable.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/selectable.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/accordion.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/autocomplete.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/button.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/dialog.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/slider.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/tabs.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/datepicker.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/progressbar.css" rel="stylesheet" />
	<link href="../../../../eHubAdmin/Content/themes/base/theme.css" rel="stylesheet" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="">
    <div class="container body-content">

        <h2>AIR_OUT_Descartes</h2>
    <div>
            <h4>Details</h4>
            <hr>
            <dl class="dl-horizontal">
                <dt>
                    ID
                </dt>
                <dd>
                    AIR_OUT_Descartes
                </dd>
                <dt>
                    Description
                </dt>
                <dd>
                    Air messaging Outbound
                </dd>
                <dt>
                    Alert Delay
                </dt>
                <dd>
                    15
                </dd>
                <dt>
                    Type
                </dt>
                <dd>
                    OutboxRecipient
                </dd>
                <dt>
                    <span>Recipients IDs</span>
                </dt>
                <dd>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/Messages?RecipientOutbox=Descartes&amp;Status=Not%20Delivered" target="_blank">Descartes</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
                <dt>
                    Enabled
                </dt>
                <dd>
                    <input checked="checked" class="check-box" disabled="disabled" type="checkbox">
                </dd>
                <dt>
                    Age
                </dt>
                <dd>
                    [AGE]
                </dd>
                <dt>
                    Queue
                </dt>
                <dd>
	                2
                </dd>
	            <dt>
		            Maintenance Start Day
	            </dt>
	            <dd>
	            </dd>
	            <dt>
		            Maintenance Start Time
	            </dt>
	            <dd>
	            </dd>
	            <dt>
		            Maintenance End Day
	            </dt>
	            <dd>
	            </dd>
	            <dt>
		            Maintenance End Time
	            </dt>
	            <dd>
	            </dd>
                <dt>
                    UTC Time
                </dt>
                <dd>
                    <label>
                        <input checked="True" id="isUTCTimeCheckbox" name="isUTCTimeCheckbox" onchange="handleChange()" type="checkbox" value="true"><input name="isUTCTimeCheckbox" type="hidden" value="false">
                    </label>
                </dd>
                <dt>
                    Notes
                </dt>
                <dd>
                </dd>
            </dl>
        </div>
	    <div id="list" class="table-responsive" style="display: block;">
            <table id="list-table" class="table">
                <tbody>
                    <tr>
                        <th></th>
                        <th></th>
                        <th class="left-border center-align" colspan="2"><font size="+1">Received in eHub Inbox</font><span class="more-info glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Message is received into the eHub’s Inbox from an external system (i.e. CW1, Third Party etc.)" title="" data-original-title="Received in eHub Inbox"></span></th>
                        <th class="left-border center-align" colspan="2"><font size="+1">Sent to eHub Outbox</font><span class="more-info glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Message is processed and delivered to eHub’s Outbox, ready for an external system to receive it." title="" data-original-title="Sent to eHub Outbox"></span></th>
                        <th class="left-border" colspan="5"></th>
                    </tr>
                    <tr>
                        <th style="border-top:none">Received (UTC)</th>
                        <th style="border-top:none">Received (Local Time)</th>
                        <th class="left-border" style="border-top:none">Sender</th>
                        <th style="border-top:none">Recipient</th>
                        <th class="left-border" style="border-top:none">Sender</th>
                        <th style="border-top:none">Recipient</th>
                        <th class="left-border" style="border-top:none">Delivered</th>
                        <th style="border-top:none">Code</th>
                        <th style="border-top:none">Status</th>
                        <th style="border-top:none"></th>
                    </tr>
                    <tr class="list-detail warning" onclick="ExtendAccordionViewPopulate({ PK: '5f9f2e30-c34b-433a-a98f-dc1424604f20', AM_PK: '', Ref: '637451424000000000'}, event, this)">
                        <td>2021-01-02 00:00:00</td>
                        <td class="received-local-time">2021-01-02 11:00:00</td>
                        <td class="left-border-td">
                            HYETSTTST            <span class="more-info glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Category: WiseTech&#10;System: Enterprise&#10;" title="" data-original-title="HYETSTTST"></span>
                        </td>
                        <td>
                            eHubAirService            <span class="more-info glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Category: WiseTech&#10;System: eHub&#10;" title="" data-original-title="eHubAirService"></span>
                        </td>

                        <td class="left-border-td">
                            HYETSTTST
                            <span class="more-info glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Category: WiseTech&#10;System: Enterprise&#10;" title="" data-original-title="HYETSTTST"></span>
                        </td>
                        <td>
                            Descartes
                            <span class="more-info glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Category: WiseTech&#10;System: eHub&#10;" title="" data-original-title="Descartes"></span>
                        </td>
                        <td class="left-border-td">
                        </td>
                        <td>
                            CIM
                            <span class="more-info glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Code Description: Air Messaging&#10;Message Type: http://TestMessageType" title="" data-original-title="Application Code"></span>
                        </td>
                        <td>
                            Sending          <span class="more-info glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Inbox: 2 - (Sending)&#10;Outbox: 1 - (Sending)" title="" data-original-title="Status"></span>
                        </td>
                        <td id="accordionButton" style="cursor: pointer;">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </td>
                        <td id="messageDetailsTab">
                            <a class="glyphicon glyphicon-align-justify" href="/Messages/Details?EI_PK=5f9f2e30-c34b-433a-a98f-dc1424604f20&amp;Ref=637451424000000000" target="_blank"> </a>
                        </td>
                    </tr>
                    <tr class="list-detail accordion" style="display: none;">
                        <td class="accordionView warning" colspan="100" style="padding: 0px; max-width: 1840px;">
                            <div id="list-loader-accordion" class="loader" style="background-color: rgba(255,255,255,0.7); ">
                                <img class="glyphicon" height="22" width="22" src="/Content/Images/ajax-loader.gif" alt="Loading...">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><div id="list-footer">
            <button class="btn btn-default" type="button" onclick="LoadList()" id="load-more-btn">Load More</button>
        </div>
        <div id="list-loader" class="loader" style="display: none;">
            <img class="glyphicon" height="25" width="25" src="/Content/Images/ajax-loader.gif" alt="Loading...">
        </div>
	    <p>
            <a href="/Monitors/Edit/AIR_OUT_Descartes">Edit</a> |
            <a href="/Monitors">Back to List</a>
        </p>
	    <footer></footer>
    </div>
</body>
</html>
