<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.serviceModel>
    <behaviors>
    <endpointBehaviors>
      <behavior name="jbms_credentials_behavior">
        <clientCredentialsExtension>
          <!--Subject: b2b.tsw.message.sig.cargowise-->
          <clientCertificate findValue="29b208cf06b7c37dfea11184bc3eb002a87ff65d" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" xdt:Transform="Replace"/>
          <!--Subject: b2b.tsw.mutual.ssl.cargowise.net-->
          <transportCertificate findValue="bf07985066a9facd4250f3cb517c00d519ba4f27" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" xdt:Transform="Replace"/>
          <serviceCertificate>
            <defaultCertificate findValue="7894509bf23730bd9183c9a89c75f13a2311b0ba" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint" xdt:Transform="Replace"/>
            <authentication certificateValidationMode="None" trustedStoreLocation="LocalMachine" revocationMode="NoCheck" xdt:Transform="Replace"/>
          </serviceCertificate>
        </clientCredentialsExtension>
      </behavior>
    </endpointBehaviors>
  </behaviors>
    <client>
      <endpoint address="net.tcp://biztalk.wisecloud.zone:11811/NZCustomsReplyService/NZCustomsReply.svc" binding="customBinding" bindingConfiguration="NZCustomsReply" contract="CargoWise.eHub.Products.NZCustoms.Common.INZCustomsReply" name="NZCustomsReplyService"
                xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)"/>
      <endpoint address="https://b2b.tsw.govt.nz/soap?service=TSW_WS_REQUEST_LODGE_RESPONSE&amp;TP=CARGOWISE" binding="customBinding" bindingConfiguration="jbms_swa_binding" behaviorConfiguration="jbms_credentials_behavior" contract="RequestLodgeResponse_v1" name="RequestLodgeResponse"
                xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)">
        <identity>
          <dns value="b2b.tsw.message.sig.customs.govt.nz" xdt:Transform="Replace"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <!--system.diagnostics>
    <trace autoflush="true"/>

    <sources>
      <source name="System.Net" maxdatasize="10240">
        <listeners>
          <clear/>
          <add name="System.Trace"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets" maxdatasize="10240">
        <listeners>
          <clear/>
          <add name="System.Trace"/>
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add name="System.Trace" type="AlexTraceListeners.SafeCommonLoggingTraceListener, AlexTraceListeners" initializeData="DefaultTraceEventType=Verbose; LoggerNameFormat={listenerName}">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
      </add>
    </sharedListeners>

    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
    </switches>
  </system.diagnostics-->
  
</configuration>