/*
This file inherits all the styles from DefaultStyle.css
Please make sure that the following import link is present if you want to inherit default styles.
Any changes in fonts, colours, layout, etc. can be done via overriding CSS style elements after the import statement.

Good CSS guide is located at

http://www.htmlhelp.com/reference/css/

*/
@import url(DefaultStyle.css);

/* put your changes below this comment */


body
{
	background: #EFF2FF;  
	color: #6E7C90;
	padding: 0;  
	margin: 0;
	font-size: 11px;
}

#pagehead {
	height: 170px;
	border-bottom: 0px solid #ffffff;
}

a:hover
{
	color: Navy;
	background: inherit;
	font-weight: bold;
}

.DetailsCell a:hover
{
	font-weight: normal;
}

#topbar1 {
	color: #ffffff;
	background: url(images/banner.gif) repeat-x top right;
	height: 170px;
}

#topbar2 {
	color: #ffffff;
	background: url(images/topbg3.gif) no-repeat top right;
	height: 170px;
}

#menu
{
	font-size: 100%;
	line-height: 22px;
	top: 145px;
	left: 30px;
	color: #ffffff;
	font-weight: bold;
	background: url(images/MButt.gif) no-repeat;
}

#menu li 
{
	width: 8em;
	height: 22px;
	border: 0px solid #8c8c8c;
	color: #E8ECFF;
	background: url(images/MButt.gif) no-repeat;
}
	 
#menu a, #menu a:visited
{
	color: #ffffff;
	background: url(images/MButt.gif) no-repeat;
}

#menu a:hover  
{
	color: #ffffff;
	background: url(images/MButtH.gif) no-repeat;
}

#LoginStatusString
{
	position: absolute;
	color: #ffffff;
	background: none;
	top: 148px;
	right: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

#LoginStatusString a,
#LoginStatusString a:visited,
#LoginStatusString a:hover
{
	color: #ffffff;
	background: none;
}

.PageFooter {
	border-top: 0px solid #000086;
	border-bottom: 2px solid #C1C1C1;
	color: #ffffff;
	background: url(images/bar.gif);
}

#PageFooter a
{
	color: White;
	background: inherit;
}