/*
class the represents menu on the web site
menu is rendered as a unnumbered list and hence can be converted into 
just about any form - floating, fixed, horizontal, vertical, etc.
*/

#menu 
{
	font: 100%/22px Verdana, Arial, sans-serif;
	position : absolute;
	top: 46px; 
	left: 240px; 

	margin:0;
	padding: 0;

	font-weight: bold;
	color: red;
	background: inherit;
}

ul#menu, ul#menu ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}

#menu li
{
	border: 1px solid #999999;
	float: left;
	width: 8em;
	height: 2em;
	padding:0;
	color: inherit;
	background: #F5F5F5 none;
	text-align: center;
	text-decoration : none;
}
	 
#menu a
{
	color: inherit;
	background: inherit;
	width: 100%;
	display: block;
	text-decoration: none;
}

#menu a:visited
{
	color: inherit;	
	background: inherit;
}

#menu a:hover {
	color: white;
	background: #FF0101;
}

#menu li ul
{
	 display: none;
}

