USE [eHubTransactions]
GO
/****** Object:  StoredProcedure [dbo].[SelectAsyncPollingRegistrationPerStaffID]    Script Date: 3/01/2020 3:40:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================
-- Description:	Called by the BizTalk hub to return configuration for the 
--              requested registration Type
-- Returns:     A message content grouped records 
--
-- Parameters:
-- @RegistrationTypeId  The ID of the registration type
-- ==========================================================================
ALTER PROCEDURE [dbo].[SelectAsyncPollingRegistrationPerStaffID]
@RegistrationTypeId VARCHAR(50) = NULL
AS
BEGIN

	SET NOCOUNT ON;
	
	DECLARE @table TABLE (
		t_RT [UNIQUEIDENTIFIER] NOT NULL,
		t_EH [UNIQUEIDENTIFIER] NOT NULL,
		t_Text NVARCHAR(MAX),
		t_XML [XML] NULL)

	INSERT INTO @table
	SELECT PR_RT, PR_EH, [PR_Text],
		     '<Configuration>' + STRING_AGG(CONVERT(NVARCHAR(MAX), PR_XML.query('.')), '') + '</Configuration>' AS XMLConfig
	FROM [dbo].[eHubAsyncPollingRegistration] reg 
	INNER JOIN eHubRegistrationType regType	ON reg.PR_RT = regType.RT_PK
	WHERE ((reg.PR_RT IS NULL AND @RegistrationTypeId IS NULL) OR regType.RT_ID = @RegistrationTypeId)
			AND PR_XML.value('(/*:Config/*:State)[1]','varchar(max)') = '0'
	GROUP BY PR_RT, PR_EH, [PR_Text]

	SELECT regtype.[RT_ID] RegistrationTypeId, clisys.EH_ID ClientSystemId, [t_Text] StaffId, 
		     t_XML XMLConfigurations, clisys.EH_ID + '-' + [t_Text] as MutexId
	FROM @table reg 
	INNER JOIN eHubRegistrationType regType	ON reg.t_RT = regType.RT_PK
	INNER JOIN eHubClientSystem clisys ON reg.t_EH = clisys.EH_PK

END
