<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging, Version=3.4.1.0, Culture=neutral, PublicKeyToken=af08829b84f0328e, processorArchitecture=MSIL" />
    </sectionGroup>
    <section name="authWsExtensions" type="System.Configuration.NameValueSectionHandler"/>
    <section name="sensitiveAppSettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="billingKafkaClientSettings" type="System.Configuration.DictionarySectionHandler"/>
    <section name="billingKafkaProducerSettings" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <authWsExtensions>
    <add key="^(\w{9})(\w{3})?_CSW$" value="0"/>
    <add key="(.{9})_TCA" value="0"/>
  </authWsExtensions>
  <sensitiveAppSettings>
    <add key="GatewayKafkaSaslPassword" value="testsaslpassword"/>
  </sensitiveAppSettings>
  <billingKafkaClientSettings>
    <add key="bootstrap.servers" value="kafka-hosts"/>
    <add key="security.protocol" value="SaslSsl"/>
    <add key="enable.ssl.certificate.verification" value="true"/>
    <add key="sasl.mechanism" value="PLAIN"/>
    <add key="sasl.username" value="testUsername"/>
    <add key="ssl.ca.certificate.stores" value="ROOT"/>
    <add key="sasl.password" value="testpassword"/>
  </billingKafkaClientSettings>
  <billingKafkaProducerSettings>
    <add key="linger.ms" value="50"/>
    <add key="message.timeout.ms" value="5000"/>
  </billingKafkaProducerSettings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging, Version=3.4.1.0, Culture=neutral, PublicKeyToken=af08829b84f0328e, processorArchitecture=MSIL">
        <arg key="level" value="ALL" />
        <arg key="showLogName" value="true" />
        <arg key="showDateTime" value="false" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
  
  <appSettings>
    <add key="MessageLoggingFolder" value="FailedMessages" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="eServices.eHubDataAccess.EHubClientSystemAccessor" value="eServices.eHubDataAccess.Sql.EHubClientSystemAccessor, eServices.eHubDataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350" />
    <add key="eServices.eHubDataAccess.PartyAccessor, Version=3.0.0.0" value="eServices.eHubDataAccess.Sql.PartyAccessor, eServices.eHubDataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>
    <add key="CargoWise.eServices.Authentication.ServiceClient.Endpoint" value="" />
    <add key="CargoWise.eServices.Authentication.ServiceClient.CacheDuration​" value="300" />
    <add key="USCustomsLicenceOverrideToProd" value="TEST_USC,USC_SHCK_REPO"/>
    <add key="BillingKafkaTopic" value="billing-topic" />
    <add key="BillingUsageKafkaTopic" value="billing-usage-topic" />
    <add key="KafkaMessageTimeoutInSeconds" value="30" />
    <add key="IssueManagerCacheExpiration" value="300" />
    <add key="ExceptionReportTextSizeLimit" value="2000" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>