source https://proget.wtg.zone/nuget/Gallery/v3/index.json
source https://proget.wtg.zone/nuget/WTG-Internal/v3/index.json

framework: net48,net8.0,netstandard2.0
storage: none

# This is our list of packages.
# If you know what you're doing, manually add an entry.
# If you don't, use "dotnet paket add nuget<package> --no-install".
# Use "dotnet paket update --no-install" to update paket.lock.
# Use "dotnet paket restore" to update the package cache above
#
# DO NOT UPDATE paket.lock BY HAND!
#
nuget Confluent.Kafka 2.3.0
nuget Microsoft.Extensions.Logging 8.0.0
nuget Microsoft.NET.Test.Sdk 17.8.0
nuget NUnit 3.13.3
nuget NUnit3TestAdapter 4.5.0
nuget moq 4.17.2
nuget Microsoft.Extensions.Logging.Log4Net.AspNetCore 8.0.0
nuget XMLUnit.NUnit3.Constraints 2.9.2
nuget Microsoft.Extensions.Logging.Abstractions 8.0.0
nuget Microsoft.Extensions.Options 8.0.0
nuget WTG.ErrorReporting
