<?xml version="1.0"?>
<configuration>

  <system.web>
    <httpRuntime maxRequestLength="102400" executionTimeout="1200"/>
  </system.web>

  <system.net>
    <defaultProxy>
      <proxy bypassonlocal="True" usesystemdefault="false" proxyaddress="http://127.0.0.1:8888"/>
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <!-- This extension reads an attachment from Operation Context and put it to message as multipart MIME and vice versa -->
        <add name="swaMessageEncoding" type="CargoWise.eHub.Products.NZCustoms.SoapWithAttachments.SwaMessageEncodingElement, CargoWise.eHub.Products.NZCustoms.SoapWithAttachments, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4f570df270576350" />
        <!-- This extension removes signature from incoming message. This is a temporary measure becayse if jave/WCF interop incompatibility. -->
        <add name="RemoveResponseSignatureChannel" type="CargoWise.eHub.Products.NZCustoms.Client.SignatureRemoval.RemoveResponseSignatureChannelBindingElementExtensionElement, CargoWise.eHub.Products.NZCustoms.Client, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4f570df270576350"/>
      </bindingElementExtensions>
      <behaviorExtensions>
        <add name="clientCredentialsExtension" type="CargoWise.eHub.Products.NZCustoms.Client.Wcf.ClientCredentialsExtensionElement, CargoWise.eHub.Products.NZCustoms.Client, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4f570df270576350"/>
      </behaviorExtensions>
    </extensions>

    <bindings>
      <customBinding>

        <binding name="NZCustomsReply">
          <binaryMessageEncoding maxReadPoolSize="1024" maxWritePoolSize="1024">
            <readerQuotas maxDepth="1048576" maxStringContentLength="1048576" maxArrayLength="104857600" maxBytesPerRead="1048576" maxNameTableCharCount="1048576" />
          </binaryMessageEncoding>
          <tcpTransport manualAddressing="false" maxBufferPoolSize="1048576" maxReceivedMessageSize="104857600" connectionBufferSize="1048576" hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:00:05" maxBufferSize="1048576" maxPendingConnections="200" maxOutputDelay="00:00:00.2000000" maxPendingAccepts="200" transferMode="Buffered" listenBacklog="200" portSharingEnabled="false" teredoEnabled="false">
            <connectionPoolSettings groupName="default" leaseTimeout="00:05:00" idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="200" />
          </tcpTransport>
        </binding>
        
        <binding name="NZGatewayBinding" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" maxSessionSize="2048">
            <readerQuotas maxDepth="1048576" maxStringContentLength="10485760" maxArrayLength="104857600" maxBytesPerRead="1048576" maxNameTableCharCount="1048576" />
          </binaryMessageEncoding>
          <tcpTransport manualAddressing="false" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576000" connectionBufferSize="1048576"
              hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:00:05"
              maxBufferSize="1048576000" maxPendingConnections="200" maxOutputDelay="00:00:00.2000000"
              maxPendingAccepts="200" transferMode="Buffered" listenBacklog="200"
              portSharingEnabled="false" teredoEnabled="false">
            <connectionPoolSettings groupName="default" leaseTimeout="00:05:00" idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="200" />
          </tcpTransport>
        </binding>
        <binding name="jbms_swa_binding" sendTimeout="00:20:00" receiveTimeout="00:20:00" openTimeout="00:02:00" closeTimeout="00:02:00">
          <swaMessageEncoding innerMessageEncoding="textMessageEncoding" />
          <security allowSerializedSigningTokenOnReply="true" authenticationMode="MutualCertificate"
          requireDerivedKeys="false" securityHeaderLayout="Lax" includeTimestamp="false" enableUnsecuredResponse="true"
          keyEntropyMode="ClientEntropy" messageProtectionOrder="SignBeforeEncrypt"
          messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false"/>
            <localServiceSettings detectReplays="false"/>
            <secureConversationBootstrap>
              <localClientSettings detectReplays="false"/>
              <localServiceSettings detectReplays="false"/>
            </secureConversationBootstrap>
          </security>
          <RemoveResponseSignatureChannel/>
          <httpsTransport requireClientCertificate="true">
            <extendedProtectionPolicy policyEnforcement="Never" />
          </httpsTransport>
        </binding>
      </customBinding>

    </bindings>

    <services>
      <service name="CargoWise.eHub.Products.NZCustoms.Gateway.MessageGateway" behaviorConfiguration="httpGetEnabled">
        <endpoint binding="customBinding" bindingConfiguration="NZGatewayBinding" contract="CargoWise.eHub.Products.NZCustoms.Gateway.IMessageGateway"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="httpGetEnabled">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="jbms_credentials_behavior">
          <clientCredentialsExtension>
            <!-- Change this line to specify your client certificate -->
            <clientCertificate findValue="extb2b.tsw.message.sig.cargowise" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            <transportCertificate findValue="ehub-ausyd-test.cargowise.net" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            <serviceCertificate>
              <defaultCertificate findValue="extb2b.tsw.message.sig.customs" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectName"/>
              <authentication certificateValidationMode="None" trustedStoreLocation="LocalMachine" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentialsExtension>
        </behavior>
      </endpointBehaviors>

    </behaviors>

    <client>

      <endpoint address="net.tcp://syd-thub-1:11810/NZCustomsReplyService/NZCustomsReply.svc" binding="customBinding" bindingConfiguration="NZCustomsReply" contract="CargoWise.eHub.Products.NZCustoms.Common.INZCustomsReply" name="NZCustomsReplyService" />
      
      <endpoint address="https://syd-wikb-2.corporate.cargowise.com/eHubGateway/eHubStreamedService.svc"
        binding="customBinding"
        bindingConfiguration="jbms_swa_binding"
        behaviorConfiguration="jbms_credentials_behavior"
        contract="SubmitLodgement_v2"
        name="SubmitLodgement">
        <identity>
          <dns value="extb2b.tsw.message.sig.customs"/>
        </identity>
      </endpoint>

      <endpoint address="https://extb2b.tsw.govt.nz/soap?service=TSW_WS_REQUEST_LODGE_RESPONSE&amp;TP=CARGOWISE"
        binding="customBinding"
        bindingConfiguration="jbms_swa_binding"
        behaviorConfiguration="jbms_credentials_behavior"
        contract="RequestLodgeResponse_v1"
        name="RequestLodgeResponse">
        <identity>
          <dns value="extb2b.tsw.message.sig.customs"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.13.3.0" newVersion="3.13.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
