<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBrokerValidationService" />
                <binding name="BasicHttpBinding_IBrokerValidationService1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://avs-svs.inspection.gc.ca/avs/bvs.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBrokerValidationService"
                contract="AIRSValidationService.IBrokerValidationService"
                name="BasicHttpBinding_IBrokerValidationService" />
            <endpoint address="https://avs-svs.inspection.gc.ca/avs/bvs.svc/secure"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBrokerValidationService1"
                contract="AIRSValidationService.IBrokerValidationService"
                name="BasicHttpBinding_IBrokerValidationService1" />
        </client>
    </system.serviceModel>
</configuration>