<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CiscoUserName" value="otmmsf.gen" />
    <add key="CiscoPassword" value="otmmsf" />
    <add key="DisableSSLCertificateValidation" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="_B3" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="netTcpBindings" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:05:00" sendTimeout="00:20:00">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" maxSessionSize="2048">
            <readerQuotas maxDepth="1048576" maxStringContentLength="1048576" maxArrayLength="104857600" maxBytesPerRead="1048576" maxNameTableCharCount="1048576" />
          </binaryMessageEncoding>
          <tcpTransport manualAddressing="false" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576000" connectionBufferSize="1048576" hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:00:05" maxBufferSize="1048576000" maxPendingConnections="200" maxOutputDelay="00:00:00.2000000" maxPendingAccepts="200" transferMode="Buffered" listenBacklog="200" portSharingEnabled="false" teredoEnabled="false">
            <connectionPoolSettings groupName="default" leaseTimeout="00:05:00" idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="200" />
          </tcpTransport>
        </binding>
        <binding name="SendToBiztalk" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <binaryMessageEncoding maxReadPoolSize="1024" maxWritePoolSize="1024" maxSessionSize="2048">
            <readerQuotas maxDepth="1048576" maxStringContentLength="1048576" maxArrayLength="104857600" maxBytesPerRead="1048576" maxNameTableCharCount="1048576" />
          </binaryMessageEncoding>
          <tcpTransport manualAddressing="false" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576000" connectionBufferSize="1048576" hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:00:05" maxBufferSize="104857600" maxPendingConnections="50" maxOutputDelay="00:00:00.2000000" maxPendingAccepts="50" transferMode="Streamed" listenBacklog="50" portSharingEnabled="false" teredoEnabled="false">
            <connectionPoolSettings groupName="default" leaseTimeout="00:05:00" idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="50" />
          </tcpTransport>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BehaviourMetaData">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="BehaviourMetaData" name="CargoWise.eHub.Clients.TRX.CiscoWebService.SendToService">
        <endpoint address="" binding="customBinding" contract="CargoWise.eHub.Share.eHubServices.eHubSender.Common.ISendToService" bindingConfiguration="netTcpBindings" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <client>
      <endpoint address="http://localhost/CargoWise.eHub.Clients.TRX.CiscoWebService/_B3" binding="basicHttpBinding" bindingConfiguration="_B3" contract="_B3" name="_B3" />
      <endpoint address="net.tcp://localhost/SendToBiztalk/Send.svc" binding="customBinding" bindingConfiguration="SendToBiztalk" contract="CargoWise.eHub.Share.eHubServices.eHubSender.ISendToBiztalk" name="SendToBiztalkService" />
    </client>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="300000" maxSizeOfMessageToLog="200000" />
    </diagnostics>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\temp\wcf_messages.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>