.ribbonbutton {
	all: unset;
	border-radius: 2px;
	display: flex;
	margin-bottom: -1px;
	z-index: 99;
	box-sizing: border-box;
	border: 1px solid transparent;
	outline: 1px solid transparent;
}

.ribbonbutton[data-checked] {
	background: linear-gradient(0deg, #ffc45d 60%, #ffde9a 80%);
	outline: 1px solid #d9a74f;
}

.ribbonbutton[data-checked]:not([disabled]):active:not(:hover), .ribbonbutton[data-checked]:not([disabled]):not(:active):hover {
	background: linear-gradient(0deg, #ffc45d 60%, #fddeb8 80%);
	outline: 1px solid #d9a74f;
}

.ribbonbutton:not([data-checked]):not([disabled]):active:not(:hover), .ribbonbutton:not([data-checked]):not([disabled]):not(:active):hover {
	background: linear-gradient(0deg, #ffd482 60%, #fee6ca 80%);
	border: 1px solid #fee6ca;
	outline: 1px solid #ffc45d;
}

.ribbonbutton:not([data-checked]):not([disabled]):active:hover {
	background: linear-gradient(0deg, #d9a74f 60%, #ffc45d 80%);
	outline: 1px solid #d9a74f;
}

.ribbonbutton[data-checked]:not([disabled]):active:hover {
	background: linear-gradient(0deg, #e7c07d 60%, #e3b667 80%);
	outline: 1px solid #d9a74f;
}

.ribbonbutton--large {
	flex-direction: column;
	height: 58px;
	min-width: 58px;
	align-items: center;
	max-width: 100px;
}

.ribbonbutton--large > .ribbonbutton__image {
	width: 32px;
	height: 32px;
}

.ribbonbutton--large > .ribbonbutton__label {
	text-align: center;
	height: 28px;
}

.ribbonbutton--small {
	flex-direction: row;
	height: 22px;
	align-items: center;
}

.ribbonbutton--small > .ribbonbutton__image {
	width: 16px;
	height: 16px;
}

.ribbonbutton--small > .ribbonbutton__label {
	text-align: left;
	line-height: 22px;
	white-space: nowrap;
}

.ribbonbutton__dropdownarrow {
	width: 5px;
}

button:disabled,
button[disabled] {
	opacity: 0.5;
}
