.ribbon {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.ribbon__titlebar {
	height: 23px;
	width: 100%;
	border-bottom: solid #B9C9DA 1px;
	background: linear-gradient(180deg, rgba(255,253,250,1) 0%, rgba(255,248,239,1) 10%, rgba(255,229,197,1) 50%, rgba(255,232,203,1) 100%);
}

.ribbon__header {
	display: flex;
	justify-content: space-between;
	background-color: #FFE4C4;
}

.ribbon__headertabs {
	display: flex;
	flex-direction: row;
	gap: 5px;
	padding: 0 3px;
}

.ribbon__headerbutton {
	all: unset;
	border-radius: 3px 3px 0 0;
	display: flex;
	align-items: center;
	min-height: 22px;
	margin-top: 1px;
	box-sizing: content-box;
	position: relative;
}

.ribbon__headerbutton span {
	padding: 1px 9px 0 9px;
}

.ribbon__headerbutton--selected {
	background: linear-gradient(180deg, rgba(255,246,235,1) 0%, rgba(255,255,255,1) 100%);
	border: solid 1px #B9C9DA;
	border-bottom: 0;
}

.ribbon__headerbutton--selected::after {
	content: "";
	border-bottom: 2px solid #ffffff;
	width: 100%;
	display: block;
	height: 100%;
	position: absolute;
}
.ribbon__searchbox {
	margin: 2px;
}
