.ribbontab {
	background: linear-gradient(180deg, rgba(255,254,252,1) 0%, rgba(255,251,245,1) 10%, rgba(255,239,219,1) 50%, rgba(255,241,223,1) 100%);
	border: 1px solid #B9C9DA;
	display: flex;
	overflow-x: auto;
}
