[*.cs]

# CA1018: Mark attributes with AttributeUsageAttribute
dotnet_diagnostic.CA1018.severity = warning

# CA1813: Avoid unsealed attributes
dotnet_diagnostic.CA1813.severity = warning

[/*Test/**]

# CW1178: Do Not Invoke Old Res.GetString Methods
dotnet_diagnostic.CW1178.severity = none
