/* (c)2006 Cargowise edi, MIS  */ 

body, p, td {font-family: Arial, sans-serif; FONT-SIZE:12px; color:#444444;}


h1 {color:#00A4E4; font-family: Arial,Verdana; FONT-SIZE:19pt; font-weight:bold; margin: 2 20 2 0 px;}
h2 {color:#00A4E4; font-family: Arial,Verdana; FONT-SIZE:14pt;}
h3 {color:#00A4E4; font-family: Arial,Verdana; FONT-SIZE:13pt;  margin: 0 0 0 0 px;}
h4 {color:#00A4E4; font-family: Arial,Verdana; FONT-SIZE:12pt;}
h5 {color:#00A4E4; font-family: Arial,Verdana; FONT-SIZE:10pt;}
h6 {color:#00A4E4; font-family: Arial,Verdana; FONT-SIZE:8pt;}
h7 {color:#00A4E4; font-family: Arial,Verdana; FONT-SIZE:8pt; margin: 0 0 0 0 px;}

a {COLOR: #2c6aa5; FONT-SIZE:12px; FONT-FAMILY: Tahoma, Verdana, helvetica;}
a:hover {COLOR: #F89828; TEXT-DECORATION: none}


a.noul {TEXT-DECORATION: none}

a.oranj {color: #FF8906; FONT-SIZE:10px;}
a.oranj:hover {color: #0375CD;TEXT-DECORATION: none;}

a.n2 {color: gray; font-weight:bold; TEXT-DECORATION: none; FONT-SIZE:11px;}
a.n2:hover {color: #F89828; TEXT-DECORATION:none;}

a.n2ov {color: black; font-weight:bold; TEXT-DECORATION: none;}
a.n2ov:hover {color: #F89828; TEXT-DECORATION:none;}

a.ndow {color: #2c6aa5;TEXT-DECORATION: none;}
a.ndow:hover {COLOR: red;}


a.green {color: #005555; TEXT-DECORATION: none;}
a.green:hover {COLOR: green;}

a.silver {color: silver;}
a.silver:hover {COLOR: white;}

a.gray {color: gray;}
a.gray:hover {COLOR: F89828;}

a.maroon {color: maroon;TEXT-DECORATION: none;}
a.maroon:hover {COLOR: red; TEXT-DECORATION: none;}


a.black {color: black; TEXT-DECORATION: none;}
a.black:hover {COLOR: red}

a.white {color: white; TEXT-DECORATION: none;}
a.white:hover {COLOR: red}

a.white2 {color: #A6FFFF; TEXT-DECORATION: none;}
a.white2:hover {COLOR: #F89828}

a.white3 {color: #7EDDF2; TEXT-DECORATION: none;}
a.white3:hover {COLOR: #F89828}



.b {font-weight:bold;}
.txt_align_j {text-align:justify;}
.oranj-t {color:#FF8906}
.salat-t {color:#afe046}
.blue-t {color:#0263B0}
.red-t {color:#c10306}
.maroon-t {color:maroon}
.green-t {color:green}
.silver-t {color:silver}
.navy-t {color:navy}
.gray-t {color:#777777}
.black-t {color:black}
.white-t {color:#ffffff}
.white-t2 {color:#A6FFFF}
.white-t3 {color:#7EDDF2}


.title {color:#cccccc;  FONT-SIZE:11pt; font-family: Arial, Sans-Serif; }
.alert {color:red;  font-family: Arial, Sans-Serif; FONT-SIZE:8pt; }
.error {color:#c10306;  font-family: Arial, Sans-Serif; FONT-SIZE:16pt; text-align:justify;}


FORM {	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px}

input {
	BORDER-BOTTOM: #eaeaea 1px solid;
	BORDER-LEFT: #b1b1b1 1px solid;
	BORDER-RIGHT: #eaeaea 1px solid;
	BORDER-TOP: #b1b1b1 1px solid;
	COLOR: #2c6aa5;
	background-color : #F4F4F4;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 7.5pt;
	PADDING-BOTTOM: 1px;
	PADDING-LEFT: 1px;
	PADDING-RIGHT: 1px;
	PADDING-TOP: 1px;
}

select {
	BORDER-BOTTOM: #eaeaea 1px solid;
	BORDER-LEFT: #b1b1b1 1px solid;
	BORDER-RIGHT: #eaeaea 1px solid;
	BORDER-TOP: #b1b1b1 1px solid;
	COLOR: #2c6aa5;
	background-color : #F4F4F4;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 7.5pt;
	PADDING-BOTTOM: 1px;
	PADDING-LEFT: 1px;
	PADDING-RIGHT: 1px;
	PADDING-TOP: 1px;
}

options {
	BORDER-BOTTOM: #eaeaea 1px solid;
	BORDER-LEFT: #b1b1b1 1px solid;
	BORDER-RIGHT: #eaeaea 1px solid;
	BORDER-TOP: #b1b1b1 1px solid;
	COLOR: #2c6aa5;
	background-color : #F4F4F4;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 7.5pt;
	PADDING-BOTTOM: 1px;
	PADDING-LEFT: 1px;
	PADDING-RIGHT: 1px;
	PADDING-TOP: 1px;
}


input.radio{ border:0;}


textarea {
	BORDER-BOTTOM: #eaeaea 1px solid;
	BORDER-LEFT: #b1b1b1 1px solid;
	BORDER-RIGHT: #eaeaea 1px solid;
	BORDER-TOP: #b1b1b1 1px solid;
	COLOR: #2c6aa5;
	background-color : #F4F4F4;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 7.5pt;
	PADDING-BOTTOM: 1px;
	PADDING-LEFT: 1px;
	PADDING-RIGHT: 1px;
	PADDING-TOP: 1px;
}



/*.button {
	Color: #FFFFFF;
	Background-color : #F89828;
	FONT-SIZE: 7.5pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-weight : bold;
	BORDER-BOTTOM: #eaeaea 1px solid;
	BORDER-LEFT: #b1b1b1 1px solid;
	BORDER-RIGHT: #eaeaea 1px solid;
	BORDER-TOP: #b1b1b1 1px solid;
	PADDING-BOTTOM: 1px;
	PADDING-LEFT: 1px;
	PADDING-RIGHT: 1px;
	PADDING-TOP: 1px;
}*/