[*.cs]

# CA1018: Mark attributes with AttributeUsageAttribute
dotnet_diagnostic.CA1018.severity = warning

# CA1813: Avoid unsealed attributes
dotnet_diagnostic.CA1813.severity = warning

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = warning

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = warning

# IDE0002: Simplify member access.
dotnet_diagnostic.IDE0002.severity = warning

[*.{aspx,ascx}.cs]
dotnet_diagnostic.IDE0002.severity = none

[/Tracking.Web/**]
dotnet_diagnostic.IDE0002.severity = silent

[/Tracking.Web.Test/**]
dotnet_diagnostic.IDE0002.severity = silent

[*.{ascx,aspx}.cs]

# IDE0004: Remove unnecessary cast.
dotnet_diagnostic.IDE0004.severity = none

# IDE0170: Simplify property pattern.
dotnet_diagnostic.IDE0170.severity = none

# IDE0200: Remove unnecessary lambda expression.
dotnet_diagnostic.IDE0200.severity = none
