$palette-colors: neutral, primary, brand, info, success, warning, error;

@each $color in $palette-colors {
	.cwn-#{$color} {
		--s-canvas-default: var(--s-#{$color}-canvas-default, var(--s-neutral-canvas-default));
		--s-bg-default: var(--s-#{$color}-bg-default, var(--s-neutral-bg-default));
		--s-bg-default-90a: var(--s-#{$color}-bg-default-90a, var(--s-neutral-bg-default-90a));
		--s-bg-default-25a: var(--s-#{$color}-bg-default-25a, var(--s-neutral-bg-default-25a));
		--s-bg-inv-default: var(--s-#{$color}-bg-inv-default, var(--s-neutral-bg-inv-default));
		--s-bg-inv-default-20a: var(--s-#{$color}-bg-inv-default-20a, var(--s-neutral-bg-inv-default-20a));
		--s-bg-hover: var(--s-#{$color}-bg-hover, var(--s-neutral-bg-hover));
		--s-bg-active: var(--s-#{$color}-bg-active, var(--s-neutral-bg-active));
		--s-bg-disabled: var(--s-#{$color}-bg-disabled, var(--s-neutral-bg-disabled));
		--s-bg-weak-default: var(--s-#{$color}-bg-weak-default, var(--s-neutral-bg-weak-default));
		--s-bg-weak-hover: var(--s-#{$color}-bg-weak-hover, var(--s-neutral-bg-weak-hover));
		--s-bg-weak-active: var(--s-#{$color}-bg-weak-active, var(--s-neutral-bg-weak-active));
		--s-txt-default: var(--s-#{$color}-txt-default, var(--s-neutral-txt-default));
		--s-txt-hover: var(--s-#{$color}-txt-hover, var(--s-neutral-txt-hover));
		--s-txt-active: var(--s-#{$color}-txt-active, var(--s-neutral-txt-active));
		--s-txt-disabled: var(--s-#{$color}-txt-disabled, var(--s-neutral-txt-disabled));
		--s-txt-weak-default: var(--s-#{$color}-txt-weak-default, var(--s-neutral-txt-weak-default));
		--s-txt-weak-hover: var(--s-#{$color}-txt-weak-hover, var(--s-neutral-txt-weak-hover));
		--s-txt-weak-active: var(--s-#{$color}-txt-weak-active, var(--s-neutral-txt-weak-active));
		--s-txt-inv-default: var(--s-#{$color}-txt-inv-default, var(--s-neutral-txt-inv-default));
		--s-txt-inv-hover: var(--s-#{$color}-txt-inv-hover, var(--s-neutral-txt-inv-hover));
		--s-txt-inv-active: var(--s-#{$color}-txt-inv-active, var(--s-neutral-txt-inv-active));
		--s-txt-inv-disabled: var(--s-#{$color}-txt-inv-disabled, var(--s-neutral-txt-inv-disabled));
		--s-txt-weak-inv-default: var(--s-#{$color}-txt-weak-inv-default, var(--s-neutral-txt-weak-inv-default));
		--s-txt-weak-inv-hover: var(--s-#{$color}-txt-weak-inv-hover, var(--s-neutral-txt-weak-inv-hover));
		--s-txt-weak-inv-active: var(--s-#{$color}-txt-weak-inv-active, var(--s-neutral-txt-weak-inv-active));
		--s-icon-default: var(--s-#{$color}-icon-default, var(--s-neutral-icon-default));
		--s-icon-hover: var(--s-#{$color}-icon-hover, var(--s-neutral-icon-hover));
		--s-icon-active: var(--s-#{$color}-icon-active, var(--s-neutral-icon-active));
		--s-icon-disabled: var(--s-#{$color}-icon-disabled, var(--s-neutral-icon-disabled));
		--s-icon-weak-default: var(--s-#{$color}-icon-weak-default, var(--s-neutral-icon-weak-default));
		--s-icon-weak-hover: var(--s-#{$color}-icon-weak-hover, var(--s-neutral-icon-weak-hover));
		--s-icon-weak-active: var(--s-#{$color}-icon-weak-active, var(--s-neutral-icon-weak-active));
		--s-icon-inv-default: var(--s-#{$color}-icon-inv-default, var(--s-neutral-icon-inv-default));
		--s-icon-inv-hover: var(--s-#{$color}-icon-inv-hover, var(--s-neutral-icon-inv-hover));
		--s-icon-inv-active: var(--s-#{$color}-icon-inv-active, var(--s-neutral-icon-inv-active));
		--s-icon-inv-disabled: var(--s-#{$color}-icon-inv-disabled, var(--s-neutral-icon-inv-disabled));
		--s-icon-weak-inv-default: var(--s-#{$color}-icon-weak-inv-default, var(--s-neutral-icon-weak-inv-default));
		--s-icon-weak-inv-hover: var(--s-#{$color}-icon-weak-inv-hover, var(--s-neutral-icon-weak-inv-hover));
		--s-icon-weak-inv-active: var(--s-#{$color}-icon-weak-inv-active, var(--s-neutral-icon-weak-inv-active));
		--s-border-default: var(--s-#{$color}-border-default, var(--s-neutral-border-default));
		--s-border-hover: var(--s-#{$color}-border-hover, var(--s-neutral-border-hover));
		--s-border-active: var(--s-#{$color}-border-active, var(--s-neutral-border-active));
		--s-border-disabled: var(--s-#{$color}-border-disabled, var(--s-neutral-border-disabled));
		--s-border-weak-hover: var(--s-#{$color}-border-weak-hover, var(--s-neutral-border-weak-hover));
		--s-border-weak-active: var(--s-#{$color}-border-weak-active, var(--s-neutral-border-weak-active));
	}
}
