$fontfamily-primary: Inter;
$fontfamily-fallback: sans-serif;

$fontsize-100: 10px;
$fontsize-200: 12px;
$fontsize-300: 13px;
$fontsize-400: 16px;
$fontsize-500: 20px;
$fontsize-600: 28px;
$fontsize-700: 32px;
$fontsize-800: 40px;

$fontweight-100: 100;
$fontweight-200: 200;
$fontweight-300: 300;
$fontweight-400: 400;
$fontweight-500: 500;
$fontweight-600: 600;
$fontweight-700: 700;
$fontweight-800: 800;

$lineheight-100: 10px;
$lineheight-200: 16px;
$lineheight-300: 20px;
$lineheight-400: 24px;
$lineheight-500: 28px;
$lineheight-600: 34px;
$lineheight-700: 38px;
$lineheight-800: 48px;

$numbers-0: 0px;
$numbers-100: 2px;
$numbers-200: 4px;
$numbers-300: 8px;
$numbers-400: 12px;
$numbers-500: 16px;
$numbers-600: 20px;
$numbers-700: 24px;
$numbers-800: 32px;
$numbers-900: 40px;
$numbers-1000: 48px;
$numbers-1100: 56px;
$numbers-1200: 64px;

$padding-null: 0;
$padding-xs: 2px;
$padding-s: 4px;
$padding-m: 8px;
$padding-l: 12px;
$padding-xl: 16px;
$padding-xxl: 32px;

$radius-null: 0;
$radius-xs: 2px;
$radius-s: 4px;
$radius-m: 8px;
$radius-l: 12px;
$radius-xl: 16px;
$radius-xxl: 24px;

$sizing-null: 0;
$sizing-xs: 8px;
$sizing-s: 12px;
$sizing-m: 16px;
$sizing-l: 20px;
$sizing-xl: 24px;
$sizing-xxl: 32px;

$sizing-border-m: 2px;

$sizing-icon-sm: 16px;
$sizing-icon-md: 20px;
$sizing-icon-lg: 28px;
$sizing-icon-xl: 34px;
$sizing-icon-2xl: 38px;
$sizing-icon-3xl: 48px;

$spacing-null: 0;
$spacing-xs: 2px;
$spacing-s: 4px;
$spacing-m: 8px;
$spacing-l: 12px;
$spacing-xl: 16px;
$spacing-xxl: 32px;

$text-md-strong-link: $fontweight-600 $fontsize-300 / $lineheight-300 $fontfamily-primary;
$text-md-strong: $fontweight-600 $fontsize-300 / $lineheight-300 $fontfamily-primary;
$text-md-default-num-link: $fontweight-400 $fontsize-300 / $lineheight-300 $fontfamily-primary;
$display-lg-default-num: $fontweight-700 $fontsize-800 / $lineheight-800 $fontfamily-primary;
$text-xs-default-num: $fontweight-400 $fontsize-100 / $lineheight-100 $fontfamily-primary;
$text-md-default: $fontweight-400 $fontsize-300 / $lineheight-300 $fontfamily-primary;
$text-md-default-link: $fontweight-400 $fontsize-300 / $lineheight-300 $fontfamily-primary;
$text-md-default-num: $fontweight-400 $fontsize-300 / $lineheight-300 $fontfamily-primary;
$display-sm-default-num: $fontweight-700 $fontsize-600 / $lineheight-600 $fontfamily-primary;
$display-sm-default: $fontweight-700 $fontsize-600 / $lineheight-600 $fontfamily-primary;
$text-sm-default-num: $fontweight-400 $fontsize-200 / $lineheight-200 $fontfamily-primary;
$display-lg-default: $fontweight-700 $fontsize-800 / $lineheight-800 $fontfamily-primary;
$title-lg-default-num: $fontweight-600 $fontsize-500 / $lineheight-500 $fontfamily-primary;
$title-sm-default: $fontweight-600 $fontsize-300 / $lineheight-300 $fontfamily-primary;
$text-md-strong-num-link: $fontweight-600 $fontsize-300 / $lineheight-300 $fontfamily-primary;
$text-sm-strong: $fontweight-600 $fontsize-200 / $lineheight-200 $fontfamily-primary;
$text-sm-strong-link: $fontweight-600 $fontsize-200 / $lineheight-200 $fontfamily-primary;
$text-sm-strong-num: $fontweight-600 $fontsize-200 / $lineheight-200 $fontfamily-primary;
$text-sm-strong-num-link: $fontweight-600 $fontsize-200 / $lineheight-200 $fontfamily-primary;
$text-xs-default: $fontweight-400 $fontsize-100 / $lineheight-100 $fontfamily-primary;
$text-xs-default-link: $fontweight-400 $fontsize-100 / $lineheight-100 $fontfamily-primary;
$text-xs-default-num-link: $fontweight-400 $fontsize-100 / $lineheight-100 $fontfamily-primary;
$text-xs-strong-num: $fontweight-600 $fontsize-100 / $lineheight-100 $fontfamily-primary;
$text-xs-strong-num-link: $fontweight-600 $fontsize-100 / $lineheight-100 $fontfamily-primary;
$title-sm-default-num: $fontweight-600 $fontsize-300 / $lineheight-300 $fontfamily-primary;
$title-lg-default: $fontweight-600 $fontsize-500 / $lineheight-500 $fontfamily-primary;
$title-md-default-num: $fontweight-600 $fontsize-400 / $lineheight-400 $fontfamily-primary;
$title-md-default: $fontweight-600 $fontsize-400 / $lineheight-400 $fontfamily-primary;
$display-md-default: $fontweight-700 $fontsize-700 / $lineheight-700 $fontfamily-primary;
$text-sm-default-link: $fontweight-400 $fontsize-200 / $lineheight-200 $fontfamily-primary;
$text-sm-default: $fontweight-400 $fontsize-200 / $lineheight-200 $fontfamily-primary;
$text-sm-default-num-link: $fontweight-400 $fontsize-200 / $lineheight-200 $fontfamily-primary;
$text-xs-strong-link: $fontweight-600 $fontsize-100 / $lineheight-100 $fontfamily-primary;
$text-md-strong-num: $fontweight-600 $fontsize-300 / $lineheight-300 $fontfamily-primary;
$display-md-default-num: $fontweight-700 $fontsize-700 / $lineheight-700 $fontfamily-primary;
$text-xs-strong: $fontweight-600 $fontsize-100 / $lineheight-100 $fontfamily-primary;

$palette-colors: neutral, primary, brand, info, success, warning, error;

/* Homepage */
$home-default-background: #F7F7F4;
