<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

    <PropertyGroup>
        <_Source>http://localhost/repo/nuget?replace=true</_Source>
        <_ApiKey>hawking</_ApiKey>
        <_NuGetExePath>$(MSBuildThisFileDirectory)NuGet.exe</_NuGetExePath>
        <_ApiKeyCommand Condition="$(_ApiKey) != ''">-ApiKey $(_ApiKey)</_ApiKeyCommand>
    </PropertyGroup>
    
    <Target Name="bat:deploy" AfterTargets="Pack">
        <PropertyGroup>
            <_OutputDirectory>$(ProjectDir)bin\$(ConfigurationName)\</_OutputDirectory>
        </PropertyGroup>

        <Message Text="$(_NuGetExePath) push $(_OutputDirectory)*.nupkg $(_ApiKeyCommand) -src $(_Source)" Importance="high" />
        <Exec Command="$(_NuGetExePath) push $(_OutputDirectory)*.nupkg $(_ApiKeyCommand) -src $(_Source)" Condition="'$(_Source)'!=''" />
        <Message Text="Please verify package deployed successfully by query $(_Source)/FindPackagesById?id='$(PackageId)'&amp;version='$(PackageVersion)'" Importance="high" />
        <Exec Command="dotnet nuget locals all --clear" />
    </Target>

    <Target Name="bat:remove" />

</Project>