# All packages come from the public NuGet Gallery
source https://api.nuget.org/v3/index.json

# WTG internal
source http://proget.wtg.zone/nuget/WTG-Internal/

# local repo
source http://localhost/repo/nuget/

# Some packages (e.g. DotNet.Contracts) are built internally, and are not
# available from the Gallery.
# cache \\sydco-sdts-2.wtg.zone\ThirdParty\NuGet-PaketCache

# This filters out extra crap from .NET Core that we don't care about (yet).
framework >= netcoreapp2.1

# This is our list of packages.
# If you know what you're doing, manually add an entry.
# If you don't, use "paket.exe add nuget <package> --no-install".
# Use "paket.exe update --no-install" to update paket.lock.
# Use "paket.exe restore" to update the package cache above
#
# DO NOT UPDATE paket.lock BY HAND!
#
nuget CommandLineArgumentsParser
nuget Common.Logging.Core
nuget Hawking.eHub.Mapping.Config
nuget Hawking.eHub.Transform.Helper.Wrapper
nuget Hawking.UnitTest.Tools
nuget Hawking.Unity
nuget Hawking.Xslt.Compiler
nuget Hawking.Xslt.ExtensionObjects
nuget Hawking.Xslt.Transformer
nuget Log4Net
nuget Microsoft.AspNetCore.App
nuget Microsoft.CodeAnalysis.CSharp
nuget Microsoft.EntityFrameworkCore
nuget Microsoft.EntityFrameworkCore.SQlserver
nuget Microsoft.EntityFrameworkCore.Tools
nuget Microsoft.Extensions.Configuration.EnvironmentVariables
nuget Microsoft.Extensions.Configuration.FileExtensions
nuget Microsoft.Extensions.Configuration.Json
nuget Microsoft.NET.Test.Sdk
nuget moq
nuget unity
nuget Unity.Abstractions
nuget Unity.Microsoft.DependencyInjection
nuget Unity.NetCore
nuget XmlDiffPatch.Core
nuget xunit
nuget Microsoft.TeamFoundationServer.ExtendedClient >= 15.0