/*
This script was created by Visual Studio on 30/03/2012 at 1:07 PM.
Run this script on [wg1-vsql-1.eHubTransactions.ehubreader] to make it the same as [SYD-WBLY-1.eHubTransactions].
This script performs its actions in the following order:
1. Disable foreign-key constraints.
2. Perform DELETE commands. 
3. Perform UPDATE commands.
4. Perform INSERT commands.
5. Re-enable foreign-key constraints.
Please back up your target database before running this script.
*/
SET NUMERIC_ROUNDABORT OFF
GO
SET XACT_ABORT, ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
/*Pointer used for text / image updates. This might not be needed, but is declared here just in case*/
DECLARE @pv binary(16)
BEGIN TRANSACTION
ALTER TABLE [dbo].[eHubCodeMapKey] DROP CONSTRAINT [eHubCodeMapKey_CK_CS_FK2_eHubCodeSet_RRR_121]
ALTER TABLE [dbo].[eHubTransformationSet] DROP CONSTRAINT [eHubTransformationSet_TS_CC_BillOther_FK2_eHubClient_RRR_121]
ALTER TABLE [dbo].[eHubTransformationSet] DROP CONSTRAINT [eHubTransformationSet_TS_CC_Recipient_FK2_eHubClient_RRR_121]
ALTER TABLE [dbo].[eHubTransformationSet] DROP CONSTRAINT [eHubTransformationSet_TS_CC_Sender_FK2_eHubClient_RRR_121]
ALTER TABLE [dbo].[eHubTransformationSet] DROP CONSTRAINT [eHubTransformationSet_TS_DT_Source_FK2_eHubMessageType_RRR_121]
ALTER TABLE [dbo].[eHubCodeMapValue] DROP CONSTRAINT [eHubCodeMapValue_CV_CK_FK2_eHubCodeMapKey_RRR_121]
ALTER TABLE [dbo].[eHubCodeMapValue] DROP CONSTRAINT [eHubCodeMapValue_CV_CR_FK2_eHubCodeSetResult_RRR_121]
ALTER TABLE [dbo].[eHubCodeSetResult] DROP CONSTRAINT [eHubCodeSetResult_CR_CS_FK2_eHubCodeSet_RRR_121]
ALTER TABLE [dbo].[eHubTransformationMapping] DROP CONSTRAINT [eHubTransformationMapping_TM_TS_FK2_eHubTransformationSet_RRR_121]
ALTER TABLE [dbo].[eHubTransformationMapping] DROP CONSTRAINT [eHubTransformationMapping_TM_TT_FK2_eHubTransformationType_RRR_121]
ALTER TABLE [dbo].[eHubTransformationType] DROP CONSTRAINT [eHubTransformationType_TT_DT_Source_FK2_eHubMessageType_RRR_121]
ALTER TABLE [dbo].[eHubTransformationType] DROP CONSTRAINT [eHubTransformationType_TT_DT_Target_FK2_eHubMessageType_RRR_121]
ALTER TABLE [dbo].[eHubCodeSet] DROP CONSTRAINT [eHubCodeSet_CS_CC_Recipient_FK2_eHubClient_RRR_121]
ALTER TABLE [dbo].[eHubCodeSet] DROP CONSTRAINT [eHubCodeSet_CS_CC_Sender_FK2_eHubClient_RRR_121]
ALTER TABLE [dbo].[eHubCodeSet] DROP CONSTRAINT [eHubCodeSet_CS_TS_FK2_eHubTransformationSet_RRR_121]
ALTER TABLE [dbo].[eHubSubscriptionLookup] DROP CONSTRAINT [eHubSubscriptionLookup_SL_DT_FK2_eHubMessageType_RRR_121]
ALTER TABLE [dbo].[eHubSubscriptionLookup] DROP CONSTRAINT [eHubSubscriptionLookup_SL_ST_FK2_eHubSubscriptionType_RRR_121]
ALTER TABLE [dbo].[eHubSubscriptionValue] DROP CONSTRAINT [eHubSubscriptionValue_SV_CC_Recipient_FK2_eHubClient_RRR_121]
ALTER TABLE [dbo].[eHubSubscriptionValue] DROP CONSTRAINT [eHubSubscriptionValue_SV_CC_Sender_FK2_eHubClient_RRR_121]
ALTER TABLE [dbo].[eHubSubscriptionValue] DROP CONSTRAINT [eHubSubscriptionValue_SV_ST_FK2_eHubSubscriptionType_RRR_121]

INSERT INTO [dbo].[eHubMessageType] ([DT_PK], [DT_Code], [DT_IsFlatFile], [DT_IsEDI], [DT_Charset]) VALUES (N'03943c95-90a7-4b82-882d-3a0a7ae3f815', 'http://cargowise.com/ehub/clients/edi/edifact/2012/03#EFACT_D95B_COARRI', 0, 1, NULL)
INSERT INTO [dbo].[eHubMessageType] ([DT_PK], [DT_Code], [DT_IsFlatFile], [DT_IsEDI], [DT_Charset]) VALUES (N'36290129-a8fe-44e3-924f-8d34a9a2d56e', 'http://cargowise.com/ehub/clients/edi/edifact/2012/03#EFACT_D95B_CODECO', 0, 1, NULL)
INSERT INTO [dbo].[eHubTransformationType] ([TT_PK], [TT_DT_Source], [TT_DT_Target], [TT_TransformationType]) VALUES (N'78399221-e303-4a37-9c22-14a9b2cf2ae9', N'36290129-a8fe-44e3-924f-8d34a9a2d56e', N'6c73fdc6-0a91-46f2-9eb1-3e98816e87f0', 'CargoWise.eHub.Products.OceanTracing.Transforms.CODECO2EDIUniversalEvent.CODECO2EDIUniversalEvent, CargoWise.eHub.Products.OceanTracing.Transforms.CODECO2EDIUniversalEvent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4f570df270576350')
INSERT INTO [dbo].[eHubTransformationType] ([TT_PK], [TT_DT_Source], [TT_DT_Target], [TT_TransformationType]) VALUES (N'f0ee2c0a-70c6-42e3-8822-1fa2f576e764', N'03943c95-90a7-4b82-882d-3a0a7ae3f815', N'6c73fdc6-0a91-46f2-9eb1-3e98816e87f0', 'CargoWise.eHub.Products.OceanTracing.Transforms.COARRI2EDIUniversalEvent.COARRI2EDIUniversalEvent, CargoWise.eHub.Products.OceanTracing.Transforms.COARRI2EDIUniversalEvent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4f570df270576350')
INSERT INTO [dbo].[eHubTransformationMapping] ([TM_TS_PK], [TM_Order], [TM_TT_PK]) VALUES (N'dbf462dd-856f-454f-8670-fe5c80bdd6b8', 0, N'f0ee2c0a-70c6-42e3-8822-1fa2f576e764')
INSERT INTO [dbo].[eHubTransformationMapping] ([TM_TS_PK], [TM_Order], [TM_TT_PK]) VALUES (N'dff003e4-b466-4a04-b239-e456322ec13c', 0, N'78399221-e303-4a37-9c22-14a9b2cf2ae9')
INSERT INTO [dbo].[eHubCodeSet] ([CS_PK], [CS_Name], [CS_TS], [CS_CC_Sender], [CS_CC_Recipient], [CS_Key1Name], [CS_Key2Name], [CS_Key3Name], [CS_Key4Name], [CS_Key5Name]) VALUES (N'1f4e4bd4-52cd-46d0-b975-4e6775fa031a', N'Container Mode', N'dff003e4-b466-4a04-b239-e456322ec13c', N'97310c28-badf-413f-a81d-dfb1d28b6c58', N'97310c28-badf-413f-a81d-dfb1d28b6c58', N'Container Mode', NULL, NULL, NULL, NULL)
INSERT INTO [dbo].[eHubCodeSet] ([CS_PK], [CS_Name], [CS_TS], [CS_CC_Sender], [CS_CC_Recipient], [CS_Key1Name], [CS_Key2Name], [CS_Key3Name], [CS_Key4Name], [CS_Key5Name]) VALUES (N'30ecf12f-1e0e-4b3d-8d8d-b028d51e8add', N'Container Movement Type', N'dbf462dd-856f-454f-8670-fe5c80bdd6b8', N'97310c28-badf-413f-a81d-dfb1d28b6c58', N'97310c28-badf-413f-a81d-dfb1d28b6c58', N'Movement type', NULL, NULL, NULL, NULL)
INSERT INTO [dbo].[eHubCodeSet] ([CS_PK], [CS_Name], [CS_TS], [CS_CC_Sender], [CS_CC_Recipient], [CS_Key1Name], [CS_Key2Name], [CS_Key3Name], [CS_Key4Name], [CS_Key5Name]) VALUES (N'31d0febe-b850-4bda-8e1e-98e6dc90b6c3', N'Unit of Measurement', N'dbf462dd-856f-454f-8670-fe5c80bdd6b8', N'97310c28-badf-413f-a81d-dfb1d28b6c58', N'97310c28-badf-413f-a81d-dfb1d28b6c58', N'Unit', NULL, NULL, NULL, NULL)
INSERT INTO [dbo].[eHubCodeSetResult] ([CR_PK], [CR_CS], [CR_Order], [CR_Name]) VALUES (N'061659d2-06b7-4b1f-a1d7-e7c0fbe9497e', N'91669d64-9d9b-4771-8e74-9c88a929731c', 1, N'ediEnterprise code')
INSERT INTO [dbo].[eHubCodeSetResult] ([CR_PK], [CR_CS], [CR_Order], [CR_Name]) VALUES (N'3796ba40-24c9-4303-a2ac-b5a63b763ad7', N'f57fa64d-8c65-40ff-9b77-8d602d72198c', 1, N'ediEnterprise code')
INSERT INTO [dbo].[eHubCodeSetResult] ([CR_PK], [CR_CS], [CR_Order], [CR_Name]) VALUES (N'48e64332-adfe-4c03-bb06-b2df3796aeb2', N'30ecf12f-1e0e-4b3d-8d8d-b028d51e8add', 1, N'ediEnterprise code')
INSERT INTO [dbo].[eHubCodeMapKey] ([CK_PK], [CK_CS], [CK_Order], [CK_Key1Value], [CK_Key2Value], [CK_Key3Value], [CK_Key4Value], [CK_Key5Value]) VALUES (N'00aa5b1f-233e-4ff7-85e1-149df4bf5e40', N'b1c880ab-1c1b-4aa1-a263-495fd70271cc', 5, N'%', NULL, NULL, NULL, NULL)
INSERT INTO [dbo].[eHubCodeMapKey] ([CK_PK], [CK_CS], [CK_Order], [CK_Key1Value], [CK_Key2Value], [CK_Key3Value], [CK_Key4Value], [CK_Key5Value]) VALUES (N'0319eaac-cf40-461c-9e55-2509d9ea0e1d', N'57c4ceef-d6a2-4e09-8d9e-0a35be99d09c', 3, N'%', NULL, NULL, NULL, NULL)
INSERT INTO [dbo].[eHubCodeMapKey] ([CK_PK], [CK_CS], [CK_Order], [CK_Key1Value], [CK_Key2Value], [CK_Key3Value], [CK_Key4Value], [CK_Key5Value]) VALUES (N'12b9f37e-742c-4fe5-baba-4ee5a0884e7b', N'f9a0bd3c-4324-4f0f-8bac-02d4b9b1eed5', 3, N'%', NULL, NULL, NULL, NULL)
INSERT INTO [dbo].[eHubCodeMapValue] ([CV_CK], [CV_CR], [CV_OutputCode], [CV_PassThroughKey]) VALUES (N'00aa5b1f-233e-4ff7-85e1-149df4bf5e40', N'6742f224-a50d-4a4d-9571-3bceafdbd650', NULL, 1)
INSERT INTO [dbo].[eHubCodeMapValue] ([CV_CK], [CV_CR], [CV_OutputCode], [CV_PassThroughKey]) VALUES (N'0319eaac-cf40-461c-9e55-2509d9ea0e1d', N'e66c2cf3-e4cb-4364-8acc-0f1469d0bb45', N'', NULL)
INSERT INTO [dbo].[eHubCodeMapValue] ([CV_CK], [CV_CR], [CV_OutputCode], [CV_PassThroughKey]) VALUES (N'12b9f37e-742c-4fe5-baba-4ee5a0884e7b', N'b57f6b2f-7cc3-4fb9-8db4-fe54d697eba9', NULL, 1)

INSERT INTO [dbo].[eHubSubscriptionType] ([ST_PK], [ST_ApplicationCode], [ST_Name], [ST_ExpiryDays]) VALUES (N'b53241f9-6fbb-439e-b053-67050435e4d2', 'OCT', 'Oceant Container Tracing', NULL)
INSERT INTO [dbo].[eHubSubscriptionLookup] ([SL_PK], [SL_ST], [SL_DT], [SL_ValueXpath], [SL_ValueProperty]) VALUES (N'0340f039-6b4b-4761-b9d0-3cd2d0505113', N'b53241f9-6fbb-439e-b053-67050435e4d2', N'36290129-a8fe-44e3-924f-8d34a9a2d56e', NULL, N'http://schemas.microsoft.com/Edi/PropertySchema#UNB3_1')
INSERT INTO [dbo].[eHubSubscriptionLookup] ([SL_PK], [SL_ST], [SL_DT], [SL_ValueXpath], [SL_ValueProperty]) VALUES (N'713c9885-af6d-4ea0-ba0d-65be0633f9ce', N'b53241f9-6fbb-439e-b053-67050435e4d2', N'03943c95-90a7-4b82-882d-3a0a7ae3f815', NULL, N'http://schemas.microsoft.com/Edi/PropertySchema#UNB3_1')
INSERT INTO [dbo].[eHubSubscriptionValue] ([SV_PK], [SV_ST], [SV_CC_Sender], [SV_Value], [SV_SubscribedUTC], [SV_ExpiryUTC], [SV_CC_Recipient]) VALUES (N'0340f039-6b4b-4761-b9d0-3cd2d0505113', N'b53241f9-6fbb-439e-b053-67050435e4d2', N'97310c28-badf-413f-a81d-dfb1d28b6c58', N'PFL', '20110101 00:00:00.000', NULL, N'fc8dcdd6-bf2e-42ad-9554-c29701d51ddd')
INSERT INTO [dbo].[eHubSubscriptionValue] ([SV_PK], [SV_ST], [SV_CC_Sender], [SV_Value], [SV_SubscribedUTC], [SV_ExpiryUTC], [SV_CC_Recipient]) VALUES (N'd6d79b2f-4433-46ae-b183-d1f4e3ca7497', N'b53241f9-6fbb-439e-b053-67050435e4d2', N'97310c28-badf-413f-a81d-dfb1d28b6c58', N'PACIFICA', '20110101 00:00:00.000', NULL, N'fc8dcdd6-bf2e-42ad-9554-c29701d51ddd')

INSERT INTO [dbo].[eHubCounter] ([CN_Name], [CN_Value]) VALUES (N'CargoWise.eHub.Products.OceanTracing.Transforms.EDIUniversalEvent2CODECO_COARRI.BGM02', 0)

ALTER TABLE [dbo].[eHubCodeMapKey] ADD CONSTRAINT [eHubCodeMapKey_CK_CS_FK2_eHubCodeSet_RRR_121] FOREIGN KEY ([CK_CS]) REFERENCES [dbo].[eHubCodeSet] ([CS_PK])
ALTER TABLE [dbo].[eHubTransformationSet] ADD CONSTRAINT [eHubTransformationSet_TS_CC_BillOther_FK2_eHubClient_RRR_121] FOREIGN KEY ([TS_CC_BillOther]) REFERENCES [dbo].[eHubClient] ([CC_PK])
ALTER TABLE [dbo].[eHubTransformationSet] ADD CONSTRAINT [eHubTransformationSet_TS_CC_Recipient_FK2_eHubClient_RRR_121] FOREIGN KEY ([TS_CC_Recipient]) REFERENCES [dbo].[eHubClient] ([CC_PK])
ALTER TABLE [dbo].[eHubTransformationSet] ADD CONSTRAINT [eHubTransformationSet_TS_CC_Sender_FK2_eHubClient_RRR_121] FOREIGN KEY ([TS_CC_Sender]) REFERENCES [dbo].[eHubClient] ([CC_PK])
ALTER TABLE [dbo].[eHubTransformationSet] ADD CONSTRAINT [eHubTransformationSet_TS_DT_Source_FK2_eHubMessageType_RRR_121] FOREIGN KEY ([TS_DT_Source]) REFERENCES [dbo].[eHubMessageType] ([DT_PK])
ALTER TABLE [dbo].[eHubCodeMapValue] ADD CONSTRAINT [eHubCodeMapValue_CV_CK_FK2_eHubCodeMapKey_RRR_121] FOREIGN KEY ([CV_CK]) REFERENCES [dbo].[eHubCodeMapKey] ([CK_PK])
ALTER TABLE [dbo].[eHubCodeMapValue] ADD CONSTRAINT [eHubCodeMapValue_CV_CR_FK2_eHubCodeSetResult_RRR_121] FOREIGN KEY ([CV_CR]) REFERENCES [dbo].[eHubCodeSetResult] ([CR_PK])
ALTER TABLE [dbo].[eHubCodeSetResult] ADD CONSTRAINT [eHubCodeSetResult_CR_CS_FK2_eHubCodeSet_RRR_121] FOREIGN KEY ([CR_CS]) REFERENCES [dbo].[eHubCodeSet] ([CS_PK])
ALTER TABLE [dbo].[eHubTransformationMapping] ADD CONSTRAINT [eHubTransformationMapping_TM_TS_FK2_eHubTransformationSet_RRR_121] FOREIGN KEY ([TM_TS_PK]) REFERENCES [dbo].[eHubTransformationSet] ([TS_PK])
ALTER TABLE [dbo].[eHubTransformationMapping] ADD CONSTRAINT [eHubTransformationMapping_TM_TT_FK2_eHubTransformationType_RRR_121] FOREIGN KEY ([TM_TT_PK]) REFERENCES [dbo].[eHubTransformationType] ([TT_PK])
ALTER TABLE [dbo].[eHubTransformationType] ADD CONSTRAINT [eHubTransformationType_TT_DT_Source_FK2_eHubMessageType_RRR_121] FOREIGN KEY ([TT_DT_Source]) REFERENCES [dbo].[eHubMessageType] ([DT_PK])
ALTER TABLE [dbo].[eHubTransformationType] ADD CONSTRAINT [eHubTransformationType_TT_DT_Target_FK2_eHubMessageType_RRR_121] FOREIGN KEY ([TT_DT_Target]) REFERENCES [dbo].[eHubMessageType] ([DT_PK])
ALTER TABLE [dbo].[eHubCodeSet] ADD CONSTRAINT [eHubCodeSet_CS_CC_Recipient_FK2_eHubClient_RRR_121] FOREIGN KEY ([CS_CC_Recipient]) REFERENCES [dbo].[eHubClient] ([CC_PK])
ALTER TABLE [dbo].[eHubCodeSet] ADD CONSTRAINT [eHubCodeSet_CS_CC_Sender_FK2_eHubClient_RRR_121] FOREIGN KEY ([CS_CC_Sender]) REFERENCES [dbo].[eHubClient] ([CC_PK])
ALTER TABLE [dbo].[eHubCodeSet] ADD CONSTRAINT [eHubCodeSet_CS_TS_FK2_eHubTransformationSet_RRR_121] FOREIGN KEY ([CS_TS]) REFERENCES [dbo].[eHubTransformationSet] ([TS_PK])
ALTER TABLE [dbo].[eHubSubscriptionLookup] ADD CONSTRAINT [eHubSubscriptionLookup_SL_DT_FK2_eHubMessageType_RRR_121] FOREIGN KEY ([SL_DT]) REFERENCES [dbo].[eHubMessageType] ([DT_PK])
ALTER TABLE [dbo].[eHubSubscriptionLookup] ADD CONSTRAINT [eHubSubscriptionLookup_SL_ST_FK2_eHubSubscriptionType_RRR_121] FOREIGN KEY ([SL_ST]) REFERENCES [dbo].[eHubSubscriptionType] ([ST_PK])
ALTER TABLE [dbo].[eHubSubscriptionValue] ADD CONSTRAINT [eHubSubscriptionValue_SV_CC_Recipient_FK2_eHubClient_RRR_121] FOREIGN KEY ([SV_CC_Recipient]) REFERENCES [dbo].[eHubClient] ([CC_PK])
ALTER TABLE [dbo].[eHubSubscriptionValue] ADD CONSTRAINT [eHubSubscriptionValue_SV_CC_Sender_FK2_eHubClient_RRR_121] FOREIGN KEY ([SV_CC_Sender]) REFERENCES [dbo].[eHubClient] ([CC_PK])
ALTER TABLE [dbo].[eHubSubscriptionValue] ADD CONSTRAINT [eHubSubscriptionValue_SV_ST_FK2_eHubSubscriptionType_RRR_121] FOREIGN KEY ([SV_ST]) REFERENCES [dbo].[eHubSubscriptionType] ([ST_PK])
COMMIT TRANSACTION
