/* Switch toggle */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input,
select,
textarea .full-width {
    max-width: 100%;
}

.wraptext {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.uploadFile::-ms-value {
    visibility: collapse;
}

hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.word-wrap { word-wrap: break-word; }

.messagebox {
	width: 100%;
	font-size: 13px;
}

.messagebox-rows {
	margin-bottom: 10px;
}

.messagebox .list-group-item {
    padding: 0.25rem 1.25rem;
}

.messagebox .btn-sm {
    padding: 0.05rem 0.5rem;
}

td .btn {
    margin-top: -20px;
    margin-left: 20px;
}

#messageContent {
    white-space: pre-wrap;
    font-size: 13px;
}

.no-margin {
	margin: auto;
}

.column {
	border-bottom: 1px double #32a1ce;
	border-right: 1px double #32a1ce;
	padding-bottom: 7.5px;
	margin-bottom: -1.5px;
	padding-top: 9px;
}

.no-border-last-row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	overflow: hidden;
	margin-bottom: 5px;
	margin-top: -8px;
	margin-left: 1px;
}
