.feedback-highlighted {
	background-image: linear-gradient(rgba(32, 178, 170, 0.5), rgba(32, 178, 170, 0.5)) !important;
	cursor: default !important;

	&.zdropform__item:hover,
	&.zdropform__item:hover * {
		background-color: rgba(32, 178, 170, 0.5) !important;
		color: var(--color-control-text) !important;
	}
}
