@import "variables";

.form--overlay {
	&--container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 99999;
		display: none;
		pointer-events: none;
	}

	&--mask {
		pointer-events: auto;
		position: absolute;
		background-color: $controlinformationoverlay-mask-background-color;
		border: 1px solid $controlinformationoverlay-mask-border-color;
		opacity: 0.8;
	}

	&--border {
		position: absolute;
		background-color: transparent;
		border: 2px solid $controlinformationoverlay-border-border-color;
	}

	&--infocard {
		display: inherit;
		position: fixed;
		width: auto;
		height: auto;
		background-color: $controlinformationoverlay-infocard-background-color;
		color: $controlinformationoverlay-infocard-color;
		right: 0;
		bottom: 0;
		padding: 5px;
	}
}
