// ControlInformationOverlay
$controlinformationoverlay-mask-background-color: lightseagreen;
$controlinformationoverlay-mask-border-color: limegreen;
$controlinformationoverlay-border-border-color: magenta;
$controlinformationoverlay-infocard-background-color: white;
$controlinformationoverlay-infocard-color: darkgreen;
