<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="CustomBinding_ITwoWayAsyncVoid">
					<textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
							messageVersion="Soap12" writeEncoding="utf-8">
						<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
								maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					</textMessageEncoding>
					<httpsTransport manualAddressing="false" maxBufferPoolSize="524288"
							maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
							bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
							keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
							realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="true"
							useDefaultWebProxy="true" requireClientCertificate="false" />
				</binding>
			</customBinding>
		</bindings>
		<services>
			<service name="System.ServiceModel.Routing.RoutingService" behaviorConfiguration="AirRoutingServiceBehavior">
				<endpoint address="" name="AirMessagingRelayWebService" binding="customBinding" bindingConfiguration="CustomBinding_ITwoWayAsyncVoid" contract="System.ServiceModel.Routing.IRequestReplyRouter"></endpoint>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="AirRoutingServiceBehavior">
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
					<routing filterTableName="routingFilterTable"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<client>
			<!--Need to change the redirected endpoint address(which should be the web-service address on Biztalk server)-->
			<endpoint address="https://SYD-THUB-1.corporate.cargowise.com/DescartesReply/DescartesReply.svc"
					binding="customBinding" bindingConfiguration="CustomBinding_ITwoWayAsyncVoid"
					contract="*" name="DescartesReply" />
		</client>
		<routing>
			<filters>
				<filter name="MatchAllFilter1" filterType="MatchAll"/>
			</filters>
			<filterTables>
				<filterTable name="routingFilterTable">
					<add filterName="MatchAllFilter1" endpointName="DescartesReply"/>
				</filterTable>
			</filterTables>
		</routing>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
