<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="downloadBinding">
                    <mtomMessageEncoding messageVersion="Soap11" />
                    <httpsTransport />
                </binding>
                <binding name="uploadBinding">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://service.wsvc.mhb.crimsonlogic.com/wsdl':    -->
                    <!--    <wsdl:binding name='uploadBinding'>    -->
                    <!--        <ns0:OptimizedMimeSerialization xmlns:ns0="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization">..</ns0:OptimizedMimeSerialization>    -->
                    <!--        <wsdl:operation name='upload'>    -->
                    <!--            <ns0:OptimizedMimeSerialization xmlns:ns0="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization">..</ns0:OptimizedMimeSerialization>    -->
                    <!--            <ns0:OptimizedMimeSerialization xmlns:ns0="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization">..</ns0:OptimizedMimeSerialization>    -->
                    <mtomMessageEncoding messageVersion="Soap11" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://trial.tradexchange.gov.sg:443/txmhbweb/download/downloadService"
                binding="customBinding" bindingConfiguration="downloadBinding"
                contract="DownloadWCF.downloadPortType" name="download" />
            <endpoint address="https://trial.tradexchange.gov.sg:443/txmhbweb/upload/uploadService"
                binding="customBinding" bindingConfiguration="uploadBinding"
                contract="UploadWCF.uploadPortType" name="upload" />
        </client>
    </system.serviceModel>
</configuration>