[*.cs]

# CA1018: Mark attributes with AttributeUsageAttribute
dotnet_diagnostic.CA1018.severity = warning

# CA1813: Avoid unsealed attributes
dotnet_diagnostic.CA1813.severity = warning

# CW1107: Use the BusinessObjectFactory rather than hitting the DB directly.
dotnet_diagnostic.CW1107.severity = none

# CW1161: ResGetStringAnalyzer - not required for DATABASE
dotnet_diagnostic.CW1161.severity = none
