<?xml version="1.0" encoding="utf-8"?>
<log4net>

  <appender name="Log" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="logs/ehubreceiver.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="20" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%4thread] %-5level - %message%newline" />
    </layout>
		
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="Log" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
		
    <threshold value="INFO" />
  </appender>
	
	<appender name="Messages" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="logs/ehubreceiver-messages.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="20" />
		<maximumFileSize value="1MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%4thread] %-5level - %message%newline" />
		</layout>
		
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="Messages" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
		
		<threshold value="INFO" />
	</appender>

  <root>
    <level value="INFO" />
    <appender-ref ref="Log" />
		<appender-ref ref="Messages" />
  </root>
	
</log4net>

