<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~\CargoWise.eHub.Share.eHubServices.eHubReceiver.log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <add key="eHubReceiverTest" value="HYEDAUIKB|TRXELPTST_CIS" />
    <add key="eHubReceiverProd" value="HYEDAUIKB|TRXELPELP_CIS" />
    <add key="UserName" value="cisco" />
    <add key="Password" value="SR2VYLaD5s" />
    <add key="PayloadCompressed" value="true" />
    <add key="eHubReceiver" value="CONTAINER_TRACKING|OceanInsights_CSS" />
    <add key="HttpPushService" value="CONTAINER_TRACKING|OceanInsights_CSS" />
    <add key="OceanInsightsAuthorizationToken" value="d8f02f25b28f31b95856d4ce6ca2cb02e8f90690" />
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="_b18" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1048576" maxBufferPoolSize="524288" maxReceivedMessageSize="1048576" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="1048576" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="SendToBiztalk" openTimeout="00:02:00" closeTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <binaryMessageEncoding maxReadPoolSize="1024" maxWritePoolSize="1024" maxSessionSize="2048">
            <readerQuotas maxDepth="1048576" maxStringContentLength="1048576" maxArrayLength="104857600" maxBytesPerRead="1048576" maxNameTableCharCount="1048576" />
          </binaryMessageEncoding>
          <tcpTransport manualAddressing="false" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576000" connectionBufferSize="1048576" hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:00:05" maxBufferSize="104857600" maxPendingConnections="50" maxOutputDelay="00:00:00.2000000" maxPendingAccepts="50" transferMode="Streamed" listenBacklog="50" portSharingEnabled="false" teredoEnabled="false">
            <connectionPoolSettings groupName="default" leaseTimeout="00:05:00" idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="50" />
          </tcpTransport>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BehaviourMetaData">
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="CargoWise.eHub.Share.eHubServices.eHubReceiver.eHubUserNamePasswordValidator, CargoWise.eHub.Share.eHubServices.eHubReceiver, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4f570df270576350" />
          </serviceCredentials>
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RESTEndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="BehaviourMetaData" name="CargoWise.eHub.Share.eHubServices.eHubReceiver.CiscoReceiver">
        <endpoint binding="basicHttpBinding" contract="CargoWise.eHub.Share.eHubServices.eHubReceiver.ICiscoReceiver" bindingConfiguration="_b18" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <service name="CargoWise.eHub.Share.eHubServices.eHubReceiver.PushService">
        <endpoint address="" binding="webHttpBinding" contract="CargoWise.eHub.Share.eHubServices.eHubReceiver.IPushService" behaviorConfiguration="RESTEndpointBehavior" />
      </service>
    </services>
    <client>
      <endpoint address="net.tcp://syd-thub-1:11820/SendToBiztalk/Send.svc" binding="customBinding" bindingConfiguration="SendToBiztalk" contract="CargoWise.eHub.Share.eHubServices.eHubReceiver.ISendToBiztalk" name="SendToBiztalkService" />
    </client>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669E0DDF0BB1AA2A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="AF08829B84F0328E" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="AF08829B84F0328E" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>