<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.net xdt:Transform="InsertBefore(/configuration/system.serviceModel)">
    <defaultProxy>
      <proxy bypassonlocal="True" usesystemdefault="False" proxyaddress="http://127.0.0.1:8888" />
    </defaultProxy>
  </system.net>
</configuration>