<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="eHubReceiverTest" value="TRXELPTST|TRXELPTST_CIS" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="eHubReceiverProd" value="TRXELPELP|TRXELPELP_CIS" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UserName" value="cisco" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Password" value="SR2VYLaD5s" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  
    <system.serviceModel>
      <client xdt:Transform="Replace">
        <endpoint address="net.tcp://biztalk.wisecloud.zone:11820/SendToBiztalk/Send.svc"
          binding="customBinding" bindingConfiguration="SendToBiztalk"
          contract="CargoWise.eHub.Share.eHubServices.eHubReceiver.ISendToBiztalk" name="SendToBiztalkService"  xdt:Transform="Replace" xdt:Locator="Match(name)"  />
      </client>
    </system.serviceModel>
</configuration>