# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
# severity levels are found here: https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/configuration-options#severity-level

# C# files
[*.cs]

# There was a bug in CalculateEffectiveSeverity, when one of the files had a diagnostic suppressed and the rest had default.
# The analyzer would be marked as suppressed everywhere. This folder highlights that bug and ensures the correct response.
dotnet_diagnostic.SA1210.severity = suggestion
