<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="authWsExtensions" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="RoutingClients" type="CargoWise.eHub.Gateway.Routing.RoutingClientsConfigurationSection, CargoWise.eHub.Gateway"/>
    <section name="sensitiveAppSettings" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="billingKafkaClientSettings" type="System.Configuration.DictionarySectionHandler"/>
    <section name="billingKafkaProducerSettings" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <authWsExtensions>
    <add key="^(\w{9})(\w{3})?_CSW$" value="0"/>
    <add key="(.{9})_TCA" value="0"/>
  </authWsExtensions>
  <sensitiveAppSettings>
    <add key="GatewayKafkaSaslPassword" value=""/>
  </sensitiveAppSettings>
  <billingKafkaClientSettings>
    <add key="bootstrap.servers" value="localhost:9093"/>
    <add key="security.protocol" value="SASL_SSL"/>
    <add key="sasl.mechanism" value="PLAIN"/>
    <add key="sasl.username" value="billing-topic"/>
    <add key="sasl.password" value="MyPassword"/>
    <add key="enable.ssl.certificate.verification" value="true"/>
  </billingKafkaClientSettings>
  <billingKafkaProducerSettings>
    <add key="linger.ms" value="50"/>
    <add key="message.timeout.ms" value="30000"/>
  </billingKafkaProducerSettings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
        <arg key="configType" value="FILE-WATCH"/>
        <arg key="configFile" value="~\CargoWise.eHub.Gateway.Host.log4net.config"/>
      </factoryAdapter>
    </logging>
  </common>
  <RoutingClients Enabled="True">
    <Client Id="SHIPPING_INSTRUCTION" RoutingMethod="OCM"/>
    <Client Id="FORWARDING_PORT_MESSAGE" RoutingMethod="Standard"/>
  </RoutingClients>
  <!--Copied from eHub.Core configurations-->
  <appSettings>
    <clear/>
    <add key="eServices.eHubDataAccess.InboxAccessor, Version=3.0.0.0" value="eServices.eHubDataAccess.Sql.InboxAccessor, eServices.eHubDataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>
    <add key="eServices.eHubDataAccess.SecurityAccessor, Version=3.0.0.0" value="eServices.eHubDataAccess.Sql.SecurityAccessor, eServices.eHubDataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>
    <add key="eServices.eHubDataAccess.OutboxAccessor, Version=3.0.0.0" value="eServices.eHubDataAccess.Sql.OutboxAccessor, eServices.eHubDataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>
    <add key="eServices.eHubDataAccess.ExceptionsAccessor, Version=3.0.0.0" value="eServices.eHubDataAccess.Sql.ExceptionsAccessor, eServices.eHubDataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>
    <add key="eServices.eHubDataAccess.PartyAccessor, Version=3.0.0.0" value="eServices.eHubDataAccess.Cache.PartyAccessor, eServices.eHubDataAccess.Cache, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>
    <add key="eServices.eHubDataAccess.TransformAccessor, Version=3.0.0.0" value="eServices.eHubDataAccess.Cache.TransformAccessor, eServices.eHubDataAccess.Cache, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>
    <add key="eServices.eHubDataAccess.SubscriptionAccessor, Version=3.0.0.0" value="eServices.eHubDataAccess.Cache.SubscriptionAccessor, eServices.eHubDataAccess.Cache, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>
    <add key="eServices.eHubDataAccess.RegistryAccessor, Version=3.0.0.0" value="eServices.eHubDataAccess.Cache.RegistryAccessor, eServices.eHubDataAccess.Cache, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>
    <add key="eServices.eHubDataAccess.EnterpriseExeDetailAccessor, Version=3.0.0.0" value="eServices.eHubDataAccess.Sql.EnterpriseExeDetailAccessor, eServices.eHubDataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>
    <add key="eServices.eHubDataAccess.EHubClientSystemAccessor, Version=3.0.0.0" value="eServices.eHubDataAccess.Sql.EHubClientSystemAccessor, eServices.eHubDataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>

    <add key="eServices.eHubDataAccess.Cache.PartyAccessor, Version=3.0.0.0" value="eServices.eHubDataAccess.Sql.PartyAccessor, eServices.eHubDataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>
    <add key="eServices.eHubDataAccess.Cache.TransformAccessor, Version=3.0.0.0" value="eServices.eHubDataAccess.Sql.TransformAccessor, eServices.eHubDataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>
    <add key="eServices.eHubDataAccess.Cache.SubscriptionAccessor, Version=3.0.0.0" value="eServices.eHubDataAccess.Sql.SubscriptionAccessor, eServices.eHubDataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>
    <add key="eServices.eHubDataAccess.Cache.RegistryAccessor, Version=3.0.0.0" value="eServices.eHubDataAccess.Sql.RegistryAccessor, eServices.eHubDataAccess.Sql, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=4f570df270576350"/>

    <!--Size of buffers used when programmatically managing streams (eg) xpathreader, re-encoding, etc-->
    <add key="StreamingBufferSize" value="65536"/>
    <add key="eHubEmailAddress" value="noreply@wtg.zone"/>
    <add key="EmailSubject" value="eHub Password Notification"/>
    <add key="ReferenceFileCachingEnabled" value="true"/>
    <add key="OrderedDeliveryThresholdInSeconds" value="60"/>
    <add key="NumberOfCandidates" value="500"/>
    <add key="BatchSizeLimitInBytes" value="104850000"/>
    <add key="CompanyListMaxCount" value="10"/>
    <add key="UnprocessedMessageCountLimitPerClient" value="1000"/>
    <add key="eServices.eHubDataAccess.Sql.eHubTransactions.CommandTimeout" value="300"/>
    <add key="SpecialTreatmentServerAddress" value="https://localhost/eHubGateway/eHubStreamedService.svc"/>
    <add key="DatabaseAccessRetryTimeLimit" value="600"/>
    <add key="MessageLoggingFolder" value="FailedMessages"/>
    <add key="FailNZCustomsMessageDelivery" value="false"/>
    <add key="CargoWise.eServices.Authentication.ServiceClient.Endpoint" value="https://localhost/authentication/authentication/"/>
    <add key="CargoWise.eServices.Authentication.ServiceClient.CacheDuration​" value="300"/>
    <!--add key="ISFChangeCutOverDate" value="16/09/2017 05:00:00 AM" />
		<add key="FTZChangeCutOverDate" value="09/12/2017 05:00:00 AM" />
		<add key="MIDChangeCutOverDate" value="09/12/2017 05:00:00 AM" /-->
    <add key="ISFChangeCutOverDate" value="2017-01-01 05:00:00"/>
    <add key="FTZChangeCutOverDate" value="2017-12-09 15:00:00"/>
    <!--WI00181528 - The date and time are set for 11pm US ET.-->
    <add key="MIDChangeCutOverDate" value="2017-12-09 15:00:00"/>
    <add key="USCustomsLicenceOverrideToProd" value=""/>
    <add key="ExceptionReportTextSizeLimit" value="307200"/>
    <add key="BillingKafkaTopic" value="billing-topic"/>
    <add key="BillingUsageKafkaTopic" value="usage-topic"/>
    <add key="SendBillingToKafka" value="false"/>
    <add key="KafkaMessageTimeoutInSeconds" value="30"/>
    <add key="IssueManagerUri" value=""/>
    <add key="IssueManagerKey" value="eHubGateway"/>
    <add key="ShouldForwardToProxyGateway" value="False"/>
    <add key="ProxyGatewayAddress" value="https://ehub-ausyd-test.cargowise.net/eHubGateway/eHubStreamedService.svc"/>
    <add key="XHGatewayUrl" value="https://localhost/xHGateway.Core/"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="CargoWise.eHub.DataAccess.Sql.eHubTransactions" connectionString="Data Source=localhost;Initial Catalog=eHubTransactions;App=eHub Gateway;User Id=eHubGateway;Password=3hubgatewayappp001"/>
    <add name="CargoWise.eHub.DataAccess.ediProdCache" connectionString="Data Source=localhost;App=eHub Gateway;Initial Catalog=ediProdCache;User Id=eHubGateway;Password=3hubgatewayappp001"/>
    <add name="eHubTransactionsContext" connectionString="Data Source=localhost;Initial Catalog=eHubTransactions;App=eHub Gateway;User Id=eHubGateway;Password=3hubgatewayappp001" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <authentication mode="Windows"/>
    <httpRuntime maxRequestLength="2097151" executionTimeout="300" enableVersionHeader="false"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <sessionState mode="Off"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\MailDrop"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="HttpStreamingService" openTimeout="00:03:00" closeTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security authenticationMode="UserNameOverTransport" allowInsecureTransport="true">
            <localClientSettings maxClockSkew="01:30:00"/>
            <localServiceSettings maxClockSkew="01:30:00"/>
          </security>
          <textMessageEncoding messageVersion="Soap11" maxReadPoolSize="192" maxWritePoolSize="192">
            <readerQuotas maxDepth="1048576" maxStringContentLength="1048576" maxArrayLength="104857600" maxBytesPerRead="1048576" maxNameTableCharCount="1048576"/>
          </textMessageEncoding>
          <httpsTransport maxBufferPoolSize="1048576" maxBufferSize="1048576" maxReceivedMessageSize="104857600" transferMode="Streamed"/>
        </binding>
        <binding name="eHub2Gateway" openTimeout="00:02:00" closeTimeout="00:02:00" receiveTimeout="00:19:00" sendTimeout="00:19:00">
          <binaryMessageEncoding maxReadPoolSize="1024" maxWritePoolSize="1024" maxSessionSize="2048">
            <readerQuotas maxDepth="1048576" maxStringContentLength="1048576" maxArrayLength="104857600" maxBytesPerRead="1048576" maxNameTableCharCount="1048576"/>
          </binaryMessageEncoding>
          <tcpTransport manualAddressing="false" maxBufferPoolSize="1048576" maxReceivedMessageSize="104857600" connectionBufferSize="1048576" hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:03:00" maxBufferSize="1048576" maxPendingConnections="192" maxOutputDelay="00:00:00.2000000" maxPendingAccepts="24" transferMode="Streamed" listenBacklog="192" portSharingEnabled="false" teredoEnabled="false">
            <connectionPoolSettings groupName="default" leaseTimeout="00:05:00" idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="50"/>
          </tcpTransport>
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="HttpBufferedService" maxBufferPoolSize="524288000" maxReceivedMessageSize="104857600">
          <security mode="Transport">
            <transport>
              <extendedProtectionPolicy policyEnforcement="Never"/>
            </transport>
          </security>
        </binding>
        <binding name="secure" maxBufferPoolSize="524288000" maxReceivedMessageSize="104857600">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="CargoWise.eHub.Gateway.eHubStreamedServiceBehavior" name="CargoWise.eHub.Gateway.eHubStreamedService">
        <endpoint address="" binding="customBinding" bindingConfiguration="HttpStreamingService" contract="CargoWise.eHub.Gateway.IeHubStreamedService"/>
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="errorHandling" type="CargoWise.eHub.Gateway.eHubErrorHandler, CargoWise.eHub.Gateway, PublicKeyToken=4f570df270576350"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CargoWise.eHub.Gateway.eHubStreamedServiceBehavior">
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="CargoWise.eHub.Gateway.eHubUserNamePasswordValidator, CargoWise.eHub.Gateway, PublicKeyToken=4f570df270576350"/>
          </serviceCredentials>
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentInstances="1000" maxConcurrentSessions="500"/>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <errorHandling/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.tcp://localhost:11809/eHub2Gateway/eHub2Gateway.svc" binding="customBinding" bindingConfiguration="eHub2Gateway" contract="CargoWise.eHub2.Common.IEHub2Reciever" name="eHub2GatewayService"/>
      <endpoint address="https://localhost/CargoWise.eServices.Billing.WcfService_deploy/BillingService.svc" binding="basicHttpBinding" bindingConfiguration="secure" contract="BillingServiceReference.IBillingService" name="billing_service"/>
      <endpoint address="https://localhost/XHubGateway/XHubGateway.svc/SOAP" binding="basicHttpBinding" bindingConfiguration="secure" contract="XHub.XHubGateway.xHubGateway" name="SOAP"/>
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <diagnostics performanceCounters="All"/>
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <add path="wtg/status" verb="*" type="CargoWise.eHub.Gateway.HealthCheck.GatewayServiceHealthCheckHttpTaskAsyncHandler" name="GatewayServiceHealthCheckHttpTaskAsyncHandler"/>
    </handlers>
    <security>
      <requestFiltering removeServerHeader="true"/>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <add name="Cache-Control" value="no-cache"/>
        <add name="Expires" value="-1"/>
        <add name="Pragma" value="no-cache"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Error">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Logs\Web\Traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CargoWise.eHub.Common" publicKeyToken="4F570DF270576350" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
