.controlbar {
	display: flex;
	justify-content: right;
	align-items: center;
	gap: 5px;
	padding-right: var(--padding-right, 0px);
}

.controlbar.is-wrdPopout {
	--padding-right: 15px;
}

.controlbar__statusmessage {
	margin-right: auto;
	font-size: 14px;
	margin-left: 2px;
	font-weight: 400;
	letter-spacing: -0.2px;
}

.controlbar__button {
	background: #dddddd;
	border: 1px solid #717171;
	padding: 5px 7px;
	margin: var(--margin, 0px);
}

.controlbar__button.is-wrdPopout {
	--margin: 9px 0px;
}

.controlbar__button:hover {
	background: #bee6fd;
	border-color: #3c7fb1;
}


.controlbar__zoomlabel {
	padding-left: 10px;
}


.controlbar__zoomslidecontainer {
	width: 120px;
}

.controlbar__zoomslider {
	width: 100%;
	background: #e7eaea;
	border: 1px solid #d6d6d6;
	outline: none;
	appearance: none;
	height: 5px;
}

.controlbar__zoomslider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 15px;
	border: 1px solid #c0c0c1;
	cursor: default;
	background: conic-gradient(from 135deg at top,#c0c0c1, #f0f0f0 1deg 90deg,#c0c0c1 90deg) 50%/10px 100% no-repeat;
	clip-path: polygon(0 5.00px,5.00px 0,calc(100% - 5.00px) 0,100% 5.00px,100% 100%,0 100%);
}

.controlbar__zoomslider::-webkit-slider-thumb:hover {
	background: conic-gradient(from 135deg at top,#3c7fb1, #bee6fd 1deg 90deg,#3c7fb1 90deg) 50%/10px 100% no-repeat;
	border-color: #3c7fb1;
}
