<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/CargoWise.eHub.Products.GBCustoms.CNS.InboundMessageWebService.Tests.log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <add key="GBCustomsID" value="GBCustomsTest-CNS" />
    <add key="GBCustomsRegistrationType" value="GBCustoms-CNS" />
    <add key="GBCustomsSubscriptionType" value="GBCCNS" />
    <add key="SubscriptionProviderIDList" value ="GBCustomsTest-CNS,GBCustoms-CNS" />
    <add key="DatabaseAccessRetryTimeLimit" value="600" />
    <add key="AuthorisationHeaderKey" value="Authorization" />
    <add key="CargoWise.eServices.GBCustomsCNSNotificationWebService.HealthCheck.Https.Endpoint" value="https://localhost/GBCustomsCNSNotificationWebService/wtg/status" />
    <add key="CargoWise.eServices.GBCustomsCNSNotificationWebService.HealthCheck.Http.Endpoint" value="http://localhost:8080/GBCustomsCNSNotificationWebService/wtg/status" />
    <add key="GetRecipientsRetryAttempts" value="3"/>
    <add key="GetRecipientsRetryWaitTime" value="1"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.13.3.0" newVersion="3.13.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
