<div class="help-page">
	<div class="row" *ngIf="id">
		<app-status [status]="infoStatus"></app-status>
	</div>
	<section class="featured">
		<div class="content-wrapper">
			<h2 innerHtml="{{endpointInfo.interfaceName}}  is {{endpointInfo.checkRunning}}"></h2>
			<div [innerHtml]="endpointInfo.optionalHtml"></div>
			<p>Access to <a attr.href="{{mockEndpointsUrl}}/swagger/index.html#{{endpointInfo.controllerName}}">Swagger API document</a> for more information about {{endpointInfo.controllerName}} mock endpoint.</p>
		</div>
	</section>
</div>
