<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="testsettings" type="System.Configuration.DictionarySectionHandler"/>
    <section name="nudge" type="System.Configuration.DictionarySectionHandler" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <connectionStrings>
    <add name="eHubTransactions" connectionString="Server=localhost;Database=eHubTransactions;ApplicationIntent=ReadOnly"/>
  </connectionStrings>

  <testsettings>
    <add key="serverUrl" value="http://localhost:9753/mockhttpserver/" />
  </testsettings>

  <nudge>
    <add key="reloadSystemInterval" value="1" />
    <add key="checkAndNudgeInterval" value="1" />
    <add key="maxThreadNumInPool" value="1000" />
    <add key="authKey" value="9183AC7A-59C3-47DC-A0C4-D96874BA5D6F" />
    <add key="nudgeRetryIntervals" value="5,30,60,300,1800,3600" />
    <add key="nudgeCCDSUrl" value="http://localhost:9753/mockhttpserver/ScheduleServiceTasksUri?ClientCode={endpoint}&amp;ServiceTasks=EHI" />
  </nudge>

</configuration>