<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <appSettings>
    <add key="CargoWise.eServices.Authentication.ServiceClient.Endpoint" value="https://localhost/Authentication/Authentication/"/>
    <add key="CargoWise.eServices.Authentication.ServiceClient.CacheDuration" value="300"/>
    <add key="CargoWise.eServices.Authentication.HealthCheck.Http.Endpoint" value="http://localhost:8080/Authentication/wtg/status"/>
  </appSettings>

  <connectionStrings>
    <add name="Authentication" connectionString="Server=localhost;Database=AuthenticationWebService;Integrated Security=SSPI"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.13.3.0" newVersion="3.13.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
