<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<add name="Authentication"
			 connectionString="Server=AuthenticationWebService.db.wisegrid.net;Database=AuthenticationWebService;User ID=AuthenticationWS;Password=$AuthenticationPassword$;"
			 xdt:Transform="SetAttributes"
			 xdt:Locator="Match(name)"/>
	</connectionStrings>

</configuration>