<?xml version="1.0" encoding="utf-8" ?> 
<!--Example place in your c:\Enterprise directory and add the assembly files you want to test-->

<Assemblies>
	<Assembly Name="Accounting" /> 
	<Assembly Name="Enterprise"  /> 
	<Assembly Name="Core" /> 
	<Assembly Name="DocumentEngine" /> 
	<Assembly Name="DocumentPrinting" /> 
	<Assembly Name="SharedComponents" /> 
	<Assembly Name="Customs" /> 
	<Assembly Name="SGCustoms" /> 
	<Assembly Name="AUCustoms" /> 
	<Assembly Name="LCLBooking" /> 
	<Assembly Name="ContainerMgr" /> 
	<Assembly Name="Accounting" /> 
	<Assembly Name="DocumentScanning" /> 
	<Assembly Name="Rating" /> 
	<Assembly Name="Edifact" /> 
	<Assembly Name="Freight" /> 
	<Assembly Name="Transport" /> 
	<Assembly Name="Enterprise.DbUpgrader" /> 
	<Assembly Name="Synchroniser" /> 
</Assemblies> 
