<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<add name="BillingContext"
				 connectionString="data source=sydbilling.db.wtg.zone;initial catalog=billing;persist security info=True;user id=billing_admin;password=$BillingDBPassword$;MultipleActiveResultSets=True;Application Name=BillingWebService"
				 xdt:Transform="SetAttributes"
				 xdt:Locator="Match(name)"/>
	</connectionStrings>

  <appSettings>
    <add key="BillingKafkaTopic" value="topic-au2-prod-billing-prod"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
    <add key="UsageELKKafkaTopic" value="topic-au2-prod-ehubgatewaynonbilledusage-prod"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
    <add key="BilledELKKafkaTopic" value="topic-au2-prod-ehubgatewaybilledusage-prod"
			 xdt:Transform="SetAttributes(value)"
			 xdt:Locator="Match(key)"/>
    <add key="SendToELKBillingCategories" value="TST,STL,ACC,DOS,WTA,SMF"
			 xdt:Transform="SetAttributes(value)"
			 xdt:Locator="Match(key)"/>
    <add key="NotSendToELKBillingCodes" value="EAD,EAO"
			 xdt:Transform="SetAttributes(value)"
			 xdt:Locator="Match(key)"/>
    <add key="PartitionLagThreshold" value="100000"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
    <add key="ThrottlingThresholdOfStaging" value="5000000"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
    <add key="IssueManagerUri" value="https://errors.cargowise.net/" 
         xdt:Transform="SetAttributes(value)" 
         xdt:Locator="Match(key)" />
    <add key="HostedServerNames" value="au2co-siis-410a.wtg.zone,au2co-siis-410b.wtg.zone"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)" />
  </appSettings>

  <billingKafkaClientSettings>
    <add key="bootstrap.servers" value="106-cluster-kafka-q0-au2-brokers.kafka.wtg.ws:8044,107-cluster-kafka-q0-au2-brokers.kafka.wtg.ws:8044,108-cluster-kafka-q0-au2-brokers.kafka.wtg.ws:8044,109-cluster-kafka-q0-au2-brokers.kafka.wtg.ws:8044,110-cluster-kafka-q0-au2-brokers.kafka.wtg.ws:8044"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
    <add key="sasl.username" value="topic-au2-prod-billing-prod"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
    <add key="sasl.password" value="$BillingKafkaPassword$"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
  </billingKafkaClientSettings>
  <billingKafkaProducerSettings>
    <add key="linger.ms" value="50"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
    <add key="message.timeout.ms" value="10000"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
  </billingKafkaProducerSettings>
  <billingKafkaConsumerSettings>
    <add key="group.id" value="eServices-billing-transactions-consumer"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
    <add key="auto.offset.reset" value="Earliest"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />
    <add key="enable.partition.eof" value="true"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />
  </billingKafkaConsumerSettings>

	<system.serviceModel>

    <bindings xdt:Transform="Remove" />
    <bindings xdt:Transform="Insert">
      <basicHttpBinding>
        <binding name="basicHttp" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <service name="CargoWise.eServices.Billing.WcfService.BillingService"
               xdt:Transform="Replace"
               xdt:Locator="Match(name)">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="basicHttp"
                  contract="CargoWise.Billing.Service.IBillingService" />
      </service>
    </services>

    <behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" xdt:Transform="SetAttributes" />
					<serviceDebug includeExceptionDetailInFaults="false" xdt:Transform="SetAttributes" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>

	<system.webServer>

		<directoryBrowse enabled="false" xdt:Transform="SetAttributes" />

		<security>
			<ipSecurity xdt:Transform="Remove"/>
			<ipSecurity allowUnlisted="false" enableProxyMode="true" xdt:Transform="Insert">
				<add allowed="true" ipAddress="10.61.16.68" /> <!-- WG1-VHUB-1.wg.cargowise.com -->
				<add allowed="true" ipAddress="10.61.16.55" /> <!-- WG1-VSQL-1.wg.cargowise.com -->
				<add allowed="true" ipAddress="10.61.147.40" /> <!-- SYDWP-SAPP-1.wisecloud.zone -->
				<add allowed="true" ipAddress="10.61.147.42" /> <!-- SYDWP-SAPP-3.wisecloud.zone -->
				<add allowed="true" ipAddress="10.61.147.72" /> <!-- FMS Server -->
				<add allowed="true" ipAddress="10.61.179.137" /> <!-- SYDWP-SDKR-4.wisecloud.zone -->
				<add allowed="true" ipAddress="10.61.179.138" /> <!-- SYDWP-SDKR-5.wisecloud.zone -->
				<add allowed="true" ipAddress="10.61.146.71" /> <!-- SYDWP-SDKR-3.wisecloud.zone -->
				<add allowed="true" ipAddress="10.61.179.36" /> <!-- SYDWP-SEWG-1.wisecloud.zone -->
				<add allowed="true" ipAddress="10.61.179.37" /> <!-- SYDWP-SEWG-2.wisecloud.zone -->
				<add allowed="true" ipAddress="10.61.179.47" /> <!-- SYDCO-SWEB-3 -->
				<add allowed="true" ipAddress="10.61.179.48" /> <!-- SYDCO-SWEB-4 -->
        <add allowed="true" ipAddress="10.61.198.45" /> <!-- SYDCO-SWEB-5.wtg.zone -->
				<add allowed="true" ipAddress="10.61.179.93" /> <!-- SYDCO-SWEB-6 -->
				<add allowed="true" ipAddress="10.61.179.94" /> <!-- SYDCO-SWEB-7 -->
				<add allowed="true" ipAddress="10.1.179.36" />	<!-- ORDCO-SWEB-1 -->
				<add allowed="true" ipAddress="10.61.140.168" /><!-- SYDWP-SAPP-16 -->
				<add allowed="true" ipAddress="10.61.179.95" />	<!-- SYDWP-SWEB-3.wisecloud.zone-->
				<add allowed="true" ipAddress="10.61.179.96" />	<!-- SYDWP-SWEB-4.wisecloud.zone -->
				<add allowed="true" ipAddress="10.2.69.14" />   <!-- : AU2WP-SDPS-401A.wisecloud.zone-->
				<add allowed="true" ipAddress="10.2.69.15" />   <!-- AU2WP-SDPS-401B.wisecloud.zone-->
				<add allowed="true" ipAddress="10.4.67.13" />   <!-- us2wp-sdps-401.wisecloud.zone-->
        <add allowed="true" ipAddress="10.2.83.23" /> <!-- LoadBalancers Sydney-->
				<add allowed="true" ipAddress="10.2.83.24" /> <!-- LoadBalancers Sydney-->
				<add allowed="true" ipAddress="10.61.178.131" /> <!-- LoadBalancers Sydney-->
				<add allowed="true" ipAddress="10.61.178.132" /> <!-- LoadBalancers Sydney-->
				<add allowed="true" ipAddress="10.61.178.133" /> <!-- LoadBalancers Sydney-->
				<add allowed="true" ipAddress="10.61.178.134" /> <!-- LoadBalancers Sydney-->
				<add allowed="true" ipAddress="10.61.178.135" /> <!-- LoadBalancers Sydney-->
				<add allowed="true" ipAddress="10.61.178.136" /> <!-- LoadBalancers Sydney-->
				<add allowed="true" ipAddress="10.1.178.131" /> <!-- LoadBalancers Chicago-->
				<add allowed="true" ipAddress="10.1.178.132" /> <!-- LoadBalancers Chicago-->
				<add allowed="true" ipAddress="10.1.178.133" /> <!-- LoadBalancers Chicago-->
        <add allowed="true" ipAddress="10.2.67.111" /><!-- au2wp-sdkr-1.wisecloud.zone-->
        <add allowed="true" ipAddress="10.2.173.2" /><!-- au2auawebw001 WTA on au2hosted.wisegrid.net-->
        <add allowed="true" ipAddress="10.2.173.3" /><!-- au2auawebw002 WTA on au2hosted.wisegrid.net-->
        <add allowed="true" ipAddress="10.2.173.4" /><!-- au2auamgtw001 WTA on au2hosted.wisegrid.net-->
        <add allowed="true" ipAddress="10.2.70.3" /><!-- au2wp-sgss-401.wisecloud.zone-->
        <add allowed="true" ipAddress="10.2.70.4" /><!-- au2wp-sgct-401.wisecloud.zone-->
        <add allowed="true" ipAddress="10.2.88.59" /><!-- au2wp-sabe-401.wisecloud.zone -->
        <add allowed="true" ipAddress="10.2.88.60" /><!-- au2wp-sfms-401.wisecloud.zone -->
        <add allowed="true" ipAddress="10.2.69.38" /><!-- au2wp-sewg-401a.wisecloud.zone -->
        <add allowed="true" ipAddress="10.2.69.39" /><!-- au2wp-sewg-401b.wisecloud.zone -->
        <add allowed="true" ipAddress="10.2.69.42"/><!-- au2co-siis-410a.wtg.zone -->
        <add allowed="true" ipAddress="10.2.69.43"/><!-- au2co-siis-410b.wtg.zone -->
        <add allowed="true" ipAddress="10.2.69.101"/><!-- au2wp-sews-401a.wisecloud.zone -->
        <add allowed="true" ipAddress="10.2.69.102"/><!-- au2wp-sews-401b.wisecloud.zone -->
        <add allowed="true" ipAddress="10.2.88.67"/><!-- au2wp-semc-401.wisecloud.zone -->
        <add allowed="true" ipAddress="10.2.69.4"/><!-- au2wp-seug-401a.wisecloud.zone -->
        <add allowed="true" ipAddress="10.2.69.5"/><!-- au2wp-seug-401b.wisecloud.zone -->
        <add allowed="true" ipAddress="127.0.0.1" />
			</ipSecurity>
		</security>

	</system.webServer>

</configuration>