<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <add key="webDeployXmlFile" value="TestWebDeploy.xml" />
  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="File" xsi:type="File"
              encoding="utf-8"
              layout="${longdate}|${level:uppercase=true}|${message}|${exception:format=ToString}"
              fileName="${basedir}\Logs\WebInfrastructure.Integration.Test.log"
              archiveFileName="${basedir}\Logs\WebInfrastructure.Integration.Test_{#}.log"
              archiveDateFormat ="yyyyMMdd_HHmmss"
              archiveAboveSize="8388608"
              archiveNumbering="DateAndSequence"
              concurrentWrites="false"
              maxArchiveFiles="20"
              openFileCacheTimeout="60"
              keepFileOpen="true" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="File" />
    </rules>
  </nlog>
</configuration>