@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100 900;
	src: url('/fonts/inter.woff2?v=iN8LWnvDl9vBOia7izdCzGLNHJsN3tV9p4MkFtb1L0I') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.connection-lost-overlay {
	display: none;
	width: 100vw;
	height: 100vh;
	position: absolute;
	font-family: "Inter", sans-serif;
	font-weight: 600;
	font-size: 13px;
	line-height: 20px;
	color: var(--s-neutral-txt-default);
	z-index: 999999;
	--s-neutral-bg-default: #ffffff;
	--s-neutral-bg-weak-hover: #f1f1ef;
	--s-neutral-bg-weak-active: #dcdcd7;
	--s-neutral-txt-default: #30302e;
	--s-neutral-txt-hover: #1c1c1b;
	--s-neutral-txt-active: #111110;
	--s-neutral-border-weak-default: rgba(107, 107, 104, 0.5);
	--s-primary-bg-default: #371ee1;
	--s-primary-bg-hover: #221098;
	--s-primary-bg-active: #110662;
	--s-primary-txt-inv-default: #f6f8ff;
	--s-primary-txt-inv-hover: #ecf1ff;
	--s-primary-txt-inv-active: #ffffff;
	--s-warning-bg-weak-default: #faf9e3;
	--s-warning-txt-default: #716d28;
	--s-warning-icon-default: #716d28;
	--s-error-bg-default: #d50047;
	--s-error-bg-hover: #910031;
	--s-error-bg-active: #670022;
	--s-error-bg-weak-default: #fef6f9;
	--s-error-txt-default: #d50047;
	--s-error-icon-default: #d50047;
	--s-error-txt-inv-default: #fef6f9;
	--s-error-txt-inv-hover: #fdedf2;
	--s-error-txt-inv-active: #ffffff;
}

.connection-lost-overlay.components-reconnect-show,
.connection-lost-overlay.components-reconnect-failed,
.connection-lost-overlay.components-reconnect-rejected {
	background-color: rgba(217,217,217, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
}

.connection-lost-dialog--reconnecting,
.connection-lost-dialog--confirmation,
.connection-lost-dialog--disconnected {
	display: none;
}

.connection-lost-overlay.components-reconnect-show:not([data-confirm]) .connection-lost-dialog--reconnecting,
.connection-lost-overlay.components-reconnect-show[data-confirm=''] .connection-lost-dialog--reconnecting {
	display: flex;
}

.connection-lost-overlay.components-reconnect-show[data-confirm]:not([data-confirm='']) .connection-lost-dialog--confirmation {
	display: flex;
}

.connection-lost-dialog--confirmation-exit,
.connection-lost-dialog--confirmation-restart {
	display: none;
}

.connection-lost-overlay.components-reconnect-show[data-confirm='exit'] .connection-lost-dialog--confirmation-exit,
.connection-lost-overlay.components-reconnect-show[data-confirm='restart'] .connection-lost-dialog--confirmation-restart {
	display: block;
}

.connection-lost-overlay.components-reconnect-failed .connection-lost-dialog--disconnected,
.connection-lost-overlay.components-reconnect-rejected .connection-lost-dialog--disconnected {
	display: flex;
}

.connection-lost-dialog {
	width: 600px;
	margin: 50px;
}

.connection-lost-dialog__header {
	height: 44px;
	border: 1px solid var(--s-neutral-border-weak-default);
	border-radius: 8px 8px 0px 0px;
	overflow: hidden;
}

.connection-lost-dialog__header > div {
	gap: 8px;
	padding: 0px 16px;
	height: 100%;
	align-items: center;
}

.connection-lost-dialog__header--warning {
	background-color: var(--s-warning-bg-weak-default);
	color: var(--s-warning-txt-default);
}

.connection-lost-dialog__header--warning > svg {
	fill: var(--s-warning-icon-default);
}

.connection-lost-dialog__header--critical {
	background-color: var(--s-error-bg-weak-default);
	color: var(--s-error-txt-default);
}

.connection-lost-dialog__header--critical > svg {
	fill: var(--s-error-icon-default);
}

.connection-lost-dialog__headericon {
	width: 20px;
	height: 20px;
}

.connection-lost-dialog__content > div {
	flex-direction: column;
	gap: 16px;
	font-weight: 400;
}

.connection-lost-dialog__body > strong {
	font-weight: 600;
}

.connection-lost-dialog__body {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px;
	background-color: var(--s-neutral-bg-default);
	border: 1px solid var(--s-neutral-border-weak-default);
	border-top: 0;
	border-radius: 0px 0px 8px 8px;
}

.connection-lost-dialog__progresstext {
	font-size: 10px;
	line-height: 10px;
	font-weight: 400;
}

.connection-lost-dialog__separator {
	border-top: 1px solid var(--s-neutral-border-weak-default);
}

.connection-lost-dialog__buttons > div {
	gap: 16px;
	justify-content: flex-end;
}

.connection-lost-dialog__button {
	height: 28px;
	border-radius: 4px;
	border: 0;
	padding: 4px 8px;
	font-weight: 600;
}

.connection-lost-dialog__button--primary {
	background-color: var(--s-primary-bg-default);
	color: var(--s-primary-txt-inv-default);
}

.connection-lost-dialog__button--primary:hover {
	background-color: var(--s-primary-bg-hover);
	color: var(--s-primary-txt-inv-hover);
}

.connection-lost-dialog__button--primary:active {
	background-color: var(--s-primary-bg-active);
	color: var(--s-primary-txt-inv-active);
}

.connection-lost-dialog__button--critical {
	background-color: var(--s-error-bg-default);
	color: var(--s-error-txt-inv-default);
}

.connection-lost-dialog__button--critical:hover {
	background-color: var(--s-error-bg-hover);
	color: var(--s-error-txt-inv-hover);
}

.connection-lost-dialog__button--critical:active {
	background-color: var(--s-error-bg-active);
	color: var(--s-error-txt-inv-active);
}

.connection-lost-dialog__button--secondary {
	background-color: transparent;
	color: var(--s-neutral-txt-default);
}

.connection-lost-dialog__button--secondary:hover {
	background-color: var(--s-neutral-bg-weak-hover);
	color: var(--s-neutral-txt-hover);
}

.connection-lost-dialog__button--secondary:active {
	background-color: var(--s-neutral-bg-weak-active);
	color: var(--s-neutral-txt-active);
}

@media screen and (max-width: 500px), screen and (max-height: 300px) {
	.connection-lost-dialog__body {
		display: none;
	}

	.connection-lost-dialog__header {
		border-radius: 8px;
	}
}
