# local repo
source http://localhost/repo/nuget/

# This filters out extra crap from .NET Core that we don't care about (yet).
framework >= netcoreapp2.1

# This is our list of packages.
# If you know what you're doing, manually add an entry.
# If you don't, use "paket.exe add nuget <package> --no-install".
# Use "paket.exe update --no-install" to update paket.lock.
# Use "paket.exe restore" to update the package cache above
#
# DO NOT UPDATE paket.lock BY HAND!
#
nuget AirMenzies.Transforms.UniversalInterchange2AirMenzies
nuget AsycudaCustoms.Transform.Uxml_2_AsyPlusPlus
nuget AUCustomsNEXDOC.NEXDOC2UEvent
nuget AUCustomsNEXDOC.UniversalShipment2NEXDOC
nuget CACustoms.DocImg.BT.Transformations.UniversalEvent2LPCOImage
nuget CACustoms.Transformations
nuget CACustoms.Transformations.CAXMLReply2UniversalTransactionBatch
nuget CACustoms.Transformations.CUSDEC2UniversalTransactionBatch
nuget CACustoms.Transformations.GOVCBR2UniversalEvent
nuget CACustoms.Transformations.UniversalShipmentToGOVCBR
nuget ComplianceTaxReport.HungaryTaxAudit.Transformations
nuget ComplianceTaxReport.ItalyBlackList.Transformations
nuget ComplianceTaxReport.Transformations
nuget Dakosy.BT.Transforms.APERAK2EDIUniversalEvent
nuget Dakosy.BT.Transforms.DakosyResponse2EDIUniversalEvent
nuget Dakosy.BT.Transforms.EDIUniversalShipment2DakosyQuayOrder
nuget ESCompliance.Transforms.UniTrans2SII
nuget ForwardAir.Transforms.X12_210_2_UniversalShipment
nuget ForwardAir.Transforms.X12_214_2_UniversalEvent
nuget ForwardingPortMessaging.Common.Transforms.UniShip2UniEvt
nuget ForwardingPortMessaging.Portbase.Transforms.M1152UniEvent
nuget ForwardingPortMessaging.Portbase.Transforms.M1162UniEvent
nuget ForwardingPortMessaging.Portbase.Transforms.TA072UniEvent
nuget ForwardingPortMessaging.Portbase.Transforms.TA112UniEvent
nuget ForwardingPortMessaging.Portbase.Transforms.UniShip2M114
nuget ForwardingPortMessaging.Portbase.Transforms.UniShip2M198Envelope
nuget ForwardingPortMessaging.Portbase.Transforms.UniShip2UniEvt
nuget ForwardingPortMessaging.TNPA.Transforms.APERAK2UEvent
nuget ForwardingPortMessaging.TNPA.Transforms.UShipment2COPRAR
nuget ForwardingPortMessaging.TPT.Transforms.AckTransactions2UniEvent
nuget ForwardingPortMessaging.TPT.Transforms.UniShip2SubmitInstruction
nuget GCT.Transforms.IFTSTA2UInterchange_CMACGM
nuget GCT.Transforms.IFTSTA2UInterchange_INTTRA
nuget GCT.Transforms.IFTSTA2UInterchange_NYK
nuget INCustoms.Transform.CMCHI21AUniversalEvent
nuget INCustoms.Transform.UniversalShipment_CMCHI01
nuget INCustoms.Transform.UniversalShipment_CMCHI21
nuget ITCustoms.Transforms.UniShip2DeclarationFile
nuget JPCustoms.Transforms.AHRResponseFlatFile2UniversalEvent
nuget JPCustoms.Transforms.AMRResponseFlatFile2UniversalEvent
nuget JPCustoms.Transforms.ATDResponseFlatFile2UniversalEvent
nuget JPCustoms.Transforms.CMVResponseFlatFile2UniversalEvent
nuget JPCustoms.Transforms.SAS108FlatFile2UniversalEvent
nuget JPCustoms.Transforms.SAS111FlatFile2UniversalEvent
nuget JPCustoms.Transforms.SAS135FlatFile2UniversalEvent
nuget JPCustoms.Transforms.SAS144FlatFile2UniversalEvent
nuget JPCustoms.Transforms.SAS148FlatFile2UniversalEvent
nuget JPCustoms.Transforms.SAS155FlatFile2UniversalEvent
nuget JPCustoms.Transforms.SAS157FlatFile2UniversalEvent
nuget JPCustoms.Transforms.SystemCommonErrorResponse2UniversalEvent
nuget JPCustoms.Transforms.UniversalShipment2AHRFlatFile
nuget JPCustoms.Transforms.UniversalShipment2AHRFlatFile2017
nuget JPCustoms.Transforms.UniversalShipment2AMRFlatFile
nuget JPCustoms.Transforms.UniversalShipment2AMRFlatFile2017
nuget JPCustoms.Transforms.UniversalShipment2ATDFlatFile
nuget JPCustoms.Transforms.UniversalShipment2CMVFlatFile
nuget LastMileCarrier.Transforms.APOEventMessages2UniversalEvent
nuget LastMileCarrier.Transforms.ICOSStatus2UniEventInterchange
nuget LastMileCarrier.Transforms.PreadviceResponse2UniversalEvent
nuget LastMileCarrier.Transforms.StarTrackTrackingData2UniversalEvent
nuget LastMileCarrier.Transforms.UniversalShipment2eParcelMessages
nuget LastMileCarrier.Transforms.UniversalShipment2ICOSManifest
nuget LastMileCarrier.Transforms.UniversalShipment2PreAdviceMessage
nuget LastMileCarrier.Transforms.UniversalShipment2StarTrackDespatchCLN
nuget NZCustoms.Transformations
nuget OceanCarrierMessaging.Transforms.APERAK2UInterchangeInclude
nuget OceanCarrierMessaging.Transforms.APERAK2UInterchangeInclude_D04A
nuget OceanCarrierMessaging.Transforms.BookingConfirmation2UI_WWA
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2304_Carotrans
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2BLI_WWA
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2BR_WWA
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2IFTMBF
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2IFTMBF_CGS
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2IFTMBF_CMACGM
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2IFTMBF_EVG
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2IFTMBF_GTNEXUS
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2IFTMBF_INTTRA
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2IFTMIN
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2IFTMIN_CGS
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2IFTMIN_CMACGM
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2IFTMIN_EVG
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2IFTMIN_GTNEXUS
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2IFTMIN_INTTRA
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2IFTMIN_NYK
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2UInterchange
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2VERMAS_CMACGM
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2VERMAS_COSCO
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2VERMAS_EMAIL
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2VERMAS_EVG
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2VERMAS_GTNEXUS
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2VERMAS_HAPAG
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2VERMAS_INTTRA
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2VERMAS_MAERSK
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2VERMAS_MOL
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2VERMAS_SMDG
nuget OceanCarrierMessaging.Transforms.CarrierUniversal2VERMAS_YANGMING
nuget OceanCarrierMessaging.Transforms.CU2CUniveralISO8859
nuget OceanCarrierMessaging.Transforms.CU2X12_300_CAROTRANS
nuget OceanCarrierMessaging.Transforms.EMLREJ_INTTRA2UEvent
nuget OceanCarrierMessaging.Transforms.IFTMBC2UShipment
nuget OceanCarrierMessaging.Transforms.IFTMBC2UShipment_CMACGM
nuget OceanCarrierMessaging.Transforms.IFTMBC2UShipment_INTTRA
nuget OceanCarrierMessaging.Transforms.IFTMCS2UniversalInterchange
nuget OceanCarrierMessaging.Transforms.IFTMCS2UShipment_CMACGM
nuget OceanCarrierMessaging.Transforms.IFTMCS2UShipment_GTNEXUS
nuget OceanCarrierMessaging.Transforms.IFTMCS2UShipment_INTTRA
nuget OceanCarrierMessaging.Transforms.UInterchange2UShipment
nuget OceanCarrierMessaging.Transforms.Universal2CarrierUniversal
nuget OceanCarrierMessaging.Transforms.UniversalInterchangeSplit
nuget OceanCarrierMessaging.Transforms.UniversalShipment2IFTMBF_CMACGM
nuget OceanCarrierMessaging.Transforms.UniversalShipment2IFTMBF_GTNEXUS
nuget OceanCarrierMessaging.Transforms.UniversalShipment2IFTMBF_INTTRA
nuget OceanCarrierMessaging.Transforms.UniversalShipment2IFTMIN
nuget OceanCarrierMessaging.Transforms.UniversalShipment2IFTMIN_CargoSmart
nuget OceanCarrierMessaging.Transforms.UniversalShipment2IFTMIN_CMACGM
nuget OceanCarrierMessaging.Transforms.UniversalShipment2IFTMIN_GTNEXUS
nuget OceanCarrierMessaging.Transforms.UniversalShipment2IFTMIN_INTTRA
nuget OceanCarrierMessaging.Transforms.UniversalShipment2SIFTMBF_ESP
nuget OceanCarrierMessaging.Transforms.UniversalShipment2VERMAS
nuget OceanCarrierMessaging.Transforms.UniversalShipment2VERMAS_GTNEXUS
nuget OceanCarrierMessaging.Transforms.UniversalShipment2VERMAS_INTTRA
nuget OceanCarrierMessaging.Transforms.UShipment2eManifest_ESP
nuget OceanCarrierMessaging.Transforms.UShipment2UEvent
nuget OceanCarrierMessaging.Transforms.UShipment2UShipmentCharCleanup
nuget OceanCarrierMessaging.Transforms.VERMAS2UShipment_1STOP
nuget OceanCarrierMessaging.Transforms.X12_301_2CU_CAROTRANS
nuget OceanCarrierMessaging.Transforms.X12_997_2_UEvent_CAROTRANS
nuget OceanInsights.Transforms.OInsightsEvent2UniversalEvent
nuget OceanTracing.Transforms.COARRI2EDIUniversalEvent
nuget OceanTracing.Transforms.CODECO2EDIUniversalEvent
nuget OceanTracing.Transforms.EDIUniversalEvent2CODECO_COARRI
nuget OceanTracing.Transforms.EDIUniversalShipment2COPARN
nuget OceanTracing.Transforms.EDIUniversalShipment2COPRAR
nuget OceanTracing.Transforms.EDIUniversalShipment2COREOR
nuget OceanTracing.Transforms.EDIUniversalShipment2COREORD95B
nuget OneStop.Transforms.OneStopVesselSchedule2UniversalSchedule
nuget Riba.Transforms.EDIUniversalBatch2Riba
nuget Riba.Transforms.FlexibleFormatWrapper2UniversalEvent
nuget SGCustoms.MHAccess.BizTalk.Receive.Maps.AIRAEP2UEvent
nuget SGCustoms.MHAccess.BizTalk.Receive.Maps.AIRERR2UEvent
nuget SGCustoms.MHAccess.BizTalk.Receive.Maps.AIRPIN2UEvent
nuget SGCustoms.MHAccess.BizTalk.Send.Maps.AIRAED2UEvent
nuget SGCustoms.MHAccess.BizTalk.Send.Maps.AIRAEU2UEvent
nuget SGCustoms.MHAccess.BizTalk.Send.Maps.AIRPCM2UEvent
nuget SGCustoms.MHAccess.BizTalk.Send.Maps.AIRPCU2UEvent
nuget SGCustoms.MHAccess.BizTalk.Send.Maps.UShipment2AIRAED
nuget SGCustoms.MHAccess.BizTalk.Send.Maps.UShipment2AIRAEU
nuget SGCustoms.MHAccess.BizTalk.Send.Maps.UShipment2AIRPCM
nuget SGCustoms.MHAccess.BizTalk.Send.Maps.UShipment2AIRPCU
nuget SGCustoms.MHAccess.BizTalk.Send.Maps.UShipment2UEvent
nuget USCustoms.BT.Transforms
nuget USCustoms.eBond.Transforms.SuretyToBroker2UniversalEvent
nuget USCustoms.eBond.Transforms.UniversalShipment2BrokerToSurety
nuget USCustoms.eBond.Transforms.UniversalShipment2UniversalEvent