[*.cs]

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = warning

# CW1161: ResGetStringAnalyzer - not required for ENTERPRISE\PRODUCT\CORE\SERVICEMANAGER
dotnet_diagnostic.CW1161.severity = none
