<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="billingKafkaClientSettings" type="System.Configuration.DictionarySectionHandler"/>
    <section name="billingKafkaProducerSettings" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <appSettings>
    <add key="IssueManagerUri" value="" />
    <add key="UsageELKKafkaTopic" value="topic-usage" />
  </appSettings>

  <billingKafkaClientSettings>
    <add key="bootstrap.servers" value="localhost:9093"/>
    <add key="security.protocol" value="SASL_SSL"/>
    <add key="sasl.mechanism" value="PLAIN"/>
    <add key="sasl.username" value="billing-topic"/>
    <add key="sasl.password" value="MyPassword"/>
    <add key="enable.ssl.certificate.verification" value="true"/>
  </billingKafkaClientSettings>
  <billingKafkaProducerSettings>
    <add key="linger.ms" value="50"/>
  </billingKafkaProducerSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpsBinding>
        <binding name="secure">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost/CargoWise.eServices.Billing.WcfService_deploy/BillingService.svc" binding="basicHttpsBinding" bindingConfiguration="secure" contract="BillingServiceReference.IBillingService" name="billing_service"/>
    </client>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Log4Net.AspNetCore" publicKeyToken="5d1104efbd0e675d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.17.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
