<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <root>
    <level value="INFO" />
    <appender-ref ref="MainLogAppender" />
  </root>

  <appender name="MainLogAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/ServiceLogs.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <logger name="CargoWise.eServices.Billing.Collector.Misc.WindowsService.Plugins.BarcodeReader" additivity="false">
    <level value="INFO" />
    <appender-ref ref="BarcodeReaderAppender" />
  </logger>

  <appender name="BarcodeReaderAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/BarcodeReaderLogs.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <logger name="CargoWise.eServices.Billing.Collector.Misc.WindowsService.Plugins.DistanceCalculation" additivity="false">
    <level value="INFO" />
    <appender-ref ref="DistanceCalculationAppender" />
  </logger>

  <appender name="DistanceCalculationAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/DistanceCalculationLogs.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

	<logger name="CargoWise.eServices.Billing.Collector.Misc.WindowsService.Plugins.WGReport" additivity="false">
		<level value="INFO" />
		<appender-ref ref="WGReportAppender" />
	</logger>

	<appender name="WGReportAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/WGReportLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="CargoWise.eServices.Billing.Collector.Misc.WindowsService.Plugins.WiseCloudSQLAccess.Plugin" additivity="false">
		<level value="INFO" />
		<appender-ref ref="WiseCloudSQLAccessAppender" />
	</logger>

	<appender name="WiseCloudSQLAccessAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/WiseCloudSQLAccessLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

  <logger name="CargoWise.eServices.Billing.Collector.Misc.WindowsService.Plugins.WiseCloudSQLAccessInbound.Plugin" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="WiseCloudSQLAccessInboundAppender"/>
	</logger>

	<appender name="WiseCloudSQLAccessInboundAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/WiseCloudSQLAccessInboundLogs.txt"/>
		<appendToFile value="true"/>
		<rollingStyle value="Size"/>
		<maxSizeRollBackups value="5"/>
		<maximumFileSize value="10MB"/>
		<staticLogFileName value="true"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
		</layout>
	</appender>

  <logger name="CargoWise.eServices.Billing.Collector.Misc.WindowsService.Plugins.WiseCloudBillingSolarwindsOct21toApr22.Plugin" additivity="false">
    <level value="INFO" />
    <appender-ref ref="WiseCloudBillingSolarwindsOct21toApr22Appender" />
  </logger>

  <appender name="WiseCloudBillingSolarwindsOct21toApr22Appender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/WiseCloudBillingSolarwindsOct21toApr22Logs.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

	<logger name="CargoWise.eServices.Billing.Collector.Misc.WindowsService.Plugins.Test.Plugin" additivity="false">
		<level value="INFO" />
		<appender-ref ref="TestAppender" />
	</logger>

	<appender name="TestAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/TestLogs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

  <logger name="CargoWise.eServices.Billing.Collector.Misc.WindowsService.Plugins.Test2" additivity="false">
    <level value="INFO" />
    <appender-ref ref="Test2Appender" />
  </logger>

  <appender name="Test2Appender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/Test2Logs.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

</log4net>