$label-disabled-color: #bdbdbe;

// DropEdit
$dropbutton-border-color: #abadb1;
$dropbutton-hover-background-color: #e5f1fb;
$dropbutton-hover-border-color: #3592db;
$dropbutton-active-background-color: #cce4f7;
$dropedit-description-color: #ccc;
$dropedit-disabled-color: #7e7e7e;
$dropform-table-color: #000;
$dropedit-table-background-color: #fff;
$dropedit-table-tr-td-background-color: #78b8ea;
$dropedit-table-td-background-color: #e3e3e3;
$dropedit-table-tr-background-color: #3290da;
$dropform-item-category-border-color: #a0a0a0;
$dropedit-table-tr-td-highlighted-background-color: var(--color-highlight);
$dropedit-table-tr-td-highlighted-description-background-color: #005AB9;
$dropedit-table-vertical-dotted-border-color: var(--color-control-dark-dark);
$dropbutton-arrow-inner-color: #6e6e6e;
$dropbutton-inner-button-color: #adadaf;
$dropform-checkbox-background-color: #f0f0f0;
$zdropbutton-default-background-color: #e1e1e1;
$zdropbutton-disabled-background-color: #ccc;

// ZWebBrowser
$zwebbrowser-link-text-color: var(--color-hot-track);
