@import "variables";

.collapsible-panel {
	&__button {
		padding: 0;
		border: none;
		background: none;
		float: left;
	}

	&__label {
		float: left;
		padding-left: 1px;
	}

	&__label--vertical {
		padding-left: 2px;
		writing-mode: vertical-lr;
		text-orientation: sideways;
	}

	&__inner {
		position: absolute;

		&--vertical {
			top: 16px;
		}

		&--horizontal {
			top: 0px;
		}
	}
}
