.fadepanel {
	background-attachment: fixed;

	[style*="background-color:inherit;"] {
		background-image: inherit;
		background-size: inherit;
		background-position: inherit !important;
		background-attachment: fixed;
	}
}
