@function repeat-spaces($count) {
	$spaces: '';
	@for $i from 1 through $count {
		$spaces: '#{$spaces} ';
	}
	@return $spaces;
}

span[data-squiggle="true"] {
	position: relative;

	&::after {
		content: '#{repeat-spaces(1000)}';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		white-space: pre;
		text-decoration-line: spelling-error;
		overflow-x: clip;
		pointer-events: none;
	}
}
