<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SmtpServerName" value="MAIL.PROD.NACCS6"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmailFrom" value="S0800101@MAIL.PROD.NACCS6"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmailTo" value="NACCS@MAIL.PROD.NACCS6"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="log4net.Internal.Debug" value="false"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.diagnostics xdt:Transform="Remove" />
</configuration>