/*
This file inherits all the styles from DefaultStyle.css
Please make sure that the following import link is present if you want to inherit default styles.
Any changes in fonts, colours, layout, etc. can be done via overriding CSS style elements after the import statement.

Good CSS guide is located at

http://www.htmlhelp.com/reference/css/

*/
@import url(../../DefaultStyle.css);

/* put your changes below this comment */
body {
    background-image: url(images/BG.gif);
    background-color: none;
    background-position: left top;
    background-repeat: no-repeat;
    color: #666666;
    padding: 0;
    margin: 0;
    font-size: 11px;
}

#OuterContentPane {
    padding: 15px 30px 20px 30px;
    background: none;
    border-left: 0px solid;
    border-left-color: #ffffff;
    border-right: 0px solid;
    border-right-color: #ffffff;
}

#pagehead {
    height: 204px;
    border-bottom: 0px solid #000000;
}

#topbar1 {
    color: #ffffff;
    background: none url(images/TopR.gif) no-repeat top left;
    height: 204px;
}

#topbar2 {
    color: #ffffff;
    background: url(images/Top.gif) no-repeat top left;
    height: 204px;
}


#LoginStatusString {
    text-align: right;
    color: #00A4E4;
    background: none;
    top: 113px;
    right: 0px;
}

#menu {
    text-decoration: none;
    font-weight: normal;
    background: none;
    text-align: center;
    font-size: 9pt;
    left: 231px;
    top: 175px;
    font-variant: normal;
    line-height: 26px;
    /*text-transform: uppercase;*/
}

    #menu li {
        width: 124px;
        height: 26px;
        color: #8FD400;
        text-decoration: none;
        background: url(images/MButtH.gif) no-repeat top left;
        border: 0px solid;
    }

    #menu a, #menu a:visited {
        color: white;
        background: url(images/MButt.gif) no-repeat top left;
        text-decoration: none;
        display: inline-block;
    }

        #menu a:hover {
            color: #003479;
            text-decoration: none;
            background: url(images/MButtH.gif) no-repeat top left;
        }

.DetailsTable {
    padding: 0px;
    font-size: 11px;
}

.DetailsHeader {
    color: #005596;
    font-size: 12px;
    vertical-align: middle;
    line-height: 24px;
}

    .DetailsHeader td {
        background-image: url(images/MButt.gif);
        background-repeat: repeat;
        background-position: top left;
        background-size: cover;
    }

    .DetailsHeader a {
        color: #005596;
        font-weight: Normal;
    }

        .DetailsHeader a:hover {
            color: #000000;
        }

a,
a:visited {
    color: #666666;
    background: inherit;
}

    a:hover {
        color: #000000;
        background: inherit;
    }

select, input {
    font-size: 11px;
}

.ContentSection {
    padding-left: 0px;
    margin-top: 10px;
    padding-bottom: 0px;
    background: none;
}

.DetailsCell {
    color: #666666;
    background: none;
}

.DetailsAlternatingCell {
    color: #666666;
    background: #ebf9fe;
}

.TimeLineLegend {
    display: inline-block;
    font-weight: bold;
    background: none;
    color: #000000;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border: solid 1px gray;
}

.TimeLineOverdue {
    background: #ffb6c1;
    color: #000000;
    white-space: nowrap;
    text-align: center;
}

.TimeLinePending {
    background: #FFFF00;
    color: #000000;
    white-space: nowrap;
    text-align: center;
}

.TimeLineCompleted {
    background: #98fb98;
    color: #000000;
    white-space: nowrap;
    text-align: center;
}

.TimeLineCompletedLate {
    background: #ffcc99;
    color: #000000;
    white-space: nowrap;
    text-align: center;
}

.TimeLineEstimate {
    font-style: italic;
    color: #000000;
    background: inherit;
    white-space: nowrap;
    text-align: center;
}

.Button.FilterStripGroup_none {
    background-color: #ffffff;
}

#pagefooter {
    text-align: left;
    padding-top: 8px;
    border-top: 0px solid #000000;
    border-bottom: 0px solid #000000;
    margin-left: 30px;
    margin-right: 30px;
    height: 30px;
    color: #666666;
    font-size: 9px;
    padding-left: 24px;
    background: #dfdfe0;
}

    #PageFooter a,
    #PageFooter a:visited {
        color: #666666;
        font-size: 10px;
    }

        #PageFooter a:hover {
            color: #000000;
            font-size: 10px;
        }

#LanguageSelection {
    position: absolute;
    right: 10px;
}
