<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" MasterPageFile="SiteBase.Master"%>

<asp:Content ID="HeaderContent" ContentPlaceHolderID="HeaderContent" runat="server">
    <asp:ContentPlaceHolder ID="HeaderContent" runat="server" />
</asp:Content>

<asp:Content ID="JumbotronContent" ContentPlaceHolderID="JumbotronContent" runat="server" >
    <asp:ContentPlaceHolder ID="JumbotronContent" runat="server" />
</asp:Content>

<asp:Content ID="SideBarContent" ContentPlaceHolderID="SideBarContent" runat="server">
    <asp:ContentPlaceHolder ID="SideBarContent" runat="server" />
</asp:Content>

<asp:Content ID="BreadcrumbContent" ContentPlaceHolderID="BreadcrumbContent" runat="server">
    <asp:ContentPlaceHolder ID="BreadCrumbContent" runat="server" />
</asp:Content>

<asp:Content ID="PageNameContent" ContentPlaceHolderID="PageNameContent" runat="server">
    <% if (Html.MvcSiteMap().SiteMap.CurrentNode == null || Html.MvcSiteMap().SiteMap.CurrentNode.Title != "Home") { %>
    <h2><%=Html.MvcSiteMap().SiteMap.CurrentNode == null ? ViewBag.PageTitle : Html.MvcSiteMap().SiteMap.CurrentNode.Title%></h2>
    <%} %>
</asp:Content>

<asp:Content ID="MainContent" ContentPlaceHolderID="MainContent" runat="server">
    <asp:ContentPlaceHolder ID="MainContent" runat="server" />
</asp:Content>
<asp:Content ID="ScriptContent" ContentPlaceHolderID="ScriptContent" runat="server">
<asp:ContentPlaceHolder ID="ScriptContent" runat="server" />
</asp:Content>
