<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="CargoWise"/>
    <meta name="keywords" content="CargoWise"/>
    <meta name="robots" content="index,all"/>
    <meta name="classification" content="software"/>
    <meta name="author" content="CargoWise"/>

    <title><%=Html.MvcSiteMap().SiteMap.CurrentNode == null ? (string.IsNullOrWhiteSpace(ViewBag.PageTitle) ? "NoName" : (string)(ViewBag.PageTitle)) : Html.MvcSiteMap().SiteMap.CurrentNode.Title%></title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%:Url.Content("~/PlugIns/bootstrap/3.3.7/bootstrap.min.css")%>">
    <script src="<%:Url.Content("~/Scripts/jquery-3.2.0.min.js")%>"></script>
    <script src="<%:Url.Content("~/PlugIns/bootstrap/3.3.7/bootstrap.min.js")%>"></script>


    <link rel="SHORTCUT ICON" href="<%:Url.Content("~/Content/Images/favicon.ico")%>"/>
    <link href="<%:Url.Content("~/Content/Main.css")%>" rel="stylesheet" type="text/css" media="screen" />
    <link href="<%:Url.Content("~/Content/eHubAdmin.css")%>" rel="stylesheet" type="text/css" media="screen" />
    <link href="<%:Url.Content("~/Content/Site.css")%>" rel="stylesheet" type="text/css" media="screen" />

    <link href="<%:Url.Content("~/PlugIns/jQueryUI/1.8.9/jquery-ui.css")%>" rel="stylesheet" type="text/css" media="screen" />
    <script src="<%:Url.Content("~/Scripts/jquery-1.4.4.js")%>" type="text/javascript"></script>
    <script src="<%:Url.Content("~/PlugIns/jQueryUI/1.8.9/jquery-ui.min.js")%>" type="text/javascript"></script>

    <!--[if lt IE 8]>
    <script src="<%:Url.Content("~/PlugIns/JSON/json2.js")%>" type="text/javascript"></script>
    <![endif]-->
    <% if (false) {%> <script src="/Scripts/jquery-1.4.4-vsdoc.js" type="text/javascript"></script> <%} %>
    <asp:ContentPlaceHolder ID="HeaderContent" runat="server" />
</head>
<body>
    <div class="page">

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container" style="width:1570px;">
            <div class="navbar-header">
                <a class="navbar-brand" href="<%=ResolveUrl("~/") %>">eHub</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><%: Html.ActionLink("Setup", "Setup", "Home")%></li>
                </ul>
                <%if (HttpContext.Current.User.Identity.Name != null && HttpContext.Current.User.Identity.Name != "")
                  { %><p class="nav navbar-text navbar-right">Hello, <%= HttpContext.Current.User.Identity.Name%>!</p> <%} %>
            </div>
        </div>
    </div>
    <div class="container" style="width:1570px; margin-top: 10px">
          

    <asp:ContentPlaceHolder ID="BreadcrumbContent" runat="server"/>
    </div>
    <div class="container body-content" style="width:1570px;">
        <asp:ContentPlaceHolder ID="JumbotronContent" runat="server" />
        <div class="sidebar_nav">
            <asp:ContentPlaceHolder ID="SideBarContent" runat="server" />
        </div>
        <div class="maincontent">
            <asp:ContentPlaceHolder ID="PageNameContent" runat="server"/>
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />
            <asp:ContentPlaceHolder ID="ScriptContent" runat="server" />
        </div>
        <div style="clear:both"></div>
        <hr>
        <div id="footer"></div>
        </div>








    </div>

</body>
</html>
