<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="PoisonMessagePatterns" type="System.Configuration.NameValueSectionHandler" />
    <section name="PoisonMessageMQErrorCodes" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~\CargoWise.eServices.USCustoms.InboundServiceAMA.log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <PoisonMessagePatterns>
  </PoisonMessagePatterns>
  <PoisonMessageMQErrorCodes>
    <add key="MQRC_FORMAT_ERROR" value="2110" />
  </PoisonMessageMQErrorCodes>
  <appSettings>
    <add key="PullIntervalInSecond" value="10" />
    <add key="ServiceName" value="USC_Inbound_AMA" />
    <add key="MessageType" value="AMA" />
    <add key="IsProduction" value="false" />
    <add key="SendCopiesToTest" value="false" />
    <add key="TestBrokerInstanceID" value="D9675392-AAED-4927-94B4-6DA9A729F999" />
    <add key="ProductionHostname" value="localhost" />
    <add key="CertificationHostname" value="localhost" />
    <add key="ProductionPort" value="1414" />
    <add key="CertificationPort" value="1415" />
    <add key="ProductionQueueManager" value="QM_CRGWP" />
    <add key="CertificationQueueManager" value="QM_CRGWT" />
    <add key="AMAProductionQueueName" value="AIRP.P513INBOUND.FROM.CBP" />
    <add key="AMACertificationQueueName" value="AIRT.P513INBOUND.FROM.CBP" />
    <add key="DeadLetterProductionQueueName" value="DLQ" />
    <add key="DeadLetterCertificationQueueName" value="DLQ" />
    <add key="TransportType" value="MQSeries Managed Client" />
    <add key="ProductionUserId" value="EHUB_USR"/>
    <add key="CertificationUserId" value="EHUB_USR"/>
    <add key="ProductionPassword" value=""/>
    <add key="CertificationPassword" value=""/>
    <add key="ProductionChannel" value="EHUBP.SVRCONN"/>
    <add key="CertificationChannel" value="EHUBT.SVRCONN"/>
  </appSettings>
  <connectionStrings>
    <add name="USCustoms" connectionString="Data Source=localhost;Initial Catalog=USCustoms;Integrated Security=SSPI;" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingTransportWithMessageCredentialCertificate">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IWCFLogger">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="amqmdnet" publicKeyToken="dd3cb1c9aae9ec97" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.0.2" newVersion="7.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>